[2019-10-24 15:40] tmjd commented on #2960
Please check the logs from calico-node during one of the time periods when it reports "felix is not ready" and see if that gives any indication to why it is not ready.

[2019-10-24 15:44] fasaxc commented on #2959
If it happens again, please grab `iptables-save -c` and `ip route` from good and bad nodes.

[2019-10-24 15:47] tmjd commented on #2959
It looks like there are several more pods on the working node vs the non-working node, judging by the number of cali* Ifaces, this is possibly the reason for the difference in rules you are seeing.
When this problem is happening do all the calico-node pods report ready and healthy?

[2019-10-24 16:28] zetaab commented on #2959
yes, all pods are ready and healthy.

[2019-10-24 18:02] caseydavenport commented on #2904
@fasaxc @jayunit100 can we close this now that https://github.com/projectcalico/felix/pull/2165 has gone in?

[2019-10-24 18:06] caseydavenport commented on #2887
I think right now, the `USE_POD_CIDR` option doesn't do anything in kube-controllers.

We should probably add support for that option and turn off the relevant controllers if set.

However, kube-controllers job is actually just to clean up IPAM allocations when using calico IPAM, so _today_ it's not actually needed if using host-local IPAM.

[2019-10-24 21:05] huegelc commented on #2950
Something went wrong with the calico-kube-controllers pod
[code]
`kubectl delete pod -n kube-system calico-kube-controllers-5d98855b76-nlpxn `
fixed the problem.

[2019-10-24 21:05] #2950 closed

[2019-10-25 05:46] zetaab commented on #2959
Now I created new cluster and from the start this is the situation.

nodes-z2-1-dbaas-test-k8s-local:

[code]

nodes-z3-1-dbaas-test-k8s-local:

[code]

so nodes-z2-1-dbaas-test-k8s-local is broken to 4/6 of instances (3 masters 3 nodes) and nodes-z3-1-dbaas-test-k8s-local works to all other nodes in cluster.

logs from nodes-z3-1-dbaas-test-k8s-local (working node):
calico-node https://gist.githu

[2019-10-25 07:57] zetaab commented on #2959
Following commands will fix the issue

[code]
After those commands restart is needed for all machines (or clean iptables manually)

[2019-10-25 16:47] redbaron commented on #2457
FYI, we've been hitting this bug fairly constantly when reprovisioning cluster nodes: when we take node for the maintenance (or bring it up, we never caught exact moment), remaining nodes at random install this service CIDR blackhole route into kernel.

[2019-10-25 17:25] neiljerram commented on #2457
@redbaron If possible, it would be great if you could confirm that you have the same smoking gun when this happens, i.e. that the `calico_kernel_programming` filter, in /etc/calico/confd/config/bird_ipam.cfg, is just this:
[code]
with exactly that whitespace arrangement.  We'll try to schedule the fix for this within the next few weeks.

[2019-10-26 00:36] iamaquaman opened #2961 "Received: Bad peer AS: 64512 and calicoctl panics"
## Current Behavior
I  am running into issues where I am receiving a bad peer AS.

The peer that I am receiving is the default AS of 64512. That is where I believe my errors are coming from.

From the calico pod logs:

bird: Global_XXX_XXX_XX_50: Received: Bad peer AS: 64512
bird: Global_XXX_XXX_XX_50: State changed to stop
bird: Global_XXX_XXX_XX_50: State changed to down

Node status:

calicoctl

[2019-10-26 00:59] kprabhak commented on #2961
@iamaquaman Could you share the bgp peer resource yaml that you are using as well (with sensitive info like IP's masked if appropriate)?
I'm curious about how you have the AS # configured within the yaml.

[2019-10-26 09:48] redbaron commented on #2457
@neiljerram , sure will do if it happens again. We also be  changing calico/node manifests to set K8S_API_ENDPOINT to an apiserver LB (same as what kubelet and kube-proxy are using), to stop it from using internal API from ServiceCIDR, this way calico/node wont cut itself off even if bugs gets triggered.

[2019-10-26 11:11] zetaab commented on #2959
it seems that everything works if all nodes and masters are in one subnet. However, if I use three subnets this is the behaviour described above. I am investigating more what is wrong with the subnets.

[2019-10-26 13:13] tony-liuliu commented on #2473
@fengxsong Is your problem solved? I have the same problem as you. At present, it is determined that the third packet (ACK) of TCP's three-time handshake packet has not been forwarded to other nodes after it reaches the route reflector node.The reason is unknown.

Client outside the k8s cluster，tcpdump：
![image](https://user-images.githubusercontent.com/50659754/67619985-9008e280-f834-11e9-97bd-3e

[2019-10-27 01:17] fengxsong commented on #2473
@tony-liuliu No, can not figure it out.

[2019-10-27 03:31] sager-tech opened #2962 "Calico + KIND pods unable to communicate externally"
## Expected Behavior
Deploy KIND
Deploy Calico
See pods come up successfully and have coreDNS pods be able to `dig`, `ping` successfully

## Current Behavior
Any new pods deployed are not able to shift into `ready` state successfully and the `coreDNS` pods are not able to communicate externally via `ping`, or `dig`.

## Steps to Reproduce (for bugs)
1. Deploy KIND
2. Deploy Calico
3. Deploy anothe

[2019-10-28 10:37] redbaron commented on #2457
If somebody wanted to do the same, it turns out that settings just `K8S_API_ENDPOINT` didn't work, it stops using service account all together, so I had to create a new kubeconfig and use it via `KUBECONFIG` env var.

Kubeconfig configpmap:

[code]

Then use it in calico/node daemonset:

[code]
[code]

[2019-10-28 11:23] zetaab commented on #2959
it seems that protocol 4 was not added correctly to openstack ports under the hood.

[2019-10-28 11:23] #2959 closed

[2019-10-28 19:53] tmjd commented on #2962
@song-jiang or @neiljerram I think you've both been using KIND recently, do either of you have any suggestions or tricks for making this work. Or maybe this use case is too different from what you've been doing.

[2019-10-28 19:56] neiljerram commented on #2962
Can the KIND nodes communicate externally?  (E.g. `docker exec kind-worker apt-get update`)

If no: it's not a Calico problem then.

If yes: please check that NatOutgoing is enabled in your IP pool.

[2019-10-28 19:58] neiljerram commented on #2962
Oh hang on, I think it might just be /etc/resolv.conf.  Our recent KIND work has this:
[code]

[2019-10-28 20:00] tmjd commented on #2961
If this is a new cluster I'd suggest updating to the latest release since v3.4 is several releases old and try this sequence again.
If that is not possible could you try the calicoctl command with the `-l debug` to see if there is any useful info returned.

[2019-10-28 20:09] rafaelvanoni commented on #2955
@Woap This doesn't seem like a Calico specific problem and more an issue with how you're configuring ssh through docker from your slave environment. You would need to pass something along these lines to your `docker run` command:
`-v $(SSH_AUTH_SOCK):/ssh-agent --env SSH_AUTH_SOCK=/ssh-agent`

[2019-10-28 20:09] #2955 closed

[2019-10-28 20:43] caseydavenport commented on #2712
What's the proposed solution here? I think we have a conflict where Calico wants to enable this feature by default, but the default that Kubernetes uses isn't compatible with CoreOS (and probably some other environments as well).

I think our options are:
- Turn this off by default in Calico, making configuration for this harder for people who want to use ALP features. This isn't really desirable.

[2019-10-28 20:47] rafaelvanoni commented on #2712
In the meantime, we've documented this issue and workaround in
https://docs.projectcalico.org/v3.10/reference/faq#are-the-calico-manifests-compatible-with-coreos

[2019-10-28 20:52] tmjd commented on #2954
I know we previously made the decision that the IPv6 should default to NATOutgoing as off. I think that was because of the expectation that IPv6 pools were much more likely to be routable and NATOutgoing would not be necessary.

There is already an environment variable that can be set on calico-node `CALICO_IPV6POOL_NAT_OUTGOING` to change the default ipv6 pool. (just mentioning in case it helps w

[2019-10-28 21:46] iamaquaman commented on #2961
Hi @kprabhak

I used this to disable node to node mesh.

[code]

I used the following configuration to add bgp peer sources.

[code]
[code]

[2019-10-28 21:46] sager-tech commented on #2962
@neiljerram I ran `docker exec kind-worker apt-get update` and was able to see it trying to update `apt-get`.  How would I enable `NatOutgoing` in the IP pool?

As an update, I deployed Calico v3.0 with Kubernetes-API-Datastore and it is able to bring up the deployment and the `coredns` pods without the `nameserver` or DNS resolve issues. Any new pods I deploy in a deployment however are not able

[2019-10-28 21:49] iamaquaman commented on #2961
@tmjd

It is a brand new dev cluster. I don't mind updating this as long as the upgrade doesn't break anything or causes me to reconfigure anything too significant that might affect how calico works on the cluster.

[2019-10-28 22:22] rafaelvanoni commented on #2784
Fixed in https://github.com/projectcalico/calico/pull/2963

[2019-10-28 22:22] #2784 closed

[2019-10-29 04:06] caseydavenport commented on #2954
Changing the default isn't so bad since it's just an install-time thing, and upgrades on running clusters won't be impacted.

I think it depends on how we expect this to be used.  @uablrek could you share a bit more about your deployment? Where is it running and how the underlying network looks?

It sounds like we do have something like this today in the form of `CALICO_IPV6POOL_NAT_OUTGOING `, so

[2019-10-29 06:40] uablrek commented on #2954
Thanks for the answer. `CALICO_IPV6POOL_NAT_OUTGOING` is cerainly enough. I am sorry I missed it and will check it out today and close the issue. I would not have raised it if I had done my RTFM properly. Sorry.

@caseydavenport About our deployment. I think our "standard" is OpenStack with Calico as CNI-plugin. But the network outside K8s is assumed to be managed by "someone else" so we must be p

[2019-10-29 12:37] uablrek commented on #2954
Works perfectly, thanks! Closing the issue.

I am testing with K8s dual-stack and Calico is the only CNI-plugin works with everything I have tested. Great job!

But when you provide an example yaml file for K8s dual-stack please set `CALICO_IPV6POOL_NAT_OUTGOING=true` so new K8s users feel at home with dual-stack.

[2019-10-29 12:37] #2954 closed

[2019-10-29 14:53] tmjd commented on #2961
Off the top of my head I don't think there are any major changes that should break things though you'd probably want to go through the release notes to see if there are any changes specific to your setup.

Since this is a new cluster I'm curious how did you ended up using 3.4? I'm wondering if there is some documentation or something that needs to be updated to direct people to the latest release.

[2019-10-29 15:01] tmjd commented on #2962
I thought we had a doc for editing IP Pools but I'm not finding it. You should be able to change NATOutgoing by using [calicoctl](https://docs.projectcalico.org/v3.10/reference/calicoctl/) to get your [IP Pool](https://docs.projectcalico.org/v3.10/reference/resources/ippool), updated it and then apply your changes.

When you query the logs for a pod you might want to try `-p` to see the logs from

[2019-10-29 15:27] harmjanblok commented on #2956
Issue #2819 seems to describe similar behaviour.

[2019-10-29 15:56] sager-tech commented on #2962
@tmjd So, I did this deployment using `kind` as:
[code]
with deployment.yaml as:
[code]

I do have `calicoctl`, but I do not see anything in the docs about configuring `calico` to point to an existing deployment. Is that possible?

[2019-10-29 17:54] iamaquaman commented on #2961
Here is the output of a tcp dump from our Netops team

[code]

[2019-10-29 18:39] iamaquaman commented on #2961
@tmjd what command would you like to see in debug mode?

[2019-10-29 21:58] neiljerram commented on #2962
@sager-tech

Yes, please see https://docs.projectcalico.org/v3.10/getting-started/calicoctl/configure/kdd.  If you are using KDD, you probably just need
[code]
and then calicoctl should connect.

[2019-10-29 22:06] neiljerram commented on #2962
@sager-tech Also, stepping back to your reported problem...

Please try to distinguish between problems with name resolution (aka DNS) and IP reachability.  If `ping 8.8.8.8` works, but not `ping google.com`, it's a name resolution problem.  In that case, look at the /etc/resolv.conf in the place (i.e. host or pod) that you're pinging from.

If you can `ping 8.8.8.8` from the host, but not from a

[2019-10-29 22:20] sager-tech commented on #2962
@neiljerram I setup `calicoctl` using [this strategy](https://docs.projectcalico.org/v3.5/usage/calicoctl/install). I spent some more time and I can report the following:

This is the pared down deployment:
[code]
From my own pod, `myapp-pod` I set the `/etc/resolve.conf` to specifically go to the `coredns` pod by editing the `spec` to:
[code]
and the `nameserver` on `myapp-pod` shows `10.244.1.2`

[2019-10-29 22:37] neiljerram commented on #2962
@sager-tech I'm afraid your comments are still mixing up name resolution and IP reachability.  Can you `ping 8.8.8.8` from `myapp-pod` and the `coredns` pod?

[2019-10-30 12:26] mrhjx2 opened #2964 "core dns 问题"
/ # nslookup kube-dns.kube-system.svc.cluster.local
nslookup: can't resolve '(null)': Name does not resolve

Name:      kube-dns.kube-system.svc.cluster.local
Address 1: 10.68.0.2 kube-dns.kube-system.svc.cluster.local

/ # nslookup kubernetes.default.svc.cluster.local
nslookup: can't resolve '(null)': Name does not resolve

Name:      kubernetes.default.svc.cluster.local
Address 1: 10.68.0.1 kube

[2019-10-30 14:11] bradbehle commented on #2923
@caseydavenport I assume this is only supported for clusters that are using the Kubernetes Datastore Driver?   Clusters using etcd will not have the option of using kubectl to apply GlobalNetworkPolicies?

[2019-10-30 15:55] neiljerram commented on #2962
Does your local network also have addresses that match 192.168.0.0/16 ?  (For home networks, this is pretty common.)  If so, I wonder if there is a confusion somewhere between routing to devices on your home network, and routing to pods?

[2019-10-30 17:22] willzhang commented on #2166
same error

[code]

env
[code]

[2019-10-30 17:30] willzhang opened #2965 "[ERROR][8] startup.go 567: Invalid IP autodetection method: eth1"
same error

[code]

env
[code]

_Originally posted by @willzhang in https://github.com/projectcalico/calico/issues/2166#issuecomment-548020046_

[2019-10-30 18:32] iamaquaman commented on #2961
Hi @neiljerram

Here is the output:

[code]

[2019-10-30 20:53] sager-tech commented on #2962
@neiljerram I was able to have the pods come up and ping successfully, thank you. I'm a bit confused though -- in the `config` passed to KIND on `cluster create` I specified:
[code]
so it should have matched the `calico` CIDR manifest (also `192.168.0.0/16`). Does setting it there not affect the KIND pod cidr?

[2019-10-30 21:17] jayunit100 opened #2966 "build: flannel migration container should accept REGISTRY arg like others."
## Expected Behavior

flannel registry container should have the same registry as all others after a make dev-image

## Current Behavior

it is hardcoded to `calico` as the registry.

## Possible Solution

easy fix, need to verify this is the true issue, but i wanted to quickly file this before i forgot.

## Context

Im packaging Calico as a VMWare downloadable artifact.

[2019-10-30 22:32] neiljerram commented on #2962
Well, some of your output above definitely shows 10.244 pod addresses.  So perhaps KIND missed processing that config for some reason, or another field needs setting, or something; but I'm afraid I don't know KIND that well yet.

Anyway, great that things seem to be working for you now.

[2019-10-31 01:08] jayunit100 commented on #2966
So, a quick look seems like the 'flannel-migration' container thingy isnt defined here, ill have to grep around to see where it is defined... unless someone has a hint.   I should be able to look into this some more this wk.  Am doing related downstream work at the moment around it.

[code]

[2019-10-31 11:08] ffilippopoulos opened #2967 "ClusterIP type service addresses advertised when kube-proxy is in ipvs mode"
We are running calico `3.10` on a kubernetes `1.15.3` cluster on gcp. We configure `kube-proxy` in `ipvs` mode. We are using 3 route reflectors to talk to all calico nodes and advertise paths. Our exact bgp configuration is:
[code]
where `10.5.0.0/16` is our services cidr. Our pods cidr is `10.4.0.0/16`.
Our issue is that along with the static route `10.5.0.0/16` that is advertised by every node,

[2019-10-31 18:49] jayunit100 commented on #2804
im seeing this problem when building from 3.9.  i susepct its related to go modules but not sure what the fix is.  master is OK...

[2019-11-01 04:07] deekshith-elear opened #2969 "calico/node is not ready: BIRD is not ready: BGP not established, on adding new slave to kubernetes cluster"
Hi,
I have kubernetes setup of one master and one worker node, I want to add one more worker node to cluster. By adding it to cluster caliconode is staying at not ready state. if I do `ifconfig` it is showing tunl0 and no calico connections.  The node which i was trying to add to cluster is previously hosted kubernetes cluster in LXD containers having below network interface in `ifconfig` command

[2019-11-01 07:16] iamaquaman commented on #2961
Hi @neiljerram

I decided to rebuild the cluster and started from scratch. I no longer get those calicoctl panics, but I still have issues with the bad peer AS. For some reason, it is receiving the default AS of  64512.

According to the documentation, that is the default AS. I don't understand why I cannot peer with the specified AS peers.

[2019-11-01 10:26] neiljerram commented on #2961
Thanks for the update @iamaquaman

I'm unclear where you want the AS to be 64512 and where you want it to be a 32 bit number like 4200002024.  Is it 32 bit on the Calico nodes, and 64512 on the routers that they are peering with?

A configuration like this -
[code]
means that Calico expects the .48 peer to have AS number 4200002024.  In other words, "neighbor xxx.xx.xx.48 as 4200002024" in the BIR

[2019-11-01 16:54] iamaquaman commented on #2961
@neiljerram

The issue is that I DON'T want the 64512 AS. I'm receiving it, but I don't want it. I disabled node to node mesh and established the 32 bit peers, but for some reason the logs say that  I am receiving the 64512 AS when I do NOT want it. That is the default AS number and for some reason it is picking it up when it is not supposed to.

[2019-11-01 17:10] neiljerram commented on #2961
@iamaquaman OK, thanks.  So I think you need:

1. AS number 4200002024 in the default BGPConfiguration, like this:
[code]

2. Check that you have configured AS number 4200002024 on the peers that the Calico nodes are connecting to.

[2019-11-01 18:09] bradbehle commented on #2889
@caseydavenport Sorry for the delay getting back to this.  We use the livenessProbe that is in the default yaml (for the various versions we deploy:

https://docs.projectcalico.org/v3.6/getting-started/kubernetes/installation/hosted/calico.yaml
https://docs.projectcalico.org/v3.8/manifests/calico-etcd.yaml
https://docs.projectcalico.org/v3.9/manifests/calico-etcd.yaml

There isn't a `--bird-ready`

[2019-11-01 22:38] iamaquaman commented on #2961
@neiljerram

I still get the same issue.

[code]
[code]
[code]
The calico-node pods are down.

I notice that whenever I configure the global bgp peers, the calico node pods go down, as soon as I remove the peers, the calico-node pods go back up.

[2019-11-02 12:32] msschl opened #2971 "Canal - Network Policy only works when both application are on same node"
I am using a Kubernetes NetworkPolicy to allow my public nginx-ingress-controller to egress to all pods in all namespaces that have the labels ingress="true" and ingress-controller="public". But strangely it only works when the applications are on the same node as the nginx-ingress-controller

This issue seems related to #2898 or #2169

[code]

## Expected Behavior
When I apply the network policy,

[2019-11-03 09:33] mukgupta commented on #2960
@tmjd Thanks for the tip. Default log level was `error`, so i couldn't find anything. Changed it to `info` and could clearly see a CRD permission issue. Fixed it and the error was gone. Thanks

[2019-11-04 10:45] neiljerram commented on #2961
@iamaquaman What are your BGP peer devices, and how are they configured?

[2019-11-04 15:07] tmjd commented on #2960
I'm glad you found the issue. Please consider putting up a PR if there is an incorrect manifest somewhere as I think all deployment methods should have the correct CRDs to allow calico-node to run successfully.
If you are not comfortable putting up a PR could you please include a link to the manifests you used to install Calico?
Thank you for reporting back. I'm going to close this issue since you

[2019-11-04 15:07] #2960 closed

[2019-11-04 16:16] jayunit100 commented on #2923
h i everyone, im going to be working on this some.  to start...

Im going to go through what it looks like to do raw config without calicoctl today to see how bad the delta is :)... then ill start to carve this issue up.   if anyone has done this already, please shoot me some hints :)

[2019-11-04 19:06] caseydavenport commented on #2889
That's correct. I think I understand this better now - we intentionally don't include `--bird-ready` in the liveness probe today.

I think we probably want a new option - `--bird-live` that checks the bird and confd processes are running.

[2019-11-04 22:19] rafaelvanoni commented on #2964
@mrhjx2 Could provide some context on what your deployment looks like, which versions you're using and what configuration change led to this error? We need a bit more data :-)

[2019-11-04 22:22] rafaelvanoni commented on #2966
@song-jiang Could you chime in on this one? I'm not really familiar with flannel-migration

[2019-11-04 22:27] rafaelvanoni commented on #2969
@deekshith-elear Just to clarify our understanding of your issue, are you asking if having a pre-existing veth on a node would cause problems to Calico? If we got that right, the answer would be no, it shouldn't cause any issues.

[2019-11-04 22:47] tmjd commented on #2971
I do not see any policy that would allow ingress to the pods that are suppose to be accepting traffic from the ingress controller. I'm surprised the traffic from the ingress controller is working locally. Is the ingress controller running as hostNetworked? If so then policy doesn't actually apply to it unless you've defined Host Endpoints for your nodes, and could explain why they are able to reac

[2019-11-04 22:50] tmjd commented on #2969
Something to do would be to run `calicoctl node status` (you must run on a node), that should show you BGP status for that particular node. https://docs.projectcalico.org/v3.10/reference/calicoctl/node/status

[2019-11-04 22:52] tmjd commented on #2965
What configuration have you set up or changed?

[2019-11-05 09:12] msschl commented on #2971
The ingress controller is bound to the hostNetwork.

[2019-11-05 09:19] msschl commented on #2971
As I understand it, I have an egress policy which allows the ingress controller to connect to any pod in any namespace with the podLabels `ingress-controller: "public" ` and `allow-ingress: "true"`. Therefor the ingress controller should be able to connect to the pods.

[2019-11-05 18:03] vpnachev opened #2973 "Calico-node readiness probe fails with SLES 15 SP1 nodes on Azure"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:05] vpnachev opened #2974 "calico-node pod readiness probe fail on Azure with SLES OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:05] vpnachev opened #2975 "calico-node pod readiness probe fails on Azure with SUSE as node OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:05] vpnachev opened #2976 "calico-node pod readiness probe fails on Azure with SUSE as node OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:06] vpnachev opened #2977 "calico-node pod readiness probe fails on Azure with SUSE as node OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:06] vpnachev opened #2978 "calico-node pod readiness probe fails on Azure with SUSE as node OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:06] vpnachev opened #2979 "calico-node pod readiness probe fails on Azure with SUSE as node OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:06] vpnachev opened #2980 "calico-node pod readiness probe fails on Azure with SUSE as node OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:06] vpnachev opened #2981 "calico-node pod readiness probe fails on Azure with SUSE as node OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:07] vpnachev opened #2982 "calico-node pod readiness probe fails on Azure with SUSE as node OS"
## Expected Behavior

Calico v3.8.2 to run successfully on SLES 15 SP1 on Azure.
Is it expected calico to be running on SLES? This OS is not listed as a OS that is expected to be working well [here](https://docs.projectcalico.org/v3.9/getting-started/kubernetes/requirements)

## Current Behavior

`calico-node` Pod readiness probe fails on the nodes that the calico-typha pod is not running.

## Pos

[2019-11-05 18:08] vpnachev commented on #2982
sorry, duplicated because of some outage of Github..

[2019-11-05 18:08] #2982 closed

[2019-11-05 18:08] vpnachev commented on #2981
sorry, duplicated because of some outage of Github..

[2019-11-05 18:08] #2981 closed

[2019-11-05 18:08] vpnachev commented on #2980
sorry, duplicated because of some outage of Github..

[2019-11-05 18:08] #2980 closed

[2019-11-05 18:09] vpnachev commented on #2979
sorry, duplicated because of some outage of Github..

[2019-11-05 18:09] #2979 closed

[2019-11-05 18:09] vpnachev commented on #2978
sorry, duplicated because of some outage of Github..

[2019-11-05 18:09] #2978 closed

[2019-11-05 18:09] vpnachev commented on #2977
sorry, duplicated because of some outage of Github..

[2019-11-05 18:09] #2977 closed, assigned to nobody

[2019-11-05 18:09] vpnachev commented on #2976
sorry, duplicated because of some outage of Github..

[2019-11-05 18:09] #2976 closed

[2019-11-05 18:09] vpnachev commented on #2975
sorry, duplicated because of some outage of Github..

[2019-11-05 18:09] #2975 closed

[2019-11-05 18:10] vpnachev commented on #2974
sorry, duplicated because of some outage of Github..

[2019-11-05 18:10] #2974 closed, assigned to nobody

[2019-11-05 19:29] song-jiang commented on #2966
@jayunit100 Flannel migration controller images are built alone side kube-controllers. To fix this issue, we probably need to update https://github.com/projectcalico/kube-controllers/blob/master/Makefile#L126 to something like

[2019-11-05 20:58] caseydavenport commented on #2923
The delta between the `crd.projectcalico.org` and `projectcalico.org` API grouups should be minimal (there are probably some very small differences, but they're like 99% identical and the differences are probably in terms of validation).

If I were doing this, the first step here is to switch to using the v1 API group instead of v1beta, and seeing what breaks. It will mean we need to add schemas t

[2019-11-06 00:29] rafaelvanoni commented on #2796
Closing due to inactivity, please add a comment if this is still an issue and we'll re-open it.

[2019-11-06 00:29] #2796 closed

[2019-11-06 15:46] vpnachev commented on #2973
We have disabled `typha`, which should mean that `calico-node` pods now talks directly with k8s API server instead of going through typha. The result is that the cluster is fully functional now, it even has passed the k8s conformance tests.

[2019-11-07 08:02] mrhjx2 commented on #2964
thanks. this is  busybox image version question,

[2019-11-07 08:06] rayroot opened #2984 "Second prefix on a node cann't do aggregation of routes"
Because the number of pods on a node is more than 64 or 128, then need allocate a new prefix, but calico cann't do route aggregation for the second prefix, so other node receive some detailed routing（such as  /32）!

node1 (192.168.100.33):   pod network(first-10.233.125.64/26, second-10.233.125.0/26 )
node2 (192.168.100.34):   pod network(10.233.85.192/26)

on the  node2 ：
[code]
only the first  p

[2019-11-07 13:16] vpnachev commented on #2973
A few more findings.
This behaviour is observed on Google Cloud Platform, as well.

I have created another cluster that has 2 SUSE nodes, 2 CoreOS nodes and `calico-typha` is enabled.
1. When typha is running on a SUSE node I observe:
   * the `calico-node` on the same SUSE node has a successful readiness probe.
   * the `calico-node` on the other SUSE node has a **failing** readiness probe.
   *

[2019-11-07 18:33] joekohlsdorf commented on #2699
The reason for this happening is that the pod has no tolerations for running on master nodes.

[2019-11-07 20:58] sager-tech commented on #2962
Thanks a lot for your help! It's working now.

[2019-11-07 20:58] #2962 closed

[2019-11-07 22:00] sfrique commented on #2815
This would be great.

[2019-11-08 00:45] #103 closed

[2019-11-08 00:53] #20 closed

[2019-11-08 00:54] #54 closed

[2019-11-08 00:54] #77 closed

[2019-11-08 00:54] #78 closed

[2019-11-08 00:54] #108 closed

[2019-11-08 00:55] #317 closed

[2019-11-08 07:30] #2964 closed

[2019-11-08 20:47] caseydavenport commented on #249
I believe we link to the etcd docs for this now rather than document it ourselves.

[2019-11-08 20:47] #249 closed

[2019-11-08 20:53] #721 closed

[2019-11-08 20:53] caseydavenport commented on #795
https://docs.projectcalico.org/v3.10/networking/get-started-ip-addresses

[2019-11-08 20:53] #795 closed

[2019-11-08 20:54] caseydavenport commented on #828
I think it says now that it needs to be applied to the pod metadata.

[2019-11-08 20:54] #828 closed

[2019-11-08 22:03] caseydavenport commented on #873
https://docs.projectcalico.org/v3.10/security/protect-hosts
https://docs.projectcalico.org/v3.10/security/host-forwarded-traffic

I believe we have how-to content on this now.

[2019-11-08 22:03] #873 closed

[2019-11-08 22:07] #230 closed

[2019-11-08 22:09] #1691 closed

[2019-11-08 22:12] #1974 closed

[2019-11-08 22:15] caseydavenport commented on #2719
Fixed in newer versions of the doc.

[2019-11-08 22:15] #2719 closed

[2019-11-08 22:19] caseydavenport commented on #1182
That script has the following disclaimer:

I believe this is working as expected for now.

[2019-11-08 22:19] #1182 closed

[2019-11-11 10:19] zanetworker commented on #2973
@caseydavenport / @fasaxc  can you provide feedback on this one?

[2019-11-11 10:34] fasaxc commented on #2973
SLES isn't one of the distros that we actively test with.  I'd recommend sticking to one of our supported platforms (Ubuntu/RH/Centos).  Failing that, look for different routing/iptables set-up on SLES that's blocking that traffic.

[2019-11-11 10:35] zanetworker commented on #2973
@fasaxc thanks for the reply.

[2019-11-11 15:09] bonikforever opened #2988 "[ERROR]: Observed a panic: "assignment to entry in nil map""
After some steps migration job failed with error:

[code]

## Expected Behavior
Job compeled succesfully.

## Current Behavior
Job failed.

## Steps to Reproduce (for bugs)
Run migration job.

## Context
Trying to migrate cluster from flannel to calico.

## Your Environment
Calico version: 3.10, 3.9
Kubernetes: 1.15.2, 1.16.2
RHEL 7

[2019-11-11 21:01] tmjd commented on #2973
I'd suggest looking at kube-proxy status and logs since it sets up the routing for the kubernetes service for typha, I am guessing that might be broken on SLES and that is why the nodes running on nodes without typha are not going ready.

[2019-11-11 21:18] tmjd commented on #2984
Is there any possibility that the block that isn't being aggregated is allocated to another node? It is possible for nodes to borrow IPs from other blocks when all the blocks for a cluster have been claimed.

You could try grabbing the calicoctl command from v3.8 and using `calicoctl ipam show --show-blocks` to see the allocated blocks, I'm not 100% sure that it will work with your cluster being v

[2019-11-11 21:22] tmjd commented on #2988
@song-jiang any thoughts on this?

[2019-11-12 09:07] fasaxc commented on #2973
@tmjd Actually, we bypass kube-proxy for accessing typha.  Felix loads the service endpoints from the API server directly and picks one to connect to.  That avoids relying on kube-proxy for bootstrapping Calico.

Typha is a host-networked pod, check that your iptables policy on SLES allows traffic to the host from the other hosts on Typha's port.

[2019-11-12 17:07] vpnachev commented on #2973
I do not see any issues in the kube-proxy logs.

The communication from node to typha seems to be open
[code]

Note, `nmap` output is identical to a cluster with CoreOS nodes. So I think that there is connectivity between the `calico-node` and `calico-typha`.

Let me provide some logs from the VM that is not hosting the Calico Typha.

### calico-typha logs

[code]

### calico-node logs

[code]

##

[2019-11-13 07:26] rainbowfhb opened #2990 "POD cannot access outside"
## Expected Behavior

if host machine restart, the pod are sheduled to other hosts, can new pod can access outside.

## Current Behavior

![image](https://user-images.githubusercontent.com/33643321/68741062-9d411200-0627-11ea-94c0-208a8dec076b.png)
Sometimes  the host machine restart，these pods on this machine are evicted and are scheduled to other hosts.  i can use kubectl get pod -o wide to see

[2019-11-13 09:20] song-jiang commented on #2988
@tmjd I can reproduce it with 1.16. Not sure what is happening but will look into this issue.
@bonikforever Have you seen this issue with 1.15.2 as well?

[2019-11-13 11:57] bonikforever commented on #2988
@song-jiang yes, I've tried to migrate on 1.15.2 and got this error. Then I upgrade to 1.16.2 and got it again.

[2019-11-13 13:36] song-jiang commented on #2988
@bonikforever Thanks for the information. I believe we did test flannel migration on 1.15. Let me check and come back to you this week.

[2019-11-13 16:44] bcavns01 opened #5254 "Allow passthrough to other iptables chains on no match."
## Expected Behavior
When none of felix's rules match, there should be an option to either jump to a specified chain, or  return so that subsequent chains after calico's can continue processing.

## Current Behavior
When there is no match, packets are simply dropped.

## Possible Solution
https://github.com/projectcalico/felix/pull/2161 introduces the option for IptablesNotPassedAction, which gets

[2019-11-14 02:56] J2AZYZ opened #2991 "Can not ping tunl0 on my openstack vm -----strange question"
I install k8s on my openstack cloud. The openstack use vxlan and linuxbridge for network.
Then I setup 3 vm on openstack and deploy single master k8s on it. Emmmm, the 3 vm are on two different physical machine and the k8s use calico which enable IPIP mode for network. Here come the strange question:
**vm ip**
vm3 192.168.1.79
vm2 192.168.1.68
vm1 192.168.1.62
**vm3 and vm1 on the same physical ma

[2019-11-14 07:45] strangeman opened #2992 "Calico-node randomly fails with "Error executing command: read unix @->/var/run/calico/bird.ctl: i/o timeout""
We use Kubernetes v1.15.3 on bare metal (installed via kubespray on CentOS 7 and Docker 19.03.3) and Calico v3.10. Unfortunately, we have a problem with calico and can't figure out what happening.

After node reboot, calico-nodes works correctly for some time (couple days or so) but then they suddenly fail with `Error executing command: read unix @->/var/run/calico/bird.ctl: i/o timeout`. The same

[2019-11-15 08:39] TomatoAres opened #2993 "NetworkPolicy based on PodSelector and NamespaceSelector doesn't work."
NetworkPolicy based on PodSelector and NamespaceSelector doesn't work.
## Expected Behavior

* policy:
[code]
* namespace:
[code]
* pod
[code]
this pod was expected to connect to server，but can not.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version : v3.1.0
* Orchestrator version (e.g. kubernetes, mesos, rkt

[2019-11-15 11:45] song-jiang commented on #2988
@bonikforever I've raised PR to fix this issue. If you want to work around it while waiting for next Calico release. Here is the steps that I tested successfully on my rig.
- Remove previous migration job by `kubectl delete -f migration-job.yaml`.
- Create a `flannel-ds-patch.yaml` file with contents below.
[code]
- Run `kubectl patch daemonset kube-flannel-ds-amd64 -n kube-system --type merge --p

[2019-11-15 15:32] tmjd commented on #2993
You listed Calico version v3.1.0, was that a typo? If not please try again with the latest 3.10 release as support for namespace selectors was added in v3.10.0.

[2019-11-16 03:10] TomatoAres commented on #2993
@tmjd Thank you for your answer. I will have a try,if it works ,I will closed this issue.

[2019-11-17 23:43] iamaquaman commented on #2961
Hi,

Upon inspecting the calico pod configurations for each node, I realized that the local AS number was never configured for each node. I have now properly configured the calico node pods with each individual node's local AS. I can now see that one of them works, but the others are still not working.

Here is a sample of the configuration for the one pod that is actually receiving traffic after

[2019-11-18 10:02] fasaxc commented on #2992
@strangeman did you recently upgrade to v3.10?  If so, did you experience any problems before upgrade?

Looks like we upgraded the version of BIRD in v3.10; it's possible that that's introduced a bug.

[2019-11-18 10:26] #2988 closed

[2019-11-18 10:42] bonikforever commented on #2988
@song-jiang well done on 1.16.2. Thanks!

[2019-11-18 11:06] joechan222 opened #2997 "Kubernetes pod's service cannot reach via Service IP"
Hello, I am now encountering the following situation. I have expose the Kubernetes pod's service by using the NodePort, which is mapping the owf-svc port - 8081 to host port 30016. However, there are some problem in getting the repose packet.

**Node port setting
owf-svc                               NodePort    10.233.44.11    <none>        8081:30016/TCP                         6h34m**

# kcp ge

[2019-11-18 11:19] song-jiang commented on #2988
@bonikforever Does the workaround work for you on 1.16.2?

[2019-11-18 11:57] bonikforever commented on #2988
@song-jiang yes, succesfully migrated after patch.

[2019-11-18 14:09] wangycc opened #2999 "Service cluster ip How to disable snat"
## Expected Behavior
When I access service cluster ip, the backend pod can get source ip
## Current Behavior
SNAT all traffic sent via Service cluster IPs

## Steps to Reproduce (for bugs)

1. Advertising Kubernetes services over BGP
2. kubectl run source-ip-app --image=mirrorgooglecontainers/echoserver:1.4
3. kubectl expose deployment source-ip-app --name=clusterip --port=80 --target-port=8080
[c

[2019-11-18 21:11] tmjd commented on #2990
Have you reviewed the logs from calico-node, is there anything in there that suggests problems?
Also could you install calicoctl on a node with the problem and do `calicoctl node status`?

To be clear you are saying that the routes are not showing up on the new node that the pods are being rescheduled to or the original node that was restarted?

[2019-11-18 21:19] tmjd commented on #2991
Are your screenshots from different nodes? Because they all look to have the same hostname. That could possibly be part of the problem. I'm thinking this because I noticed that each of the screen shots show the same tunl0 IP address and I believe those should be unique for each of the hosts.

[2019-11-18 21:26] tmjd commented on #2997
I would expect to see your service IP in your ipvsadmin output. That should be handled by kube-proxy. Can you check that kube-proxy is healthy and its logs do not show any problems?

[2019-11-18 21:28] tmjd commented on #2999
I think you may want to take a look at this page https://docs.projectcalico.org/v3.10/networking/advertise-service-ips. Specifically the `Local` service type. I think that would do what you want.

[2019-11-18 23:09] strangeman commented on #2992
Yeah, we experienced the same problem in the previous version and it was the main reason why we tried to upgrade. :)
After the upgrade (and full reboot the cluster) all was ok for about a week and then started failing again.

[2019-11-18 23:25] caseydavenport commented on #2990
@rainbowfhb Calico v3.0 is _very_ old. Please upgrade to a modern version of Calico (and Kubernetes - v1.8 is also quite old) and raise a new issue if you continue to see this behavior. Thanks.

[2019-11-18 23:25] #2990 closed

[2019-11-19 00:47] joechan222 commented on #2997
I have also suspected that this case is due to the malfunction of kube-proxy, thus, i have manually restart all of kube-proxy pods but still the same result. There is no error log is found even though the kube-proxy is executed with “-v=4” flag.

Besides, i have also change the MTU of calico to 1480 (1500-20) but still no luck.

[2019-11-19 02:39] #2993 closed

[2019-11-19 02:51] wangycc commented on #2999
@tm
Hi,I know that setting Local for the NodePort type can get the source ip,
but it's not what I want because I have already advertising kubernetes services over BGP to the outside of the cluster.I want to use cluster service ip as a load balancer.But the backend pod can't get the source ip.

[2019-11-19 08:43] mhmxs commented on #2943
I have some bad feeling to `re-enable serving the removed API resources` on target cluster. I'm affraid it is not possible on every environment. What is your advice, does it make sense to ask Itsio team about our plan to move from `extensions/v1beta1` to `apps/v1`?

[2019-11-19 10:37] fasaxc commented on #2992
@strangeman Can you describe your set-up in detail?  How many nodes?  How many pods? How are you using your cluster (do you churn a lot of pods, for example)?  How is BGP configured, are you using the default full-mesh configuration?

[2019-11-19 11:07] strangeman commented on #2992
We have 3 masters (with allowed pod allocation) + 2 workers.

[code]

The configuration is almost default for kubespray, we just enabled Helm installation. Also, we use Istio as a service mesh, which also installed with default settings.

Cluster mostly used as the developer's playground, so the typical workload is deploying about 30 different pods in a separate namespace, using them for day or tw

[2019-11-19 11:10] fasaxc commented on #2992
Nothing unusual there, all pretty mainline.  What does `ip route` should on your nodes?

[2019-11-19 11:26] strangeman commented on #2992
[code]
route table from node1

[code]
socket exists for some days, but I still get `i/o timeout` from calicoctl

[2019-11-19 11:45] fasaxc commented on #2992
That all looks normal.  One route for each local pod and some bird routes for the remotes.

[2019-11-19 11:46] fasaxc commented on #2992
Suggest you crank the BGP log level up to debug and wait for a repro.  Maybe that'll give a clue as to what has happened to BIRD: https://docs.projectcalico.org/v3.10/reference/resources/bgpconfig

[2019-11-19 14:02] jcmcken opened #3001 "Idempotent application of Calico objects"
In Kubernetes, the ``kubectl apply`` command is idempotent, meaning that successive applies of the same objects results in no change occurring within the cluster.

Additionally, ``kubectl`` has a ``diff`` subcommand that let's you implement your own idempotence workflow. For example:

[code]

This last type of workflow, while seemingly duplicative of just a standard ``kubectl apply``, is important

[2019-11-19 15:52] tmjd commented on #3001
This seems like a reasonable request, thank you for submitting it.
If anyone has interest on working on this please comment here and we'll be happy to discuss this and review any PRs.

[2019-11-19 16:04] tmjd commented on #2999
Using the `Local` type is way to do what you want. Using NodePort still will allow the cluster service IP to be advertised over BGP, it should still work.

[2019-11-19 16:14] tmjd commented on #2997
You listed output from ipvsadmin and I assumed you have IPVS configured for kube-proxy, just to cover the bases you do have kube-proxy configured with IPVS, right?
I don't see how you would have stuff in ipvsadmin output but I'm wondering if we need to be looking at kube-proxy.

[2019-11-19 16:15] tmjd commented on #2997
Another cover the bases question:
Have you verified that pod-to-pod (between nodes) communication is working?

[2019-11-20 02:44] joechan222 commented on #2997
In this issue, I think it is most likely related to the low level network problem within Calico. It is because I have made the below tests.

**kube-proxy is running**
` kcs get pods
NAME                                       READY   STATUS    RESTARTS   AGE
calico-kube-controllers-759bb57d4c-knb7t   1/1     Running   3          35d
calico-node-4hmks                          1/1     Running   1

[2019-11-20 02:57] J2AZYZ commented on #2991
@tmjd
Thank you for your reply, i found the issue and solve it. The reason is Openstack Security Group stop the IPIP packet.

[2019-11-20 02:57] #2991 closed

[2019-11-20 10:17] rayroot commented on #2984
I  have checkout the output of   `calicoctl ipam show --show-blocks` ,  can't  find the prefix  second-10.233.125.0/26

[2019-11-20 15:07] tmjd commented on #2984
Can you update your cluster to a more recent version of Calico? There have been several updates in the code that handles route distribution/aggregation and this may have been fixed already.

[2019-11-20 16:14] tmjd commented on #2997
I want to check that your CIDRs are not overlapping as that can cause problems.
What are the different CIDRs you are using in your cluster?
* node CIDR
* pod CIDR
* service CIDR

Also it would be good to check that the IPs that Calico selected are what you would expect to be used for communication between your nodes.
Could you use calicoctl and do `calicoctl get nodes -o yaml` and include that out

[2019-11-20 19:53] caseydavenport commented on #2956
@harmjanblok that's correct - in order for the IPs to show up, Calico needs to know what IPs are attached to the host endpoint.
Calico can apply policy _to_ a host endpoint without those, but if you want to reference heps in rules then they need expectedIPs.

[2019-11-20 19:53] #2956 closed

[2019-11-21 02:13] joechan222 commented on #2997
This issue is fixed by changing the MTU of tunl0 interface - https://www.ibm.com/support/pages/poor-ui-performances-and-many-packets-drop-tunl0-and-calico-interfaces-power-nodes

Thus, I will close this case. Thank you for your support.

[2019-11-21 02:13] #2997 closed

[2019-11-21 03:54] yuchunyun commented on #2876
Is there any progress now? We would also like to use K8S double stack

[2019-11-21 03:58] xieyanker opened #3003 "calico CrossSubnet mode cannot distinguish between bgp and ipip"
## Expected Behavior

In my opinion, the `CrossSubnet ` mode should distinguish between `bgp` and `ipip`, it will use `bgp` first, and shouldn't use `ipip` until the nodes are in different subnets.
## Current Behavior

I have 10 virtual machines, and all of them are in same subnet, I deploy the `kubernetes` by them. I configure`CrossSubnet` mode in `ippool`, but the route in the machine show `tunl

[2019-11-21 04:15] strangeman commented on #2992
Another interesting thing: I can easily connect to bird6 socket, but cannot connect to bird4 (via nc or birdcl)
[code]

[2019-11-21 04:52] strangeman commented on #2992
Increased log level to debug - nothing interesting about `bird`, as I see:
[code]
and then just many log entries about `Scanning interfaces` and `Mesh_XXX_217: Connecting to`

[2019-11-21 15:31] mindw opened #3004 "feature request: Add wireguard to encapsulation options"
Adding the above should have the following benefits:
1. blazingly fast network encryption, a competitive over other IPSec based solutions.
2. cross network encapsulation as a bonus!
3. reach feature parity with flannel (supports WireGuard via the extension backend) - making migration to calico even more enticing!

Reference flannel wireguard support:
https://github.com/coreos/flannel/blob/master/d

[2019-11-21 19:23] iamaquaman commented on #2961
Hi Everyone,

We were able to get this fixed on our end.

We were originally getting the errors because we had not configured our calico node pods to have the local AS set.

We did this by directly applying the desired configuration to the calico node pods.

Example:

[code]

We then saw the issue with only one calico pod running. The reason for that was because we re-kicked machines and they came

[2019-11-21 19:23] #2961 closed

[2019-11-22 04:35] tmjd commented on #2973
In both your original post and the latest, calico-node logs in the connection error show something like `10.250.0.4:46700->100.71.169.3:5473`. Seems like calico-node is coming from the node internal address but for some reason the address calico-node is getting for typha is at (I'm assuming) an external address.

[2019-11-22 04:47] tmjd commented on #2965
What did you set for you IP auto detection?

[2019-11-22 08:59] yq513 opened #3007 "calio 3.10.1 After the address pool is created, there is no host route."
calio 3.10.1
After the address pool is created, there is no host route.

[2019-11-22 14:53] neiljerram commented on #2961
Thanks @iamaquaman for documenting the resolution and closing this issue down.

[2019-11-22 21:14] vpnachev commented on #2973
@tmjd thanks for looking into the logs. `10.250.0.4` is the internal IP of the node, as you see, and `100.71.169.3` is the IP of the ClusterIP Service exposing calico-typha.

[2019-11-25 11:38] fasaxc commented on #3003
@xieyanker this sort of issue can arise if Calico can't detect the subnet of your nodes.  What do these commands show:
[code]
and
[code]

[2019-11-25 17:30] jayunit100 commented on #3007
im curious wether we can reproduce this somehow w/ a bash script, i.e. the new kind one in the hack/development-environment

[2019-11-25 21:02] tmjd commented on #3007
@yq513 Could you please give more details about your setup and collect some information from your system?
It would be good to know how you've deployed, what version of k8s, the OS of the nodes, which manifest you used to install calico, any tweaks you've made, if you've created/modified additional IP pools.
It would probably be good to see `ip a` from a host, `ip r` output.
Could you also install

[2019-11-25 21:17] tmjd commented on #1134
@song-jiang do you know if this has been addressed or the docs are still lacking?

[2019-11-25 21:23] tmjd commented on #1352
This issue is fairly old. I'm going to close for now. We do not specifically support this. We would be open to designing a way to do this type of thing for stateful sets.
Without the specific feature you could try using the ability to assign a specific IPPool to a namespace as that might work for what you're trying to do. https://docs.projectcalico.org/v3.10/networking/get-started-ip-addresses

[2019-11-25 21:32] tmjd commented on #2973
@fasaxc why is node trying to connect to the service IP of typha? It should be fetching the endpoints and connecting directly.

[2019-11-26 00:34] lmm commented on #2943
@mhmxs I think you are right, I don't think that 1st workaround I suggested will work for everyone.

I think @tmjd might be looking into this soon. He might have some ideas of how to proceed with this.

[2019-11-26 01:18] xieyanker commented on #3003
@fasaxc Thanks for your reply, the commands show as follows:
[code]

[2019-11-26 09:38] fasaxc commented on #2973
That's what I thought but now I check the code it's not what we do.  We _do_ connect to the cluster IP and let kube-proxy do the load balancing.  D'oh!

[2019-11-26 09:43] fasaxc commented on #3003
@xieyanker I think the issue is that, while your node knows that its subnet is `172.16.0.42/13`, it is recorded in the Calico datamodel as `172.16.0.42/32`.  That recording happens automatically when calico/node starts for the first time but perhaps your nodes were previously on an older version of Calico that didn't support cross-subnet and then they were upgraded?  The old version will have reco

[2019-11-26 10:03] xieyanker commented on #3003
@fasaxc Thanks for your reply! But my calico's version is always v3.8.0, I didn't upgrade it. And I deploy the calico on many different kubernetes clusters, I find it often happens.

[2019-11-26 10:04] song-jiang commented on #1134
@tmjd I think it has been addressed.

[2019-11-26 10:04] #1134 closed

[2019-11-26 10:23] Allen-yan commented on #2597
Yes, I did upgrade from earlier Calico versions

[2019-11-26 10:24] fasaxc commented on #3003
@xieyanker Please can you set env var `CALICO_STARTUP_LOGLEVEL=debug` on your calico-node daemonset and then collect a log from a calico/node pod?  That should help diagnose?

What is the configuration for the `IP` environment variable on the calico-node daemonset?  That variable controls auto-detection.

[2019-11-26 10:45] xieyanker commented on #3003
@fasaxc My calico-node daemonset's configure about `IP` is pod's `status.hostIP`
[code]

[2019-11-26 10:48] fasaxc commented on #3003
Ah, that's the problem, the manifest you're using is configured to get the IP from the Kubernetes downward API rather than auto-detect it.  That means that we don't auto-detect the subnet, which is needed for cross-subnet to work.

How did you install Calico, did you use one of our published manifests or an installer?

[2019-11-26 10:58] xieyanker commented on #3003
@fasaxc Thanks a lot for your answer, I think it can resolve this issue. I deploy cluster by [kubespray](https://github.com/kubernetes-sigs/kubespray/blob/master/roles/network_plugin/calico/templates/calico-node.yml.j2), and I found the calico-node daemoset has some different options, what I use is default.

[2019-11-26 11:15] #3003 closed

[2019-11-26 17:29] fasaxc commented on #3003
@xieyanker Please can you file a bug with kubespray, just so they have a record that cross-subnet won't work with their set-up.

[2019-11-26 22:09] rafaelvanoni commented on #2457
@swalberg @nmerdan We have a proposed fix in https://github.com/projectcalico/confd/pull/295, any chance you could give it a try and let us know how it goes? It's a tricky issue to reproduce.

[2019-11-26 22:17] #2889 closed

[2019-11-27 01:18] xieyanker commented on #3003
@fasaxc I think it's not the bug about kubespray, it provides `calico_ip_auto_method`'s parameter, if I don't define this parameter, it will use `hostIP`.

[code]

[2019-11-27 02:29] nokia-t1zhou opened #3013 "can floatingIPs feature working with IPv6?"
I want to use the floating IP feature in Calico 3.9, after follow the step by https://docs.projectcalico.org/v3.9/networking/add-floating-ip#enable-floating-ips,
first, i am test the IPv4 floating IP, it is working in our pod, i can ping it from outside of Kubernetes cluster.
but when i try the IPv6 floating IP, the pod is running, but i can't find any entry in IPv6 iptables.

so dose any other co

[2019-11-27 14:52] tmjd commented on #2973
I don't understand how access from a host (with node on it) to typha can work but access from the node on the same host to typha would fail. The Node pod is ran as hostNetwork so it uses the same network namespace as the host, both are using the service IP, there is no DNS involved.
I think you'll need to try access from both and collect traffic with tcpdump and see where the difference is (where

[2019-11-27 15:34] JRGit4UE commented on #2812
I am new in the k8s universe, but I seem to have the same issue with _kubemaster_ and _worker1_
on **ubuntu 16.04** vms with **docker 18.09** and **kubernetes 1.16.3**  in my _Host-Only network_ where my worker1 calico node does not get up and running (i.e. _CrashLoopBackOff_).
Executing ` kubectl logs -n kube-system calico-node-5f7rc` shows

`2019-11-27 15:05:43.800 [INFO][8] startup.go 259: Earl

[2019-11-27 15:54] JRGit4UE commented on #2812
Quickfix (took me a full day):
Instead of using `sudo kubeadm init --api-server-advertise-address=192.168.249.20 --pod-network-cidr=192.168.0.0/16` as described in [Building a Kubernetes Cluster in VirtualBox with Ubuntu](https://medium.com/@KevinHoffman/building-a-kubernetes-cluster-in-virtualbox-with-ubuntu-22cd338846dd)
I have used `kubeadm init --apiserver-advertise-address=192.168.249.20` whi

[2019-11-27 16:15] JRGit4UE commented on #2812
Short moment of victory - `watch kubectl get pods --all-namespaces ` has shown success, but that STATUS 'running' was just until it ran into a timeout. i.e. _CrashLoopBackOff_ is still shown, and the node is **still not running in the cluster**

[2019-11-27 22:22] tmjd commented on #2901
The fix for this should be in v3.11. https://github.com/projectcalico/felix/pull/2165

[2019-11-27 22:22] #2901 closed

[2019-11-27 22:31] tmjd commented on #2827
What version of Calico are you using?

[2019-11-28 07:29] yuchunyun commented on #2876
@caseydavenport    I have seen that both project libcalico-go and calico/cni have been updated for dual stack. May I ask when calico can release them?

[2019-11-28 08:58] JRGit4UE commented on #2146
The problem seems to come from **multiple interfaces**. And - maybe - **cgroupfs instead of systemd**!?
 I am a newbie in k8s and just followed the nice tutorial [Building a Kubernetes Cluster in VirtualBox with Ubuntu](https://medium.com/@KevinHoffman/building-a-kubernetes-cluster-in-virtualbox-with-ubuntu-22cd338846dd), with a setup of **3 VirtualBoxes** containing **ubuntu-16.04.6-server-amd64.

[2019-11-29 01:52] nokia-t1zhou commented on #3013
for IPv4, i can see below rule in iptables:
[code]
50.50.50.1 is the floating IP.
but i can't see the similar rule in ip6tables.

[2019-11-29 01:57] shaopenghui commented on #2834
I also have the same problem
The following logs:[ERROR][59] health.go 238: Health endpoint failed, trying to restart it... error=listen tcp 127.0.0.1:9099: bind: address already in use
kubectl describe pod:Readiness probe failed: calico/node is not ready: BIRD is not ready: Error querying BIRD: unable to connect to BIRDv4 socket: dial unix /var/run/bird/bird.ctl: connect: no such file or directory

[2019-12-01 07:12] JRGit4UE commented on #2042
For people like me, that have just started to explore the world of k8s with a bunch of virtual boxes, and actually just want to see something like 2 nginx pods running on 2 different nodes, **the network setup has turned out to be a real nightmare**. Coming from docker swarm, everything was easy. Now, I see myself digging into iptables and yaml files, that are interconnected and need to be tweaked

[2019-12-02 14:38] tmjd commented on #2876
We're expecting to have the next release of Calico in a couple weeks which should include dual stack support.

[2019-12-02 21:28] #2711 closed

[2019-12-02 21:30] #2758 closed

[2019-12-02 21:37] #2759 closed

[2019-12-03 08:51] xieyanker commented on #2993
@tmjd Hi! May I ask if it is supported in version 3.10.0 and above. I meet same issue in calico 3.8.0. I thought calico had already supported it.
This is my issue: https://github.com/kubernetes/kubernetes/issues/85539

[2019-12-03 09:29] TomatoAres commented on #2993
@xieyanker I have already check it,v3.10.0 works. [calico v3.10 release note](https://docs.projectcalico.org/v3.10/release-notes/)

[2019-12-03 09:34] xieyanker commented on #2993
@TomatoAres Thanks, I will upgrade calico to 3.10.1

[2019-12-03 12:30] vasilinamatov opened #3015 "missing proper documentation for installing calico-driver directly during new openstack installation"
Hey,

In the calico official website guide described that you need to install neutron and ML2 networking before implementing calico.
In the Before you begin section
https://docs.projectcalico.org/v3.10/getting-started/openstack/installation/ubuntu

But how you will remove the ML2 plugin without any issues in database?
As described in the Warning: After you configure the ML2 plug-in, removing value

[2019-12-03 12:53] xieyanker commented on #2993
@TomatoAres @tmjd @fasaxc
I have upgraded calico to v3.10.1. However, not works for me still!
[code]

[2019-12-03 13:15] xieyanker commented on #2993
Is there any configuration that needs attention？ Maybe I use some wrong configs.

[2019-12-03 15:57] tmjd commented on #2993
Did you ensure that your test pods have the appropriate `app` labels?
Have you verified without the policy (or any other) that the traffic you are attempting does work?

[2019-12-03 17:07] jayunit100 opened #3016 "Linux interface address changed : continously looping and resulting in log spam ."
## Expected Behavior

Logs for calico-node  probably shouldnt be detecting that the "interface addrs" changed over and over again, it leads to lots of retrying to resync XDP state (We have backoff in place now, but i think the root cause probably still exists).

## Current Behavior

Calico node makes a spamy continous message like this

[code]

## Possible Solution

- Put a "consider disabling XDP

[2019-12-03 19:17] tmjd commented on #2887
It sounds like this has been resolved so I'm going to close this. If this is wrong please comment and we can re-open this.

[2019-12-03 19:17] #2887 closed

[2019-12-03 20:33] tmjd commented on #2898
@venomwaqar please provide additional information then we can re-open this issue.
Does the traffic you are attempting work when you do not have policies in place?

[2019-12-03 20:33] #2898 closed

[2019-12-03 22:49] puzzloholic commented on #2943
I wonder if you can make ALP for latest Istio version which is 1.4.0 that fixes intermittently high cpu usage bug on the sidecar itself

[2019-12-04 00:49] xieyanker commented on #2993
@tmjd  Yeah, my pods have the appropriate app labels
[code]
And if I delete the networkpolicy, I can connect success.

[2019-12-04 14:38] tmjd commented on #2993
Sorry I should have scrolled over in your first post and seen the labels.
Actually I realized that I was incorrect in suggesting the upgrade, the upgrade would only be required if you were using a Calico GlobalNetworkPolicy and you were using namespaceSelector as the 'top' level selector like here https://docs.projectcalico.org/v3.10/security/namespace-policy#use-kubernetes-rbac-to-control-namespa

[2019-12-04 22:24] wsbondie opened #3043 "Large packet loss percentage using Calico"
## Expected Behavior

Packet loss percentage is not significantly larger when using Calico on the k8s cluster.

## Current Behavior

When running iperf over a k8s cluster(>50 nodes), and testing node to node, I am seeing a ~3-8% packet loss. Without Calico (across node instances) the loss percentage is ~0.02-0.07%.

I am testing using iperf transmitting 100k TCP packets with an MTU of 40 bytes.

#

[2019-12-04 22:30] wsbondie commented on #3043
Testing this on a cluster with only 5 nodes yielded ~3-6% packet loss.

[2019-12-05 06:02] zzzhy opened #3045 "why istio not working well with calico in openshift 3.11"
I use istio to monitor all my services in k8s with calico environment.
The situtation is nothing captured into the prometheus and I got nothing edges displayed in the kiali component. And also the istio grafana dashboard (which grafana dashboard id is 7636)
## Expected Behavior
Display all the traffic diagrams.

## Current Behavior
nothing appears
It seems istio hijack failed , although injected s

[2019-12-05 12:49] xieyanker commented on #2993
@tmjd Thanks for your reply! I have resolved it!
My `cni-plugin`‘s configuration didn't start `policy`, it works when I add follows
[code]
on `/etc/cni/net.d/calico.conflist.template`, refer to [cni-plugin configuration](https://docs.projectcalico.org/v3.10/reference/cni-plugin/configuration).

By the way, I got some error about `authority` when I run new pod after I update this config. It works u

[2019-12-05 16:24] neiljerram commented on #2457
I believe https://github.com/projectcalico/confd/pull/295 fixes this problem, so will now close this issue.  Please reopen (or open a new issue) if you still see this symptom with code that includes https://github.com/projectcalico/confd/pull/295.

[2019-12-05 16:24] #2457 closed

[2019-12-05 17:45] tmjd commented on #2993
@xieyanker Please open a new issue for your latest error.

[2019-12-05 19:45] #2943 closed

[2019-12-06 02:43] xieyanker commented on #2993
@tmjd I resolve the `authority`'s issue. This is because of my `cni-plugin configuration`'s `kubeconfig` is wrong, and I should use `/etc/cni/net.d/calico-kubeconfig`.

[2019-12-06 14:35] fasaxc commented on #3043
Is network-manager interfering with Calico? https://docs.projectcalico.org/v3.10/maintenance/troubleshooting#configure-networkmanager

[2019-12-06 16:06] matthias50 commented on #3043
@fasaxc, I am on the same team as @wsbondi. We are not using network manager.

[code]

[2019-12-06 16:30] fasaxc commented on #3043
Unless 100k packets/s is the absolute limit of your host-to-host link (so that the slight overhead of veths causes it to tip over into dropping traffic), that sounds like a problem.

Please can you share the details of your set up?  Where are you doing this testing?  On prem?

[2019-12-06 16:37] matthias50 commented on #3043
We are testing in the AWS region eu-west-1 using r4.8xlarge instance types.

[2019-12-06 21:38] caseydavenport commented on #3013
@nokia-t1zhou do you have `FELIX_IPV6SUPPORT` enabled in your `calico/node` daemonset?

[2019-12-09 02:24] nokia-t1zhou commented on #3013
thank you, after add the ENV to calico/node, the IPv6 floating IP can working now, i think this issue can close now.

[2019-12-09 02:26] nokia-t1zhou commented on #3013
change env value in calico/node container:
[code]
then the IPv6 floating IP can working.

[2019-12-09 02:26] #3013 closed

[2019-12-09 09:18] fasaxc commented on #3043
Please can you provide the details of how you've configured Calico?  IP pools, networking mode (IPIP VXLAN, cross-subnet mode or not), etc. v3.10.x is the current stable release, does it still occur with that?

[2019-12-09 09:26] fasaxc commented on #3043
If you do `ip monitor` on the hosts while doing your iperf test, do the iperf outages correlate with `ip monitor` output?

[2019-12-09 11:38] 54853315 commented on #2210
Hi, use `ifconfig` find your network dervice name ,set to calico.yaml  like this :

[code]

![image](https://user-images.githubusercontent.com/1081252/70432923-4c53fa80-1abb-11ea-82d3-6fdb0ddbd7ad.png)

[2019-12-09 16:22] tmjd commented on #2812
@JRGit4UE I think you should check if both your k8s nodes are using the same IP addresses, they should not be. With VirutalBox I'm guessing your hosts have multiple interfaces and that is causing a problem. You may need to use the IP_AUTODETECTION_METHOD  https://docs.projectcalico.org/v3.10/reference/node/configuration#ip-autodetection-methods to configure which interface/address calico selects.

[2019-12-09 16:35] tmjd commented on #2971
Like I mentioned, policy does not apply to hostNetworked pods so any policy written to select the ingress pod will not work.

Even with that said because you have a deny all policy that applies for ingress traffic, so you will need policy that applies to your destination pods that allows ingress to them.
Lets assume that your current (source) pod trying access your application is pod networked (no

[2019-12-09 16:38] kevclarx opened #3049 "Allow setting BGP community on exported routes"
## Expected Behavior
We currently see no way to set bgp communities on the exported routes in bird.  We need these communities for routing decisions upstream.

## Current Behavior
Bird supports BGP communities in export filters however don't see a place to configure this in calico.

## Possible Solution
Way to configure bird export filters

## Steps to Reproduce (for bugs)
n/a

## Context
We need

[2019-12-09 17:31] ralfonso commented on #2999
I'm seeing an issue that sounds very similar with the `echoserver` image and a `NodePort` service with `externalTrafficPolicy: Local`

In my bare metal lab:

[code]

[code]

The service ip, `10.32.0.73` is properly advertised to my router via BGP, but if I curl it from outside the Kubernetes network, it appears to get SNAT'd.

`192.168.42.217` is the IP of the Node hosting the Pod. I expect to see

[2019-12-10 15:01] tmjd commented on #3016
I think if we have a backoff in place then I think that should be adequate since we do have means for disabling XDP. If the user does not want the spam then they can disable XDP, otherwise I think we should log the warning occasionally.

[2019-12-10 15:06] tmjd commented on #3045
Have you configured network policy that may be blocking traffic?

@spikecurtis do you have any idea what the issue may be here?

[2019-12-10 16:43] spikecurtis commented on #3045
@zzzhy can you explain why you think Calico has something to do with Istio not working? For example, was it all working fine before you installed Calico?

You should be able to check if Istio hijack is working by examining iptables within the pods. Are you using the Istio CNI plugin to configure the hijack, or the init container? I have a vague memory of some people hitting issues with CNI config

[2019-12-10 20:39] tmjd commented on #2999
What kube-proxy mode are you using iptables or ipvs?

[2019-12-10 20:52] ralfonso commented on #2999
@tmjd I'm using `iptables`

[2019-12-10 22:15] koehn commented on #2927
I’m in the same boat. I have a k8s cluster on a set of nodes with Calico, and nginx shows arriving traffic has the source IP of the node instead of the external IP address. I really like Calico, but I’d really like to resolve this.

[2019-12-10 22:50] precbioinf opened #3053 "/install-cni.sh container fails to run during "kubectl apply -f calico.yaml""
I am starting a kubernetes cluster from scratch :
[code]
which seems to be okay without cni installed at this time. Then I run:
[code]
## Expected Behavior
I would expected all the pods to be running

## Current Behavior
But when looking at the pods:
[code]

Examining pod "calico-node-bdckt":
[code]
Looking at the docker logs brings up no records:

[code]

## Context
Currently, I am unable to star

[2019-12-11 07:02] 54853315 commented on #2561
In my case, this problem still exists.

After uninstalling Calico 3.7, I installed Flannel, and then uninstalled Flannel to install Calico 3.10.1. I know it's weird to do this, and now something strange is happening.

I have removed Flannel's interface:

ifconfig does not display any interfaces of flannel.

Server real internal IP:
master 172.17.106.122
node1 172.17.106.121
node2 172.17.106.120

M

[2019-12-11 08:35] 54853315 commented on #2597
Hi,I have same problem here.

`cat /proc/sys/net/ipv4/ip_forward # 1`

Was install flannel ,and uninstall flannel ,retry install calico v3.9.2

`kubeadm reset`

calico.yaml add two line:

[code]

Yes, eth0 is my real network.

change CIDR :

[code]

![image](https://user-images.githubusercontent.com/1081252/70604745-19814200-1c34-11ea-9af6-bf5c4c7a8b53.png)

I do A lot `kubectl delete -f calico.ya

[2019-12-11 10:01] 54853315 commented on #2901
这个问题其实在安装完`kubeadm init`时就已经提示过：

[code]

大家容易忽略。

我把解决办法写出来了，创建一个文件，kubele会去读的：
`vim /etc/default/kubele`
写入：
`Environment=KUBELET_EXTRA_ARGS=--cgroup-driver=systemd`

然后删除calico-node-[name]那个pod容器，等它几秒重新创建完，ok！问题解决。

![image](https://user-images.githubusercontent.com/1081252/70611369-0bd1b980-1c40-11ea-91d3-da4a4e24099f.png)

[2019-12-11 14:32] tmjd commented on #2597
@54853315 Please open a new issue as this looks different than the original. I believe your primary issue is calico-node BGP not ready since your `get pods` output shows that kube-controllers is ready (1/1).
What platform are your hosts running on? Is BGP traffic (port 179) allowed between your hosts?

[2019-12-11 17:37] jayunit100 opened #3055 "Doc page on route tables and blackholes"
## Expected Behavior

calico blackholes should be searchable on the doc site.

## Current behaviour

looking around for docs on calico blackholes yields several very long github issues which are a little confusing... i suggest making a page similar to https://jayunit100.blogspot.com/2019/12/iproutes-for-devices-and-blackholes-in.html

[2019-12-12 15:34] eddebc commented on #3007
I had a similar issue but it was due to a conflict between the docker bridge network address (/etc/docker/daemon.json) and physical network one.

[2019-12-13 16:19] wsbondie commented on #3043
@fasaxc
We are using one IP Pool with an IPIP mode of Always. natOutgoing set to true.
Here is a log of "ip monitor" on the host of the iperf test.

10.121.5.81 dev eth0 lladdr 06:f5:55:60:f7:e4 REACHABLE
10.121.5.91 dev eth0 lladdr 06:d4:27:3e:7d:2e STALE
10.121.5.91 dev eth0 lladdr 06:d4:27:3e:7d:2e PROBE
10.121.5.91 dev eth0 lladdr 06:d4:27:3e:7d:2e REACHABLE
10.121.5.107 dev eth0 lladdr 06:1b:

[2019-12-15 00:03] amemni commented on #2720
I had the exact same issue as @ekc with quite similar logging and environment versions and I was running Ubuntu boxes on VirtualBox with 2 interfaces each, my issue was that ETCD is allowing a connection only from the CIDR of the first interface with a default gateway (the NAT one) by default, thus it was giving a "connection refused". I ended up doing these which solved it:
1. resetting my cluste

[2019-12-16 09:55] vpnachev commented on #2973
@marwinski and @zanetworker joined into debugging this issue.
It turns out that SUSE by default uses MTU of 9000 which is too high, thus the communication between calico nodes and typha is not reliable(lost packets).

I would like thanks to everybody who took part into this issue.

[2019-12-16 09:55] #2973 closed

[2019-12-16 15:30] secret104278 commented on #717
Is there any update of this issue?
After helm 3 was released, the tiller pod was removed, so it probably will be more straight forward to deploy calico by helm chars.

[2019-12-16 21:54] tmjd commented on #3055
I'm not sure we would want to add documentation on route tables and blackholes, at least in the user facing documentation, because those are implementation details and not something users should need to consider.
We could maybe add some information to the Felix repo with some info like that.

[2019-12-16 22:05] tmjd commented on #3053
You could check the kubelet logs on one of the nodes to see if there is any additional information on why that container fails.
Have you made any changes to the calico.yaml manifest you are applying?

[2019-12-17 03:23] johnnyhuy opened #3074 "Missing iptables.log in AKS"
I'm having trouble finding IPTables logs that are getting reported by Calico on AKS (Azure Kubernetes Service). I've tried using a [iptables-tailer](https://github.com/box/kube-iptables-tailer) but I realized that the `iptables.log` file is missing on the node that it mounts at `/var/log`.

## Expected Behavior

Be able to view Calico reporting packet messages at `/var/log/iptables.log` on the AKS

[2019-12-17 03:29] ivanting95 commented on #3074
+1 also have the same issue

[2019-12-17 06:33] zzzhy commented on #3045
my develop env is on the minikube while production env is kubernetes with calico,  all run well in develop and not as the production.
when using the install option [`global.proxy.privileged` ](https://istio.io/docs/reference/config/installation-options/#global-options), all things become normal , althougn I doubt if it is the right solution .
terribly sorry for not really confirmed whether it invo

[2019-12-17 08:40] xingxing122 commented on #2080
In which version is this problem resolved

[2019-12-17 10:31] dmanbu opened #3075 "There is no pod2daemon-flexvol docker image in elease-v3.10.2.tgz"
I tried to import the image required by calico through release-v3.10.2/images, but this error was prompted in K8s:
Back-off pulling image "calico/pod2daemon-flexvol:v3.10.2"

Is it possible to put pod2daemon-flexvol.tar into a release package?
thank you

[2019-12-17 15:43] tmjd commented on #2146
@JRGit4UE We have not determined a way to always be able to select the correct interface on a host when starting, if you have ideas and time to implement we would be happy to review designs and PRs to have better auto-detection of the interface that Calico uses.
If you have tried adjusting the auto-detection and Calico is selecting the correct interface/IP, yet the the liveness problem still persi

[2019-12-17 16:03] robertgoguen opened #3077 "preserving ip source address for an incoming udp pkt"
I have a pod running in a Kubernetes bare-metal cluster that is exposing a UDP service.

This service needs the original ip source address to work correctly, but the source address seems to be NAT'd to a local cluster IP address.

## Expected Behavior
Keep the original ip source address

## Current Behavior
overwrites the source address with a local cluster ip address.

$ k describe service udp-se

[2019-12-17 16:52] jayunit100 opened #3079 "Investigate Docker-in-docker for macs as a vagrant alt."
## Expected Behavior

Builds should just require docker, nothing else, on macs, if we can make that possible.

## Current Behavior

You need a VM to build calico unless running linux.

## Possible Solution

@sedefsavas  has some ideas for a pure os x build that she prototyped.

Follow up to #2929

[2019-12-17 17:07] spikecurtis commented on #3045
If running the Istio-proxy in privileged mode solves the problem it's very unlikely to have something to do with Calico.

The hijacking works by running the Istio proxy as a specific user (UID 1337 if I recall correctly).  I think that OpenShift by default assigns UIDs from a (per-namespace?) range, which might interfere with the proxy. Running as privileged might override that behavior and get it

[2019-12-17 20:09] song-jiang commented on #3074
Not sure why iptables logs got missing on AKS node. Generally I will take the following steps to identify kubernetes network issues.
- isolate and reproduce the issue as simple as possible. Pod A can not access pod B via cluster ip for instance.

[2019-12-17 21:20] #3075 closed

[2019-12-18 15:57] caseydavenport commented on #2902
Should be fixed by https://github.com/projectcalico/cni-plugin/pull/807

[2019-12-18 15:57] #2902 closed

[2019-12-18 16:03] caseydavenport commented on #2712
I'm not sure there's anything more we can do besides document this, so going to close this for now.

[2019-12-18 16:03] #2712 closed

[2019-12-18 16:06] caseydavenport commented on #2338
Anyone have an update on this issue? Is this still seen on newer versions of Calico? Does it happen during upgrade only or also on fresh installs?

[2019-12-18 16:21] fasaxc commented on #2338
Lots of policies, could be the kube-controllers bug we had a while ago that was causing all the policies to be rewritten continuously? https://github.com/projectcalico/kube-controllers/issues/380

[2019-12-18 17:17] rikatz commented on #2338
@caseydavenport I don’t think we still have this behavior anymore

Only problem now is the high Dataplane Apply times related to Route Apply being non concurrent (will post the issue number here later).

@mrrandrade do we still have high calico-node cpu load and problems with iptables lock in our cluster?

[2019-12-18 17:22] fasaxc commented on #2338
Think it makes sense to close this then.  Please can you open a new issue if you're still hitting other problems (if you haven't already).

[2019-12-18 17:22] #2338 closed

[2019-12-18 21:17] precbioinf commented on #3053
No logs were available. I did both "kubectl logs -n kube-system" <pod_name> -c install-cni" and tracking down the container name and "docker logs <container name>". Both returned no output.

May be it failed too early for the stdout/err to be flushed ?

I only changed the CALICO_IPV4POOL_CIDR value to the same range as kubernete's --pod-network-cidr value.

[2019-12-18 22:32] lmm commented on #3075
@dmanbu, thank you for reporting this issue. It's been fixed and the upcoming v3.11 release package will include the missing Docker images.

[2019-12-19 00:12] mtinny opened #3086 "Set BGP Port Number to other than 179"
Hello,
I'm currently installing on-prem k8s into baremetal hosts.
I want to use BGP port number other than 179, because port 179 is already used by frr for host node networking.
How to configure bgp port number of calico?

I checked those documents, but I could not find how to do that.
https://docs.projectcalico.org/v3.10/reference/node/configuration
https://docs.projectcalico.org/v3.10/reference/

[2019-12-19 02:37] zzzhy commented on #3045
@spikecurtis thanks, just close it.

[2019-12-19 02:37] #3045 closed

[2019-12-19 08:59] rezabojnordi commented on #1708
hello my error for pods calico
root@kubemaster:/# kubectl get pod -n kube-system
NAME                                       READY   STATUS              RESTARTS   AGE
calico-kube-controllers-7c4fb94b96-99gjr   0/1     CrashLoopBackOff    24         39m
calico-node-b7dpb                          0/1     CrashLoopBackOff    23         39m
coredns-6955765f44-qdx99                   0/1     ContainerC

[2019-12-19 09:05] rezabojnordi commented on #1708
[code]

[2019-12-19 09:07] rezabojnordi commented on #1708
using command for run yml
`kubectl apply -f https://docs.projectcalico.org/v3.0/getting-started/kubernetes/installation/hosted/kubeadm/1.7/calico.yaml`

[2019-12-19 11:21] benceszikora commented on #2999
We have the same issue, but we are running kube-proxy in `ipvs` mode.

[2019-12-19 13:24] wrigtim commented on #2999
+1

[2019-12-19 18:10] htotapally commented on #2561
I had the same issue, BGP not established.  I was using VirtualBox.  Removed Bridged Network, and HostOnly network.  Every thing started working normal

[2019-12-19 19:16] neiljerram commented on #2999
A common cause for unwanted SNAT is when the Kubernetes cluster CIDR is not the same as Calico's IP Pool.  kube-proxy will SNAT traffic to a cluster IP from any source IP that is outside its `clusterCIDR` config.  Can the reporters please check if that might be their problem?

[2019-12-19 20:23] #3077 closed

[2019-12-19 20:23] robertgoguen commented on #3077
moving to report this to Kubernetes

[2019-12-19 21:41] ralfonso commented on #2999
@neiljerram Yes, that is my configuration. My Calico IP pool is set to the same as the `podCIDR` rather than the `clusterCIDR`. I used this guide to help make that determination https://docs.projectcalico.org/v3.10/getting-started/kubernetes/installation/calico

specifically:

Is this incorrect or should have two pools, one for pod and one for services?

[2019-12-20 10:52] neiljerram commented on #2999
@ralfonso I'm sorry, the terminology is unfortunately confusing here.  I believe that all of these things are the same concept, and should be configured the same:
- the Calico IP Pool
- `--cluster-cidr` passed to kube-controller-manager and kube-proxy
- what our doc at https://docs.projectcalico.org/v3.10/getting-started/kubernetes/installation/calico refers to as "pod CIDR" or POD_CIDR.

Then the

[2019-12-20 16:30] ralfonso commented on #2999
@neiljerram Thanks! Apologies for mixing up some terms. My `--cluster-cidr` encompasses my Calico IP Pool. My `--service-cluster-ip-range` is outside of both.

[code]

[2019-12-20 16:33] neiljerram commented on #2999
@ralfonso OK, so that's fine.  I'll just re-review the rest of the report here..

[2019-12-21 00:40] lmm commented on #3086
Hi @mtinny, I don't think there's an easy way to use another port for BGP instead of 179. Bird does support using a different host/port as you can see here: https://github.com/projectcalico/bird/blob/e37e4770d2ff33f1d287977697c06192d16402ca/doc/bird.sgml#L436

The option would be put into the `kernel` protocol in the bird template here (in the same place we have `graceful restart`): https://github

[2019-12-21 00:45] lmm commented on #1708
Hi @rezabojnordi, could you please open a new issue?

I would also add: v3.0 is a very old version of Calico; many improvements and bug fixes have been added to Calico since then. I would suggest trying again with the latest version of Calico (v3.11.1) if that's possible for you.

[2019-12-21 03:15] thiagosantosleite opened #3090 ""Unable to decode an event from the watch stream: http2: server sent GOAWAY and closed the connection" when replace a master node"
---- General summary ----
HA installation with 3 masters nodes. When replace/remove a master node from cluster calico starts to fail, break coredns (running on workers nodes) and all pods starts to fail solve dns queries.

---- Expected Behavior ----
To be able to replace a master node with no downtime for other pods, mainly coredns

----- Environment -----
- Rancher 2.3.3
- Kubernetes custom clus

[2019-12-21 04:29] 54853315 commented on #2597
@tmjd

Thanks Reply.

Later I found out that this was because I installed calico 3.7. *, Then uninstalled calico, installed flannel, and then uninstalled flannel. Reinstall calico3.9, problems encountered.

At this point I found that my iptables had become confusing.

So ,I have to do this .... I have to !

[code]

Then execute kubectl apply -f calico3.9.yaml and everything is resolved.

[2019-12-23 17:17] MadAboutProgramming commented on #2561
Check the calico logs definitely  you will get some idea.

[2019-12-24 17:46] thiagosantosleite commented on #3090
After I upgrade, this issue stopped to happen. Any ideas what was the fix?

Rancher 2.3.3
Kubernetes custom cluster 1.16.3 Running on EC2 Instances
rancher/calico-node:v3.8.1
Ubuntu 18.04.3 LTS

[2019-12-25 06:57] halfcrazy commented on #2992
We meet same problem here with calico 3.9.0
[code]
Describe calico-node pod event shows
[code]

Bird logs no errors
[code]

[2019-12-26 05:02] mtinny commented on #3086
Hi @lmm

Thank you for your response.
As I want to keep using official calico, not fork, I'll try to change frr port instead, as frr itself seems to be supporting port number other than 179.

Thank you

[2019-12-26 10:10] regardfs commented on #2141
same mistake!!!!

[2019-12-26 11:45] puzzloholic opened #3092 "Pod calico-node Hit error connecting to datastore - i/o timeout"
## Expected Behavior
Pod calico-node-xxx up and running on each node

## Current Behavior
Pods calico-node on worker nodes are in state 'CrashLoopBackOff'
This is output from one of the pod
[code]

## Steps to Reproduce (for bugs)

1. I followed step-by-step from [this medium article](https://medium.com/@jeremy.i.cowan/running-calico-on-eks-f3e52ea41271) and official calico docs [here](https://doc

[2019-12-27 09:51] ElvisTan opened #3093 "error=fork/exec /usr/bin/kubectl: no such file or directory"
error=fork/exec /usr/bin/kubectl: no such file or directory，when use Migrating a cluster from flannel to Calico。calico version is v3.11.1

[2019-12-27 21:53] abhishakebansal opened #3094 "CrashLoopBackOff for calico-node pods - Kubernetes local install"
I am trying to setup a multi node cluster on my ubuntu 18.04.
After running the kubeadm init command when I tried to install a pod network, the pods wouldn't come up as Running. Even the coredns pods are stuck in ContainerCreating  mode.

Also I have matched the ipaddress which I passed in while running the init command and the one on calico.yaml file.
kubeadm init --pod-network-cidr=**192.168.0.0

[2019-12-29 11:55] nalakawula commented on #2818
Sorry to bumb this issue, I got similiar problem once a week.
kubectl -n kube-system logs calico-kube-controllers-99bd8767b-gcgnr
[code]

Coredns logs
[code]

Kube proxy logs:
[code]

Any help? Thank you

[2019-12-30 15:04] tmjd commented on #3053
I was suggesting checking the logs from the kubelet itself, to see if there is a problem launching the install-cni pod.
Also another flag to try with `kubectl logs -n kube-system" <pod_name> -c install-cni` is `--previous=true` (If true, print the logs for the previous instance of the container in a pod if it exists.).

[2019-12-30 15:42] tmjd commented on #3090
The logs indicated there was a problem reaching the API server.
What components did you upgrade that caused the fix? And what was the previous and the new version of the components?

[2019-12-30 15:49] thiagosantosleite commented on #3090
Kubernetes from 1.15.6 to  1.16.3
Calico from 3.7.4 to 3.8.1 (it was updated automatically due to k8s upgrade)

[2019-12-30 16:13] tmjd commented on #3093
When are you seeing that error? Are you getting logs from something that is reporting that or is that when you're executing commands from the docs?
Please provide more context. Thanks

[2019-12-30 16:32] tmjd commented on #3092
It seems like the current problem is for node to reach the API server. Do you have any idea why that would be the case?
Have you tried accessing the apiserver IP 172.20.0.1:443 from a node? Does that work?

[2019-12-30 21:12] precbioinf commented on #3053
[code]
I also saved a journalctl dump from kubelet:

`journalctl -xu kubelet --no-pager -S 2019-12-30 > kubelet.log`

Which is attached here:
[kubelet.log](https://github.com/projectcalico/calico/files/4011025/kubelet.log)

Thanks

[2019-12-30 22:40] tmjd commented on #3053
I think you need to specify `-c install-cni` in your log commands, without that it is trying to get logs from the `calico-node` container but it is the install-cni one that is erroring.
I don't see anything that stands out incorrect in the kubelet.log.

[2019-12-30 23:57] precbioinf commented on #3053
[code]

[2019-12-31 00:12] precbioinf commented on #3053
Going into docker:

[code]

[2019-12-31 03:00] ElvisTan commented on #3093
when i Migrating a cluster from flannel to Calico
https://docs.projectcalico.org/v3.11/getting-started/kubernetes/installation/migration-from-flannel

# kubectl apply -f https://docs.projectcalico.org/v3.11/manifests/flannel-migration/calico.yaml
configmap/calico-config created
customresourcedefinition.apiextensions.k8s.io/felixconfigurations.crd.projectcalico.org created
customresourcedefinition.

[2019-12-31 03:14] ralfonso commented on #2999
I believe I've resolved this issue in my cluster by dropping the `--cluster-cidr` flag from `kube-proxy`. After removing this flag, my nodes no longer have iptables rules such as:

[code]

This prevents packets from outside of the Pod CIDR from being marked for masquerade/snat. I'm not yet positive that there are no detrimental side effects from this change. I'm slightly suspicious since it is not

[2019-12-31 04:02] zong400 opened #3097 "ip conflict in tunl0"
We added two new nodes to k8s cluster,but found that tunl0 ip is the same.

## Expected Behavior
every nodes has one and only ip

## Current Behavior
<img width="582" alt="node1-docker-ip" src="https://user-images.githubusercontent.com/10556584/71609555-797c6000-2bc4-11ea-9033-4b1a158b2390.png">

<img width="587" alt="node8-docker-ip" src="https://user-images.githubusercontent.com/10556584/7160955

[2019-12-31 06:22] halfcrazy commented on #3097
Check your node's hostname and `/var/lib/calico/nodename`, you may forget to change your hostname or set a unique node name.

[2019-12-31 06:28] zong400 commented on #3097
@halfcrazy I just found /var/lib/calico/nodename is different from hostname in node8

![image](https://user-images.githubusercontent.com/10556584/71612220-ddf5ea00-2bd9-11ea-989d-b174b15d4e2e.png)

[2019-12-31 06:32] halfcrazy commented on #3097
Delete `/var/lib/calico/nodename` from your host node8, and recreate calico-node pod on this host.

[2019-12-31 06:43] zong400 commented on #3097
@halfcrazy it work. thanks

[2019-12-31 11:54] thiagosantosleite commented on #3090
I did a new rollout and I was able to reproduce the issue again with the new version.

``2019-12-31 11:50:58.967 [INFO][6861] int_dataplane.go 959: Finished applying updates to dataplane. msecToApply=1.916242
E1231 11:51:05.500015 6861 streamwatcher.go:109] Unable to decode an event from the watch stream: http2: server sent GOAWAY and closed the connection; LastStreamID=57, ErrCode=NO_ERROR, debug

[2019-12-31 15:27] tmjd commented on #3090
From those logs it looks like the problem was resolved in about 15 seconds. Was there any problem with networking between pods during that time? I would expect that calico/pod networking was still functional during that api server down time.
I would guess the problem with DNS was because of the same reason for those errors, that the API server was unreachable or returning errors during that time.

[2019-12-31 15:28] #3097 closed

[2019-12-31 15:30] tmjd commented on #3093
@song-jiang does the migration depend on kubectl on each of the nodes? or do you know what might be the issue here?

[2019-12-31 15:59] song-jiang commented on #3093
@tmjd The kubectl binary should be built into migration-controller image. https://github.com/projectcalico/kube-controllers/blob/master/docker-images/flannel-migration/Dockerfile.amd64#L32

[2019-12-31 16:42] song-jiang commented on #3093
@ElvisTan Looks like `flannel-migration-controller:v3.11.x` image is broken. Could you try calico version v3.10.2 instead?

[2020-01-01 19:58] rafaelvanoni commented on #3093
@song-jiang I just installed v3.11.1 on a cluster and `/bin/kubectl` was present. Can you post the steps you ran that showed otherwise? Thanks

[2020-01-01 23:07] mnaser commented on #3093
I am running into this too, I think the issue is that it's trying to run from /usr/bin/kubectl instead of /bin/kubectl

[code]

[2020-01-01 23:21] mnaser commented on #3093
In order to verify:

[code]

[code]

[code]

This returns a valid k

[2020-01-02 02:44] ElvisTan commented on #3093
Using images flannel-migration-controller:v3.10.2 does not have this problem

[2020-01-02 16:06] neiljerram commented on #2999
Hi everyone, just reviewing this again.  I think there may be several different issues here.  Also I think my previous two comments about unwanted SNAT were irrelevant - sorry about that.  (I thought we were talking about access from a client within the cluster, but I now see that we're mostly talking about access from outside the cluster.)

So I think there may be 3 different issues here:

1. @wa

[2020-01-02 16:09] neiljerram commented on #2999
Update: sorry @ralfonso I have not yet taken into account your update from 3 days ago.  Will think about that now.

[2020-01-02 16:47] tmjd commented on #3053
You could try adding an echo command to the install-cni container, before it tries to run the `/install-cni.sh` script. I'm only suggesting this since there is no output at all. It seems odd to me that the container would exit with no output at all and judging by the Created and Status in your last message it maybe exited immediately.

[2020-01-02 20:00] caseydavenport commented on #3094
It looks like Calico is failing to find a v4 address on your node. Are you running in an IPv6 only cluster?

[2020-01-02 21:10] caseydavenport commented on #2720
Closing since this appears to be resolved.

[2020-01-02 21:10] #2720 closed

[2020-01-02 21:12] #2753 closed

[2020-01-02 21:26] caseydavenport commented on #2834
This appeared to be a transient issue in the original post. Agree with @tmjd that this feels like a misconfigured IP address auto-detection issue (and is supported by this comment as well: https://github.com/projectcalico/calico/issues/2834#issuecomment-542645416)

Also worth noting that we improved BIRD liveness reporting in our most recent release which might help in this area.

[2020-01-02 21:26] #2834 closed

[2020-01-02 23:27] caseydavenport commented on #3090
I think this is coming from the Kubernetes client code failing to watch the apiserver. It's likely due to the apiserver being up but not yet ready to server requests (this jives with the fact that it appears to be transient).

[2020-01-02 23:31] caseydavenport commented on #2141
Closing due to inactivity / old Calico version.

Please do open a new issue if you see the same on newer versions of Calico.

[2020-01-02 23:31] #2141 closed

[2020-01-02 23:36] caseydavenport commented on #2992
Just to check, is there actually a problem with networking on these clusters when in this state? It sounds like routes are being programmed correctly, just that the Calico readiness checks start failing with this error message?

[2020-01-02 23:42] precbioinf commented on #3053
Hmmm...I tried different ways to inject a new command into install-cni container, but it seems to be a very slim system (no support for any of command line tools besides bash). In any case, the container doesn't stay up enough for me to run "docker cp". Any suggestions besides building the "node" container from scratch ?

Thanks,

[2020-01-02 23:51] caseydavenport commented on #717
Currently, the core Calico team is not really able to be in the business of maintaining a Calico helm chart. There are a lot of different ways to configure and package Kubernetes applications and we can't maintain and test all of those ourselves, so we need to rely on others to do that packaging.

I think there are some third-party helm charts out there in the wild, though.

[2020-01-03 00:10] caseydavenport commented on #3055
Yeah, I'm not sure if this is right for the Calico docs. Blackhole routes are an implementation detail rather than a feature, if you see what I mean.

[2020-01-03 00:15] #2588 closed

[2020-01-03 00:17] #3007 closed

[2020-01-03 00:21] caseydavenport commented on #3016
Yeah, I think that's reasonable. But how occasionally is acceptable? And what's the frequency like now?

[2020-01-03 01:24] strangeman commented on #2992
No, network interactions seem running correctly.

[2020-01-03 16:35] abhishakebansal commented on #3094
No! I am not. I specified the ip address 192.168.0.0/16 on calico.yaml as well as on the command below.
kubeadm init --pod-network-cidr=192.168.0.0/16
Not sure what is the problem here.

[2020-01-04 06:00] QiusHosens opened #3101 "how access pod in intranet node by pod in extranet master based on kubernetes ?"
use kubernetes, i want to access pod in intranet node by pod in extranet master.
for example, master's ip is 192.168.10.239, node2's ip is 192.168.0.12, it's my virtual machine, the node can access to master, how to access node by master ?
calico support? thanks.

[2020-01-06 15:14] tmjd commented on #3094
Could you provide an `ifconfig` or `ip a` from one of your hosts?

[2020-01-06 17:39] tmjd commented on #3053
I was thinking of changing the command that the install-cni container is launched with, something like https://stackoverflow.com/a/33979556. And invoking the cni-install.sh as the last step.

[2020-01-06 19:43] #2532 closed

[2020-01-06 20:05] tmjd commented on #3101
Are your calico-node pods healthy?
Where are your nodes and master running (VirtualBox, GCP, AWS)? If Vagrant/VirtualBox you may need to configure the IP auto detection, see [here](https://docs.projectcalico.org/v3.11/reference/node/configuration#ip-autodetection-methods).
How did you install Calico on your cluster? Did you do any additional configuration to the install?
You might need to configur

[2020-01-06 21:04] tmjd commented on #3015
@neiljerram could you take a look at this issue? Thanks

[2020-01-06 23:42] tmjd commented on #3016
Looks like anytime we apply changes to the dataplane, felix will attempt xdp again (reporting errors 10 more times). So yeah I guess we don't have a backoff (we've just reduced/limited the attempts).

[2020-01-07 04:39] tungdam commented on #2660
Sorry for taking it too long to update. We still need it. We don't want to use NodePort because we prefer having nice standard 80 or 443 ports for our services ( everyone does, i guess ).
Beside the limitation with network policy as explained above , the problem's getting bigger with us when we have some services that requires the correct source IP of client for its ACL.

So far we have to use hea

[2020-01-07 06:39] HelenaZheng opened #3108 "“No Route to Host“ watched after one node reboot in cluster"
What happened:
One node in the k8s cluster was reboot， then we saw something wrong in our application.
We find some ingormation in ingress as follow:

2020/01/06 21:53:13 [error] 62741#62741: *590097349 connect() failed (113: No route to host) while connecting to upstream, client: 30.68.0.49, server: security-rule.lufax.app, request: "POST /security-rule-app/service/rt-rule/batch-risk-inspection H

[2020-01-07 11:31] abhishakebansal commented on #3094
@tmjd
➜  ~ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eno2: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 qdisc fq_codel state D

[2020-01-07 13:26] neiljerram commented on #3015
@vasilinamatov It's not clear to me if you're describing a hypothetical issue, or something that you've actually had trouble with.

For reference, and comparison if it's useful, here's what our internal script does when setting up a rig for testing (with Queens on Ubuntu):
[code]

Most of that is OpenStack install, not Calico, and it's really important to understand that OpenStack install is **har

[2020-01-07 15:07] tmjd commented on #3094
@caseydavenport I think our default exclusion logic is too greedy. If you take a look at the default interfaces we exclude https://github.com/projectcalico/node/blob/master/pkg/startup/startup_linux.go#L12, you'll see `"lo"` as one of them. Also look at where that is used https://github.com/projectcalico/node/blob/master/pkg/startup/autodetection/interfaces.go#L54 and you may see the problem, we d

[2020-01-07 15:25] tmjd commented on #2660
Have you tried with a NodePort? I believe with node ports you still get a service IP and can specify the port that is used with the Service IP (you can still use 443 or 80). This [page](https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#exposing-the-service) seems to back up that idea too.

[2020-01-08 03:53] tungdam commented on #2660
@tmjd Thanks for your quick reply

I tried, but NodePort can't solve my problem because:
- There will be port conflicting issue when most likely we'll need more than 1 service requires binding to 80/443
- NodePort still do source NAT by default. It only preserves source IP if we set `"externalTrafficPolicy":"Local"` but then we have to remember by ourselves on which node the pod is deployed to ( a

[2020-01-08 11:11] benceszikora commented on #2999
@neiljerram We tried switching to iptables too, but that didn't resolve the issue. @ralfonso's suggestion seems to solve the issue for ClusterIPs, I believe because of this logic in kube-proxy: https://github.com/kubernetes/kubernetes/blob/db1990f48b92d603f469c1c89e2ad36da1b74846/pkg/proxy/iptables/proxier.go#L1008-L1015

Sadly that doesn't seem work for ExternalPs (we use that for our ingress VIP

[2020-01-08 15:27] tmjd commented on #2660
It sounds like you are assuming that when you use NodePort that the clusterIP of a service is no longer usable, as far as I know that is not true. When you use a NodePort you still get the clusterIP and will have the coreDNS record and service discovery (you may lose some load balancing but you do not want your connections to be redirected/SNATed so I think that is necessary).

Each service will g

[2020-01-08 15:30] skyfirst93 commented on #2758
I am facing this same issue. and in kube-proxy logs i am not seeing anything strange also.
The following are the steps that i used for installation and bring up of  kubernetes.
[code]

Here are my kube-proxy logs
[code]

[2020-01-08 17:36] tmjd commented on #2660
@tungdam I was just chatting in the Calico Community meeting and found out that a LoadBalancer is essentially an additional layer on a NodePort and should also work for exposing a service and allow the destination pods to receive the Source IP of traffic.
@neiljerram would you have any suggestions here? It sounded like there is perhaps another issue where you're doing similar investigation.

[2020-01-08 18:29] #3093 closed

[2020-01-08 18:47] caseydavenport commented on #2713
Wanted to check up on this one - has anyone had any breakthroughs or been able to gather any additional information?

[2020-01-08 23:25] tungdam commented on #2660
I understand that NodePort type service still have clusterIP and coreDNS but such clusterIP is no different than the normal clusterIP in our case. Source IP is not preserved

[2020-01-09 02:34] tungdam commented on #2660
Yes Loadbalancer type can preserve srcIP but as i explained in the description of this issue, if we have >=2 pods which is deployed to =>2 different nodes, it's not true anymore.

[2020-01-09 18:38] vasilinamatov commented on #3015
Neil, it's not about teaching people its about way of calico developer testing its code and if the documentation is correctly written. As an example in documentation said that you don't need to configure ml2 at all if you use core_pluging since liberty release. Thank you anyway for the update.

[2020-01-09 18:50] neiljerram commented on #3015
@vasilinamatov I'm still unclear what this issue is actually about.  The title says "missing proper documentation".  What is the documentation that you think we should add?

[2020-01-09 19:47] vasilinamatov commented on #3015
proper documentation means proper guide, maybe it require to add another guide for installing calico-driver directly without linux bridge or ovs pre installed..

let's say the step by step installation you have shared here is much clear then in the site

for example:
apt-get install -y neutron-server neutron-plugin-ml2 python-neutronclient neutron-metadata-agent

I didn't see it on the guide..

[2020-01-09 20:02] vasilinamatov opened #3125 "Calico for OpenStack needs Python 3 support in order to run with Stein release and later"
Calico neutron plugin is missing python3 support.
Since Openstack Stein release (which already moved to python3) calico plugin is unavailable and not supported to work with neutron.

Reference: https://bugs.launchpad.net/pypi/+bug/1856485

Best,
Vasili

[2020-01-10 14:15] neiljerram commented on #3015
@vasilinamatov

That is exactly what the existing guides are for - i.e. without any other driver installed first.  (If you install another driver first, like linux bridge or OVS, the steps needed to clean that up are much harder, especially with OVS.)

That would be documenting how to install OpenStack, are we are very sure that we don't want to do that.

[2020-01-10 15:31] tmjd commented on #2758
Did you try the curl command I suggested? (You'll need to make sure you're using the k8s-apiserver service address)

[2020-01-10 15:52] vasilinamatov commented on #3015
Why it require to install neutron-ml2 and neutron-metadata-agent if calico and neutron doesn’t use them while calico driver and nova-api-metadata used?

[2020-01-10 16:00] neiljerram commented on #3015
Good question; in fact these steps may not be necessary.  Our internal OpenStack install scripts have evolved over a few years, and it's quite likely that they now include steps that we don't actually need.  In particular, we used to advise `core_plugin = ml2` and configuring Calico as an ML2 mechanism driver, but now we prefer `core_plugin = calico`.  That said, `neutron-plugin-ml2` may still be

[2020-01-10 16:26] tmjd commented on #2818
@nalakawula Is this something that just happens once a week and resolves itself?
What is your setup? On a cloud/bare metal? I'm wondering if your apiserver is becoming unavailable for small bits of time weekly.

[2020-01-10 18:12] vasilinamatov commented on #3015
Will try to check your comment deeper soon: “may still be needed to install the ML2 plugin code”

[2020-01-10 18:38] neiljerram commented on #3015
Thanks @vasilinamatov .  If it is needed, perhaps it would be better to make that explicit by adding a dependency on neutron-plugin-ml2 in the Calico packaging.

[2020-01-10 18:41] vasilinamatov commented on #3015
According to my lab in general installing neutron-server on controller and nova-api-metadata on compute from openstack side is enough.

[2020-01-10 18:42] vasilinamatov commented on #3015
+ neutron-common on compute

[2020-01-11 05:21] halfcrazy commented on #2992
We meet this issue again, this time some nodes lost route, and some calico-node in crashbackoff status.
descibre and shows felix status check failed.
[code]

[2020-01-12 10:33] skyfirst93 commented on #2758
I am getting "curl: (7) Couldn't connect to server".

[2020-01-13 08:16] nalakawula commented on #2818
Hi @tmjd . That's just happen once a week and resolve itself. I setup on vm (1 master + 2 worker).
Yes, you are correct, this is my hoster issue.

[2020-01-13 10:12] neiljerram commented on #3125
Thanks @vasilinamatov for tracking this here.  I'll move the error log down here:

and update the title to reflect the underlying Python 3 issue.

[2020-01-13 11:49] vasilinamatov commented on #3125
The following error is an issue so I added it under issue subject.
Now you changed the subject to what should be done in order to fix the issue. So not sure that you suggested subject is really convenient. Anyway, its upon you how to track the issues.
Thanks anyway.
Best,
Vasili

[2020-01-13 11:50] vasilinamatov commented on #3125
For search engines its great to have this error available.

ERROR neutron.manager [-] Plugin 'calico' not found

[2020-01-13 15:03] tmjd commented on #2818
@dododedodonl I'm going to close this issue for now, if you can provide additional info we can re-open this issue and continue investigation.

[2020-01-13 15:18] tmjd commented on #2758
@skyfirst93 that indicates an issue with reaching the apiserver from the host, if that does not work then node will not be able to reach it either. You should try accessing the apiserver directly (not using the service address), basically you'll need to figure out why accessing the apiserver through the service is not working.

[2020-01-13 21:17] #3055 closed

[2020-01-13 21:20] rafaelvanoni commented on #3108
@HelenaZheng Could you clarify if the connectivity issue persisted after the reboot or if it was a one off error (caused by the reboot) ?

[2020-01-13 23:32] rafaelvanoni commented on #2903
Closing due to inactivity, please add a comment if this is still an issue and we'll re-open it.

[2020-01-13 23:32] #2903 closed

[2020-01-13 23:33] rafaelvanoni commented on #2813
Closing due to inactivity, if this is still an issue please add a comment and we'll re-open it.

[2020-01-13 23:33] #2813 closed

[2020-01-13 23:49] neiljerram commented on #2706
@Arvinderpal I'm happy to say that the Calico integration with dual stack was done for our v3.11 release, as mentioned at https://docs.projectcalico.org/v3.11/release-notes/.

I think that means we can close this issue; please do open new issues if you notice anything missing.

[2020-01-13 23:49] #2706 closed

[2020-01-14 16:34] derekhulley commented on #717
@caseydavenport, understood: a supported Helm chart cannot be maintained without great expense and will only work for specific conditions.  A link to a _minimal_ chart used for system testing is useful: there is one in the code and an "in the wild" link already provided in this issue.  It should suffice for further development.

[2020-01-15 04:17] abhishakebansal commented on #3094
@tmjd @caseydavenport Its running fine now with the entry you suggested on calico.yaml

Thanks a ton!

[2020-01-15 04:17] #3094 closed

[2020-01-15 09:43] revengel opened #3133 "GlobalNetworkPolicy for IPv4 and IPv6"
How can I configure a firewall using GlobalNetworkPolicy manifests on interface eth0 for IPv4 and IPv6 in Kubernetes?

I has been configured HostEndpoint

[code]

Applying it with kubectl
[code]

Now creating GlobalNetworkPolicy for IPv4 and IPv6:
[code]

But there are not any ip6tables rules
[code]

[code]

[2020-01-15 10:53] dotbalo opened #3134 "bird: Netlink: Network is down"
I have a k8s cluster with version 1.13.6. Then I added a node and the cluster seemed to be working fine, but calico had an error: bird: Netlink: Network is down. Only this new node has this error, the other nodes are normal, then this new node cannot connect to the pods of other nodes, nor can it resolve svc.My calico was upgraded from 3.6.1 to 3.6.5.

## Expected Behavior
I want to solve the prob

[2020-01-15 15:16] tmjd commented on #3134
Is NetworkManager running on the new host?

Have you tried monitoring the interfaces on the new host, is the interface going up and down?

Can you try pod to pod communication between pods on one of the previous hosts to this new node? Please make sure you use the pod IP to avoid involving DNS in the test.

[2020-01-15 15:18] tmjd commented on #3133
Have you enabled IPV6 support according to https://docs.projectcalico.org/v3.11/networking/ipv6?

[2020-01-15 16:05] tmjd commented on #3074
iptables logs should be present if the host system iptables is configured to write them. So I think this would be a host system configuration issue, not something Calico can control. I think you would need to bring this up with whoever is in control of your host's OS configuration.

[2020-01-15 16:05] #3074 closed

[2020-01-16 03:19] dotbalo commented on #3134
@tmjd Thanks for your answer.

NetworkManager is down on the new node
[code]

The newly added node seems to be normal, the status is Ready, and the Pod can be successfully created, but the network is not accessible. I pinged the Pod IP of the new node from the previous node and it did not work the other way around.

I checked the routing table of the new node and did not generate routing informati

[2020-01-16 10:58] Goeldeepesh opened #3138 "Calico Container on CrashLoopBackOff"
I was trying to Setup a Multi-Master Kubernetes setup with external etcd 3 nodes cluster on bare metal REHL 7.2.  Etcd cluster setup got successful. After running the kubeadm init with --pod-cidr 192.168.0.0/16, i had applied calico 3.8 YAML. Containers were very much up and running. But when I'm adding a second master or data node the calico containers which were spun on them are getting in crash

[2020-01-16 11:45] neiljerram commented on #2876
@weizhouBlue Dual stack support was released in Calico v3.11, so please retry with that version, and open a new issue if you see any problem.

[2020-01-16 11:45] #2876 closed

[2020-01-16 15:54] Goeldeepesh commented on #3138
anyone can please help me out here.

[2020-01-17 03:09] boeboe commented on #2818
I have similar issues, which can be reproduced with the following setup:

https://github.com/boeboe/k8s-calico-vagrant

    # kubectl logs calico-kube-controllers-5b644bc49c-g6zzw  -n kube-system
    2020-01-17 02:54:48.666 [INFO][1] main.go 88: Loaded configuration from environment config=&config.Config{LogLevel:"info", ReconcilerPeriod:"5m", CompactionPeriod:"10m", EnabledControllers:"node", Wor

[2020-01-17 08:49] Goeldeepesh commented on #3092
Hi Erik, m also going through same issue. Difference is, i have done the setup on bare metal and the calico nodes keep on crashing on every node. I have already modified the calico file with: AUTO DETECTION METHOD and pod cidr but nothing worked.

[2020-01-17 14:14] tmjd commented on #3092
@Goeldeepesh Can you provide some logs? Have you tried what I suggested? Can you access the apiserver from a node?

[2020-01-17 18:24] Goeldeepesh commented on #3092
So, i have setup a kubernetes HA with external ETCD cluster and a HA proxy over masters. After searching for calico issue i cam to know that we need to define etcd endpoints in calico. so i did the same and applied calico for etcd cluster. After this my calico node got up but " calico-kube-controller and core dns are not working.

**### Calico-kube-contoller  logs**

I0117 18:12:19.957435       1

[2020-01-17 19:04] tmjd commented on #2818
@boeboe Looking at the repo I see that the vagrant machines have IPs in the default Pod cidr `192.168.0.0/16`. I think you should change one or the other.

[2020-01-17 19:09] tmjd commented on #3092
@Goeldeepesh your issue seems to be quite different. From your kube-proxy logs it looks to be a problem there. Please resolve the issue with kube-proxy before you try to fix any problems with Calico.
It looks like your certificates are not setup correctly for kube-proxy. I can't offer any help on that.

[2020-01-17 19:40] Goeldeepesh commented on #3092
@tmjd  Hmm... Thanks anyway.

[2020-01-18 11:39] ehsanrocket opened #3142 "calico tunnels can not ping each other"
hi all
I have set up a kubernetes cluster with a master node and two worker node. and calico for the network.
tunnels can not ping each others.
Kubernetes Version: 1.17
Calico Version: v3.11.1

Master IP : 1.1.1.1/22
Node1 IP: 2.2.2.2/22
Node2 IP: 3.3.3.3/23
IP's are these numbers, but are valid IP's.

`watch -n 0 kubectl get pods --all-namespaces ` output is :
[code]
on node Master (1.1.1.1)
[cod

[2020-01-19 06:39] HelenaZheng commented on #3108
I find more error in calico “ bird: Kernel dropped some netlink messages, will resync on next scan.”

[2020-01-19 07:10] ehsanrocket commented on #3142
I found the problem
after pinging from master to nodes
nodes can see each other and each other's pod.
but the it is a problem itself
is there any thing I should do in calico.yaml ?

[2020-01-19 07:38] ehsanrocket commented on #1904
I have the same problem in kubernetes
when pinging from nodes to master
in calico.yaml suggested by calico for kubernetes the ipip pool is enable by default
[code]

[2020-01-19 14:27] piyushSKY commented on #2004
@tingweiwu  iam facing the same issue.....can u share what was exact solution in your case.

[2020-01-20 04:28] cy-zheng commented on #3086
Same issue. Our company firewall block traffic on port 179.

[2020-01-20 07:16] #3138 closed

[2020-01-20 15:54] cexposit opened #3143 "Suggested improvement in documentation"
I have a bare-metal cluster composed of 3 nodes and Kubernetes:
[code]
The master node has 2 network interfaces (one with the public IP and the other with 10.6.128.7). The internal network interface is used to communicate the nodes whereas the public IP is used to provide access from Internet.

And I have installed Calico following the indications of the web:
[code]

## Expected Behavior

The expe

[2020-01-20 19:35] jecaio opened #3145 "TCP offloading on vxlan.calico adaptor causing 63 second delays in VXLAN communications node->nodeport or node->clusterip:port."
I am experiencing a 63 second delay in VXLAN communications node->node:nodeport or node->clusterip:port. After inspecting pcaps on both sending and receiving nodes it appears related to TCP offloading on the vxlan.calico interface. Disabling this through ethtool appears to 'resolve' the issue, but I'm entirely unsure whether this is a good idea or not, or if there's a better fix?

## Expected Beha

[2020-01-21 15:00] invidian commented on #717
I also published [Calico helm chart](https://github.com/flexkube/calico-helm-chart) recently, as it is used by my project during cluster bootstrapping. It's available via `https://flexkube.github.io/charts` charts repository. Currently it's all defaults in there, but I'm happy to implement requested changes.

It would be great if Calico team could maintain that, as with Helm 3, it's very easy to u

[2020-01-23 21:01] etavene commented on #2758
@skyfirst93 are you able to solve the issue ? I am also getting the similar error.

[2020-01-24 07:45] skyfirst93 commented on #2758
i Could not. still stuck

[2020-01-25 15:22] ehsanrocket opened #3163 "join a node to the cluster while it has private ip address and a public ip address mapped to the private"
I have a machine that has a private ip address , and a public ip address that is mapped to the private address.
when I execute the command :
[code]
the calico-node's log shows that it tries to connect to the kubelet at https://10.56.128.19:10250/ that is a private ip address.
how can I configure a calico node to use the public ip address instead of private one. ?

[2020-01-26 16:19] KarlHerler commented on #3145
Hello,

We have the exact same issue on CentOS 7 (3.10.0-1062.9.1.el7.x86_64) running Calico/Canal and flannel. After spending the better part of a week trying to figure out why two thirds of our cluster was unable to reliably to talk to the other third I stumbled upon this issue.

I can report that disabling offloading completely works around this issue. In our case, the command is: `sudo ethtool

[2020-01-27 19:02] lmm commented on #2827
I'll close this for now, please file a new issue if you encounter anything else.

[2020-01-27 19:02] #2827 closed

[2020-01-27 21:22] tmjd commented on #3134
Could you expand on this? You said Pod IP of the new node what do you mean by that?
What traffic is working and not working between your nodes? If there is a problem where your nodes are having trouble communicating then that will certainly result in a problem with the pods being able to communicate.

[2020-01-27 21:31] tmjd commented on #3142
What platform are your hosts running on? (AWS, GCE, Baremetal, Openstack) At one point I think there was an issue where it was necessary to ping between pods in certain setups but I thought that was fixed.

Here is the other issue I was thinking of https://github.com/projectcalico/calico/issues/1996, please read through that and see if that helps.

[2020-01-27 21:38] tmjd commented on #3143
Thank you for the suggestion. I don't know that we would want to add this as part of the general setup that every user needs to do. Perhaps we could add a note about adding this additional configuration when using multiple interfaces.
I would be happy to review a PR for a change like that if you wanted to submit one.

[2020-01-27 22:33] lmm commented on #2731
This is fixed by https://github.com/projectcalico/confd/pull/310

[2020-01-27 22:33] #2731 closed

[2020-01-28 12:22] ehsanrocket commented on #3142
my platform is Baremetal
when the traffic goes to the nodes, nodes can communicate with it's pod and other nod's pod.
but I have deleted all the firewall rules from the edge firewall. (not the rules created by calico) that all ports and protocols are allowed.
I think Node's should be able to connect tot the Master to these ports: 179, 2379, 2380, 10250, 10251, 10252, 10256, 6443
and Master should

[2020-01-28 19:48] mrrandrade opened #3187 "Updating Calico-Kube-Controller from 3.10 to 3.11 inadvertidely caused deletion of all nodes and workloadendpoints"
At the end of our main Production cluster, as the last component, we updated Calico-Kube-Controller from 3.10.2 to 3.11.2.

For some unknown reason, all entries for calico nodes and workloadendpoints got removed from our ETCD database.

As side effects, all of our 5000+ pods lost connectivity and had to be restarted.

A downgrade from 3.11 to 3.10 also triggered the event - all nodes and workloade

[2020-01-29 01:26] caseydavenport commented on #3187
@mrrandrade yikes, I'm sorry this happened to you.

Do you happen to have logs from the kube-controllers pod from when this occurred? It might contain information about what triggered this behavior.

I'd really like to understand what happened here and would love to work with you to identify the cause. A few things come to mind:
- What are the differences between the successful trial environments

[2020-01-29 13:11] DockToFuture opened #3194 "BIRD BGP propagates gateway id"
We ran a kubernetes cluster v1.16.6 with calico as cni plugin and bird as backend.
The calico pods run as expected as long as we only have the default docker networking bridge on all nodes.
When we create a new docker network bridge on one of the kubernetes nodes, for example with `docker network create dummy`, bird takes the newly created network gateway id instead of the node ip and distributes

[2020-01-29 18:45] mrrandrade commented on #3187
Basically, one is massively used (5000+ pods) and the others are barely used (some not at all, the others with 100+ pods); we have no sense of proportions :-P

Back in the days, nodes were named using their ip addressess, and we kept that way.

[code]

Pretty much, althought, for this version, we changed from using Calico Node as a unit on systemd to the calico-node daemonset.

Well, we basically

[2020-01-29 20:03] precbioinf commented on #3053
I tried to run with "/bin/bash -x /install-cni.sh".

[code]

Any thoughts ?

[2020-01-29 23:25] caseydavenport commented on #3187
Thanks for the info! Do you happen to have a section in your new `calico.yaml` that looks like this?

[code]

That's the field that is actually used for correlating the Kubernetes node with the Calico one. by default that uses the spec.nodeName, which I would assume is the same as the node IP and might just work, but if for whatever reason this was set to something different it could cause symptom

[2020-01-30 07:04] precbioinf commented on #3053
Okay, it turns out to be a securityContent.privileged:true was missing.

I tried 3.12.0 calico.yaml and the system installed and is working (more testing needed, but at least the pods are all running). The difference was that setting for containers between 3.9.5 version.

Thanks,

[2020-01-30 07:04] #3053 closed

[2020-01-30 19:01] hakman commented on #1055
We started adding e2e tests for network plugins for [kubernetes/kops](https://github.com/kubernetes/kops) and noticed that this is still an issue. Any plans for a fix?
https://testgrid.k8s.io/sig-cluster-lifecycle-kops#kops-aws-cni-calico

[2020-02-02 08:45] holosix commented on #2720
To resolve this problem,  Reboot all your node cluster and first check in ifconfig list and make sure no CNI plugin (e.g. weave, calico)

Then remove
`rm -rf /opt/cni/bin
rm -rf /etc/cni/net.d`

If you init your kubeadm with calico try this
`kubeadm init --pod-network-cidr=10.0.0.0/16

kubectl apply -f https://docs.projectcalico.org/v3.8/manifests/calico.yaml
-> please change in calico yaml cdir:

[2020-02-03 13:12] etavene opened #3215 "why each host must have a default IPv6 route"
## Summary
 I have an ipv6-only cluster running on a single node. Without default gw the calico-kube-controller is always in container creating state.

 ## Current Behavior
 sudo kubectl get svc
             kubernetes   ClusterIP   fd20::1      <none>        443/TCP   43m
 sudo kubectl get nodes -o wide
          ubuntu161   Ready    master   62m   v1.17.2   2001:db8:0:f101::4   <none>        Ubu

[2020-02-04 21:11] rafaelvanoni commented on #3163
@ehsanrocket calico-node connects to a service (to connect to the kubernetes API), is that IP the address of a k8s service? calico-node doesn't connect to kubelet directly. Could you give us a little background on what you're trying to do?

[2020-02-04 21:23] rafaelvanoni commented on #3215
@etavene Is the dummy gw pointing at an actual route or just "some" IP? I'm not sure this is a calico dependency or a lower level/Linux requirement for IPv6 networking. It may have something to do with the fact that cluster IPs are NAT'ed.

[2020-02-05 06:30] etavene commented on #3215
@rafaelvanoni  Thanks for your reply. It is just some IP.

The reason for asking above question is, the calico documentation for ipv6 support (https://docs.projectcalico.org/v3.10/networking/ipv6)  says that each host must have default ipv6 route. Would like to know why calico expects to have default route ?

Each Kubernetes host must have an IPv6 address that is reachable from the other hosts.
Ea

[2020-02-05 21:26] satishrao84 commented on #2695
What caused this issue? I am facing the same thing.

[2020-02-06 09:05] etavene commented on #2758
@skyfirst93  My issue is resolved after adding default gw in the node. Add default gw and try the curl command to access your API service IP address from your host. Unless that is not accessable, your cluster wont be up.  My node ip is 2001:db8:0:f101::2, I added a dummy route as shown below, and then tried curl command which worked me.
sudo /sbin/route -A inet6 add default gw 2001:0db8:0:f101::1

[2020-02-06 09:33] mhmxs commented on #2392
@caseydavenport Limitation itself is a complex problem in iptables, it has many flags, behaviors, etc. So as i see there are two ways to fix this issue:
a) Solve it as simple as possible only for `LOG`, witch means if user provides limitation in the `NetworkPolicy` description, Calico extends the iptables command with a simple `--match limit --limit X/sec`. Nothing else.
b) Calico starts support l

[2020-02-06 09:43] neiljerram commented on #2392
@natieitan Can you provide more detail for "When high traffic occurs the log facility cannot handle all the messages therefor it suppresses messages that cause the iptables to crush"?  I'd kinda expect any log facility to be able to handle massive incoming load, and to provide rate limiting features (for output to files, for example) itself, so it's not obvious to me that there should also be a ne

[2020-02-06 09:44] neiljerram commented on #2392
@mhmxs Can you expand on what you're suggesting for (b) ?  Does it mean rate limiting for iptables rules that are not `-j LOG` ?

[2020-02-06 09:54] mhmxs commented on #2392
@neiljerram Yes, instead for support it for just `LOG`, support it everywhere/everycase where it makes sense (in a generalized way), for example rate limiting. I know it is a huge work. Currently i'm just thinking in the scope and the goal of this issue.

[2020-02-06 10:28] neiljerram commented on #2392
@mhmxs Right, but I don't think there are any cases other than `LOG`.  If we have a rule with `DROP` or `ACCEPT`, for example, it really needs to apply to all packets :smile:

[2020-02-06 10:37] neiljerram commented on #2392
@caseydavenport Please correct if I'm wrong here, but I don't believe the need for this enhancement has really been explained.  Hence demoting to backlog, and will close if there's no more activity after a couple of weeks.

[2020-02-06 13:34] 3cky commented on #3145
Same issue here, we have 63 second delay while connecting to ClusterIP services in CentOS 7 / k8s 1.7.2 / Calico 3.12.0 cluster running on Hetzner Cloud. Disabling ethernet offloading resolves mentioned connection issues.

[2020-02-06 15:13] phantooom commented on #3145
it works.  flannel+k8s1.17.2 centos7.
but is there any issue or docs about this bug？i can't understand the which point cause this bug.

[2020-02-06 23:03] rafaelvanoni commented on #2927
I don't think this is really possible with nginx as the ingress controller since that's where the connection is terminated. I'd suggest looking at other controllers that do preserve the source IP, if possible.

@spikecurtis also mentioned that if you're running on prem, you could use one of our new features for advertising the cluster IP over BGP with a router that supports ECMP to load balance.

[2020-02-06 23:42] rafaelvanoni commented on #1586
I think this might end up doing more harm than good if, for example, a user follows the guidance too closely and ends up shooting him/herself in the foot. Closing this request until we see a stronger need for it.

[2020-02-06 23:42] #1586 closed

[2020-02-07 00:04] rafaelvanoni commented on #3108
@HelenaZheng Just trying to clarify the first issue you reported, was the `connection failed` error a one time problem caused by the reboot or did it continue to happen once the node came back up?

[2020-02-07 12:48] ehsanrocket commented on #3163
Hi @rafaelvanoni
our nodes are behind NAT, so we can access (ssh) the nodes with a public IP and then it forward the traffic to the private node IP.
so when I run a join command , the outpout of the ```calicoctl nodes status``` command in Master Node, shows that it tries connect to the private IP address of the Nodes that is not routable.
I used the can-reach:8.8.8.8 method for AUTO DETECTION Disc

[2020-02-07 19:46] tommasopozzetti opened #3231 "Using VXLAN with CrossSubnet, Felix doesn't push all routes to dataplane"
I opened this issue on project Felix as projectcalico/felix#2214 but I am reopening here as it seems most discussions happen here.

## Expected Behavior
When a felix instance is restarted and VXLAN is enabled in CrossSubnet mode, all routes to all other nodes within the configured IP pools should be pushed to the dataplane so that they get added to the routing table.

## Current Behavior
When a fe

[2020-02-07 23:13] caseydavenport commented on #3231
@tommasopozzetti thanks for raising this issue with detailed analysis, and also sorry for the delay in response.

If I understand correctly, I think one way of explaining this problem is that we determine the `pendingSet` of routes [here](https://github.com/projectcalico/felix/blob/d51cbfa8c774f090a0b8dff3b31e1d4640f13488/calc/vxlan_resolver.go#L223) _after_ populating the node update into the map

[2020-02-08 00:39] caseydavenport commented on #3092
Yeah, this definitely looks like a kube-proxy issue. Calico relies on a functioning kube-proxy to access the Kubernetes API server.

[2020-02-08 00:39] #3092 closed

[2020-02-08 01:06] #2984 closed

[2020-02-08 04:56] tommasopozzetti commented on #3231
@caseydavenport thank you for taking a look at this.
I agree with your explanation. If pending routes are calculated also before populating info in `nodeNameToNode` and they are kicked after that, it should take care of those routes that become ready during that operation, that is those routes that needed the source node info which can be added when populating `nodeNameToNode`.
Doing that should f

[2020-02-08 13:55] Belyenochi commented on #1352
hi, is there a way to support statefulset static IP?

[2020-02-08 16:45] tiwarishrijan commented on #2818
I am facing same issue with Kubernetes Calico :

I am using Calico 3.11 After restart it was giving me below error
[code]

[code]

[2020-02-09 22:29] sc250024 opened #3233 "[GlobalNetworkPolicy] Ingress rules partially working"
When I apply a `GlobalNetworkPolicy` to accept traffic by default from namespaces which run Ingress controllers, I can establish TCP connections properly, but the webpage I'm trying to reach _still_ times out.

Here's the `GlobalNetworkPolicy`:

<details>
  <summary>global-default-policy.yaml</summary>

[code]
</details>

And for reproducing, I'm using the following test application in the `test-a

[2020-02-09 23:23] #3233 closed

[2020-02-10 12:53] tghartland opened #3234 "release-v3.12.0.tgz does not contain kubernetes manifests"

[2020-02-10 20:56] caseydavenport commented on #3187
@mrrandrade any updates on this issue? Would really like to get to the bottom of it if we can!

[2020-02-10 21:15] tmjd commented on #3234
@lmm I believe we still expect our artifact to contain the manifests. Do you know why we've lost that?

[2020-02-10 21:29] tmjd commented on #3142
Have you figured out your original problem of needing to ping from your master to your nodes before pod networking worked?

If you are trying to understand the ports that are required for Calico you should refer to https://docs.projectcalico.org/getting-started/kubernetes/requirements#network-requirements. Note this does not include the ports that kubernetes needs for communication.

[2020-02-10 23:08] lmm commented on #3234
@tmjd we missed this with the docs machinery update. In the past we used to have the site built in dir `vX.Y` in the root of the repo. The make target that copies over manifests from the site dir failed because the path `_site/v3.12` doesn't exist.

Thanks for reporting this @tghartland !

[2020-02-11 00:43] lmm commented on #3234
@tghartland the release artifact has been updated with the manifests now. I'm going to close this now, thanks again 🙂

[2020-02-11 00:43] #3234 closed

[2020-02-12 14:23] skyfirst93 commented on #2758
Thanks @etavene setting the dummy route worked for me

[2020-02-12 15:49] ehsanrocket commented on #3142
before pod networking , I have ping my nodes from the master node and vice versa.
thank for networking requirements. I will check them.

[2020-02-13 01:04] caseydavenport commented on #3215
@etavene I believe this is because it is a requirement for the host to do neighbor discovery proxying for the pod. If the host doesn't think it can route the traffic, it won't proxy neighbor discovery requests.

[2020-02-13 05:36] deekshith-elear opened #3243 "unable to ping kuberenetes services are not responding after some time after start"
Hi,
I was using calico as pod networks in my Kubernetes setup. I'm facing below issues
- I'm unable to ping pod IP from nodes other than it's running node
- when I ping once from the node it is running then it is working from other nodes for a short time period <1min
I'm using Kubernetes 1.17.1 and calico configuration v3.11 and CALICO_IPV4POOL_CIDR = 10.112.0.0/12

Is there any way to resolve thi

[2020-02-13 20:04] JaveriaK commented on #3086
Having this configurable would help. We also already use bgpd on port 179 for an anycast VIP to the kubernetes masters. So bird on the master nodes end up not starting by default.

[2020-02-13 21:42] caseydavenport commented on #2713
I've been looking at this a bit more recently. We have this existing controller function that handles cleaning up orphaned IPAM blocks (and any addresses within) when using the Kubernetes API / CRD backed data store: https://github.com/projectcalico/kube-controllers/blob/master/pkg/controllers/node/kdd.go#L36

However, it's not run when in etcd mode. I think this is because we had an existing solu

[2020-02-14 03:17] jinnzy commented on #2992
I also encountered this problem, but I found that it is caused by the high CPU usage of bird.

https://github.com/projectcalico/bird/issues/77

[2020-02-14 07:37] azalio opened #3246 "Calico blackhole route and IP from this subnet on the other host."
We have some ippools.
[code]

We have added about hundred servers onprem.
IP blocks divided by `/26` was ended, because too much nodes(servers).

And we got result. For example:
node1 had network `10.192.79.128/26`
some IPs from this network was free.
Calico assigns these IPs to node2.

It total:
node1 had route
[code]
node2 had not any blackhole route, but had IPs from `10.192.79.128/26`.

Pods f

[2020-02-14 12:48] VGerris commented on #2405
I think I had a similar issue which was the external IP of the loadbalancer not being reachable. The cause was that in iptables the FORWARD chain was blocking it.
I think this not occur on a default install but happened after I changed CIDR.

In my case, something was causing the FORWARD chain to be set to policy DROP.
To work around it I added this:
-I FORWARD 1 -m conntrack --ctstate ESTABLISHED

[2020-02-14 15:19] koeberlue commented on #2322
This just solved two days of debugging, when we tried to install Rancher on a Debian Buster cluster. Since Google did not provide any matches on the error we got i will paste the error message below so that others googling this issue will find this thread:

[code]

Thanks, @mrak

[2020-02-15 07:30] madmesi commented on #2042
Hey everyone, thanks indeed for your help, cause I was hopeless. I followed the same workaround, but in my case, I have 3 different nodes, which two of them have the interface name of "eth0", but my worker node's interface name is "enp3s0f0".
in the calico.yaml file, I added the line
[code]
but still no result.
I tried the regex as mentioned [here](https://github.com/projectcalico/calico/issues/25

[2020-02-16 05:57] wangjianwen opened #3251 "Does annotation "cni.projectcalico.org/ipAddrs" not support multiple IP addresses?"
[code]
As calico's doccument describing, annotation "cni.projectcalico.org/ipAddrs" suport a list of IPv4 and/or IPv6 addresses.   Does this mean I can config annotation "cni.projectcalico.org/ipAddrs" as this:

[code]

But I write this deployment

[code]

[code]
## Expected Behavior
Two pods will be created successfully. And the pod nginx-deployment-78fffc4b8c-g6clh is assigned ip 10.20.126.1 or

[2020-02-18 00:39] svallala opened #3254 "IPv6 pod connectivity across hosts in different subnets"
In IPv4, pod connectivity works seamlessly even though they are in different subnets because the packets are sent IPinIP.

In IPv6, how does this work? I have a cluster with hosts in different v6 subnets and the Pods can't connect to each other. I could not find much information about the traffic flow in v6 mode. Can someone please help me understand or point me to relevant documentation?

I am us

[2020-02-19 02:22] wangjianwen commented on #3251
After reading the source code of cni-plugin project, I just understanding that the annotation "cni.projectcalico.org/ipAddrs" is just one IPv4 and IPv6 address.

[2020-02-19 03:36] gitbeyond opened #3258 "calico in kube-proxy ipvs mode don't access kubernetes svc."
## Current Behavior

[code]

when i set kube-proxy use ipvs mode, i cannot access kubernetes svc on every node。
 It stays in SYN_RECV  state.

## Possible Solution

when I delete the following route entry, I can access it normally。
[code]

## Your Environment

* Calico version : 3.12.0 (3.11.1)
* Orchestrator version (e.g. kubernetes, mesos, rkt):  kubernetes-v1.16.5(v1.15.8, v1.14.10)
* Operating

[2020-02-19 11:01] benceszikora opened #3259 "Packets to external IP marked as martian on a node that is running the service"
I have a service with `externalTrafficPolicy: Local` and an `externalIP` defined. I am trying to do a simple http request to the external IP of the service.

## Expected Behavior
The external IP of the service is reachable.

## Current Behavior
Trying to query the external IP of a service hangs if the query is from a node that runs a pod that belongs to the service.
I added tracing in iptables for

[2020-02-19 18:13] caseydavenport commented on #3043
Any updates on this one?

Also as @fasaxc pointed out, v3.8 is a bit long in the tooth now. Have you tried reproducing on a newer version of Calico?

[2020-02-19 18:13] #3101 closed

[2020-02-19 21:40] Flybro opened #3262 "ig"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operating System and version:
* Link to your project (optional):

[2020-02-19 22:15] Flybro commented on #3262
Sorry, that was wrong keyboard.

[2020-02-19 22:15] #3262 closed

[2020-02-20 09:30] tsutsarin commented on #2999
Any update on this?
I have tried both `NodePort` and `LoadBalancer` with `externalTrafficPolicy: Local` and my traffic is SNAted regardless.
I'm using `kube-proxy` in `ipvs` mode with default `clusterCIDR` config. I have also tried to remove `clusterCIDR` setting completely, but then traffic was dropped somehow half of times. It was `Service` with two replicas behind.

[2020-02-20 22:56] #3251 closed

[2020-02-20 23:03] caseydavenport commented on #2392
@neiljerram I am not sure I've followed entirely - do we already set a limit on LOG rules today?

Agree a limit on non-LOG rules doesn't make sense - but it might be sensible to support a configurable / optional ratelimit on LOG rules?

[2020-02-20 23:04] #3134 closed

[2020-02-20 23:08] caseydavenport commented on #1055
@hakman thanks for poking this one. There hasn't been much activity in this area. I think it makes sense to fix, but I don't currently have a timeline / priority for it.

[2020-02-20 23:13] caseydavenport commented on #3108
It's not obvious to me what is the error being described here - could you provide some more information about what the symptoms are?

[2020-02-20 23:14] caseydavenport commented on #3163
@ehsanrocket you can configure the IP address that Calico uses through the IP_AUTODETECTION_METHOD option.

See here for more information: https://docs.projectcalico.org/networking/node#understanding-caliconode-ip-autodetection-logic

[2020-02-20 23:14] #3163 closed

[2020-02-20 23:16] caseydavenport commented on #3243
Sounds like this could be an ARP issue or similar. Do your hosts have a default route on them? Without one, that might cause pod ARP requests to fail.

[2020-02-20 23:19] caseydavenport commented on #3086
I can imagine making this a configuration option on the `Node` object or the `BGPConfiguration` object, and then plumbing that through into the BIRD configuration. Seems like a reasonably straightforward implementation, if anyone is down to give it a try!

[2020-02-20 23:22] caseydavenport commented on #3246
I would expect `/32` routes to exist for IPs borrowed on node 2, which would then take precedence over the blackhole route.

@azalio can you confirm whether or not you have /32 routes on node1 for the addresses borrowed by node2?

[2020-02-20 23:27] caseydavenport commented on #3258
Interesting. I'm not sure where that route comes from - I don't think it's something that Calico manages. @song-jiang do you know?

[2020-02-21 04:29] juliohm1978 opened #3269 "[Kubernetes] Route management for Pod IPs causes internal cluster packets to leak to the external network"
We're running a standard Kubernetes cluster installed using Kubespray, recently upgraded to k8s 1.17.3 and using Calico 3.7.3 as network plugin.

Our firewall team noticed a strange behavior, and asked us for explanations as to why packets from inside the k8s cluster are reaching the firewall that connects our cluster to the other corporate networks.

Given the nature of how k8s and calico work, I

[2020-02-21 09:25] fasaxc opened #3270 "Host won't respond to workload ARPs if host has no default route"
For historic reasons (OpenStack) we use proxy ARP to get the host to respond to ARPs for all workloads.  However, a Linux node with proxy ARP turned on will only respond to ARPs for IPs to which is has some route.  This means it doesn't work on air-gapped networks with no default route.

## Expected Behavior

Host should respond to ARPs even if it has no non-Calico routes configured.

## Current B

[2020-02-21 09:49] azalio commented on #3246
@caseydavenport
I can't confirm it now because I can't a possibility to break the production cluster again, but in two-four weeks I will set up a new cluster and will try to reproduce it.

[2020-02-21 10:31] neiljerram commented on #2392
@caseydavenport No, we don't already have a limit for LOG rules.  But I don't think the case has been made even for LOG rules.  We need more detail behind the original report where it says:

If we can't get that, I think we should close this issue.

[2020-02-21 11:42] song-jiang commented on #3258
Calico won't program routes to `kube-ipvs0` interface. This route got `proto kernel` so it could be auto generated by kernel.

AFAIU, for proto kernel, it is a route added automatically when you assign an address to an interface which is not /32. However, kube-proxy should not program any non /32 routes.

@gitbeyond Could you show us the log of `ip a`?  Do you know if there is any other process on

[2020-02-21 14:26] weizhouBlue opened #3271 "vxlan interface always down , cause calico-node failed to add route for pods on other node"
calico version: 3.11.2
k8s version: 1.17

I have a k8s cluster with 3 nodes  , which uses calico CNI .

2 calico  ippool is set up , both of them use vxvlan mode
[code]

the strange thing happened ,  the vxlan.calico interface on a node always stay down , and I tried to set it up , but after about 3seconds , this tunnel interface goes down again . That make calico-node failed to add route for othe

[2020-02-21 17:00] natieitan commented on #2392
@neiljerram For me to provide the logs of that issue I need to reproduce it, which isn't possible as these clusters hold our services.
IPtables write a lot of logs to /var/log/messages while trying to do so (if the load is high on that log rule) the kernel shut down the IPtables process on the K8S node which causes Calico-node to crush

[2020-02-22 02:36] gitbeyond commented on #3258
Thank you for your reply. I recently found that this problem was caused by some other software. After stopping those software, it returned to normal. Thanks twice. It's my own fault.

[2020-02-22 02:36] #3258 closed

[2020-02-22 19:50] ehsanrocket commented on #3163
thank you @caseydavenport

[2020-02-22 20:01] ehsanrocket commented on #3163
As I understand  we can also run
```kubectl edit node <NodeName> ```
and then change the ```projectcalico.org/IPv4Address: ``` section

[2020-02-23 11:56] papanito opened #3274 "DNS resolution from pods does not work: `Can't find xxxxx.xxx: No answer`"
Dns resolution does not properly work. If I do a `nslookup` from within a pod I get an `Can't find xxxxx.xxx: No answer`

[code]
nslookup from the k8s node itself is fine

[code]

## Expected Behavior

I would expect that the dns resolution just works and I get a proper response

## Current Behavior

As mentioned above I get a error `Can't find xxxxx: No answer`

[code]

## Possible Solution

N/A

[2020-02-24 01:24] HelenaZheng commented on #3108
@rafaelvanoni  the connection failed error caused after node came back up. I have already close the service docker,calico,ospf,zebra,kubelet in /etc/rc.local. If I do not start the services in /etc/rc/local after the node starting up, the error can not come. But one node down, need added in cluster finally.

[2020-02-24 01:30] wangjianwen commented on #3251
I have already solved this problem by using annotation "cni.projectcalico.org/ipv4pools" related the new ip pool（not the default pool）. My operation steps is as following:

[code]

[2020-02-24 01:32] wangjianwen commented on #3251
I have already solved this problem by using annotation "cni.projectcalico.org/ipv4pools" related the new ip pool（not the default pool）. My operation steps is as following:

[code]

[2020-02-24 01:39] HelenaZheng commented on #3108
@caseydavenport the front appliaction error 502 not found the hosts

[2020-02-24 09:42] fasaxc commented on #3274
What's you Calico version?  v3.12 has autodetect for iptables mode, which could be useful if you're on a system that uses nft mode.

Do you have any network policy applied?  Once you have some policy, you get default drop so DNS can get dropped by accident just by creating a policy that allows some other traffic.  (That's the behaviour defined by the k8s network policy API so it's what we follow.)

[2020-02-24 14:21] duylong opened #3275 "FELIX_NATOUTGOINGADDRESS and IPv6"
Hi,

I have a problem when I'm trying to configure Calico in order to use FELIX_NATOUTGOINGADDRESS.

I'm in a dualstack IPv4/IPv6 with Kubernetes.  When I use this configuration in my calico.yaml deployment:
[code]
... I get this error:

[code]
How to configure for FELIX_NATOUTGOINGADDRESS in IPv6 mode ?

[2020-02-24 22:06] spikecurtis commented on #3275
@duylong there is an issue with this config option in dual stack mode. We don't have a way to specify both an IPv4 address and an IPv6 address.  What's happening is that `status.hostIP` is being listed as an IPv4 address, which ip6tables rightly rejects.

As a workaround, you could remove this config option entirely and Calico should default to using the address of the interface the packet is forw

[2020-02-24 22:30] spikecurtis commented on #3259
Hey, a couple questions for you: what is 7.129.245.6 in your network?

You are trying to reach 7.129.24.29, but it appears from your logs that this is getting DNAT'ed to 7.129.245.6.  However, you don't have a route to 7.129.245.6 via any `cali` interface, so it doesn't appear to be a pod running the service locally.

[2020-02-24 22:46] spikecurtis commented on #3269
Can you tell me whether you are using an overlay encapsulation like VXLAN or IP in IP? I believe kubespray installs IP in IP as default, but would be helpful to know whether you've changed this.

It would also be helpful to know if are using Calico IPAM, or some other IPAM plugin.

In general, I think your analysis is correct, and this is just related to the fact that routing doesn't instantaneous

[2020-02-24 23:45] sheepbrew commented on #3270
We ran into this issue in our deployment.

Our setup involves installing on bare metal servers that do routing on the host. These servers then connect to ToR (top of rack) switches via BGP. By default, most servers connect to a VRF that has only private routes (RFC1918 and RFC6598), and subsequently only receive these routes.  Servers that need to communicate with the internet connect to another V

[2020-02-25 09:29] benceszikora commented on #3259
@spikecurtis Sorry I have mixed things up while preparing this report. `7.129.245.6` is the `externalIP` of the service. `7.129.24.29` is the `clusterIP`, I was also testing with that, that's why I pasted the wrong this. Apologies for the confusion. I have now updated the issue to reflect that.

[2020-02-25 09:39] fasaxc commented on #3270
Fixed the comment, thanks.

[2020-02-25 18:57] papanito commented on #3274
I am using
[code]
for now, I use `iptables` so autodetection is not necessary. However, good to know!

[2020-02-26 10:13] rochaporto commented on #717
Will this be it? https://github.com/projectcalico/calico/tree/master/_includes/charts/calico

[2020-02-26 14:46] ehsanrocket commented on #3142
@tmjd Our platrform is OpenStack
I have said that it is BareMetal . sorry for wrong information.

with no firewall rules:

ping From Node A tunl0  => Node B tunl0  => no ping
at the same time
ping From Node B tunl0 => Node A tunl0 => ping works at the both ends

so after adding a new node to cluster, for sending the traffic to the pods of the new node I should do the pings so that the nodes pod be

[2020-02-27 19:52] Flybro opened #3288 "calico-kube-controllers always stays in ContainerCreating state"
I am installing a multi-node kubernetes cluster in-hard-way on 7 VMs (1 load balancer, 3 master, 3 workers) and everything seems to be working properly except caliko-kube-controllerr where pod stay in ContainerCreating state forever. What could be the reason?

## Expected Behavior

All pods running in watch kubectl get pods -A
## Current Behavior

**# kubectl get pods -A**
[code]
**# kubectl -n ku

[2020-02-28 10:20] duylong commented on #3275
I have several interfaces on my server in different VLANs. Without filtering and with the MASQUERADE mode by default, we give containers full access to the different routes, I wanted to avoid that. The idea of a single IP output does not suit me very much. According to you, is it possible to have a MASQUERADE according to the IP of the service?

[2020-02-28 13:07] juliohm1978 commented on #3269
We are using whatever defaults Kubespray applied for Calico. So yes, IP in IP and calico's IPAM.

This is what a routing table in a k8s node typically looks like for us.

![image](https://user-images.githubusercontent.com/4145456/75550755-54b03780-5a11-11ea-9cd5-eeb5bbbf6772.png)

So, when one of those 10.233.x.x routes gets removed, packets that happen to be in transit before new routes to new po

[2020-02-28 13:07] #3269 closed

[2020-02-28 15:21] tmjd commented on #3288
Are you running kube-proxy? I ask because you need something to configure routing to the kubernetes service that Calico components are depending on.
A prerequisite of calico of calico is being able to access the kubernets API server by accessing it's service address from each of your hosts. Can you do this?

[2020-02-28 15:49] Flybro commented on #3288
All nodes are using external LB (HAproxy) and at least all of them are able to download images from outside. Executing following command from the node where calico-kube-controller supposed to run seems to be OK.

**curl -k https://is-lb:6443/version**
[code]

[2020-02-29 04:39] QiusHosens opened #3294 "Do calico support intranet penetration?"
Do calico support intranet penetration? like ngrok
thanks !

[2020-03-02 21:13] rafaelvanoni commented on #3288
@Flybro We'd still like to know if the kubernetes apiserver is reachable by its service IP. The calico CNI plugin needs to use that and it seems that's failing (from the first err message in your description).

[2020-03-02 21:20] rafaelvanoni commented on #3294
@QiusHosens We haven't test ngrok with Calico but it should work as long as the right network policies are in place... is there something in particular that you're curious/concerned about?

[2020-03-02 21:26] #3133 closed

[2020-03-02 21:27] rafaelvanoni commented on #3133
Closing due to inactivity, please let us know if this is still a problem.

[2020-03-02 21:29] rafaelvanoni commented on #3187
@mrrandrade Could you give us an update on this one? Thanks

[2020-03-02 21:43] tmjd commented on #3274
Can you verify on your hosts that iptables-legacy is being used? Just setting the alternatives to use iptables-legacy does not immediately switch the iptables backend used on the system. You'd probably at least need to reboot your nodes to pickup that change fully.
You should also check (after reboot) that there are not rules being added to the iptables nft backend by any components.

[2020-03-02 21:57] spikecurtis commented on #3259
This is sounding like a kube-proxy issue---what kube-proxy mode are you running? (e.g. iptables, ipvs, etc.)

[2020-03-02 22:02] spikecurtis commented on #3275
If I understand correctly, you are attempting to use the choice of source IP in NAT as a way to limit which networks pods can send traffic to.  A more robust solution would be to define a [GlobalNetworkSet](https://docs.projectcalico.org/reference/resources/globalnetworkset) that represents the networks pods are allowed to access and then use Calico policy on pod egress to limit them to just those

[2020-03-03 01:06] QiusHosens commented on #3294
@rafaelvanoni
thanks.
sorry, I didn't express my meaning clearly.
I mean can Calico support the function of intranet penetration， not whether ngrok will work with calico.
thanks !

[2020-03-03 09:18] fasaxc commented on #3043
I don't see any route flaps in the `ip monitor` trace; which was one guess for what could have been causing connectivity blips.  Are there other firewall tools running?  For example `firewalld`?

[2020-03-03 22:55] Flybro commented on #3288
I have to admin @rafaelvanoni that I don't have much experience with kubernetes, so can I ask you for some hints on how to be sure if CNI have access to apiserver?

[2020-03-04 00:19] emirot opened #3308 "[Question] GlobalNetworkPolicy vs NetworkPolicy"
Calico version: 3.9 on gke15.9

I have 3 applications, app-go, nginx-1, and nginx-2 all in default namespace.
My goal is to add an ingress rule to allow incoming traffic from app-go to nginx-2.

If I have this global rule:
[code]
Combined with:

[code]
I can't access anything from anywhere.

However with this "NamespaceNetworkPolicy" I have the desired behavior.

[code]
Why is the case ?

[2020-03-04 08:19] duylong commented on #3275
I wanted to avoid defining network rules on egress, I will have to do it I think.

Maybe we could add the source to the default pod route. We turn off MASQUERADE and we should have source IP, right? If so, I don't know who we could ask for this feature.

[2020-03-04 11:37] shahid-mushtaq opened #3309 "Readiness probe failed: calico/node is not ready: BIRD is not ready: BGP not established"
I have installed kubernetes on my three online servers. one is master and two are worker nodes.
everything was running fine until i had to restart my server machine. after reboot calico nodes status is as following

![Screenshot 2020-03-04 16 33 30](https://user-images.githubusercontent.com/48596702/75875712-09918c80-5e36-11ea-95cd-acd189627d5e.png)

description of one of the pod is as following

[2020-03-04 12:11] shahid-mushtaq commented on #3309
My Problem was that 179 port where calico is listening was blocked in firewall.

[2020-03-04 12:11] #3309 closed

[2020-03-04 16:21] tmjd commented on #3308
Since you have specified a lower order for your GlobalNetworkPolicy default-deny it will happen before your higher order allow-nginx policy. That means the traffic never makes it to the allow policy since it has already been denied by the GlobalNetworkPolicy default-deny.
I believe the default order when not specified is 1000, or maybe it is highest if not specified, I don't remember. Either way,

[2020-03-04 17:30] tmjd commented on #3142
I feel like this is probably a similar problem as the https://github.com/projectcalico/calico/issues/1996 one I linked above. Have you tried verifing that your OpenStack is really allowing IPIP traffic between hosts (before doing the pings)? Several years ago I was doing an OpenStack setup and IIRC, I actually had to do some configuration under the hood (on the routers themselves) to enable IPIP t

[2020-03-05 04:31] shaozi opened #3311 "Cannot reach coredns server after adding default bgpConfiguration in K8S"
After I added a default bgpConfiguration as in https://docs.projectcalico.org/reference/resources/bgpconfig

[code]

all pod in k8s cannot reach coredns anymore.

[code]

## Your Environment

* Calico version

Client Version:    v3.12.0
Git commit:        84a21b3b
Cluster Version:   v3.11.2
Cluster Type:      k8s,bgp,kdd

* Orchestrator version (e.g. kubernetes, mesos, rkt):

Kubernetes 1.17 with

[2020-03-05 06:59] papanito commented on #3274
After switching I've restarted the servers and I can confirm that legacy is running

[code]

Any hints how I do this best :-/

[2020-03-05 15:08] jayunit100 opened #3312 "Add alpha network policy tests to sempahore"
Now that we have upstreamed our new network policy validation API, I'd be happy to add this to the Calico test suites if possible.  Benefits here:

- Calico gets the all on all testing and validation that we're putting in upstream ahead of time.
- If any issues (we found a latency issue in other CNIs) calico might benefit from the additional coverage
- Better per pull test coverage of any latency

[2020-03-06 01:38] emirot commented on #3308
I don't understand why I can't access my pod from that ip:

[code]
What am I missing there ?

[2020-03-06 03:35] #3308 closed

[2020-03-06 09:26] iahmad-khan opened #3315 "Error in Pod Logs"
I am Getting this error in calico pod logs on kubernetes 1.15.

[code]

any idea what might be causing this.

[2020-03-06 13:11] redbaron opened #3316 "v3.13 misses release notes. EOM"

[2020-03-06 13:20] tonitech commented on #2561
I resolve my problem by using @MadAboutProgramming 's solution. Thanks a lot!

[2020-03-06 17:39] mcmcghee commented on #2904
For anyone else that comes across this, I found my issue was a combination of using ubuntu, kernel 5.3 and having secure boot enabled. Some newer kernels are enabling lockdown mode, which breaks BPF. You can read more [at this comment](https://github.com/iovisor/bcc/issues/2565#issuecomment-584476552) and this bug report: [Disabling bpf() syscall on kernel lockdown break apps when secure boot is o

[2020-03-06 18:31] spikecurtis commented on #3294
No, Calico doesn't have any built-in functionality that is similar to ngrok.  It does support all the usual Kubernetes ingress options.

[2020-03-06 18:31] #3294 closed

[2020-03-06 18:37] spikecurtis commented on #3275
When you say "source IP" do you mean the pod's source IP or the node's source IP?  You can tell Calico not to MASQUERADE by setting `natOutgoing` to false on the [IPPool](https://docs.projectcalico.org/reference/resources/ippool). This will cause the packets to have the pod's IP address as their source---obviously in order for this to work, the networks you are sending traffic to will need to know

[2020-03-06 19:21] spikecurtis commented on #2967
@ffilippopoulos can you run `ip link` on one of your nodes in a cluster where you are seeing this behavior?  We have a hypothesis that it has to do with the `kube-ipvs0` interface, but I'd like to confirm.  In particular, what is the state of that interface?  In my test cluster it is DOWN, but it looks like under some circumstances it could be set administratively up and be in state UNKNOWN.

[2020-03-06 22:52] cityofships commented on #2904
thanks for comment @mcmcghee, I'm hitting exactly this

[2020-03-06 23:13] #2967 closed

[2020-03-07 18:58] ehsanrocket commented on #3142
the problem was found
Allowing `IPIP protocol number (94)` in not enough . I should also allow `IPv4 Encapsulation number (4)` in firewall.
now every thinks works well

[2020-03-07 18:59] #3142 closed

[2020-03-08 23:24] kfox1111 commented on #1603
Any updates on this?

[2020-03-09 08:23] duylong commented on #3275
"source IP" = "source in the default route". For example:
[code]
I don't know if it works. I would look at BGP if it can solve my problem, but I would like to keep it simple for now (without additional layer).

[2020-03-09 10:32] ffilippopoulos commented on #2967
@spikecurtis you are correct, the state on `kube-ipvs0` is UNKNOWN:

[code]

do you think that implies faulty config on my kube proxy deployment? I see on their docs that:

but nothing about what configures the state there.

[2020-03-09 16:02] Jefle2005 opened #3334 "Random packet loss with Calico"
we're seeing random packet loss with calico, pod to pod on same host is good, pod to pod on different host and pod to external have such issue.

![image](https://user-images.githubusercontent.com/25873321/76232824-46be9b80-61f5-11ea-9fde-1d179c178d53.png)

as you see above pic of tcpdump, it's keep try to resend the packets, which took 13 seconds.

[2020-03-09 20:17] rafaelvanoni commented on #3315
@iahmad-khan Can you reach your apiserver using the kubernetes service address from your nodes? This could also be a problem with kube-proxy, can you check its logs for any errors?

[2020-03-09 20:19] rafaelvanoni commented on #3316
@redbaron The notes have been posted at https://docs.projectcalico.org/v3.13/release-notes/

[2020-03-09 20:19] #3316 closed

[2020-03-09 20:28] rafaelvanoni commented on #3334
@Jefle2005 We need a bit more information in order to help you diagnose this issue. Is host to external also having drops? What is your setup? What kind of investigation have you already done (have you excluded any possible causes)? Can you also please fill out the information in the bug template (k8s version, calico version, etc).

[2020-03-09 20:32] tmjd commented on #3311
Are the Calico pods healthy?
What are the CIDRs being used in your cluster?
If you remove the BGPConfiguration does everything go back to working?

[2020-03-09 20:47] tmjd commented on #3274
Hopefully you have `iptables-nft-save` and then you can do `sudo iptables-nft-save` to see the rules, if any.

Does pod-to-pod traffic work? You can bring up two test pods, preferably on different nodes and then check that one can reach the other. My thought being that if DNS isn't working perhaps the dns pod is not reachable for some reason.

You can run `nc -v -l 5555` in pod A (this will block

[2020-03-09 22:21] Jefle2005 commented on #3334
thanks for looking into. I acutally finally figured out the root cause which is just caused by conflict config of ip_forward on chef, one config is to disable and then the other will enable it. so during this period of disable and enable, packet can't go out of host.

[2020-03-10 06:38] wingerted commented on #2904
That's it ! @mcmcghee Thank you !

[2020-03-10 11:23] tung-huynh opened #3337 "Misconfiguration BGPConfiguration"
I am trying to follow the instruction at https://docs.projectcalico.org/networking/advertise-service-ips
But it is failed to create the BGPConfiguration
[code]

## Expected Behavior
BGPConfiguration is created just fine

## Current Behavior
A error message:
`Failed to execute command: error parsing document: field in document is not recognized or is in the wrong location: serviceExternalIPs`

## Y

[2020-03-10 12:00] caseydavenport commented on #3312
@jayunit100 could you provide a link to the tests you're proposing we run? I don't recall seeing the PR for the upstream testing changes.

[2020-03-10 19:52] lmm commented on #3337
Thanks for reporting this @tung-huynh. The code snippet itself is fine (after replacing the placeholder cidrs with valid cidrs). The bug is in the "copy button". If I paste the contents of my clipboard after clicking the copy button I get:
[code]

[2020-03-11 03:28] tung-huynh commented on #3337
Hi, actually i run exactly what i posted, i did not use the "copy button" but Ctrl+C instead to copy the code block.

[2020-03-11 16:16] jayunit100 commented on #3312
Heres an example of them running ... https://github.com/vmware-tanzu/antrea/pull/495/checks?check_run_id=500273143 .  We dont have them in upstream k8s yet .

[2020-03-11 17:58] spikecurtis commented on #3275
Ah, ok.  Turning off MASQUERADE will not help. If we aren't doing any NAT, then the source IP in the default route only applies to packets from the host itself (not pods, unless they are host-networked).

[2020-03-11 18:00] spikecurtis commented on #2967
@ffilippopoulos thanks for confirming.

[2020-03-11 19:02] shaozi commented on #3311
The Calico pods are healthy. CIDR I have tried 10.244.0.0/16 and in another setup 172.17.0.0/16.
It did not go back to working even after I removed the bgpconfiguration

[2020-03-11 19:04] jayunit100 commented on #3312
per conv w/ @caseydavenport today in the Calico community meeting might be worth waiting til upstream that way its all coming from core k8s, will keep pushing on the 1568 kep to see how soon we can get it approved.

[2020-03-12 11:47] caseydavenport opened #3346 "Migration from etcd to Kubernetes API datastore (via CRDs)"
We often hear from users that they would like to move off using a dedicated etcd for Calico and instead use the Kubernetes API directly. This makes installation and maintenance of the cluster simpler.

We should make a tool which allows this to happen, without downtime for the cluster. I think we could do this in a way similar to how the Calico v2 -> v3 migration was done. These are the instructio

[2020-03-12 11:59] caseydavenport commented on #1577
We actually already have a v3 API object for this: https://github.com/projectcalico/libcalico-go/blob/master/lib/apis/v3/ipam_config.go

However, it's not plumbed through the main go client, or accessible through calicoctl. I think to do this we'd need to:

- Review if that struct is appropriate to expose to users.
- Adjust the clientv3 package to allow modification of that object.
- Update calico

[2020-03-12 13:37] lechuk47 opened #3347 "GKE 1.14 - NetworkPolicies only working within the same node"
Hi all,

I'm testing the network policies in GKE 1.14 with a very basic configuration. I want to allow the comunicacions from namespace ns1 to namespace ns2. The rule seems to work only if I test it with pods in the same node.

## Expected Behavior
All pods from ns2 namespace can communicate with pods in ns1 namespace

## Current Behavior
Pods from ns2 namespace can comunicate with pods in ns1 nam

[2020-03-12 17:08] papanito commented on #3274
Yeah pod to pod connection works

**pod B**
[code]
**pod A**
[code]

Here a dump of the `iptables` rules
[iptable-rules.txt](https://github.com/projectcalico/calico/files/4325524/iptable-rules.txt)

[2020-03-13 14:57] tmjd commented on #3274
That's good. Have you checked that no rules exist in the `iptables-nft-save`? Just because there are rules in the legacy(that's what non-nft is considered) backend does not mean there are none in iptables nft.

Can you do a `dig @10.43.0.10 github` from a node, does that work? That is a kube service so it should work from a node also.

In your original post it looks like the dns pod is reachable b

[2020-03-13 18:25] papanito commented on #3274
`iptables-nft-save` does not work

[code]

Yes `dig` from a node works

[code]

I can connect to DNS pod

[code]

I can share my `rke`-conifg. As you can see I use an internal address which is a `vlan` which connects the nodes together.

[code]

[2020-03-13 18:42] tmjd commented on #3274
I don't believe the command I gave you to check connection to the dns pod works for UDP. I tried it myself and got that the connection succeeded when hitting IP addresses that didn't exist. Could you try that again but without the `-u`?

A few things that your tests indicate.
* The DNS service and DNS pod work correctly from the node. Meaning DNS is working as far as the DNS pod goes.
* It looks l

[2020-03-13 19:01] papanito commented on #3274
Yeah I can observe the same, however without `-u` works fine

[code]

Nope, I didn`t t:disappointed: I checked again and yes it works
[code]

**pod B "busybox"**

[code]

**pod A "busybox3***

[code]

[2020-03-13 21:55] grandich commented on #1008
I've just found that advertising services with externalTrafficPolicy=Cluster from Route Reflector nodes (not using BGP full-mesh) puts the Route Reflectors in the data path (Note: not using ECMP)

Is this considered?

Thank you

[2020-03-13 22:46] lmm commented on #3337
@tung-huynh could you please paste the output of your terminal with the command you ran and resulting output?

[2020-03-16 20:11] spikecurtis commented on #3347
If you remove the network policy, are you able to connect to pods on different nodes? If you can connect without the policy, then we'll want to explore policy troubleshooting in more detail. If you can't then it's likely that basic pod connectivity is broken, rather than policy.

Are all your `calico-node` pods up and ready? e.g. `kubectl get pods -n kube-system`

[2020-03-16 20:12] spikecurtis commented on #3259
@benceszikora any updates here? Is this still a problem for you?

[2020-03-17 00:31] caseydavenport commented on #1008
@grandich I don't think that's expected, but we very well could have a bug there. We've had a similar issue with RRs in the past.

Is your RR peered with an eBGP peer? I could imaging we would be replacing the next hop for eBGP peerings on RRs. Probably worth opening another issue for.

[2020-03-17 16:56] grandich opened #3365 "Allow selectively removing nodes from service advertisement datapath"
## Expected Behavior
k8s service address range should be routed to worker nodes

## Current Behavior
k8s service address range is routed through route reflector nodes

## Context
- BGP full-mesh disabled
- dedicated RR nodes against ToR talking i-BGP
- k8s service CIDR: 10.231.32.0/20
- pods CIDR: 10.231.48.0/20
- workers: 10.184.42.*
- ToR: 10.184.42.254

on RR, we can see blackhole route produci

[2020-03-17 17:07] grandich commented on #1008
thanks @caseydavenport opened #3365

[2020-03-18 00:01] spikecurtis commented on #2398
I think this is fixed as tracked by https://github.com/projectcalico/typha/issues/271

Plz reopen if anyone disagrees

[2020-03-18 00:01] #2398 closed

[2020-03-18 01:25] zlwfrank opened #3369 "How to configure ib0 in calico"
I tried to follow the Mellanox instruction @ https://github.com/Mellanox/k8s-rdma-sriov-dev-plugin to enable the InfiniBand HCA mode in Kubernetes. As explained in the instruction, "1. Use CNI plugin such as Contiv, Calico, Cluster. Make sure to configure ib0 or appropriate IPoIB netdevice as the parent netdevice for creating overlay/virtual netdevices." Could anyone please tell me how to configur

[2020-03-18 16:45] spikecurtis commented on #2999
@tsutsarin with clusterCIDR set, `kube-proxy` is designed to SNAT traffic from outside that range.

The fact that traffic is getting dropped when you remove that range is nominally a different issue. It sounds a lot like some of the traffic is being forwarded to a pod that is not local to the node, and being dropped because there was not SNAT.  Can you double check that you're only using services

[2020-03-18 16:47] spikecurtis commented on #2999
One other thing to point out to everyone on this issue is that Calico just shipped a tech preview of a new dataplane based on eBPF that replaces `kube-proxy` for services and always preserves the original source IP (no SNAT).  Try it out and let us know whether it works for you! https://docs.projectcalico.org/getting-started/kubernetes/trying-ebpf

[2020-03-18 17:35] spikecurtis commented on #2624
@devyx can you tell us a little bit about why you want to set the block size to /32 in the first place?

[2020-03-18 17:44] spikecurtis commented on #2992
@strangeman can you confirm whether your issue is also accompanied by a high CPU usage of BIRD?

One other question is, are you using the IPVS backend on Kube-proxy?  We found some issues there that are fixed in the latest release.

[2020-03-18 18:30] spikecurtis commented on #3187
Closing this out under the assumption that you all got to the bottom of your issue.  Please re-open if you still need help!

[2020-03-18 18:30] #3187 closed

[2020-03-18 22:32] neiljerram commented on #2999
Thanks @spikecurtis .

It feels like we've established now that this isn't a Calico bug, but kube-proxy working as designed. Perhaps a good kube-proxy enhancement would be for it to skip the MASQUERADE when it ends up forwarding to a pod on the same node? But that would obviously be something to raise with kube-proxy. (FYI the kube-proxy issue that introduced this is https://github.com/kubernetes/

[2020-03-18 22:32] #2999 closed

[2020-03-18 22:46] strangeman commented on #2992
@spikecurtis unfortunately, we're had switched from Calico, so I cannot check it. :(

[2020-03-18 23:18] spikecurtis commented on #2992
I'm going to close this out under the assumption that it's a dupe of the BIRD CPU issue.  Other watchers please chime in if you're seeing something different.

[2020-03-18 23:18] #2992 closed

[2020-03-19 07:46] mudverma opened #3371 "Pod to Pod bandwidth reservation"
Proposal/Question:

For Bandwidth sensitive telco and or video/audio streaming applications we need to block bandwidth between pods. This is specially needed in service chaining scenarios.

Currently calico supports local traffic shaping (bandwidth reservation) per pod. What we want is bandwidth reservation between pods.

Can this be achieved with current implementation? If not, would be nice to h

[2020-03-19 09:55] duylong commented on #3275
For my problem, I finally made a double attachment with Multus, that solves my problem with the source IP. Now I have 2 default routes, created by Calico and my network, it is not yet optimal.

[2020-03-19 10:00] duylong opened #3372 "Disable ip allocation by pods"
Hi,

Can we, with annotations on each pods, disable automatic IP allocation?

I have a few containers that work without problems in IPv6 and I would like to disable IPv4 on specific pods.

[2020-03-19 12:09] lwr20 commented on #3369
That sounds like a question for the Mellanox folks - Calico doesn't create or do anything with an ib0 interface as far as I know?

[2020-03-19 17:15] zlwfrank commented on #3369
So I notice that Calico will create an virtual eth0 for every pod. If I have two interfaces, e.g., eth0 and ib0, on my host, how would the virtual eth0 know which type of traffic will be routed to which interface? Thanks.

[2020-03-19 17:56] lwr20 commented on #3369
Again, a question for the Mellanox folks, I think.  Calico chooses which interface to route down according to the autodetection method specified by env vars.  See https://docs.projectcalico.org/reference/node/configuration#ip-autodetection-methods

Note that Calico generally doesn't work with any networking technology that bypasses the kernel networking stack, since it works by configuring routes

[2020-03-19 18:37] caseydavenport commented on #3312
I'm going to close this for now. I don't think there is any action to take on the Calico side. We pull in e2e tests from upstream fairly regularly so once merged upstream they will flow through.

[2020-03-19 18:37] #3312 closed

[2020-03-19 20:38] zlwfrank commented on #3369
@lwr20 Thanks for the clarification. I will read the doc you send to get a better understanding on the interface selection and I will ask the Mellanox for help.

[2020-03-19 20:38] #3369 closed

[2020-03-20 03:12] dimm0 opened #3374 "UBER Arachne not working on calico nodes with globalnetworkpolicy"
## Expected Behavior
With calico global policy in place according to docs, host processes should be able to send SYN TCP packets
## Current Behavior
I have a global policy set up to allow all outgoing traffic from nodes according to `Allow local host egress traffic` https://docs.projectcalico.org/security/kubernetes-node-ports. Trying to set up Uber Arachne (https://github.com/uber/arachne) for mo

[2020-03-20 03:13] davesargrad commented on #3145
@jelaryma I am having a similar problem. https://github.com/kubernetes/kubernetes/issues/88986

 I came to think it was a flannel issue, but you are also seeing this with calico.. Is it your thought that this is a k8s bug?

Also would i run the following command on every node of the cluster?

[2020-03-20 05:18] dimm0 commented on #3374
BTW not working on overlay network too... But with a different error, not sure what that means
`{"level":"error","ts":1584681454.333809,"msg":"host exists in resultStore, but not in remoteStore","PID":17539,"hostname":"testpoint-w9pm6","service_name":"arachne","host":"198.17.101.70","stacktrace":"github.com/uber/arachne/collector.resultStore.walkResults\n\t/Users/dimm/go/src/github.com/uber/arachn

[2020-03-20 14:12] mohammadasim commented on #3092
I know this issue has been closed but I am facing the same problem. I am running k8s cluster in AWS using kops.
`kops version 1.16.0
`
`kubectl version --short
Client Version: v1.15.7
Server Version: v1.16.7`
`calicoctl version
Client Version:    v3.13.1
Git commit:        eb796e31
Cluster Version:   v3.9.3
Cluster Type:      kops,bgp,kdd,k8s`
When I install a helm chart the pod takes forever to g

[2020-03-20 22:18] caseydavenport commented on #3145
There's a thread in SIG network about this: https://groups.google.com/forum/#!topic/kubernetes-sig-network/JxkTLd4M8WM

Summary so far seems to be that this is a kernel bug related to VXLAN offload where the checksum calculation is not properly offloaded.

[2020-03-21 02:17] Davidrjx commented on #2405
@VGerris very good, if any chance, will have an attempt.

[2020-03-21 06:37] huangyingting opened #3379 "GlobalNetworkPolicy Deny policy doesn't work"
GlobalNetworkPolicy Deny policy doesn't work, when apply below template
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: deny-lb-port-80
spec:
  applyOnForward: true
  preDNAT: true
  ingress:
  - action: Deny
    destination:
      nets:
      - 20.43.149.233/32
      ports:
      - 80
    protocol: TCP
    source: {}
## Expected Behavior

It should block port 80 on de

[2020-03-21 11:25] majst01 opened #5234 "large cpu usage on 3 node bare metal cluster"
Summary:

we have a 3 node cluster on bare metal 24CPU/96GB/2*25GB Etthernet/k8s 1.16.8
Every node has about 150-180 pods running, maxPods is set to 510.
calico runs in vxlan mode without bird, instead we have bgp to the host with frr, frr is configured to announce kernel routes.

calico node was configured to 800m cpu limit, but then health and liveliness probe failed and the pod was marked unhea

[2020-03-21 18:31] jicowan opened #3380 "no matches for kind "NetworkPolicy" in version "projectcalico.org/v3""
When creating a network policy with `apiVersion: projectcalico.org/v3` I get the following error:
[code]
If I change the value of `apiVersion` to `crd.projectcalico.org/v1` it works.

I applied the following manifest to install Calico on an EKS cluster at v1.15.
https://github.com/aws/amazon-vpc-cni-k8s/blob/master/config/v1.5/calico.yaml

[2020-03-21 18:33] jicowan commented on #3380
I see that you have to use calicoctl.  It's still not prominent enough IMO.

[2020-03-21 18:33] #3380 closed

[2020-03-21 22:52] acritelli opened #3381 "Unable to use deviceRouteSourceAddress in spec for FelixConfiguration"
I'm trying to specify the `deviceRouteSourceAddress` parameter in a `FelixConfiguration`. My understanding is that this can be used to indicate the interface that traffic from a pod on one host to a pod on another host should use (currently, my host is using wlan0 and I want it to use eth0).

Attempting to specify this parameter is resulting in an error:

[code]

## Expected Behavior

I would expe

[2020-03-22 05:23] Vitorspk commented on #2695
I know this ticket is closed but just to help people who find this post i solved the problem when i changed my pod-network-cidr to pod-network-cidr=10.244.0.0/16

[2020-03-22 05:24] Vitorspk commented on #3092
I know this ticket is closed but just to help people who find this post i solved the problem when i changed my pod-network-cidr to pod-network-cidr=10.244.0.0/16

[2020-03-22 13:26] jayunit100 commented on #3312
ok... but... do we run them regularly ? I thought we didnt (they were broken upstream for a while) ?  Might want to reopen later.

[2020-03-23 10:03] zhangxpp commented on #2818
can you try restart docker ? systemctl restart docker

[2020-03-23 16:56] song-jiang commented on #2405
@VGerris Could you work out which rule in FORWARD chain that dropped the packet with `sudo iptables-save -c` ? cc @Davidrjx

[2020-03-23 20:08] rafaelvanoni commented on #3381
@acritelli It looks like you're using an older version of calicoctl, we recommend using the same version as the install you're running.

[2020-03-23 20:09] #3381 closed

[2020-03-23 20:17] rafaelvanoni commented on #3379
@huangyingting Couple questions: (a) do you have a host endpoint and (b) where are you trying to block traffic from? Can you elaborate on your setup and what you're trying to achieve so we can help determine the best way of achieving it?

[2020-03-23 20:26] rafaelvanoni commented on #3372
@duylong We don't have a way to express that type of configuration, but perhaps you could setup some egress policies to block IPv4 on those specific pods.

[2020-03-23 20:28] spikecurtis commented on #3374
hi @dimm0

Can you paste the full set of Calico policies you have in place?

One curious thing about the error you are seeing is it says "failed to send out operation not permitted" --- this operation not permitted language is usually reserved for when the kernel blocks something at the socket layer, rather than when it drops packets (the calling application doesn't get any notification when packe

[2020-03-23 20:33] dimm0 commented on #3374
Hi!

The policies are here: https://gitlab.nautilus.optiputer.net/prp/calico/blob/master/policy.yaml (all other config is in the same repo).

Yes! I found that interesting too, I never saw something being actively prohibited, and not sure how it's possible. But maybe that's how it works for outgoing packets? I don't have much experience blocking those.

[2020-03-23 20:54] spikecurtis commented on #3374
One other comment is that Arachne's docs say it's using "raw sockets" and BPF filters. Calico's main mode of operation uses iptables (we have a eBPF dataplane in tech preview), so it's possible that Arachne attaches some of its workings in a different place than "normal" applications, and it's possible this accounts for at least some of the strange behavior.

[2020-03-23 20:57] spikecurtis commented on #3374
You might want to try the TCP connection just with `nc` ("src_address":"67.58.50.234","src_port":"31011","dst_address":"67.58.53.156","dst_port":"44111") and see whether that's blocked by Calico --- that would help rule out whether Arachne's nonstandard use of sockets is part of the issue.

[2020-03-23 20:58] dimm0 commented on #3374
Raw sockets - yes
BPF -

It tries to send TCP packets without a proper TCP handshake (to measure the response time better). So kernel can't filter those packets properly, since there's no actual TCP connection

I can test that, but I'm prettu sure it will work fine. I have no other issues with a bunch of other software

[2020-03-23 21:02] spikecurtis commented on #3374
Arachne is running on the host right, not in a pod in its own network namespace, right?

[2020-03-23 21:02] dimm0 commented on #3374
Yes, directly on the host

2nd step will be in a pod, but for now at least on the host

[2020-03-23 22:13] spikecurtis commented on #3374
Ironically, you might have better luck with it in a Pod, because all the fancy Calico stuff happens in the root network namespace and we generally don't have any stuff in the pod network namespace (except for when using Policy for Istio).

[2020-03-24 04:14] dimm0 commented on #3374
I need it working both ways eventually...
How can I help debugging?

[2020-03-24 04:34] huangyingting commented on #3379
@rafaelvanoni thank you for your prompt response, the environment is AKS cluster in Azure which is eanbled Calico policy, the AKS cluster only has 1 node (agent node)

Server version is below
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.7", GitCommit:"c83d931fb9bece427bc63a02349755e0f8696d3e", GitTreeState:"clean", BuildDate:"2020-01-31T20:09:49Z", GoVersion:"go1.12.12", C

[2020-03-24 09:01] libesz commented on #1577
Could you confirm whether in case of KDD, writing directly the IPAMConfig CR into the K8S API (before any allocation took place) is also a valid solution for this?

[2020-03-24 15:52] spikecurtis commented on #3379
@huangyingting how have you set up your ingress controller?  Is it a daemonset, or is it running as a deployment with a Kubernetes service fronting it?

Another way to put this question is, what does the IP 20.43.149.233 represent? Is it the public IP address of your node, or the public IP of some load-balancer outside the AKS cluster?

[2020-03-25 00:41] huangyingting commented on #3379
@spikecurtis , thanks for your follow-up. 20.43.149.233 is a load balancer which is backed by Nginx ingress controller. Refer to below. Nginx ingress controller runs as a deployment.
It has setting "externalTrafficPolicy: Cluster", also I changed to Local, it won't work as well. As preDNAT: true, so I feel it doesnt' matter.

kubectl get service -n=dev
NAME                            TYPE

[2020-03-25 02:25] lut777 opened #3387 "GlobalNetworkPolicy/NetworkPolicy to deny traffic across k8s clusters does not work as expected."
## Your Environment
Calico version:
Client Version:    v3.13.0
Git commit:        eb796e31
Cluster Version:   v3.13.1
Cluster Type:      k8s,bgp,kubeadm,kdd

k8s version:
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", GitCommit:"8d8aa39598534325ad77120c120a22b3a990b5ea", GitTreeState:"clean", BuildDate:"2020-03-12T21:03:42Z", GoVersion:"go1.13.8", Compiler:"gc", Platform

[2020-03-25 13:00] MarcusFloeser opened #3388 "Can't ping any ip address in hosts network from pod"
I installed kubernetes cluster with calico network in my private network.
All pods are running after install, but I cannot ping out of a pod to any host ip in my network.

Host ip config: 10.23.1.111/17, gateway 10.23.0.1, DNS server 10.23.0.87
Calico CIDR=172.20.0.0/16

Routing on host:
![image](https://user-images.githubusercontent.com/62652377/77539146-2ce1b180-6ea1-11ea-86cf-a0f847eba527.png)

[2020-03-25 14:13] duylong commented on #3372
Some applications when they detect an ipv4 interface use it in priority. An Egress rule will not solve the problem.

[2020-03-25 16:17] spikecurtis commented on #3379
@huangyingting I don't think a GlobalNetworkPolicy selecting the external IP is the right solution for your problem.  The IP address 20.43.149.233 is for a load balancer outside of Kubernetes (presumably provided by Azure in your case).  Traffic for that address hits the load balancer, and then gets its address translated to something in your cluster---either a node address or possibly the pod add

[2020-03-25 17:12] smijolovic opened #3389 "staticcheck issues on 3.13.1"
Staticcheck SCA results from Calico source code:

calicoctl/calicoctl.go:109:10: error strings should not be capitalized (ST1005)
calicoctl/commands/apply.go:87:10: error strings should not be capitalized (ST1005)
calicoctl/commands/apply.go:87:10: error strings should not end with punctuation or a newline (ST1005)
calicoctl/commands/apply.go:97:10: error strings should not be capitalized (ST1005)

[2020-03-25 18:32] mudverma commented on #3371
@rafaelvanoni  do you have anycomment on this. Looking for some opinion on this issue.

[2020-03-25 20:41] rafaelvanoni commented on #3389
@smijolovic Thanks for reporting these. Would you be able to put up a PR to fix those?

[2020-03-25 21:15] smijolovic commented on #3389
Rafael:

I submitted a new pull request for the results. If there is any other
additional information you need form me, please do not hesitate to reach
out.

Simon

On Wed, Mar 25, 2020 at 4:41 PM Rafael Vanoni <notifications@github.com>
wrote:

[2020-03-25 21:36] rafaelvanoni commented on #3389
Ah, I see. You don't need to submit a PR just for the results. I was wondering if you were interested in contributing the fixes for those lint issues. No worries if not tho.

[2020-03-25 21:53] smijolovic commented on #3389
I wouldn’t mind contributing to them...just need a primer on how I would do that.

Simon Mijolovic
President
Defense in Depth Consulting, LLC
+1 315 729 8852
simon.mijolovic@gmail.com

[2020-03-25 22:04] rafaelvanoni commented on #3389
Sure, please take a look at these two docs for some initial guidance
https://github.com/projectcalico/community
https://github.com/projectcalico/calico/blob/master/CONTRIBUTING_CODE.md

For this issue, you'll be working on the calicoctl repository
http://github.com/projectcalico/calicoctl/

Are you familiar with how forks, clones, branches work in open source projects?

[2020-03-25 22:05] smijolovic commented on #3389
I have familiarity with git on private repos.

Simon Mijolovic
President
Defense in Depth Consulting, LLC
+1 315 729 8852
simon.mijolovic@gmail.com

[2020-03-25 22:07] rafaelvanoni commented on #3389
Cool. The "Contributing Code" document should have most of the steps you'll need. Feel free to ping me here or anyone on the Calico slack for any help.

[2020-03-26 00:08] edganiukov opened #3393 "Different behaviour of network policies while connecting to a pod and to a service (aka cluster) IP"
Recently we discovered very odd behaviour when connectivity is blocked while connecting to a pod IP but allowed  while using a service (aka cluster) IP.

In our cluster we are defining policies in each namespace to allow egress connectivity within the cluster (we do not use Global policies as we decided to use native Kubernetes NetworkPolicies) and also ingress connectivity from the host network (

[2020-03-26 01:43] huangyingting commented on #3379
@spikecurtis , seriously? I have captured traffics on node, it shows 20.43.149.233 hit my node, this is by default, in any cloud, it uses direct server return (or floating IP) for load balancer IP address. Can you build a simple test environment and prove what you are saying is the truth?
Also can you help explain what's the appropriate scenario to use GlobalNetworkPolicy?

[2020-03-26 05:15] spikecurtis commented on #3379
@huangyingting maybe I'm mistaken about Azure cloud load balancers.  I know that in AWS the ELBs do address translation to node ports on Kubernetes nodes, and you wouldn't see the external IP at the Kubernetes node. It's certainly possible that Azure does something different, I was just assuming that they worked similarly.

If you're seeing traffic for 20.43.149.233 at the node, then a GlobalNetwo

[2020-03-26 05:39] spikecurtis commented on #3374
I think we're down into kernel spelunking, unfortunately.  Looks like Arachne opens a raw IP socket, then fails on the SendTo syscall. I'm not sure why or how iptables programming would affect permissions on that syscall.

[2020-03-26 07:07] xichengqian commented on #2191
OMG!
I just remeber it.
I justsolved it through your method.
Thank u very much!

[2020-03-26 10:02] MaagoFleesa commented on #3388
Hmm .. found out that after enabling firewall on host it is working. I can now ping to anywhere.
But is it really needed to have a enabled firewall ?

[2020-03-26 13:38] flarno11 commented on #3393
I believe this behavior is caused by kube-proxy, as it applies NAT to out of cluster traffic.

See `kube-proxy --cluster-cidr` (https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/):

If you don't need this feature, you can specify `kube-proxy --cluster-cidr 0.0.0.0/0`.

[2020-03-26 13:46] huangyingting commented on #3379
@spikecurtis , thank you, I don't have HostEndpoint defined orginally.

But now, even I use below configuration, I still could not make it work, can you help check what's the problem?

As you can see, the node IP is 10.32.32.4
D:\>kubectl get node -o wide
NAME                              STATUS   ROLES   AGE   VERSION   INTERNAL-IP   EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION      CONTAINE