[2021-03-02 22:15] ThePieMonster commented on #4336
Ended up switching over to a MicroK8S solution since this issue was not able to be resolved.

[2021-03-02 22:15] #4336 closed

[2021-03-03 02:12] Emma-uestc commented on #2597
I encountered this problem when I install calico using kubectl apply -f https://docs.projectcalico.org/v3.8/manifests/calico.yaml firsttime

[2021-03-03 02:15] r3pek opened #4439 "Huge performance penalty when using eBPF"
I'm running a 3 node cluster (1 master and 2 worker nodes) with all of them connected via a private network `192.168.10.0/24` with mtu set on `1450` (it's a VPS running on Hetzner). All 3 nodes have a public facing interface with a public IP address. all communication between is done via private lan.

The current test i'm doing is deploying a sftp-server on one worker node and upload a file to it

[2021-03-03 02:24] Emma-uestc commented on #2597
I encountered the same problem when I install calica 3.8 for the first time.the pod information as follow
`calico-kube-controllers-75d555c48-7rzlm   0/1     CrashLoopBackOff   2          85s
calico-node-pl28k                         1/1     Running            0          85s
calico-node-whc6v                         1/1     Running            0          85s
coredns-7ff77c879f-nctk4

[2021-03-03 02:25] Emma-uestc commented on #2597
I encountered the same problem when I install calica 3.8 for the first time.the pod information as follow
`
calico-kube-controllers-75d555c48-7rzlm   0/1     CrashLoopBackOff   2          85s
calico-node-pl28k                         1/1     Running            0          85s
calico-node-whc6v                         1/1     Running            0          85s
coredns-7ff77c879f-nctk4

[2021-03-03 02:26] tomastigera commented on #4439
Original conversation https://calicousers.slack.com/archives/CUKP5S64R/p1614646015032900

ok.. issue is when accessing the node that doesn't have the pod running. accessing directly the node that has the pod running yields "normal" speeds
￼￼
r3pek  1 hour ago
might be eBPF related after all.... just retested with good-old-iptables and now i'm getting normal (120-150mbps) results with it. switching

[2021-03-03 02:27] Emma-uestc commented on #2597
I encountered the same problem when I install calica 3.8 for the first time.the pod information as follow
`
calico-kube-controllers-75d555c48-7rzlm   0/1     CrashLoopBackOff   2          85s
calico-node-pl28k                         1/1     Running            0          85s
calico-node-whc6v                         1/1     Running            0          85s
coredns-7ff77c879f-nctk4

[2021-03-03 11:17] Vinson-cn commented on #2042
我遇到了同样的问题。(I had the same issue.)
以下是我的环境(Here is my environment)：
操作系统版本(OS version)：Ubuntu Server 20.04 LTS，
K8S版本(Kunernetes version)：1.20.4，
Calico 版本(Calico version)：https://docs.projectcalico.org/v3.11/manifests/calico.yaml

解决方法（Solutions）：
cat /etc/sysctl.d/99-kubernetes-cri.conf
net.bridge.bridge-nf-call-iptables  = 1
net.ipv4.ip_forward                 = 1
net.bridge.bridge-nf-call-ip6ta

[2021-03-04 11:18] #4373 closed

[2021-03-04 11:19] fasaxc commented on #4373
Merged your changes @mattfenwick ; after a few hours the pin updates should flow through and then you'll be able to test with calico/node:master

[2021-03-04 15:00] uablrek opened #4443 "Calico does not start in K8s built from the master branch"
When using K8s built from the master branch calico pods does not start;
[code]
This issue has been preceeded with some discussions on slack;
https://calicousers.slack.com/archives/C0BCA117T/p1614864068003000

Calico (and K8s) is configured for dual-stack [calico.yaml.txt](https://github.com/projectcalico/calico/files/6084508/calico.yaml.txt)

## Expected Behavior

Calico shall start even on K8s-ma

[2021-03-04 15:15] uablrek commented on #4443
Is it possible to define `spec.bpfLogLevel` in the configuration as a work-around?
[code]

[2021-03-04 16:16] jaimehrubiks opened #4446 "One node can't connect with the others"
I have a cluster of around 10 nodes, all of them working properly except one. I ask here because the issue is a bit estrange, as it looks like the issue is on the "good" nodes, as it seems the failing node is replying packets properly.

Let's say we have these nodes and these are their IPs. This is using the ipip module and the interfaces are main and tunl0 for simplification
Node A: A-main-IP, A-

[2021-03-04 16:49] caseydavenport commented on #4443
Hm, this was supposed to be fixed a long time ago: https://github.com/projectcalico/libcalico-go/pull/1277

It also doesn't seem to be marked required in the latest v3.18 manifests, at least: https://github.com/projectcalico/calico/blob/release-v3.18/_includes/charts/calico/crds/kdd/crd.projectcalico.org_felixconfigurations.yaml

@uablrek can you check the felixconfig on your cluster to see if it

[2021-03-04 16:58] perezjasonr commented on #4154
any update on this? were still using the above mentioned workaround to deal with this error

[2021-03-04 17:05] austintackaberry opened #4447 "Requests to kubernetes load balancer time out when externalTrafficPolicy is Cluster"
In AWS, Azure, and GCP, we consistently see timeouts when curling an external load balancer kubernetes service that has externalTrafficPolicy: Cluster. As soon as we change it to Local, we see no issues.

There is some context that makes this particularly interesting:
- This is in vxlan mode and eBPF is NOT enabled
- We are migrating from flannel, and we do not see this issue when we migrate in-pl

[2021-03-04 17:29] seh commented on #4154
This was fixed by projectcalico/felix#2592, released via projectcalico/felix#2604 in Calico version 3.17.

[2021-03-04 17:56] perezjasonr commented on #4154
thanks for the update, so will this issue be closed then?

[2021-03-04 17:57] seh commented on #4154
I think we should close it. I lack permission to do so, though.

[2021-03-04 18:01] uablrek commented on #4443
My calico config is included the description in this issue. Can it be seen in it?

And also, why does it work fine in `v1.21.0-beta.0` and not in `master`? What in K8s can make a difference?

[2021-03-04 18:06] uablrek commented on #4443
I do;
[code]
an modify for dual-stack when I upgrade. So compare my config [calico.yaml.txt](https://github.com/projectcalico/calico/files/6084508/calico.yaml.txt) to see exactly what I have altered.

[2021-03-04 18:16] uablrek commented on #4443
A difference is that go1.16 is used. An undefined string should be "" right? Not "null". (I am speculating)

[2021-03-04 18:40] uablrek commented on #4443
I did;
[code]
and built with go1.16 and the problem occured!

It seems to be gov1.16 related.

[2021-03-04 18:46] uablrek commented on #4443
Build the same checkout with go v1.15.7 and Calico works.

[2021-03-04 19:49] uablrek commented on #4443
More slack discussions;
https://kubernetes.slack.com/archives/C09R23FHP/p1614883890025600

Created an audit file [audit.txt](https://github.com/projectcalico/calico/files/6086256/audit.txt)

[2021-03-04 19:54] uablrek commented on #4443
For the record (for my own memory);

File /etc/audit.yaml;
[code]
Passed to kube-apiserver;
[code]

[2021-03-04 21:31] austintackaberry commented on #4447
The issue was that we weren't setting `--cluster-cidr` on kube-proxy, so kube-proxy wasn't setting the FORWARD iptable rules for requests to/from our cluster cidr. It worked on the flannel->calico in-place migration cluster because flannel daemon adds the rules when it is started.

Is this something that calico-node should do for the sake of being robust? Or is that something that should be left t

[2021-03-04 22:38] peppe77 commented on #3609
K8S: 1.18.0
Calico: 3.15

Recently migrated from weave to calico and started to notice intermittent network problems (connect timeouts). Spend sometime going through logs and noticed that some of the calico-nodes pods had quite few entries as shown below. Has this been fixed in 3.17? Interesting that some calico-nodes do not have any (despite having pods schedule to node) and others have it quite

[2021-03-05 00:55] tomastigera commented on #4439
The issue is that we drop some packets because they are too large to put them in the VXLAN tunnel and we reply back with with ICMP mtu too big That is correct so far :heavy_check_mark:

However, in this scenario, the node has 2 NICs. `eth0` used for external connectivity and `ens10` for connectivity among the k8s nodes. When receive the large packet on `eth0` we reply back, but with the "k8s nodes

[2021-03-05 01:16] tomastigera commented on #4439
This is the problem https://github.com/projectcalico/felix/blob/master/bpf-gpl/icmp.h#L112-L113

Iirc the meaning of `HOST_IP` changed to "IP of the node int he cluster" and thus it is not correct in a multi-NIC scenario.

[2021-03-05 04:02] liggitt commented on #4443
This was a bug in the openapi validation that was inert until a change in the values produced by go1.16 reflect.Zero() suddenly became comparable. Detailed triage in https://github.com/kubernetes/kubernetes/issues/99804 and fix in https://github.com/kubernetes/kubernetes/pull/99817. Only affects builds on go1.16 and will be fixed well before the next Kubernetes release.

[2021-03-05 06:27] uablrek commented on #4443
Closing with the comment above.

[2021-03-05 06:27] #4443 closed

[2021-03-05 09:49] fasaxc commented on #4443
Fixed upstream, the best kind of tricky bug! Thanks @uablrek @liggitt

[2021-03-05 09:55] fasaxc commented on #3609
@peppe77 Please try v3.18 and open a new bug if it continues.

[2021-03-05 09:55] #3609 closed

[2021-03-05 15:56] Cbkhare commented on #2818
hi @caseydavenport,

Is it fixed now?
I am also getting the same error, and my k8s server version is also 1.20.4.

[code]

[2021-03-05 17:25] peppe77 commented on #3609
@fasaxc thanks. we are actually on 3.17 not 3.15 as I had previously stated and problem happens. Will talk to the team and plan to go to 3.18. As this was closed, is there a fix implemented in 3.18 that takes care of this problem?

[2021-03-05 17:33] fasaxc commented on #3609
I don't think there was a further fix but please open a new issue with your logs; v3.17+ code is now quite different so lets have a new issue.

[2021-03-05 17:38] peppe77 commented on #3609
@fasaxc can you please let us know what logs we can collect? we are getting started with Calico (just migrated from weave to Calico) and if you could please give us some pointers on what we can collect when the problem happens - we will be more than happy to open new bug report. This seems to be happening intermittently and educated guess is that it is behind the growing reports of connectivity is

[2021-03-05 17:46] fasaxc commented on #3609
@peppe77 logs from the calico/node pod on a host showing the issue.  You mentioned you'd migrated?  Did you use the same IP range for  Calico and Weave?  I'm wondering if there is Weave state left over on the cluster that is interfering with Calico.

[2021-03-05 18:03] peppe77 commented on #3609
@fasaxc I do not think there was any weave leftovers as we removed weave ds and checked it was all gone before updating the cluster with calico. will monitor for next occurrence and then get initial set of logs from calico-node/pod in order to open a new report. Will let you know. appreciated the help

[2021-03-06 14:47] FerdinandvHagen opened #4455 "Netplan config for MetalLB overridden by dataplane updates"
## Context
We are setting up a kubernetes cluster on bare metal servers. The servers are connected on a VLAN and a public subnet is available for the VLAN for servers to dynamically retrieve public IPs. MetalLB manages and announces the assignment of those public IPs.

## Expected Behavior
IP addresses assigned and announced by MetalLB should be routed to the correct Service with type Loadbalancer

[2021-03-06 16:23] tanvp112 commented on #4325
@prgaly , may i ask does your dns works at the host (node) level under vxlan? for instance:

`nslookup kubernetes.default.svc.cluster.local 10.96.0.10`

Does the above lookup return the correct IP?

[2021-03-06 21:57] rodrigogansobarbieri commented on #4216
Pushed:

https://github.com/projectcalico/networking-calico/pull/48
https://github.com/projectcalico/packaging/pull/39

[2021-03-07 11:30] FerdinandvHagen commented on #4455
It seems that the issue was a configuration race condition with the ip tables. For the netplan rules a table vswitch with table number 1 was used which seems to have been overwritten by felix. Limiting felix' RouteTableRange to 2-250 (compared to default 1-250) solves the issue describe above.

Closing for now.

[2021-03-07 11:30] #4455 closed

[2021-03-07 18:52] sushilkjaiswar commented on #4420
Closing this issue since, I have resolved the issue by using calico reflector deployment which worked in my case.

[2021-03-07 18:52] #4420 closed

[2021-03-09 11:17] punkprzemo commented on #4362
Hello @caseydavenport
I am able to reproduce this behavior on my lab cluster

Test env:
[code]

How do I test:

I create Minio standalone server which is not in the Kubernetes cluster . At this  minio standalone server I have a S3  test bucket with 10K of objects.
Standalone server eth0 interface and Kubernetes cluster nodes eth0 interfaces are in the same 10.X.X.0/24 network subnet
I create minio

[2021-03-09 11:20] oldthreefeng commented on #3092
In my case. its `net.ipv4.conf.all.rp_filter` need to be set 0 . ubuntu 20 set default to 2.

[2021-03-09 13:54] fasaxc commented on #4411
Can you tell me more about how elastic search is deployed?  Host or pod networked?  Where are the connections with problems going from and to?  How do the connections reach the cluster; service VIP?

[2021-03-09 13:56] fasaxc commented on #3609
By leftovers, I mainly mean pods that were networked with weave.  It's important to recreate all pods after migrating CNI.

[2021-03-09 14:58] hongkunyoo opened #4456 "IPIP packet Drop from non-Calico host even I disable IPIP Mode"
## Expected Behavior
Question & Improvement

I am not an expert in networking. Please understand if my question is absurd.
I need to allow non-Calico traffic on my worker node.

## Current Behavior

It seems dropping IPIP packets from non-Calico hosts rule still works even I disable IPIP Mode.

[code]

I manually delete the "Drop IPIP rule" using `iptables` command but it keeps get re-created.

##

[2021-03-09 17:10] lmm commented on #4446
A related issue with Centos/RHEL and IPIP is here: https://github.com/projectcalico/calico/issues/4384

But the OS version is quite a bit newer than yours. Are you able to try this out with a newer Calico version? v3.7 is really old at this point.

[2021-03-09 17:11] #4382 closed

[2021-03-09 17:11] #4361 closed

[2021-03-09 17:16] mgleung commented on #4447
Hi @austintackaberry , thanks for bringing this up. I think our intention was make sure that everybody set the `--cluster-cidr` flag on kube-proxy. We also thought most installers should have set that kube-proxy flag for us so we didn't handle it, but as you've pointed out, it can lead to some strange misunderstandings when upgrading from flannel. We'll see what we can do to either add the FORWARD

[2021-03-09 17:17] #4151 closed

[2021-03-09 17:22] peppe77 commented on #3609
@fasaxc thats procedure we follow for the migration in all our clusters. trying to get next occurrence and provide some logs. thanks for the help.

[2021-03-09 17:30] caseydavenport commented on #4352
[code]

Your egress rules only deny traffic - there is nothing allowing traffic, and so everything else is going to get hit by the "default deny" behavior of the policy. You need to explicitly allow the traffic that you want to allow using a rule with `action: Allow`

[2021-03-09 17:30] #4352 closed

[2021-03-09 17:31] #4139 closed

[2021-03-09 17:32] lmm commented on #4425
@nicolaerosia have you seen this guide? https://kubernetes.io/docs/concepts/services-networking/dual-stack/#services

I wonder if you need to configure DualStack and then reconfigure the kubernetes service to be IPv6 only. I'm not familiar in this area at all though.

[2021-03-09 17:33] lmm commented on #4431
FYI @tomastigera

[2021-03-09 17:42] #2399 closed

[2021-03-09 17:49] lmm commented on #4434
Is that dind image alpine-based by any chance? Alpine has lots of history with DNS resolution issues (e.g. see this blog https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts)

The DNS issue with conntrack races can "disappear" with even slight timing differences (e.g. if you strace the nslookup, you might just see it working most of the time 😅 ). You're probably not seeing the DNS i

[2021-03-09 17:55] lmm commented on #4428
Thanks for the report @Cytrian , we should make those DEBUG I think

[2021-03-09 17:57] shashankv02 commented on #4241
@caseydavenport Yeah, the symptom is similar i.e., not able to connect to a daemonset created pod on a newly joined node but the underlying cause seems to be different.

[2021-03-10 00:13] tomastigera commented on #4431
@salanki  do you see any unexpected RSTs? Possibly related to https://github.com/projectcalico/calico/issues/4290

[2021-03-10 09:01] nicolaerosia commented on #4425
@lmm After understanding how everything works together, I discovered that I had multiple issues ranging from bad subnets, bad default gateway (I know understand why calico wants to know a default gateway), and finally I managed to have a working IPv4-only, IPv6-only, IPv4-IPv6 dual stack, IPv6-IPv4 dual stack.

[2021-03-10 09:01] #4425 closed

[2021-03-10 13:33] prgaly commented on #4325
If you mean does resolving a kubernetes domain works from the node/host - no, it's not supposed to work. Any cluster domains are only supposed to be resolvable from within the cluster, the host DNS doesn't normally have any idea on the CoreDNS setup inside the cluster.

[2021-03-10 15:55] massih10 commented on #2818
Same here. Context deadline exceeded.

[2021-03-10 16:40] mlushpenko commented on #4411
@fasaxc we've used the image that you've built `fasaxc/calico-node:ct-syns-2`. Elasticsearch is deployed as pod networking, infrastructure is on AWS. Yeah, service VIP is used to reach elasticsearch, no ingresses/loadbalancers, just internal kubernetes traffic. `v3.18` maybe would solve the issue but as we rely on kops fro deployments and it doesn't seem to allow specifying the version, I am not e

[2021-03-10 18:17] rodrigogansobarbieri commented on #4216
@neiljerram could PR 48 be backported to 3.17 or 3.18?

 I'd assume the stable code from those branches were never run against focal before during QA. For anyone wanting to use this in focal right now, they would need to have the fix in a stable release.

[2021-03-10 18:28] caseydavenport commented on #4216
I'm going to close this for now since the above PRs should fix this for new releases.

I'll leave the back-porting decision up to @lmm

[2021-03-10 18:28] #4216 closed

[2021-03-10 18:33] caseydavenport commented on #2818
I think we should open new issues if you're still seeing this. As I said in my comment above, there are a lot of potential causes for this error message - we fixed one that was due to an upstream code bug, so if you are running Calico v3.18.0+ I would expect the original issue to be resolved.

There are other reasons this might show up, though, some of them may be configuration issues. We can disc

[2021-03-10 18:40] caseydavenport commented on #3365
We added a way to do this in Calico v3.18: https://docs.projectcalico.org/archive/v3.18/networking/advertise-service-ips#exclude-certain-nodes-from-advertisement

[2021-03-10 18:40] #3365 closed

[2021-03-10 18:40] #4154 closed

[2021-03-10 18:49] #4371 closed

[2021-03-10 18:56] caseydavenport commented on #4380
Gotcha, thanks - that helps a lot.

The ingress policy should be implemented on the node's hosting system-c pods. Since it seems like this is only happening for cross-node traffic, it seems to suggest that there may be some sort of NAT or other networking issues between the nodes.

Could you check to see that the traffic is not being NAT'd on egress from the originating node, nor on ingress to the

[2021-03-10 19:02] caseydavenport commented on #4290
Sounds like this can be closed?

[2021-03-10 19:07] #4313 closed

[2021-03-10 19:10] caseydavenport commented on #4092
Going to close as not reproducible.

[2021-03-10 19:10] #4092 closed

[2021-03-10 20:50] emptywee commented on #4290
@caseydavenport yes, but would be nice to hear when it will be merged and released, at least approximately. We've been waiting for the fix for quite a while now :)

And thanks @fasaxc and @tomastigera very much for looking into this and fixing quickly.

[2021-03-10 20:58] #4428 closed

[2021-03-10 23:05] salanki commented on #4431
Do not see any RSTs. The connection just stalls after the SYN-ACK.

[2021-03-10 23:53] renan commented on #4290
Yeah, would be nice to keep it open until a fix is merged.

I believe projectcalico/felix#2675 is currently being worked on as a fix?

[2021-03-11 12:50] JimmyMa opened #4462 "The generated route is not using tunl0 if there are multiple next hops when ipipMode is Always"
In my cluster, the ipipMode is Always for IP Pool 198.19.0.0/16, as below:

[code]

When there are multiple next hops, below routes are generated, and they are not using tunl0

[code]

When there is only one next hop, below route is generated, and it's using tunl0:

[code]

## Expected Behavior
I hope it generates the routes with `tunl0` as below when there are multiple next hops

[code]

## Conte

[2021-03-11 14:12] sigxcpu76 opened #5262 "Random failures in bird"
After a series of various node restarts, sometimes bird fails to move peers to `up` state. sitting in `wait`.
I've noticed that there was a (closed?) ticket for this issue: https://github.com/projectcalico/calicoctl/issues/900

The behaviour described there is identical with what is described there. If a node is down and kept down, other nodes randomly fail to establish the mesh upon restart.

##

[2021-03-11 19:19] lmm commented on #4425
Glad to hear you got your clusters working @nicolaerosia !

[2021-03-12 08:44] hongkunyoo commented on #4456
@mgleung, Thank you for your help. It was very helpful. I disabled the IpInIpEnabled flag in Felix and confirmed that `iptables` **Drop non calico traffic** rule has been removed. If it wasn't for you I might had a hard problem finding out how to solve it. Unfortunately, there seems some other problems to connect to my LB related to my underline infrastructure. I will find out more on my own since

[2021-03-12 11:23] mcorbin commented on #4154
Hello,

I hit the same issue while migrating from Calico 3.17.2 to Calico 3.18.1.
I used the `calico-vxlan.yaml` file from the release and the calico-node pods were never ready:

[code]

The default `calico-vxlan.yaml` file for 3.18.1 contains:

[code]

I also had to remove this option in order to make calico-node start. So I think the issue is not solved yet.

[2021-03-12 18:24] treydock commented on #2818
Just wanted to add I was facing this issue for a while and stuck on Calico v3.15.x but have not seen this issue since upgrading to v3.18.1.  I am on Kubernetes 1.19.7.

[2021-03-12 23:30] mgleung commented on #4456
@hongkunyoo no problem. I'm going to close this issue for now, but if you have any other issues regarding this, feel free to reopen and we can take another look.

[2021-03-12 23:30] #4456 closed

[2021-03-13 00:06] pboushy opened #5261 "Add argument to list NetworkPolicies that were created/applied/deleted."
In the current `calicoctl apply` output, all that it lists is:

    Successfully applied # 'NetworkPolicy' resource(s)

If you pass multiple, but only a subset gets applied, it would be very helpful to know which ones were successfully applied.

## Expected Behavior
The following should work on any verb that supports doing an action on multiple items at once. e.g. create, apply, delete

`-l` = lis

[2021-03-15 07:46] ReyRen opened #4466 "calico-node alwasy get CrashLoopBackOff"
Some nodes with workload always get
"calico-node-j5qp2                          0/1     CrashLoopBackOff   931        4d1h   172.18.29.60     generalai-a100-0    <none>           <none>"
## Expected Behavior

Everything works.
## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. using kubespray v1.20.1 install kubernetes and calico version is v3.16.6
2. some trainning wo

[2021-03-15 10:14] neiljerram commented on #4103
@suiny Sorry for such a long hiatus.  Is this issue still live for you?

I think you need a semicolon at the end of `listen bgp port 11179`.

Recommend `birdcl configure`, instead of `sv hup bird`, as `birdcl` will tell you if the new configuration is valid.

When you use BGPConfiguration to set the listen port, can you use `cat /etc/calico/confd/config/bird.cfg` to show us the BIRD config that yo

[2021-03-15 11:00] ragunathan23 opened #4467 "https request are failing: SNAT is not happening for traffic leaving cluster"
When we try to do HTTPS requests from a pod, the requests are failing. When we did tcpdump, we found that the source IP is pod IP instead of host IP.
## Expected Behavior

the HTTPS request should not fail
## Current Behavior

the HTTPS request is failing
## Possible Solution

## Steps to Reproduce (for bugs)

1. Kubernetes cluster with 4 node setup provisioned using kubeadm
2. Calico is running a

[2021-03-15 13:52] bradbehle opened #4468 "VXLAN interface in permanently bad state on node and does not autorecover even with calico-node restart"
Pod traffic was not successfully flowing to a node. Specifically I was failing to hit a port a pod was listening on over the pod ip. It is a simple HTTP server that just returns a 200 when hit. I was originally seeing timeouts from a pod on multiple separate nodes trying to contact this pod IP.

[code]

I jumped on the node holding the pod and noticed that the vxlan overlay was permanently in a st

[2021-03-16 08:23] tanvp112 opened #4469 "GlobalNetworkPolicy/NetworkPolicy doesn't block connection on the node where pod is running"
Hi, I have a 1.20.4 cluster with 1 master & 2 worker nodes with calico (3.18) vxlan network. I deployed 5 nginx to kube-public like this:

[code]

As master1 is tainted, nginx is deployed to worker1 & worker2 as expected. There is a service (10.96.184.228) front for the nginx pods. I then executed a for loop 100 times accessing the service (10.96.184.228), pod (10.10.45.222) running on worker1 nod

[2021-03-16 13:55] juliantaylor opened #4471 "invalid route configured due to blockaffinity without ipamblock"
After a large deployment we had a short kubernetes apiserver overload (causing connection failures) which was followed by an invalid route configured by calico.
The invalid route had no corresponding ipamblock object but did have a blockaffinity object which did prevent the route from being removed. No pods where in the ip range of the route/blockaffinity.
After manually deleting the block the rou

[2021-03-16 15:13] juliantaylor commented on #4471
The dangling blockaffinity had following content:

[code]

[2021-03-16 15:31] danifr commented on #4095
Just for the record In y case I needed to follow: https://docs.projectcalico.org/maintenance/troubleshoot/troubleshooting#configure-networkmanager

--------------------------

**Configure NetworkManager**

Configure NetworkManager before attempting to use Calico networking.

NetworkManager manipulates the routing table for interfaces in the default network namespace where Calico veth pairs are anc

[2021-03-16 16:58] fasaxc commented on #4290
Yes, I just got back to that and added a test so I'm just waiting on review now.

[2021-03-16 17:41] #4290 closed

[2021-03-17 02:27] xiaobing0508 commented on #2905
@rami-abu MASQUERADE all -- 0.0.0.0/0 0.0.0.0/0
Can you tell me how to solve it

[2021-03-17 03:30] wangdwcsd commented on #3626
How to solve this problem? I have the same problem

[2021-03-17 12:57] zetaab opened #4474 "Mixed (calico and k8s) policies not applied correctly?"
We are trying to follow principles which are defined here https://docs.projectcalico.org/about/about-network-policy#mix-kubernetes-and-calico-network-policy which means that cluster operators could define globalnetworkpolicy using calicos resources. Then teams itself could use kubernetes networkpolicies.

I am testing test-case which is following:

[code]

## Expected Behavior

I expect that ips `

[2021-03-17 13:14] lwr20 commented on #4474
[code]

[2021-03-17 14:06] fasaxc commented on #4474
I don't think you have anything that will drop traffic to `104.21.192.7/32`.  You've got:

- Order 10: deny to 169.254.169.254/32
- Order 1000: allow to 0.0.0.0/0 except 104.21.192.7/32
- Order 5000: allow to 0.0.0.0/0

So, the 104.21.192.7 traffic will miss the first and second policies and fall through to the order 5000 policy where it'll get allowed.  "except" doesn't mean "drop", it means "don

[2021-03-17 14:07] zetaab commented on #4474
yeah you are right. So in this case it might be only way to do this using calicos own networkpolicy

[2021-03-18 01:22] teoyaomiqui commented on #2923
Was there any progress on this issue?

[2021-03-18 01:28] halfcrazy commented on #2923
If you are using calico kubernetes datastore. Calico crd in gv crd.projectcalico.org/v1
[code]

[code]

[2021-03-18 01:46] teoyaomiqui commented on #2923
@halfcrazy sorry, I did not follow this issue in detail.
Can I use  `kubectl apply -f calico-resources.yaml`  for example?
[code]
or calicoctl is needed to apply these resources?

[2021-03-18 01:59] halfcrazy commented on #2923
calicoctl and kubectl using different resource version in yaml, actually in kubernetes datastore they are the same resource.

You need to modified apiVersion to using kubectl.
[code]

[2021-03-18 04:08] smarterclayton opened #4476 "Calico OpenShift install instructions do not work (01-crd-installation.yaml is missing a CRD)"
## Expected Behavior

OpenShift CI runs the set of steps decribed in https://docs.projectcalico.org/getting-started/openshift/installation and inlines the curl statements for providing manifests to the installer:

[code]

We expect those to install Calico so we can run our e2e suite.

## Current Behavior

However, it looks like sometime after Feb 22nd this started failing: https://testgrid.k8s.io/

[2021-03-18 06:01] lmm commented on #4469
Hi @tanvp112 , what you're seeing is Calico allowing host processes to reach workloads/pods on that host. This is so health checks will work. More info about this on this page: https://docs.projectcalico.org/security/protect-hosts#default-behavior-of-external-traffic-tofrom-host

[2021-03-18 06:36] qvicksilver opened #4478 "Kubernetes probes fail with auto created host endpoints"
## Expected Behavior
Tried following this blog post: https://www.projectcalico.org/securing-kubernetes-nodes-with-calico-automatic-host-endpoints/ to test using auto created host endpoints.

Expected external traffic that was not explicitly allowed to be blocked and internal kubernetes traffic to be unaffected.

## Current Behavior
When applying the global network policies external traffic that is

[2021-03-18 09:12] tanvp112 commented on #4469
Ok, so this is expected behavior. I understood that default endpoint to host action can be set to prevent workload to local host connection, in the case where we don't use kubelet to do health check, is there a way to prevent the opposite like the behavior above?

[2021-03-18 10:34] trungphungduc opened #4479 "calico/node is not ready: BIRD is not ready: BGP not established with 1xx.2xx.3x.196 ...."
K8s cluster on Centos 7: 1 Master (.196) - 1 Slave (.197)
install as follow:
1. Install Containerd: https://kubernetes.io/docs/setup/production-environment/container-runtimes/
2. Install kubeadm: kubeadm init --cri-socket="/run/containerd/containerd.sock" --pod-network-cidr=192.168.0.0/16
3. Install calisto: https://docs.projectcalico.org/getting-started/kubernetes/quickstart

## Current Behavior

[2021-03-18 14:01] fasaxc commented on #4474
Well, you have two choices:

* Remove the Calico  5000 policy so you get default deny.  Add more kubernetes policies to allow all the traffic you want to allow.
* Add the 104.21.192.7/32 drop rule to your 5000 policy.

[2021-03-18 14:01] #4474 closed

[2021-03-18 16:28] tmjd commented on #4476
Thank you for bringing this to our attention. It has been fixed with #4480

[2021-03-18 16:28] #4476 closed

[2021-03-18 17:00] vanch commented on #4102
I have had same issue too on brand new cluster.
3 baremetal nodes with ubuntu 18.04.5, kernel  4.15.0-135-generic.
Used kubespray v2.15.0, k8s v1.19.7, calico: `quay.io/calico/cni:v3.16.5`
Commands were almost the same:
[code]

Here is `calico.conflist` from one of my node after rollout:
[code]

[2021-03-18 17:10] lwr20 commented on #4479
Is firewalld blocking BGP?  tcp port 179.

[2021-03-18 20:47] 0r4cl3 commented on #1019
@alwaysastudent have you ever managed to fix this? Looks like I am having the same issue. dnsPolicy: ClusterFirst works fine

[2021-03-19 02:11] trungphungduc commented on #4479
Thanks, i fixed the problem by adding PORT 179.
`firewall-cmd --zone=public --add-port=179/tcp --permanent`
then reload firewall to apply changes.

[2021-03-19 03:44] ReyRen commented on #4466
Is there any hints can give to me?  Or some ways to dig more logs to get error directly.
I'd very appreciate you'd help.
Thanks

[2021-03-19 10:08] fasaxc commented on #4270
Unfortunately, looks like our binary is stripped of debug information so I couldn't make much of the corefile.  @charnet1019 are you still hitting this?  Best option is probably to build a debug build of CNI plugin so we can get something from the corefile.

[2021-03-19 16:32] caseydavenport commented on #2923
@halfcrazy @teoyaomiqui This is ALMOST true, but unfortunately not. This is exactly what this issue is about - the `crd.projectcalico.org/v1` API is not suitable for use, and is subtly different than the `projectcalico.org/v3` API that calicoctl exposes. Please do not use the CRD API directly, as you will be bypassing important validation and defaulting, as well as other important logic as hinted

[2021-03-19 19:08] lmm commented on #4469
There isn't a way to do prevent that host to local pod traffic with Felix. If you're running Calico on Kubernetes then maybe you could use custom iptables rules to do what you want. Check out the Calico Users slack, it's possible someone has done something similar: https://slack.projectcalico.org/

[2021-03-19 23:53] sellers commented on #2699
In case someone else stumbles upon this thread, I have found this can happen when you rename your host after installing parts of K8s subsystem.  I have a calico node getting "assigned" to a node that is the name of my host before it was renamed ....while others are running on the node with the new name.  (Microk8s is my distro)

[2021-03-20 01:04] charnet1019 commented on #4270
I can not hitting this now after replace a CNI plugin from other machine. I will close this issue first. Thanks

[2021-03-20 01:04] #4270 closed

[2021-03-20 08:40] trungphungduc opened #4486 "Defend against DoS attacks"
Hello calico community,

I have something to ask about defending against DoS attacks.
https://docs.projectcalico.org/security/defend-dos-attack

I don't know the operation of it => pls someone tell me:
1. What is the operation of it .
2. How to configure effectively ?

The reason was because i got ddos so much. I try to find the way to prevent it.

I appreciate any suggestion to prevent ddos.

Tha

[2021-03-20 10:41] vd-rd opened #4487 "arm64 Calico install is failing"
On a hybrid Kubernetes 1.20.5 cluster (amd64/arm64)  calico is deployed using stock manifest provided for <50hosts.
The amd64 nodes are running with no errors, but the arm64 are not healthy

## Current Behavior

A snippet from calico-node seems to indicate the issue:

[code]

## Your Environment

I am using various arm64 embedded boards (OrangePi4, NanoPi3 etc) all of them are running Armbian (bas

[2021-03-20 11:03] vd-rd commented on #4487
An update on the issue. Downgrading to v1.17.3 seems to fix the problems with calico and deploy successfully on all the nodes.
As far as i can tell the main difference between Calico 1.17 and 1.18 is the change in the Alpine base version, as seen here https://github.com/projectcalico/node/blob/master/Dockerfile.arm64#L22 from 3.8 to 3.12

in Alpine 3.8 -> iptables v1.8.2 (legacy)
in Alpine 3.12 ->

[2021-03-21 07:07] ragunathan23 commented on #4467
This was due to misconfiguration in the iptables rules, hence closing this issue.

[2021-03-21 07:07] #4467 closed

[2021-03-22 11:50] fasaxc commented on #4411
Does `fasaxc/calico-node:ct-syns-2` fix the issue for you?  That change has merged now.

[2021-03-22 17:14] caseydavenport commented on #4469
I think it's a reasonable enhancement request to be more selecting in the traffic that we allow by default.

We only need to allow enough for health checks to pass - right now we do that by allowing from the host, but if we could further restrict (say, limit to only the kubelet) that would be a big improvement.

[2021-03-23 06:57] tanvp112 commented on #4469
yes, a truly zero trust network.

[2021-03-23 16:06] #4479 closed

[2021-03-23 16:08] bcreane commented on #4431
cc @fasaxc , @tomastigera - sounds like the initial question of RSTs has been answered. Any other hypotheses that we can ask @salanki to take a look for?

[2021-03-23 16:15] bcreane commented on #4466
Hey @ReyRen suggest you look at the output of `describe pod` to get some more info about the crash loop. Usually at the bottom there will be some details. Also please take a look at `log` output for an affected pod, for example:

[code]

[2021-03-23 16:18] caseydavenport commented on #4234
@zq-david-wang I'm re-reading this now and IIUC, I think what you're trying to do won't work.

But brid module refuse to create tunl route for ipip/valan mode.

Are you using IPIP or VXLAN encapsulation? They are both implemented differently and so the distinction is important. VXLAN doesn't rely on BIRD programming routing, whereas IPIP routing is implemented within BIRD and so _needs_ BGP to be

[2021-03-23 16:18] #4234 closed

[2021-03-23 16:22] #4486 closed

[2021-03-23 16:27] lmm commented on #4124
@kammous I'm going to close this issue for now since it's been a while but if you're still having issues please re-open or create another issue. Thanks!

[2021-03-23 16:27] #4124 closed

[2021-03-23 16:32] song-jiang commented on #4468
@bradbehle Thanks for the details! I can see from the log VXLAN tunnel device has been configured.
[code]
This implies the device is up https://github.com/projectcalico/felix/blob/release-v3.13/dataplane/linux/vxlan_mgr.go#L462

Not sure why it stuck in "DOWN" state.  If you simply bring the interface DOWN, Calico should bring it up again. I think it would be hard to debug unless you can repo exac

[2021-03-23 16:40] caseydavenport commented on #4471
@juliantaylor this looks to me like the apiserver connection failures happened in the middle of allocating a new block to that node. Allocation of a new block is a multi-step process, which looks something like this:

- Create a pending BlockAffinity
- Create the Block
- Confirm the BlockAffinity

It looks like step 1 happened, but the API server issues likely happened immediately after, preventin

[2021-03-23 16:41] lmm commented on #4256
Sorry for the late reply!

If we can get fixes into the v3.15 and v3.16 branches we could have fixed images in the next patch release in those streams.

[2021-03-23 16:42] song-jiang commented on #4333
I downloaded latest `calico.yaml` from Calico doc.
`curl -LO https://docs.projectcalico.org/manifests/flannel-migration/calico.yaml` There is no `-bird-ready` flag on calico-node daemonset.
[code]

[2021-03-23 17:06] caseydavenport commented on #4462
@JimmyMa interesting. I think this scenario is a bit outside the set of use-cases that Calico typically handles, but it might be workable.

If I understand correctly, you have two clusters with the same Service CIDR, and you want to advertise ECMP routes for that Service CIDR so that traffic to a service IP is split equally between the two clusters?

If I had to guess, I would say we probably have

[2021-03-23 17:34] mlushpenko commented on #4411
@fasaxc yes, it did, together with disabling wireguard.  So, now waiting for next kops releases that would include that version

[2021-03-23 17:56] fasaxc commented on #4411
Does it work if you re-enable wireguard?

[2021-03-23 18:04] fasaxc commented on #4431
@salanki Where are you running `hey`?  In a pod, on the host with Traefik?  On an external host?

[2021-03-23 18:05] salanki commented on #4431
External host, outside of the cluster.

[2021-03-23 18:17] fasaxc commented on #4431
Do you see the same with a super simple service, such as an `nginx` pod?

[2021-03-23 18:19] salanki commented on #4431
Let me run another test with Nginx. I have tested many different applications (Istio, Traefik) but all of them are written in Go. Would be interesting to try something written in C.

[2021-03-23 18:41] mlushpenko commented on #4411
I don't think so. That was my first step to try that image - didn't work. Then I disabled wire guard - less errors but didn't work still. Then I tried image again with disabled wire guard and errors went away

[2021-03-23 20:21] sfudeus commented on #4471
IIRC and from @juliantaylor 's description it was advertised via BGP (see `100.70.221.192/26 via xx.xx.199.27 dev tunl0 proto bird onlink`) in the routes of other nodes, and it was a local blackhole route on the affected node.
It did not cause routing issues, we observed that only in monitoring, since because of prior issues we monitor and compare the amount of configured routes and the amount of

[2021-03-23 21:35] caseydavenport commented on #4471
Sounds like we need to revisit and see why routes are being advertised for blockaffinities with `state: pending`. I don't think that is working as intended.

[2021-03-23 23:16] #4427 closed

[2021-03-24 01:29] ReyRen commented on #4466
@bcreane Very appreciate you'd help, however, I don't think this issue has been resolved. Please give me more hints, thanks again.

[code]

Actually, I have already upload error calico-node's log. But I really pleasue to upload again, which from recreate calico-node pod to error occur.
[calico-errnode.log](https://github.com/projectcalico/calico/files/6193704/calico-errnode.log)

Really hoping get

[2021-03-24 01:46] zq-david-wang commented on #4234
@caseydavenport  yes, I use IPIP mode for IPV4.
 Thanks for the suggestions.

[2021-03-24 02:22] kawamoto-taku-13 commented on #4380
Since I have only been working with Kubernetes for a short time, I did not know how to check.

I have built a Kubernetes cluster using kubeadm, and I have confirmed that the configMap of kube-proxy includes the clusterCIDR setting.

I'm sorry, but can you please tell me how to check the details?

[2021-03-24 04:44] ReyRen commented on #4466
btw, can you reopen this one, please?

[2021-03-24 10:00] neiljerram commented on #4462
@caseydavenport We have internal tracking for this at https://tigera.atlassian.net/browse/CNX-10379.  I'm afraid @JimmyMa won't be able to see that directly, but the summary is exactly as you say: we made some Calico-specific patches to BIRD to handle IP-IP routes, and unfortunately those patches don't work in the ECMP case.

[2021-03-24 18:33] haslersn commented on #4084
Is the fix contained in Calico v3.18.1? With Calico v3.18.1, I still get such errors in my kubelet Log:

[code]

Or will the error continue to be printed even after upgrading Calico from an earlier version?

[2021-03-25 04:18] JimmyMa commented on #4462
@caseydavenport @neiljerram thank you for the comments. I think this change https://github.com/projectcalico/confd/pull/379 enabled the ECMP in bird, but the generated routes in kernel are incorrect for ipipMode.

[2021-03-25 04:53] skykiseki commented on #2561
It worked for me. Thanks a lot

[2021-03-25 09:55] neiljerram commented on #4462
@JimmyMa Yes, that confd change enables BIRD to program ECMP routes into the kernel.  But we are still missing some support in the BIRD code.

[2021-03-25 10:21] neiljerram commented on #4462
@JimmyMa I've created https://github.com/projectcalico/bird/issues/90 (an issue in our BIRD fork repo) to publish everything that we know about why the ECMP + IP-IP combination does not work.  Please take a look and feel free to comment or to contribute towards possible solutions.

[2021-03-26 13:40] seaurching opened #4490 "ApiServer connect timeout between on worker and master with calico cni"
### kubernetes version
#### v1.20.5

### calico version
#### v3.18.1

### kubernetes-dashboard
#### v2.2.0

When deploy kubernetes-dashboard on worker node, it can't to startup and show CrashLoopBackOff status. And the logs is
[code]

And I set "nodeSelector" to master node, dashboard startup normally. Then deploy an pod on worker node to access the dashboard's api with `curl https://kubernetes-da

[2021-03-26 14:51] DanSibbernsen commented on #4288
Hi all, FWIW I'm also experiencing this same problem on Suse Enterprise Linux 15.2 (SLES 15.2). Thanks for digging into this, helps to know I can ignore this problem when trying to stand up canal.

[2021-03-26 18:05] ffilippopoulos commented on #3760
We are trying to have the same setup, use wireguard for all in cluster configuration and if wireguard is not running in a node we want the node to break and not send traffic (all our nodes are capable of wg, so for us it would be a matter of debugging why).
The only configuration that allowed us to "hack" such behaviour is to use `bird` as networking backend, but disable bgp `nodeToNodeMeshEnabled

[2021-03-26 19:08] jjschwarz opened #4491 "Calico Fails to Create IPv6 Route for Nodes"
Running Calico setup in dual stack mode via kudeadm and the documentation online I am able to provision pods which receive IPv4 and IPv6 addresses.  I can ping via IPv4 between the pods, however IPv6 is failing.  I noticed on the pods also can not be pinged via IPv6 from the node.  This seems identical to case https://github.com/projectcalico/calico/issues/2876 which was marked as resolved.  I fin

[2021-03-27 19:55] dseomn opened #4492 "Add support for WireGuard with IPv6"
https://docs.projectcalico.org/security/encrypt-cluster-pod-traffic#before-you-begin says:

It would be really nice if Calico supported WireGuard with IPv6, so I'm filing a feature request because I didn't see an existing one.

[2021-03-29 14:25] jbnjohnathan opened #4493 "NetworkPolicy with podSelector not working when hostNetwork: true?"
## Expected Behavior
Using the following code

[code]
I expect that traffic is allowed outbound from the prometheus pod towards the aws-node pod on prot 61678

## Current Behavior
The above code is not allowing the outbound traffic.
If I use the below instead it works. But this creates a rule that is too wide.
[code]

## Possible Solution
This issue is not for all pods, but seems to be for pods th

[2021-03-29 15:40] mojoa commented on #4426
May want to include client upgrade process as well?
``
kubectl exec -ti -n kube-system calicoctl -- calicoctl version
Client Version:    v3.16.4
Git commit:        51418082
Cluster Version:   v3.18.1
Cluster Type:      typha,kdd,k8s,operator,bgp,kubeadm
``

[2021-03-29 15:46] lwr20 commented on #4426
Just delete it and create a new one from the calicoctl install doc in the uplevel version.  Its not really an "upgrade", so much as "throw away the old one and install the new".

[2021-03-29 16:13] mojoa commented on #4426
Should this work?

<pre>
[ec2-user@k8y ~]$ kubectl exec -ti -n kube-system calicoctl -- calicoctl version
Client Version:    v3.16.4
Git commit:        51418082
Cluster Version:   v3.18.1
Cluster Type:      typha,kdd,k8s,operator,bgp,kubeadm
[ec2-user@k8y ~]$ kubectl get pod -n kube-system calicoctl
NAME        READY   STATUS    RESTARTS   AGE
calicoctl   1/1     Running   17         143d
[ec2-use

[2021-03-29 17:16] lwr20 commented on #4426
https://docs.projectcalico.org/manifests/calicoctl.yaml is the one to use when your cluster is using the kubernetes api as a datastore.
This is shown by the `Cluster Type: ...kdd,...` output from calicoctl version.

Yes, it would be a good idea for the docs to mention that.  Do you fancy raising a PR for that?

[2021-03-29 18:46] bjetal commented on #3795
I ran into the same issue.  It appears to me to be a problem because nodelocaldns does some unusual things with its network, in particular using a "link local" IP address instead of the normal Pod IP address.  This was actually causing two separate issues:

1. The DNS traffic is being blocked from other pods.
2. The container health check was being blocked and causing it to fail.

Logging of the d

[2021-03-30 02:17] Daose1997 opened #4496 "About Calico use in Non-cluster host"
When I have a k8s cluster, if  there has a non-cluster host, could I use calico-node in non-cluster host, let this host invoko pod in k8s cluster

Now,I have a k8s cluster use Calico,then I install a container of calico-node in a non-cluster host, and use the same etcd as save.But the non-cluster host can't invoke cluster pod IP.

[2021-03-30 02:45] aasraoui commented on #3938
what was the conclusion for this ? thanks!

[2021-03-30 14:08] jjschwarz commented on #4491
Apparently the issue is in the node itself, not Calico.  Closing this case and opening a new ticket against K8S itself.

[2021-03-30 14:08] #4491 closed

[2021-03-30 15:13] massih10 commented on #2597
same problem here. Fresh install of ubuntu 20.04, kubeadm init and kubectl apply -f https://docs.projectcalico.org/v3.8/manifests/calico.yaml

[2021-03-30 17:03] caseydavenport commented on #2923
Aiming for a tech-preview of this in Calico v3.19. Here's the WIP docs PR: https://github.com/projectcalico/calico/pull/4485

[2021-03-31 13:02] fasaxc commented on #3145
FTR Calico _does_ SNAT traffic from hosts to service VIPs that get load balanced to remote pods when in VXLAN (or IPIP mode).  We do that because the source IP selection algorithm chooses the source IP based on the the route that appears to apply to the service VIP.  The, after the source IP selection, the dest IP is changed by kube-proxy's DNAT.  The source IP is then "wrong"; it'll be the eth0 I

[2021-03-31 13:33] zetsub0u opened #4500 "Support for explicit REJECT action in policy rules"
Hi,

Quick question, I don't see a way to set the policy for the rules from DROP to REJECT (silently drop vs quick RST), is this accurate? If so, any reason why this isn't configurable and would it be acceptable PR?

Thanks.

[2021-03-31 20:05] brenix opened #4502 "Failure releasing IPs after recent upgrades"
We recently upgraded a couple of kubernetes clusters from Calico 3.17.3 to 3.18.1. We also swapped out our container runtime from docker(shim) to containerd shortly after.

After scaling up/down our node pools as well as general workload churn, we started seeing events in Kubernetes showing `failed to setup network for sandbox "....": failed to request 1 IPv4 addresses. IPAM allocated only 0`

Whe

[2021-03-31 23:59] alaytonoracle commented on #3530
@caseydavenport Casey, above you mentioned "If you're using the Calico CNI plugin, there is a workaround that bypasses the kubelet for writing the IP which make sure that policy is programmed fast. However, non-Calico CNI plugins (like the Amazon VPC plugin) don't have that logic, and so rely on the kubelet to program the IP into the API."

Could you please provide details on this workaround?  Tha

[2021-04-01 06:28] massih10 opened #4503 "Cluster Networking fails when joining Worker Nodes - BIRD is not ready: BGP not established"
Hi Everyone, I'm running Kubernetes on a fresh installation of Ubuntu 20.04 Virtual Machines. The Host System is a Debian XEN providing the VMs with static IP Addresses. I initialize my Cluster on the master node with IP 192.168.220.4 via

`sudo kubeadm init --apiserver-advertise-address=192.168.220.4 --pod-network-cidr=10.244.0.0/16`

and then I install calico, following the docs at [https://docs

[2021-04-01 23:04] khalid-davis opened #4505 "Support Calico using bidirectional tunnel"
Hello, everyone. Assume that two computers are in different LANs and one has a has a public IP address and the other does not. Is it possible to use a bidirectional tunnel (for example, ws/gRPC) to make the calico work properly and implement the communication between the containers on the two computers?

[2021-04-01 23:17] brenix commented on #4502
Dropping some more details here, but it seems that when running calico-kube-controllers 3.18.1, we see a panic, which I believe could be preventing it from cleaning up resources. Once downgrading to the 3.17.3, we no longer get the panic but do see warnings around non-existent nodes and eventually the IPs are released.

Below is the panic that we come across
[code]

[2021-04-01 23:42] lwr20 commented on #4502
@caseydavenport One for you, I think?

[2021-04-02 00:04] caseydavenport commented on #4502
Yeah, this certainly looks like my wheelhouse. I'll see what I can fine.

[2021-04-03 07:18] thanhlong9x opened #4506 "Advertise Kubernetes service IP addresses"
I am testing Advertise Kubernetes service IP addresses feature. I refer this doc: https://www.projectcalico.org/kubernetes-service-ip-route-advertisement/
But I don't get result as doc

## Expected Behaviors
service IP is routed over BGP protocol

## Current Behavior
all node BGP are established each other but service IP isn't routed over BGP protocol

## Steps to Reproduce (for bugs)

1. Create c

[2021-04-03 12:39] bjetal commented on #4478
The main issue here seems to be that automatically created host endpoints apply to all of the hosts interfaces, including the loopback interface.  The fact that they also apply to Calico's own interfaces might cause some weird behaviors in some edge cases.

I've been working around this by adding specific GlobalNetworkPolicies for the probe ports (e.g. 10257 and 10259 for kube-controller-manager a

[2021-04-03 14:48] bjetal commented on #3795
I realized as I Iooked further into Calico that this is a problem at least in part because the nodelocaldns pod runs with `hostNetwork: true`).  This prevents Calico from generating pod specific firewall rules for it.

[2021-04-03 14:48] bjetal commented on #4478
I should add this is only a problem for pods running in the host network (`hostNetwork: true`) like the kubernetes control plane pods and nodelocaldns (see https://github.com/projectcalico/calico/issues/3795)

[2021-04-05 16:23] caseydavenport commented on #4502
I believe this is the fix: https://github.com/projectcalico/kube-controllers/pull/669

[2021-04-05 16:43] ilmal commented on #4490
I'm getting the same err.

[2021-04-05 16:57] brenix commented on #4502
Thanks Casey! I have built and deployed this fix into one of our dev environments. So far I haven't seen any panics or issues after ~20m

I can't confirm if it solves the leaks though as I had to recover things by going back to the calico-kube-controllers 3.17.3 release to get things back in a working state. It does seem like the panic did lead up to IPs not being reclaimed.

[2021-04-05 17:39] tomerleib commented on #4291
I can confirm the same behavior is at my setup as well.
Current environment:

- RKE v1.2.4
- K8s 1.19
- Canal

Same networkpolicies are working in EKS but not in RKE:
[code]

Here as well, I'm not targeting pod labels but using the `namespaceSelector` which does not work for some reason.

[2021-04-05 18:12] diranged opened #4509 "DNS lookups from Nginx to CoreDNS in eBPF mode fail when the CoreDNS Pods move"
Slack Thread: https://calicousers.slack.com/archives/CPEPF833L/p1614095727031700

We discovered that when Nginx is doing DNS lookups, it uses the same source-port for all of its DNS queries. When operating in eBPF mode, Calico is doing the "service-to-ip" mapping the first time a connection is created, and then keeps that data for the duration of that particular connection. Because Nginx is using

[2021-04-05 18:30] tomastigera commented on #4509
The root cause seems to be the connect time load balancer. Setting `FELIX_BPFCONNECTTIMELOADBALANCINGENABLED` to `false` resolves the issue - but causes issues for host-networked pods as described in the conf option description.

We make the backend choice once at `conect()` time. If the backend disappears, even if we delete conntrack entries for the now missing backend, the socket does not pick u

[2021-04-05 19:40] bradbehle commented on #4468
@song-jiang Thanks for looking at this.  I don't know how to get the node in this state again, so yes, I agree it would be hard to troubleshoot exactly why this is happening.  I was just thinking that since calico-node can detect when this happens, and puts an error in the log like this:

[code]

that calico-node could be improved to instead fix the interface (maybe just bring it back up, or delet

[2021-04-06 09:01] lwr20 commented on #717
Helm chart bundles are now being added to the release artifacts.  e.g.
in https://github.com/projectcalico/calico/releases/tag/v3.18.1 the helm chart is `tigera-operator-v3.18.1-1.tgz`

[2021-04-06 13:52] neilcook opened #4511 "Inter-Node Pod communication gets dropped by iptables on destination host"
I have a fairly simple Calico setup using a node-to-node mesh with IPIP enabled. Pods can access other pods on the same node, but not pods on remote nodes.

Doing tcpdump shows that the traffic makes it to the remote node just fine, but once there the SYN packets get dropped by the iptables INVALID rule:
[code]

## Expected Behavior

Connections from one node to a Pod on another node should work,

[2021-04-06 16:29] lwr20 commented on #4496
Yes, this should be possible.  What encap are you using (if any) - IPIP or VXLAN?

If IPIP, can you check that your non-cluster hosts have set up BGP peering with the cluster?

It might be easier to debug this via slack - http://slack.projectcalico.org/

[2021-04-06 16:35] lwr20 commented on #4500
Its always been DROP, mostly because in the firewall world, its a bad idea to let people know that the IP address has a host behind it, and to slow down their reconnaissance of your hosts.

What's your use case for REJECT?

[2021-04-06 16:37] lwr20 commented on #4492
@petercork FYI

[2021-04-06 16:38] lmm commented on #4333
I'm closing this for now since I think we've identified the issue here - please reopen if you have any questions or open a new issue if you're still having problems, thanks!

[2021-04-06 16:38] #4333 closed

[2021-04-06 16:39] song-jiang commented on #4506
@neiljerram Could you help?

[2021-04-06 16:43] lwr20 commented on #4380
Perhaps join us in slack http://slack.projectcalico.org/ and we can talk you through troubleshooting steps?

[2021-04-06 16:43] caseydavenport commented on #4511
Hm, well it sounds to be like this is most likely a result of the invalid checksum you're seeing on the TCP packets. Especially since you're seeing the INVALID counter go up, and ICMP traffic is working just fine.

I'm certainly no expert in diagnosing invalid checksums. From a quick google, I'd check a few things:
- Do you have NIC offloading for checksum calculation?
- Faulty NIC / L3 device in

[2021-04-06 16:46] song-jiang commented on #4490
@seaurching Are you using BGP or VXLAN? What is the output of `ip route` command running on the host of your dashboard pod? Do you see a route to your API server?

[2021-04-06 16:49] caseydavenport commented on #4503
@massih10 have you ensured that your underlying network / firewall rules allow the necessary BGP traffic? Requirements are listed here: https://docs.projectcalico.org/getting-started/kubernetes/requirements#network-requirements

Assuming you have enabled TCP 179 in your firewall, could you also run `calicoctl node status` on the second node and post it's output here?

[2021-04-06 16:50] lmm commented on #4493
Since the pod has `hostNetwork: true` the pod is a part of the host's networking and isn't in the pod network. k8s policies won't apply to the host. However, you could use Clico network policy in conjunction with HostEndpoints: https://docs.projectcalico.org/archive/v3.18/security/hosts

[2021-04-06 16:54] lwr20 commented on #4505
Calico requires that the nodes are L3 routable.

So if you were to set up overlay tunnels of some sort between the nodes, you could configure Calico to use the tunnel interfaces, and that would work.  But Calico doesn't have anything to set that overlay up for you.

[2021-04-06 16:57] lwr20 commented on #4506
Take a look at: https://docs.projectcalico.org/networking/advertise-service-ips

[2021-04-06 16:58] fasaxc commented on #4511
Try snooping on the egress of the IPIP tunnel device.  It's certainly suspicious if the TCP packets reach the other node with invalid checksum.  It does suggest faulty checksum offloading somewhere. `tcpdump -nli tunl0` on the remote node should show the packets I'm interested in.

[2021-04-06 18:00] neilcook commented on #4511
Here's a tcpdump on the remote node (added some more flags to capture the checksum error)
[code]

[2021-04-06 18:04] neilcook commented on #4511
Here's some tcpdumps on the sending host.

Firstly to tunl0:
[code]

Secondly, the IPIP to the remote node:
[code]

Checksums are all invalid

[2021-04-06 18:11] neilcook commented on #4511
Output from ethtool:
[code]

[2021-04-06 18:35] #717 closed

[2021-04-06 19:42] neilcook commented on #4511
Ok so disabling checksum offloading (ethtool -K bond0 tx off) fixed it - thanks for the help!

[2021-04-06 19:42] #4511 closed

[2021-04-06 20:12] zetsub0u commented on #4500
I know and i agree completely, but we've had our firewalls do REJECT for years, on our custom implementation in docker and after that with kube-router (they do reject too) and when we switched to DROP a lot of users started complaining because they used the behavior of the quick connection refused to debug network policy issues for example.
We are trying to convince them it's better to go DROP but

[2021-04-06 23:29] caseydavenport commented on #4502
Great - I've merged the PR so it should be out in the next release. Thanks for the great help!

[2021-04-06 23:29] #4502 closed

[2021-04-07 03:28] khalid-davis commented on #4505
OK, thanks. I'll try to implement this function later and feed back here.

[2021-04-07 06:15] viceice commented on #717
How do i need to configure helm to fetch those bundles? Normally you you need a helm repo.

Is it planned to publish them as helm repo or do we need to create our own repo for it? 😕

[2021-04-07 08:38] lwr20 commented on #717
There's no _need_ for a helm repo:
https://docs.projectcalico.org/master/getting-started/kubernetes/helm

But I can see that it would make finding the chart easier.  I'll raise an issue to track that.

[2021-04-07 08:44] lwr20 opened #4514 "Create a repo for the Calico Helm charts"
## Expected Behavior
As mentioned in https://github.com/projectcalico/calico/issues/717#issuecomment-814633729, wouldn't it be nice if Calico Helm charts were in a repo?

## Current Behavior
Currently its necessary to download the Helm chart and apply it with helm directly:
https://docs.projectcalico.org/master/getting-started/kubernetes/helm

But it would be great if we could have a Helm repo whi

[2021-04-07 08:45] lwr20 commented on #717
Raised https://github.com/projectcalico/calico/issues/4514

Please add comments to that to explain why this would be a good thing to have so that this work can be prioritised appropriately.

[2021-04-07 09:08] lwr20 commented on #4505
Feel free to join us on http://slack.projectcalico.org/ if it doesn't "just work" - we can give more interactive help there

[2021-04-07 09:15] viceice commented on #4514
A helm repo would allow  terraform helm provider usage 🎉

https://registry.terraform.io/providers/hashicorp/helm/latest/docs

[2021-04-07 10:38] randrusiak commented on #717
@lwr20 If I understood correctly currently there is only helm chart fo tigera operator. But what about [calico?](https://github.com/projectcalico/calico/tree/master/_includes/charts/calico)
Do you consider to release this chart as well?

[2021-04-07 10:56] lwr20 commented on #717
tigera-operator installs Calico.  (It can also be used to install Calico Enterprise, but that's not relevant here).

[2021-04-07 12:56] ImadNaily opened #4515 "New Line is picked up by Calico along with the hostname"
Calico Node v3.17.1 is picking up a \n in the hostname per the below:
 startup/startup.go 187: Unable to set NetworkUnavailable to False error=timed out patching node, last error was: nodes "prodrpxapp\n" not found
2021-04-07 05:30:26.982 [ERROR][8] startup/startup.go 200: Unable to set node resource configuration error=error with field Metadata.Name = 'prodrpxapp
' (name must consist of lower cas

[2021-04-07 13:10] sherwoodzern opened #4516 "Calico Manifest needed to support Istio 1.9"
I'm in the process of setting up a zero trust network for my application. Setting up ZTN requires Istio and I was planning on using Istio 1.9. I see that the Calico Community Edition documentation only mentions the use of 1.6 and 1.7.4. I need to have Calico support the latest release of Istio.

[2021-04-07 13:29] lwr20 commented on #4500
This almost got added previously:  https://github.com/projectcalico/felix/pull/2161/files

[2021-04-07 20:30] caseydavenport commented on #4515
@ImadNaily strange. How have you installed Calico? Is this just using the normal k8s manifests? And modifications?

[2021-04-07 20:32] caseydavenport commented on #4515
The node name is calculated based on this logic: https://github.com/projectcalico/node/blob/7d4be57215df3eafdbbac391c537b097c6192da5/pkg/startup/startup.go#L398-L410

Do you see any of those logs showing up in the calico/node logs for the failing node?

[2021-04-07 20:45] caseydavenport commented on #4084
I would expect this particular fix to be in v3.18.0+

This is not even a real thing. There is no WorkloadEndpoint CRD - I wonder what's going on here...

@haslersn could you raise another issue describing your scenario / version / install method and any other relevant information?

@eplightning @Ferroman @muffin87 have you guys had a chance to see if your issues were resolved with an upgrade to v3

[2021-04-07 20:49] caseydavenport commented on #4466
@ReyRen could you try getting the logs from the previous container by passing the "-p" option?

e.g.,

[code]

I don't see any errors in the logs that you provided, but they might be from an instance that hasn't exited yet.

[2021-04-07 20:53] mgleung commented on #4291
@tomerleib that's very interesting. This might possibly be an RKE issue then. Can I get you to quickly verify that targeting pod labels will work in your policies? I want to narrow this down to namespace selectors in your environment first.

[2021-04-07 20:57] #4103 closed

[2021-04-07 21:12] eplightning commented on #4084
Upgraded and it's still there:
[code]

Just noticed that error I pointed out in my previous comment wasn't really relevant to Kubernetes - which happens to have dedicated codepath and returns from that function earlier:
https://github.com/projectcalico/cni-plugin/blob/f73028f8c4b6327826b3d2cd5351706c903786d3/pkg/plugin/plugin.go#L585

I think this PR fixed this properly but that's only my guess: h

[2021-04-07 21:18] caseydavenport commented on #3760
At a glance, it's not obvious to me why that is working the way that it is, but I don't see anything fundamentally wrong with doing that!

I still think we can do better with a Wireguard mode that doens't require jumping through extra hoops.

[2021-04-07 21:21] caseydavenport commented on #4288
I believe @frozenprocess made some good improvements to this for v3.19. I'm going to close this for now, but please report back if this is still an issue once we release v3.19.

[2021-04-07 21:23] caseydavenport commented on #4506
@thanhlong9x yes, the link you shared is very old. I'd recommend using the link the @lwr20 suggested, which is the supported documentation and much more up to date.

If you're still having issues after that, please report back and I'll reopen this issue.

[2021-04-07 21:23] #4506 closed

[2021-04-08 01:34] haslersn commented on #4084
@eplightning Thanks. In which Calico version will this fix be available?

[2021-04-08 02:58] ReyRen commented on #4466
@caseydavenport
Thanks for your help
Here is the log with `-p` option
[calico-log.txt](https://github.com/projectcalico/calico/files/6275702/calico-log.txt)

[2021-04-08 05:37] ImadNaily commented on #4515
Standard Manifests installation with etcd store. No modification. Works on control-plane nodes and three other nodes just fine.

[2021-04-08 05:53] ImadNaily commented on #4515
it was picking up the name from:
Using stored node name from /var/lib/calico/nodename
once i deleted the file all is up and running thanks for the pointers

[2021-04-08 05:53] #4515 closed

[2021-04-08 05:54] ImadNaily commented on #4515
thanks

[2021-04-08 06:49] thanhlong9x commented on #4506
Yes, I used link of lwr20 . And It doesn't work my expect. Is my link no longer correct? So why is the link @lwr20  sent still has my link ?

[2021-04-08 11:55] mhulscher opened #4518 "With non-Calico CNI, Calico networkpolicy enforcement does not allow Terminating pods to gracefully shut down"
## Expected Behavior

When calico for networkpolicy enforcement is installed; pods in Terminating-state should keep their network access until containers are actually removed by the container-runtime.

## Current Behavior

Pods that are in state Terminating immediately lose all network connectivity. Applications that are still handling in-flight network connections or applications that might want

[2021-04-08 11:57] mhulscher commented on #4518
FYI when uninstalling calico and re-creating all worker nodes, thereby cleaning all iptables rules, the problem does not occur.

[2021-04-08 12:08] davesargrad commented on #3145
I am running a kubernetes 1.20 cluster with calico. I just configured this 10 node cluster from baremetal about 2 weeks ago.

I have a simple application tier with a jellyfin streaming service and a restful application service (express+react). I see flaky communications between my react application and the jellyfin HLS service. These applications work and interact just fine outside of this kuberne

[2021-04-08 13:12] fasaxc commented on #3145
- The easiest workaround is probably to switch to IPIP mode.  I believe this issue is VXLAN-specific.
- Failing that, you can upgrade to RH8.2 or equivalent CentOS
- Failing that, upgrade to latest k8s and Calico and then set the env var `FELIX_FEATUREDETECTOVERRIDE="MASQFullyRandom=false"` in order to disable our use of `--random-fully`.

[2021-04-08 13:38] dinucatona opened #4519 "CrashLoopBackOff in calico-node"
Getting CrashLoopBackOff when starting a a calico netwrok in kubernetes. Been trying to figure it out for whole day and was unsuccessful.

I have kubernetes cluster set up with nothing in it as sown below:
NAMESPACE     NAME                                                READY   STATUS              RESTARTS   AGE
kube-system   coredns-5644d7b6d9-7f76q                            0/1     ContainerCr

[2021-04-08 13:56] muffin87 commented on #4084
@caseydavenport we tried 3.18.0 and the problem is still there.

[2021-04-08 14:02] ayoubsmii19 commented on #4519
do you have checked Network Ports requirements ?

Calico networking (BGP) | All | Bidirectional | TCP 179
Calico networking with IP-in-IP enabled (default) | All | Bidirectional | IP-in-IP, often represented by its protocol number 4
Calico networking with VXLAN enabled | All | Bidirectional | UDP 4789
Calico networking with Typha enabled | Typha agent hosts | Incoming | TCP 5473 (default)
flannel

[2021-04-08 14:47] fasaxc commented on #4411
Are the disconnects after the connection has been open for a long time?  BPF mode has connection timeouts to clean up the BPF conntrack table, for example.

[2021-04-08 14:49] fasaxc commented on #4411
Are the checks once per hour?  I think our connection timeout is an hour with no packets so you could hit that.

[2021-04-08 15:52] caseydavenport commented on #4515
Glad you got it working! Let me know if you see this again - I'm not sure how the newline got into that file. Perhaps it was hand-edited at some point?

[2021-04-08 16:02] caseydavenport commented on #4084
The second fix will be available in v3.19.0, which will be out in the next few weeks. I will also back-port so that this ends up in the next v3.18 patch release.

[2021-04-08 16:05] caseydavenport commented on #4506
The blog post is no longer updated, and very old.

I'd recommend:
- Updating to a more recent version of Calico (v3.14 is fairly old, and we've made impvoements in this area since)
- Follow the steps at docs.projectcalico.org (not the blog post) and see if they work for you.

Barring that, we'll need to see some more details. e.g., what your BGPConfiguration looks like, how you're enabling the fea

[2021-04-08 16:23] caseydavenport commented on #4518
@fasaxc just merged a patch through to fix this here: https://github.com/projectcalico/libcalico-go/pull/1397

Will be released in Calico v3.19.0, due in a couple of weeks.

[2021-04-08 16:23] mlushpenko commented on #4411
If I am not mistaken, checks are done as discovery mechanism all the time, not sure about exact frequency but probably something like once per minute. All the settings [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-settings.html) are in terms of seconds and we didn't configure anything special.

[2021-04-08 16:26] caseydavenport commented on #3145
We can continue discussing, but I'm going to close this for now since the kernel has been patched, and Calico now provides a way to turn off the feature that triggers it.

[2021-04-08 16:26] #3145 closed

[2021-04-08 17:08] dinucatona commented on #4519
Thanks for the reply.
Not sure how to check for all that. Any more info you can help with?
I do not use typha in this implementation. Also the store is kubernetes not etcd. No flannel overlay network either.

[2021-04-08 17:26] mhulscher commented on #4518
Hi @caseydavenport , thanks for the quick reply. Great to hear that this is a known issue and that a fix is underway! However, this is hitting us very hard. Do you think that perhaps this fix can be backported to 3.18? And if not, is there perhaps a previous version of calico that we can rollback to?

[2021-04-08 18:39] dinucatona commented on #4519
@ayoubsmii19 here the describe of the calico-node pod. I think this is what you wanted to look at:
[master@calico-master ~]$ kubectl describe pod -n kube-system   calico-node-77gqm
Name:                 calico-node-77gqm
Namespace:            kube-system
Priority:             2000001000
Priority Class Name:  system-node-critical
Node:                 calico-master.localdomain/10.0.0.66
Start Time:

[2021-04-08 19:00] caseydavenport commented on #4519
and

Suggest something might be wrong with your API server. I'd suggest checking the k8s API server logs to see if it's healthy.

[2021-04-08 19:02] caseydavenport commented on #4518
Should be fine to backport - here's a PR for it. https://github.com/projectcalico/libcalico-go/pull/1402

I think we will likely end up doing a patch release of v3.18 in a similar timeframe as v3.19 though - a week or two.

[2021-04-08 19:07] caseydavenport commented on #4466
Hm. I don't see anything incriminating there. As far as I can tell, Calico is running and healthy from those logs.

That seems to suggest that something else is tearing down Calico (e.g., kubelet). It does seem like the readiness probes were failing at one point, but they seem healthy in these logs.

Anything else special about these nodes? Are they under any especially high load? etc?

[2021-04-08 19:30] dinucatona commented on #4519
Hi Casey,
Thanks for looking into this. Here's the status of my api server:

NAMESPACE     NAME                                                READY   STATUS              RESTARTS   AGE
kube-system   kube-apiserver-calico-master.localdomain            1/1     Running             2          18h

[master@calico-master ~]$ kubectl describe pod -n kube-system kube-apiserver-calico-master.localdomain
N

[2021-04-08 20:29] caseydavenport commented on #4519
Yeah, this seems to be the cause if I had to guess. The API server seems to be hitting a panic and that's going to cause a lot of downstream issues.

Is this with a vanilla k8s apiserver build? Or are there any modifications?

[2021-04-08 20:36] caseydavenport commented on #4487
@vd-rd Calico has an option to specify which version of iptables to use. It attempts to auto-detect by default, but maybe that is going wrong here?

You can try setting the `IptablesBackend` option mentioned here: https://docs.projectcalico.org/reference/resources/felixconfig#spec

We might need to do some work to make this work for other architectures.

[2021-04-09 03:20] ReyRen commented on #4466
Yes, the error node really under high load like some ML training.
The special of these nodes are all DGX-A100 and using gpu-operator as GPU toolkit suits, and kubernetes database using kdd.
My cluster environment is mix A100 with V100 together, all GPU toolkit suits using gpu-operator. I really confused in how to dig more details about why CrashLoopBackoff always get.
Thanks

[2021-04-09 08:26] fasaxc commented on #4519
Just a heads up that Calico v3.18 expects to be run on k8s v1.18+.  We don't know of any concrete reason why it shouldn't work on v1.16 but we only test a Calico release with the most recent 2-3 releases of k8s.

[2021-04-09 08:48] fasaxc commented on #4447
You mentioned Centos 7.  Any chance you're hitting this: https://github.com/projectcalico/calico/issues/3145

[2021-04-09 09:22] mzyfree opened #4520 "calico drops pod packet in cali-from-wl-dispatch chain under iptables v1.8.4 (nf_tables)"
## Expected Behavior

calico accepts pod packet in cali-from-wl-dispatch chain

## Current Behavior

calico drops pod packet in cali-from-wl-dispatch chain

## Possible Solution

## Steps to Reproduce (for bugs)

1.install rhel 8.2
2.install docker 19.03
3.install k8s 1.20.5
4.install calico 3.15.1
[code]

## Context

pod on one node can not visit k8s svc and endpoint on other node.
node ip:
[code

[2021-04-09 11:14] dinucatona commented on #4519
It's just a regular build. v1.16 tho.
I try see if i can upgrade to 1.18 and maybe that will fix the problem. Cuz i don't really see any glaring issues with the stup itself.
Thanks guys.

[2021-04-09 18:18] seh commented on #4310
We've been running into this problem again lately using Calico version 3.17.3. We intend to test it with Calico version 3.18.1 within the next few days.

[2021-04-11 03:23] austintackaberry commented on #4447
@fasaxc I don't think I have seen that problem, but it's good to know about it. Thanks for sharing, looks like an interesting issue

[2021-04-11 07:21] tomerleib commented on #4291
@mgleung
It seems that it is a version related, here's my configuration that had this issue:

- RKE v1.2.4
- K8s 1.19.6
- Calico 3.16.1

After I've upgrade my RKE to version 1.2.7, K8s to 1.20.4, Calico images to 3.17.2, the network policies worked as they should.

[2021-04-12 03:49] mzyfree commented on #4520
[https://github.com/kubernetes/kubernetes/issues/100767](url)

[2021-04-12 03:49] #4520 closed

[2021-04-12 04:00] sunboy1 opened #4521 "IP_AUTODETECTION_METHOD setting is unsuccessful"
![image](https://user-images.githubusercontent.com/25715404/114338895-9acd4980-9b86-11eb-8107-5ebe256850b4.png)
![image](https://user-images.githubusercontent.com/25715404/114338929-ad478300-9b86-11eb-91f6-29ef5aa59ba8.png)

[2021-04-12 09:02] fasaxc commented on #4310
@seh any more insight into what scenario causes this?

[2021-04-12 12:13] seh commented on #4310
What I've noticed this again time is that the connections succeed, but then get cut off after around 10 seconds, the EC2 load balancer is an NLB, and that switching the _Service_'s external traffic policy from "Local" to "Cluster" fixes the problem immediately. It's a different container image and protocol from my last encounter with this back in January, so I can't blame the server program, unles

[2021-04-12 14:14] thanhlong9x opened #4522 "Failed to auto-detect host MTU"
logs in my calico-node pod show this **warning**
![WhatsApp Image 2021-04-12 at 18 33 57](https://user-images.githubusercontent.com/29721257/114408081-47351d00-9bd3-11eb-8780-a3abc3539305.jpeg).

I don't find anything about mtuIfacePattern and I want know how to fix this ?
Thank you.

## Your Environment
* Calico version 3.18.1
* Orchestrator version (e.g. kubernetes, mesos, rkt): 1.17
* Operating

[2021-04-12 14:55] cazorla19 opened #4523 "Failure in name resolutions after applying ingress policy"
When applying Calico network policy, the DNS resolver connection gets lost. The application that runs on the selected pod can't resolve DNS records any longer.

Here's the ingress policy I'm trying to apply in order to allow access from (only) ingress and a couple of other pods.

[code]

## Expected Behavior

The policy will restrict ingress access to the pod, but DNS resolution would still work.

[2021-04-12 17:48] tomastigera commented on #4310
@fasaxc I wonder if this is realted to the issue with RPF check, local forwarding and multiple ENIs

[2021-04-12 18:38] ImadNaily opened #4524 "calico node is only "ready" when the IP of the node is added to the firewalld on the three master control-planes nodes"
Unless i open port 6443 on all three master nodes from the calico node host ip, the calico node will not go to ready state.
calico node docker container reports the below error:
startup/startup.go 156: failed to query kubeadm's config map error=Get "https://10.95.0.1:443/api/v1/namespaces/kube-system/configmaps/kubeadm-config?timeout=2s": dial tcp 10.95.0.1:443: connect: no route to host

## Expec

[2021-04-12 20:27] paulgmiller opened #4525 "projectcalico.org/operator-node-migration label stuck in pre-operator on upgrade."
Calico upgrade failed as label was never updated

## Expected Behavior
Calico-node ds should install on all nodes upgrading calico

## Current Behavior
we had a cluster go from calico 3.7.2 to 3.17 on aks. However while the operator was running  nothig under calico-system was able to start. In particular kube-controller was pending and calico-node daemonset didn't like any of the nodes.

Seems
##

[2021-04-12 20:30] paulgmiller commented on #4525
Lookng through the tigera operator logs I see this repeated
{"level":"error","ts":1618258406.7740195,"logger":"controller_installation","msg":"error migrating resources to calico-system","Request.Namespace":"","Request.Name":"default","error":"the kube-system node DaemonSet is not ready with the updated nodeSelector: daemonsets.apps \"calico-node\" not found","stacktrace":"github.com/go-logr/zapr.

[2021-04-13 05:20] seaurching opened #4526 "kernel soft lockup"
kernel:NMI watchdog: BUG: soft lockup - CPU#3 stuck for 40s! [calico-node:53787]
## Expected Behavior
No kernel bug

## Current Behavior

Long time running, the master kernel show tips
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
- 3.18.1
* Orchestrator version (e.g. kubernetes, mesos, rkt):
- kubernetes 1.20.5
* Operating S

[2021-04-13 05:35] seaurching commented on #4490
@song-jiang Probably is vxlan

[2021-04-13 10:54] lwr20 commented on #4524
calico-node (when running in kubernetes datastore mode) absolutely requires to be able to access the k8s apiserver.  As do kubelet and kube-proxy which also run on the node in host-network.  How are they accessing the k8s apiserver in your cluster?

The flow should be that calico-node accesses the k8s-apiserver via its service IP (10.95.0.1 in this case).  Kube-proxy will have set up iptables NAT

[2021-04-13 11:39] oguera opened #4528 "Calico Node stuck in CrashLoopBackOff"
Hello together!
I submited this issue in the kubespray project but i think here is a good point aswell. (https://github.com/kubernetes-sigs/kubespray/issues/7495)
## Expected Behavior

I added a new node to my cluster using kubespray (as described in the linked issue). After adding the node everything the Calico node pod gets deployed (via a DeamonSet) but does result in a CrashLoopBackOff.
## Cur

[2021-04-13 12:33] oguera commented on #4528
This was a quick one.. After finding not only the INFO but also the ERROR logs for the container i found out that it is a bug in the scale script of kubespray. The datastore on scaled nodes is not correctly set.

I'll close this issue thanks for the effort you put into the OSS community!

[2021-04-13 12:33] #4528 closed

[2021-04-13 13:29] tmjd commented on #4525
What was happening with the kube-system calico-node DaemonSet? Were calico-node pods (in kube-system) not becoming ready? The operator waits for the daemonset to become ready before continuing with the migration, what was blocking those pods from becoming healthy and ready?

[2021-04-13 13:45] mad01 commented on #4525
i got the same issue. my problem was that i had removed the old calico before applying the new so the tigera operator could not complete it's migration. After understanding that i added back the old and restarted the update again and the tigera operator was able to complete the migration. the old daemonset in kube-system got removed as part of the migration the operator did.

[2021-04-13 15:10] cmukai-cisco opened #4529 "Long Service Account Names Block Pod Launch"
## Expected Behavior
A service account name longer than 63 characters will prevent Calico from assigning the pod an IP address. We would like Calico to be able to launch pods in such situations.

## Current Behavior
Currently, service accounts with names longer than 63 characters will block the launching of pods. This is the case in the AWS EMR on EKS service. The service account name is generated

[2021-04-13 15:16] paulgmiller commented on #4525
The calico node daemonset doesn't schedule on any node because it has a
node.selector doe operator-node-migration=migrated

On Tue, Apr 13, 2021, 6:29 AM Erik Stidham ***@***.***> wrote:

[2021-04-13 15:31] tmjd commented on #4525
The kube-system calico-node daemonset should have been updated by the operator to have a selector `projectcalico.org/operator-node-migration=pre-operator`, and then the operator waits for all the pods to become ready before continuing with the migration. The message suggests that the kube-system daemonset was removed

[2021-04-13 17:16] mgleung commented on #4291
@tomerleib thanks for testing and narrowing that down for us. Sounds like that at least for now, the workaround is to upgrade the cluster components. If you have your RKE cluster still up, would you mind checking if Calico 3.17 works on RKE 1.2.4? I don't recall any changes between Calico 3.16 and 3.17 that should affect policy to this extent but I want to narrow down that the issue is Calico and

[2021-04-13 20:49] ImadNaily commented on #4524
My cluster is using etcd and is load balanced. Calico is configure to use that.
I think you are right in that the kube-proxy is not configured to use my LB apiserver and in fact when I open the ports i am actually opening the ports for kube-proxy and not calico.
But I looked at the configuration of kube-proxy and I can not seem to find the LB apiserver anywhere. So now i suspect that kube-proxy is

[2021-04-14 08:40] lwr20 commented on #4524
Its definitely possible to configure kube-proxy to use an LB as the k8s-apiserver address, because Openshift and kops do exactly this.

If I had to guess, I'd say there was a config flag that can pass the value to kube-proxy, or maybe a configmap or config file?

I realise this isn't much help.

[2021-04-14 13:55] tmjd commented on #4525
@paulgmiller did you manually remove the calico-node daemonset from the kube-system namespace at some point? Since you did not mention it I'm assuming you did not but I was hoping you could confirm that assumption.

[2021-04-14 14:21] paulgmiller commented on #4525
It was removed but only after it was already "stuck" and not scheduling on
any nodes. Operator put it back but we remained stuck. May be able to get
it's node selector before we deleted it from api server logs

On Wed, Apr 14, 2021, 6:55 AM Erik Stidham ***@***.***> wrote:

[2021-04-14 14:34] tmjd commented on #4525
Ah ok. It would have been interesting to know what the issue was before the daemonset was removed. FYI if you run into issues with the upgrade again, removing the daemonset will definitely cause an issue. Could you collect the tigera-operator logs and add them to this issue?
I'd like to be able to review them to see what the original issue might have been.

[2021-04-14 17:01] marcelo-devsres commented on #3187
Hey, I came here to this long forgotten issue to apologize, I got realocated to something else that was of a higher priority so had to just pretend everything was "normal" and move on. I only get about 1 day or 2 in a semester window to figure out stuff about this problem, which clearly is not enough.

Not only that, but I switched github accounts, which means I didn't get the notifications of the

[2021-04-15 07:11] bluefriday opened #4533 "Window calico node unable to create hns network calico subnet"
## Expected Behavior
I'm testing about running calico with k8s on 'Windows 2019' node.

## Current Behavior
With 'vxlan' option, I ran powershell script running calico, but calico could not create subnet.
[code]

## Possible Solution
I want know how to fix this.
Thank you 👍

## Steps to Reproduce (for bugs)
I used following guides.
- https://docs.projectcalico.org/getting-started/kubernetes/self-m

[2021-04-15 09:27] fasaxc commented on #4431
@salanki Can you give more details of how to set up Traefik, for example, in order to repro this.  I thought Traefik was an ingress controller so what exactly is the set up that you're using and what is Traefik providing ingress for?

[2021-04-15 09:35] fasaxc commented on #4411
[code]
Does suggest that our BPF program is dropping packets.

[code]
Is normal; that just means that a particular connection was not NATted.

I'd expect this log if the BPF program drops a packet:
[code]
do you see that in the BPF trace?  We'd need some context around the log too to figure out what went wrong.

[2021-04-15 10:41] fasaxc commented on #4411
@mlushpenko I've set up a BPF/wg cluster and provisioned an Elastic cluster with ECK.  What should I expect to see now; how can i see the errors?  What do I need to do to trigger an error?

[2021-04-15 11:16] mlushpenko commented on #4411
@fasaxc we have setup where ES nodes are on different nodes (sometimes also in different zones, but not the case for the  clusters where we've noticed issues). I don't believe platform load has any affect on this, so likely you will start seeing errors pretty soon as it is discovery for ES that is failing. MTU values are the same 8941? Apart from that, not sure what other conditions are needed. I

[2021-04-15 12:51] fasaxc commented on #4411
@mlushpenko thanks for the follow-up.  Where would I see the errors?  Would they be in the ES logs?

[2021-04-15 14:03] mlushpenko commented on #4411
Yes, you should see in ES logs that nodes are failing and being added/removed to the cluster, I can't find proper stacktrace in kibana right now, but see at least this message from the period when they were failing

![image](https://user-images.githubusercontent.com/2006610/114882009-ca3cba00-9e03-11eb-8254-b75456d269b3.png)

[2021-04-15 22:26] jayaddison commented on #3467
After upgrading a Kubernetes cluster to v1.21.0 recently (running Calico 3.14), at least one pod in the cluster is having difficulty making outbound requests.

https://github.com/openculinary/infrastructure/issues/30#issuecomment-820727750 has a few more details; it seems like the only routes on the pod are link-local rather than `10.x` (service-cidr?) routes.

The log message that led me from tho

[2021-04-16 02:48] mskel003 commented on #4478
hi bjetal, I seem to have encountered the same issue after working with nodelocaldns on my migrated flannel split-wan cluster.
I have removed nodelocaldns while looking for a solution, but the reason I have been using nodelocaldns is to work around the known rhel7 udp race condition on our dns (nodelocaldns fixes that issue as it upgrades dns from udp to tcp).

Can you share your GlobalNetworkPoli

[2021-04-16 04:50] mskel003 commented on #4478
Ahh i have found the thread mentioning that it may be fixed with this:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/README.md#network-policy-and-dns-connectivity
I'll try that

[2021-04-16 14:32] fasaxc commented on #4411
I don't see this on a kubeadm cluster on GCP, using wireguard.  It's a small cluster with only Elastic running on it.  @mlushpenko can you tell us more about your cluster?  Where is it running, how did you set it up?  What's the underlying network?

[2021-04-16 14:39] fasaxc commented on #4310
@seh Do you use multiple ENIs on your hosts (e.g. by using Amazon VPC CNI)?

[2021-04-16 14:40] seh commented on #4310
No, we don't. Each of these machines has only one ENI.

[2021-04-16 15:38] mlushpenko commented on #4411
@fasaxc you used wireguard and ebpf together, right? Apparently, it also happens just with ebpf, as current settings on one of the clusters that was failing recently (until image is changed back manully) are these:
[code]

just realised that in this case MTU should probably be 8951 according to this [table](https://docs.projectcalico.org/networking/mtu#determine-mtu-size). Would you expect packet

[2021-04-16 15:43] mlushpenko commented on #4411
One more option (a bit harder) I can think of is to try reproducing this on our test environment and then perhaps you would be interested to do some pair programming session to investigate. But we are not a paying customer and likely the next upgrade of the cluster will be sufficient or we have a workaround of just not using ebpf, so up to you if this sounds interesting.

[2021-04-17 05:00] ShawnBian opened #4539 "why calico(act as the role of RR) does not propagate the exteral route(from Router ) to their RR client"
## Expected Behavior

calico is expected to propagate the external BGP routes (from Router via BGP peer) to their RR client. the RR client represent other nodes within the cluster

## Current Behavior
calico does not propagate the external BGP routes (from the router via BGP peer) to their RR client

## Possible Solution
This issue has stopped me for a long time, still not able to figure out the w

[2021-04-17 13:18] jayaddison commented on #3467
After an upgrade to Calico 3.18.1, the warning messages ([ref](https://github.com/projectcalico/calico/issues/3467#issuecomment-820767111)) no longer appear in the `calico-node` pod logs.

However the routing tables on the pods remain empty-ish, with only the `169.x` link-local addresses appearing (this continues to be reproducible after deleting the associated deployments and then re-deploying ea

[2021-04-17 13:26] p3lim commented on #4514
It would also help with Flux (and other Helm operators):

https://docs.fluxcd.io/projects/helm-operator/en/stable/helmrelease-guide/chart-sources/#helm-repositories

[2021-04-17 17:01] jayaddison commented on #3467
(it looks like the issue encountered in https://github.com/projectcalico/calico/issues/3467#issuecomment-820767111 is unrelated - still narrowing in on it, but it appears to be related to pod and/or service CIDR overlap.  apologies for the noise!)

[2021-04-17 20:48] jayaddison commented on #3467
From comparing two near-identical clusters:

- A: Kubernetes v1.20.5, Calico 3.18 - pod external connectivity succeeds :heavy_check_mark:
- B: Kubernetes v1.21.0, Calico 3.18 - pod external connectivity fails :x:

... and then comparing `calico-node` logs, one thing that appears as a difference is this:

In cluster A (:heavy_check_mark: ), `WorkloadEndpointUpdate` events are received and handled c

[2021-04-19 10:13] vishumindtree opened #4540 "TCP connections are unstable & flaky. Getting java.net.SocketException: Connection reset intermittenly"
##< BUG DESCRIPTION >

All services: java.net.SocketException: Connection reset .

-- > Getting too many RST's on established TCP connections .  This is highly intermittent .
conntrack is making a new connection as established but it was not created as part of TCP connection establishment, no SYN packet was seen. This causes packets on a valid connection to be send to a non existent TCP connection

[2021-04-19 14:31] dinucatona commented on #4519
Resolved
Upgraded to Kubernetes v1.21 and stuff's working fine.
Thanks for all the input.
Issue can be closed.

[2021-04-19 14:31] #4519 closed

[2021-04-19 14:31] dinucatona commented on #4519
Resolved
Upgraded to Kubernetes v1.21 and stuff's working fine.
Thanks for all the input.
Issue can be closed.

[2021-04-19 16:22] #4078 closed

[2021-04-19 20:07] jayaddison opened #4542 "[kubernetes 1.21] [calico 3.18] pods cannot route traffic to external services"
Hi folks,

I'm operating a Kubernetes cluster that has until recently been using Calico 3.14.  On consumer-facing request paths, the cluster mostly handles incoming user traffic while occassionally making requests out to internet-based services.

After upgrading to Kubernetes 1.21, an [issue report](https://github.com/openculinary/infrastructure/issues/30) has led to discovery of external connecti

[2021-04-19 20:16] jayaddison commented on #4542
Sorry, I made a mistake in the list of working/not-working traffic types.  Trust me to make the pretty emojified traffic summary first, spend ages on the writeup, and then not notice that the (important) summary itself was incorrect.

[2021-04-19 21:22] rikatz commented on #4249
@caseydavenport I guess we can close this one, right? :D

[2021-04-19 23:32] #4249 closed

[2021-04-19 23:53] caseydavenport commented on #4542
oh, hey @jayaddison! Fancy seeing you here :)

A few thoughts based on the symptoms you're describing.

I suspect that connectivity to your kubernetes DNS is in fact working, but that the command you're using to test it isn't correct. I wouldn't expect a `wget` to work here. `wget` is going to send an HTTP request to the server, whereas DNS is its own protocol (typically operating over UDP, but so

[2021-04-20 04:34] bluefriday commented on #4533
I used contained instead of Docker. And it's my calico config
[code]

[2021-04-20 07:25] eligosfx commented on #4518
We found a workaround for this issue:
kubectl delete -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/master/calico-crs.yaml
kubectl delete -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/master/config/master/calico-operator.yaml

curl https://raw.githubusercontent.com/projectcalico/calico/master/hack/remove-calico-policy/remove-calico-policy.sh -o remove-calic

[2021-04-20 07:36] mhulscher commented on #4518
I don't understand how this is a workaround? You start by uninstalling calico and then running a script. From the looks of it, this will leave clusters without policy enforcement, whatsoever.

[2021-04-20 10:38] eligosfx commented on #4518
Once we applied calico on our cluster, we got errors when tried to redeploy
deployment.  Calico 3.17 has the bug.

On Tue, Apr 20, 2021, 10:36 Mitch Hulscher ***@***.***> wrote:

[2021-04-20 10:51] fasaxc commented on #4518
@eligosfx deleting Calico in that way will leave your cluster broken.  In particular, you'll delete the IPAM tracking data so you may find that new pods get assigned IPs that belong to previously-networked pods.

[2021-04-20 11:36] eligosfx commented on #4518
https://github.com/projectcalico/calico/tree/master/hack/remove-calico-policy

On Tue, Apr 20, 2021 at 1:51 PM Shaun Crampton ***@***.***>
wrote:

[2021-04-20 12:35] fasaxc commented on #4518
Oh, you're on EKS, then Calico isn't doing IPAM so you should be OK.

[2021-04-20 12:52] eligosfx commented on #4518
Yes, I talked about a workaround for aws eks cluster.

On Tue, Apr 20, 2021 at 3:35 PM Shaun Crampton ***@***.***>
wrote:

[2021-04-20 13:46] alloran commented on #4431
Got same issue with nodePorts/externalIPs of services having more than one endpoint.

Service:
[code]

hey running on the external vm in the same subnet as all k8s nodes.
[code]

Calico 3.18.1, ebpf dataplane, vxlan overlay, k8s 1.20.4, ubuntu 18.04 with 5.4 kernel

No errors in ipvs mode.

Also, ebpf dataplane does not honor `externalTrafficPolicy: Local` for externalIPs, or maybe I misunderstood

[2021-04-20 14:10] fasaxc commented on #4431
@alloran can you give this image a try: `calico/node:v3.19.0-0.dev-121-gf2ea8a855295`

That's the latest cut of v3.19.  It has some more fixes for external IPs.

[2021-04-20 15:34] lwr20 commented on #4533
@song-jiang @lmm will know better than I do, but I think containerd isn't supported yet.

[2021-04-20 15:57] shapirov103 commented on #4529
While I think the issue should be addressed in the code to avoid such cases in the future, to unblock for now you can apply the workaround of using a predefined role name for the service account as specified in the referenced [blog post](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/), I attached the relevant snippet below.

As you can see in the snipp

[2021-04-20 15:58] fasaxc commented on #4518
We've had to [revert](https://github.com/projectcalico/libcalico-go/pull/1406) https://github.com/projectcalico/libcalico-go/pull/1397; it caused a downstream problem that we don't fully understand yet.

[2021-04-20 16:06] cmukai-cisco commented on #4529
Thanks. We actually do this for non-Spark jobs, but for Spark jobs we use the new AWS service “EMR on EKS.” EMR on EKS generates the service account name based upon an IAM role that it is tied to. We can insure that the resulting name generated by EMR on EKS is below the 63 character limit by limiting the size of the IAM role name, so we have temporary work around in place.

Thanks for the reply,

[2021-04-20 16:14] lmm commented on #4521
@sunboy1 is this an operator managed cluster? For operator installs of Calico, to change the IP auto detection config you'll need to update the Installation custom resource: https://docs.projectcalico.org/reference/installation/api#operator.tigera.io/v1.NodeAddressAutodetection

[2021-04-20 16:21] song-jiang commented on #4526
@qiqisa Calico uses standard Linux user-space utilities  e.g. `iptables` `ipsets` to interact with kernel. If a soft lockup is raised, most likely it is due to some incompatibility issue with the kernel or the utilities involved.

[2021-04-20 16:30] caseydavenport commented on #4523
Please make sure you're using the `projectcalico.org/v3` API group via calicoctl - this CRD API is not supported since it is not validated and is prone to errors.

We're working on removing this requirement but for now you'll need to use calicoctl. More here: https://github.com/projectcalico/calico/issues/2923

[2021-04-20 16:35] caseydavenport commented on #4522
Looks like a documentation bug! I'll update the docs to include this field.

This is the option that it's referring to: https://github.com/projectcalico/libcalico-go/blob/master/lib/apis/v3/felixconfig.go#L370-L374

Specifically, it's a FelixConfiguration field.

[2021-04-20 16:35] caseydavenport commented on #4522
Mind if I ask what your host interfaces look like?

[2021-04-20 16:37] song-jiang commented on #4490
@seaurching Any logs for my previous comment?

[2021-04-20 16:40] caseydavenport commented on #4522
Docs PR here: https://github.com/projectcalico/calico/pull/4546

[2021-04-20 16:41] #4503 closed

[2021-04-20 16:42] lwr20 commented on #4540
FWIW, we don't see this in our overnight test runs.

Can you check MTU (or upgrade to a recent Calico version with automatic MTU configuration)?

[2021-04-20 16:44] lmm commented on #4533
Thanks @bluefriday - @lwr20 is spot on, we're working on containerd support which should be in an upcoming release.

That said, the errors you're seeing are strange. The HNS network is found and then a short while later it's not found. Let me look into this and get back to you.

Could you try the installation with Docker installed to see if that works for you with your setup?

[2021-04-20 16:45] lwr20 commented on #4490
10.96.0.1 is the service IP of the kubernetes apiserver. Calico does pod-pod networking, services are handled by kube-proxy.

Are there any interesting logs coming out of kube-proxy?

[2021-04-20 16:47] alloran commented on #4431
@fasaxc
Tested with `calico/node:v3.19.0-0.dev-121-gf2ea8a855295`, same result

3.19, single nginx pod
[code]
3.19, two nginx pods
[code]

[2021-04-20 16:49] caseydavenport commented on #4539
@ShawnBian I believe the issue here is that Calico isn't expecting to re-advertise routes learned from your infrastructure. Namely, Calico has an export filter that says "only advertise routes within Calico IP pools". We do this because we don't want to enable arbitrary injection of routes out of the box.

You might be able to make this work by simply adding a new IP pool to your cluster that incl

[2021-04-20 16:49] #4522 closed

[2021-04-20 17:54] axl89 commented on #4516
I came to the same conclussion after reading the (very well written!) [docs](https://docs.projectcalico.org/security/adopt-zero-trust), which lead me to the [enable application layer policy](https://docs.projectcalico.org/security/app-layer-policy) docs, and everything stopped working when I did the steps metioned in the "Add Calico authorization services to the mesh" section:

[code]

After apply

[2021-04-20 18:06] craigminihan opened #5231 "`kubelet-service.ps1` fails to discover the network interface"
## Expected Behavior
The script should discover the `NodeIp` when a matching network adapter is found.

## Current Behavior
Rather than finding the NodeIp it loops forever.

[code]

The network is configured as:
[code]

## Possible Solution
The `NodeIp` parameter is defined (see https://github.com/projectcalico/node/blob/b210fcb832a0b6931e73fc6f88dc9ee9272cead4/windows-packaging/CalicoWindows/kube

[2021-04-20 18:06] mhulscher commented on #4518
@fasaxc that is very unfortunate. Is the goal still to fix this issue in the next minor or patch release? Or should we expect it a release after that?

[2021-04-20 19:14] jayaddison commented on #4542
:wave: hey @caseydavenport :)  Thanks for the help!

Yep, a few of the pods have `nslookup` available.  Here's the output from one of those:

[code]

So you're right, DNS resolution is working - that's good to know.

Also makes sense, thanks - I had wondered if there was some kind of magic involved in the Kubernetes service name resolution that allowed those to succeed - glad to know that that's _

[2021-04-20 19:41] jayaddison commented on #4542
Peculiar: external connectivity is now working.  The routing tables in the pods don't appear to have changed, and I haven't upgraded or modified any of the network configuration.

[2021-04-20 19:59] jayaddison commented on #4542
It's worth mentioning that this was a repeatable connectivity failure condition after resetting and reinitializing the cluster 5+ times, with one or two full system reboots for good measure, so it didn't seem like an intermittent or one-off 'stuck cluster' condition; and yet does appear to have subsided.

I'll put some logs aside and will hold this issue open for another few days to see if the pro

[2021-04-20 20:20] jayaddison commented on #4542
(actually, feel free to close this if that's the preferred process - I'm good either way; I just have a strange feeling that the root cause isn't yet resolved and may re-appear)

[2021-04-21 03:47] vishumindtree commented on #4540
Hi Matt ,

Sure ! will give a try & revert back .

Is this happening because of packets being marked as Invalid & this creating IP address spoofing scenario & hence connections being dropped ?

[2021-04-21 07:37] massih10 commented on #4503
Sorry for not replying.

The problem was with my iptables. They were messed up from too many installations of calico /Flannel / weave ...

Reset kubeadm, flush iptables (everything besides what's related to docker), re initiate kubeadm cluster and redeploy calico solved it for me.

[2021-04-21 16:11] paulgmiller commented on #4525
[tiger.log](https://github.com/projectcalico/calico/files/6352395/tiger.log)
Attached log. I could easily see a situation where upgrading the original nodes failed because they were accidentally cordoned. I was more suprised that a newly minted node vm that never had the old pre-operator daemonset on it got stuck in the same way.

[2021-04-22 00:49] RazieI opened #4553 "Documentation: eBPF sidecar-acceleration"
Hello.

According to documentation on the page: https://docs.projectcalico.org/networking/sidecar-acceleration
Acceleration using eBPF SOCKMAP is not production ready.

Recommended in docs Linux kernel version is 4.19.
Today for example Ubuntu 20.04 uses Linux kernel version 5.4 so maybe this page needs an update.

Can someone answer questions and ideally update docs for other users if something c

[2021-04-22 08:53] jonaz commented on #2923
Just started looking into GlobalNetworkPolicy to avoid confict with custom iptables rules on our kubernetes nodes.

This would be awesome since we use flux to sync kubernetes manifests to all our clusters using the gitops workflow. This is not possible using calicoctl at the moment.

[2021-04-22 15:39] tmjd commented on #4525
I believe the concern with the cordoned nodes should not be an issue if the calico-node daemonset in the kube-system namespace is not removed. I think cordoned nodes are accounted for when the operator checks that the daemonsets are up to date.
The issue here seems to be that the calico-node daemonset in the kube-system namespace was removed. You Suggested that the operator put back the calico-nod

[2021-04-22 16:03] tmjd commented on #4525
Looking at the attached logs seems to indicate that the the `calico-node` daemonset in the `kube-system` namespace was removed before the operator was started. I'm not sure if that is because the operator was restarted so the logs don't include when it first started migration or if the `calico-node` deamonset in the `kube-system` namespace was removed when the operator was installed.

This would b

[2021-04-22 17:25] paulgmiller commented on #4525
Discussing with Erik we use [addon manager](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager) and reconcile to apply calico so it's quite possible the kube-system ripped out the old daemonet while the opetor was watching. Considering if ensure exists will mitgate this.

[2021-04-23 03:56] ShawnBian commented on #4539
thank you for updates , I will close this issue .

[2021-04-23 03:56] #4539 closed

[2021-04-23 04:11] ShawnBian opened #4556 "can not access node port service after create and delete hostendpoint for particular node ."
## Expected Behavior
it should access the nodePort service successfully via this particular node , Since we have already deleted all the host endpoint and we don't define any deny policy for this host endpoint

## Current Behavior

we have a service here named experiment1 and it is NodePort type which means we can access it via nodeip:nodeport
[root@master1 phase2]# kubectl get svc
NAME          T

[2021-04-23 07:07] dev-maniac commented on #4291
Hello. I want to confirm the behaviour initially described by @ducminhle.
Namespace selectors per se are working, but whitelisting ingress-nginx namespace does not work.
Or rather, it works, but the ingress-nginx controllers do not seem to be catched by the rule (also deployed a simple pod in ingress-nginx namespace to confirm that this pod CAN reach my "target" namespace).
Some search indicated,

[2021-04-23 07:11] holmesb opened #4557 "watchercache.go spamming log: Failed to create watcher ListRoot="/calico/ipam/v2/assignment/""
Hi,

We've just upgraded from v3.16.5 to v3.18.1.  The calico-kube-controllers pod log is filled (many events per second) with messages from watchercache.go.

_2021-04-23 06:58:23.990 [INFO][1] watchercache.go 243: Failed to create watcher ListRoot="/calico/ipam/v2/assignment/" error=connection is unauthorized: unknown (get IPAMBlocks.crd.projectcalico.org) performFullResync=true
2021-04-23 06:58:

[2021-04-23 08:04] holmesb commented on #4557
I've checked ClusterRole & ClusterRoleBinding: calico-node exist.  They are the same as on another cluster running v3.16.5 that doesn't exhibit this problem.

[2021-04-23 11:48] TBFreaq opened #4558 "[Kubernetes 1.21][Calico 3.18] calico-node on worker node not able to connect to datastore"
## Expected Behavior
Calico should be able to connect to datastore.

## Current Behavior
calico-node shows following output:
[code]

On the control-plane node it works without a problem. Pods can communicate and the pod shows as 1/1 RUNNING. On our second node it shows up as 0/1 RUNNING and isn't able to get its datastore.

One thing I noticed while trying to debug it myself, is that no IPv4 peers

[2021-04-23 15:26] bjetal commented on #4478
My approach was a little different and works if you want to access the nodelocaldns from the host network and not just from pods.  Here is the GNP I created for this:
[code]

[2021-04-23 15:49] caseydavenport commented on #4542
Yeah, let's leave this open for a little bit longer. It does seem suspicious that it just "went away".

I wouldn't expect this to be a problem with the routing table within the pods - the network configuration within a pod is pretty unaware of where the traffic is ultimately going and what you've described sounds like business as usual in that area.

Most likely this is something to do with your n

[2021-04-23 17:34] champtar commented on #3270
Any reasons we can't set permanent neighbour ?
[code]
And if we also set the neighbour on the host side we could even switch NOARP on the interfaces

[2021-04-23 17:49] champtar commented on #3270
BTW adding 169.254.1.1 on the host can cause issue when using kube-proxy strictARP: true, which is required to use MetalLB + kube-proxy IPVS

[2021-04-23 18:13] jayaddison commented on #4542
@caseydavenport It's a single node cluster running on a self-hosted server in a home network (perhaps an unusual use case for y'all).  Ubuntu 20.04 x86_64, and all fairly vanilla configuration.

I'll likely try reinitializing the cluster over the weekend to see if the problem is reproducible in a fresh cluster.

[2021-04-23 22:10] elgamal2020 opened #4561 "Connectivity issue with Calico interface"
when running IP monitor , I am seeing always one calico interface failed

[code]
[code]
when I make this interface down , I recover the ping and the connectivity , no more failed in the ip monitor
they shouldn't be related as it is totally another interface and subnet

the pod has multiple interface among them
[code]
[code]

Is the problem related to multus ? ,

[2021-04-24 19:23] jayaddison commented on #4542
This does appear reproducible following a fresh cluster re-initialization.

[code]

My best guess currently is that route propagation is somehow extensively delayed.

[2021-04-25 08:18] jayaddison commented on #4542
Sorry; to adjust my previous message: perhaps not _route_ propagation, but _some_ kind of network configuration propagation.

[2021-04-25 11:30] ReyRen opened #4563 "pod bandwidth reduced significant when calico kubernetes over openstack network!"
The cluster environment is kubernetes over openstack, and using iperf3 as bandwidth measurement tool.
This is from host to host (openstack vm):
[code]
This is from pod to pod (k8s):
[code]
Does there any limited in?

## Expected Behavior
The bandwidth  same with host to host  almostly.

## Current Behavior

## Possible Solution
openstack+k8s confused veth?

## Steps to Reproduce (for bugs)

1. ope

[2021-04-25 20:11] EdwardCooke commented on #4487
I was getting the same errors with the same (mostly) configuration. I am using strictly arm64 (Raspberry PI's with custom build for 64-bit). On top of the errors I was also seeing high CPU usage on my Pi's (1+ cpu used). Setting the `iptablesBackend` to `Legacy` fixed it for me.

You can get the current definition by running `kubectl get felixconfigurations -o yaml`

My resulting definition for th

[2021-04-26 09:45] fasaxc commented on #3270
Unfortunately, Calico needs to be compatible with non-Calico CNI plugins, so, yes, _we_ could set static ARP but we'd also need all of the other plugins we support to do the same.

We also tried simply assigning the IP on the host side of the veth but it caused unexpected issues in testing.

[2021-04-26 14:30] catblade opened #4564 "Calcicoctl does not print loadbalancerIPs with print bgpconfig"
Calcicoctl does not print loadbalancerIPs with print bgpconfig

## Expected Behavior
Expect the serviceLoadBalancerIPs to be printed to screen when using calico get bgpconfiguration -o yaml

## Current Behavior

## Steps to Reproduce (for bugs)

1.  Enter in, either through patch or apply, serviceLoadBalancerIPs
2.  Watch it work
3.  Watch the bgp work all the way up
4.  Try to print.  It tells yo

[2021-04-27 09:01] sunboy1 commented on #4521
thanks

[2021-04-27 10:16] ArenaSu opened #4569 "failed to ping pod ip when using bgp mode network on vms of openstack cloud using vlan network"
I deployed kubernetes v1.20.4 over vms on openstack cloud( vlan network mod), meanwhile, i installed calico network plugin with bgp mode. I apply a nginx pod, then failed to ping pod ip. So, what's the problem?
## Expected Behavior

ping pod success
## Current Behavior

ping pod error
## Possible Solution

## Steps to Reproduce (for bugs)

1.  Install openstack Pike using vlan network
2. Install k

[2021-04-27 10:17] ArenaSu commented on #4569
[code]

[2021-04-27 12:28] darkhonor opened #4570 "policy/v1beta1 PodDisruptionBudget Deprecated in v1.21+, unavailable in v1.25+"
When applying the Calico manifest on a native Kubernetes cluster running v1.21.0, the following warning is shown:

Warning: policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+, unavailable in v1.25+; use policy/v1 PodDisruptionBudget

The PodDisruptionBudget is created as expected for the time being.  This is a new warning as of v1.21 and is not displayed on earlier releases of Kubernetes.

[2021-04-27 15:17] inistor commented on #4492
One more 'vote' for this. We are running an on-prem IPv6 vanilla kubernets so I can assist with testing, if needed.

[2021-04-27 21:54] caseydavenport commented on #4564
@catblade could you share the output of running `calicoctl version`?

This sounds most likely like the `calicoctl` binary version you're using is out of date.

[2021-04-27 23:04] #4521 closed

[2021-04-27 23:06] caseydavenport commented on #4570
@darkhonor yep, we'll definitely need to update those manfiests.

It will still work fine to use the v1beta1 API for now. We'll want to switch the default in a release or so in order to make sure we're compatible with +/- a Kubernetes release.

[2021-04-27 23:13] caseydavenport commented on #3530
@alaytonoracle the Calico CNI plugin writes the IP address back to the pod as an annotation to close the race-condition window caused by the kubelet's update batching delay. Once the kubelet updates the pod status, then the annotation will be ignored moving forward.

[2021-04-27 23:17] caseydavenport commented on #4569
@ArenaSu I'd suggesting doing some network tracing to see where the packet is being dropped. If I had to guess, I would assume that your openstack network itself is dropping packets to/from pod IPs because it doesn't know how to route them (or is performing some sort of filtering).

Double check that your underlying network is allowing the packets. Is there a router between your nodes or are they

[2021-04-27 23:21] caseydavenport commented on #4563
@ReyRen looks like your host network supports jumbo frames of MTU 9000, but you have configured the Calico network with an MTU of 1500 - that's likely why you're seeing a performance difference.

You can adjust Calico's MTU setting to match the host network (minus any enabled encap) or enable auto-MTU detection (if you're using a modern version of Calico that supports it).

https://docs.projectcal

[2021-04-27 23:26] caseydavenport commented on #4542
Very curious that it's a single-node cluster (meaning the source pod and the DNS pod are likely co-located).

One other thing to try would be to do an nslookup using the exact IP address of the pod (not the Service IP) to see if there is a difference between accessing the DNS server via the Service or not.

If it can be accessed via pod IP but not via service IP, then that points to something wron

[2021-04-27 23:30] caseydavenport commented on #4558
This seems to suggest that either:
- kube-proxy has failed to properly program the DNAT rules for the Service on that node.
- kube-proxy is working fine, but something is wrong with the node's networking such that the API server is not accessible

I'd recommend checking the iptables rules that kube-proxy has programmed for the 10.96.0.1 address to see if they are NATing to the correct address, and

[2021-04-27 23:37] caseydavenport commented on #4557
@holmesb did you update the ClusterRole as part of that upgrade?

When upgrading Calico image versions, you also need to update the associated Kubernetes resources, as they are pretty tightly coupled.

v3.18.0 introduced a new requirement for kube-controllers to `watch` IPAM blocks. If you compare the v3.18 ClusterRole with the v3.16 cluster role, you'll notice this change:

[code]

In general, do

[2021-04-27 23:37] #4557 closed

[2021-04-27 23:39] #4496 closed

[2021-04-28 06:57] nktpro commented on #4235
@tommasopozzetti Release `v3.18.2` was supposed to address this according to the release notes referencing the PR above. However we've just upgraded to `v3.18.2` (and even rebooted all nodes) and re-tested, this issue still persisted.

This is a **severe** regression which would prevent any `VolumeAttachment` to be released, such that a stateful pod can transition from a drained node to another on

[2021-04-28 14:47] catblade commented on #4564
@caseydavenport  3.18.1

[2021-04-28 14:47] ghost opened #4577 "in Calico for windows allow to specify the Ethernet interface"
Is this possible?
I have checked through the scripts, and this should work,

1) in Node-Service.ps1
    Call New-HNSNetwork with the parameter AdapterName.
    So if Node-Service.ps1 were checking config.ps1 and reading the adapter name from there the HNS network (vmswitch) is created with another interface as physical backend

2) kubelet-service.ps1
   Get-NetAdapter | ? Name -Like "vEthernet ($I

[2021-04-28 20:36] jayaddison commented on #4542
My naive way to do this was to `kubectl -n kube-system get pods`, and then `kubectl -n kube-system describe pods/<pod-id>` for one of the (two) CoreDNS pods, and the copy the IP address from the output of that.  Here's what I get as a result of passing that to `nslookup`:

[code]

`NetworkManager` is running, yep - so that is plausible.

`journalctl -eu NetworkManager` does show some log messages

[2021-04-29 05:00] gautam2187 commented on #3818
@yiyan-wish @Mnbill @ragunathan23 Did you guys figure out a solution to make it work. Thanks!

[2021-04-29 05:21] elgamal2020 opened #4580 "Calico interface is failing"
for Two pods with Multus , their principal calico interface "eth0" is failing in ip monitor
[code]
Environment description : 3 node cluster (Master/worker) K8s 1.19.2
[code]

IP monitor shows the failed interface
[code]

the pod routes and multi interfaces

[code]

Node interfaces
[code]
[code]
ip r

default via 10.2.22.1 dev ens192 proto static
10.2.15.0/24 dev ens256 proto kernel scope link src

[2021-04-29 11:22] eplightning commented on #4235
Can confirm this still happens after upgrade to 3.18.2 as well.

Maybe the dependency didn't get upgraded for cni-plugin? https://github.com/projectcalico/cni-plugin/blob/v3.18.2/go.mod seems to point to commit older than the cherrypick

[2021-04-29 21:20] lmm commented on #4577
That looks about right. May I ask what plaform you're trying to install Calico for Windows on? I think some users have reported that some Windows VMs have different vEthernet names... I believe vSphere was one of them. So I think in those cases, you may need to update the scripts as you suggest.

Do the changes work for you?

[2021-04-29 23:28] malikumaliku commented on #4577
Windows 10 raw metal, but several psychical interfaces

[2021-04-30 00:05] sagor999 opened #4583 "kube-apiserver: error building openapi models for networkpolicies.crd.projectcalico.org"
Running calico 3.18.2 on k8s 1.18.18 and I am seeing this in the log of kube-apiserver:
[code]
Seems like CRD is not configured properly?
It doesn't cause any issues (it seems like?) but would be great if possible to fix those errors?
Unless this is due to using 1.18 version of k8s?

## Steps to Reproduce (for bugs)
Deploy calico CNI, look at kube-apiserver logs and notice those errors.

## Your E

[2021-04-30 05:01] eplightning commented on #4583
Most likely related (fixed in K8s 1.21): https://github.com/kubernetes/kubernetes/issues/90902

[2021-04-30 07:50] ReyRen commented on #4563
@caseydavenport Thanks, close this

[2021-04-30 07:50] #4563 closed

[2021-04-30 13:59] mattstam commented on #4525
For anyone experiencing an upgrade failure due to this, this should solve the issue:

1. Check to see if `tigera-operator` is running but the node still has the label `projectcalico.org/operator-node-migration=pre-operator`
2. If so, overwrite the label: `kubectl label node <node> projectcalico.org/operator-node-migration=migrated --overwrite`

That should get all the new calico-system resources r

[2021-04-30 18:09] manuelbuil opened #4585 "Not possible to change the image names when using the helm chart"
When deploying Calico via Helm, we can define the image name for both tigeraOperator and calicoctl. However, this is not possible for the rest of images: calico/node, calico/kube-controller, calico/typha, calico/cni and calico/pod2daemon-flexvol.

This limitation could severely impact organizations that use private registries since they are forced to use the same image name, which is in general qu

[2021-04-30 21:47] tmjd commented on #4585
If you can create sub-paths like it looks like your path contains can't you do `my.local.registry/prod/rancher-images/calico/node`? The only way renaming the images would be necessary is if you can't have any 'orgs' or 'paths' in the registry.

This is really a feature request on the operator as the image names are controlled by the operator itself, that is why the operator and calicoctl images co

[2021-05-01 07:07] ArenaSu commented on #4569
Thanks，solve it. Neutron port allowed-address parameter should be set.

[2021-05-01 07:08] #4569 closed

[2021-05-01 11:54] eplightning commented on #4235
I can confirm that 3.19.0 fixed the issue for me.
[code]

[2021-05-02 04:17] nktpro commented on #4235
I confirmed this is resolved in `3.19.0` release as well. Thanks @caseydavenport

[2021-05-03 05:56] khatrig opened #4589 "Enhancement Request: Autoscale Tpyha PODs based on the no. of nodes in the cluster"
## Suggested Behavior
As no. of nodes scale in the cluster, calico should Identify and scale the no. of typha replicas automatically.

## Current Behavior
Calico suggests running 1 typha replica per 100 nodes in the cluster. Scaling the no. of nodes in the cluster also requires updating typha replicas manually. The alternative is to run high no. typha instances from the start which is not optimal

[2021-05-03 09:13] TBFreaq commented on #4558
Sorry for the late reply. The notification mail somehow ended up in my Junk folder.

Do you have an example of a good/working iptables config?
I'm not that familiar with NAT rules or iptables in general.

Output of `sudo iptables -nvL -t nat` (first few lines):
[code]

One thing I got wrong in the original post:
Our Master node is running on Ubuntu 20.04, whereas the worker node is running on Debi

[2021-05-03 10:06] manuelbuil commented on #4585
Unfortunately, 'orgs' or 'paths' are not always possible. Therefore, being able to change the name would help us a lot

Could you point me to the correct repo where I should create this request please? I am not sure where the operator issues are handled. Thanks!

[2021-05-03 13:34] vd-rd commented on #4487
Yes, that is correct and fixes the issue encountered. However, after switching to eBPF, and with the BPF configs and mounts in the kernel, calico reports BPF is not enabled. Digging deeper into the issue, another two popped and are related #4306  and #2965. It's really inconvenient for ARM64 users, bc docs don't address these shortcomings. I understand from the labels that there aren't many arm64

[2021-05-03 14:54] tmjd commented on #4585
I think this is a fine place for this request. So I don't think there is a need to move it anywhere.

I was thinking about this a bit over the weekend and have a couple ideas. But first I want to give some context on why we would like to avoid generally allowing the specifying of individual image names. In general for the operator we've avoided exposing component settings and implementation detail

[2021-05-03 17:43] bjetal commented on #3795
I came up with another, possibly better solution for this issue:  set the `FELIX_CHAININSERTMODE` to `Append`.  Nodelocaldns installs its own IPTables rules, but they get hidden by Calico when it keeps its rules first in the filter table's INPUT chain.

NOTE: this does not fix the problem with the health check.  My preference there is some way of allowing all traffic on the loopback interface to p

[2021-05-03 17:48] bjetal commented on #4478
I finally figured out one way to solve this problem is to create a host end point for each host's loopback (lo) interface and allow all traffic in and out on that interface.  The problem with this solution is that these HostEndpoint objects are node specific, which means as nodes get added and removed, they need to be kept up to date.  I'd really love for something like this to be added to the aut

[2021-05-03 21:07] mskel003 commented on #4478
Thanks bjetal. I have configured our environment to not use nodelocaldns for now. Instead its now managed through ansible when we tear-down and recreate the cluster –
..making sure the clear the “iptables -t nat” “iptables -t mangle” “iptables -t raw” so calico can start fresh – as it doesn’t fully clean these tables when there is an init/join.

From: bjetal ***@***.***>
Sent: Tuesday, 4 May 2021

[2021-05-03 22:11] mgleung commented on #4235
Release `v3.18.3` should also include this change since it was missed in `v3.18.2` for those wanting to stay on Calico v3.18

[2021-05-04 05:44] ejderdal commented on #4025
Agree, this would be very useful. Any news?

[2021-05-04 16:27] lwr20 commented on #4589
If you install using tigera-operator, it will take care of this for you.
See https://docs.projectcalico.org/getting-started/kubernetes/quickstart

[2021-05-04 16:28] mgleung commented on #4523
Closing this due to lack of activity. Feel free to reopen if the problem returns.

[2021-05-04 16:28] #4523 closed

[2021-05-04 16:35] lwr20 commented on #4553
@fasaxc do you happen to know the state of this feature?

[2021-05-04 16:38] song-jiang commented on #4558
@TBFreaq Can you run the command as shown below? `ubuntu@ip-172-20-43-135:~$ sudo iptables-save -c | grep 10.96.0.1/32
[0:0] -A KUBE-SERVICES ! -s 192.168.0.0/16 -d 10.96.0.1/32 -p tcp -m comment --comment "default/kubernetes:https cluster IP" -m tcp --dport 443 -j KUBE-MARK-MASQ
[0:0] -A KUBE-SERVICES -d 10.96.0.1/32 -p tcp -m comment --comment "default/kubernetes:https cluster IP" -m tcp --dport

[2021-05-04 16:41] lwr20 commented on #4533
This work is now available in Calico v3.19.0
https://docs.projectcalico.org/release-notes/#windows-data-plane-support-for-containerd

[2021-05-04 16:42] mgleung commented on #4490
Closing for now due to lack of activity. Please feel free to reopen if the problem persists.

[2021-05-04 16:42] #4490 closed

[2021-05-04 16:53] song-jiang commented on #4526
Close due to lack of activity. Please reopen if needed.

[2021-05-04 16:53] #4526 closed

[2021-05-04 16:56] mgleung commented on #4434
Closing this due to lack of activity. If the problem persists, feel free to reopen the issue.

[2021-05-04 16:56] #4434 closed

[2021-05-04 16:57] gautam2187 commented on #3818
So I found the problem in my case. It was the srcdst pod which had the bad cert mount path due to the recent change in kops
https://github.com/kubernetes/kops/pull/10169/files. It worked fine after fixing the cert path, so calico was not causing it. @mgleung

[2021-05-04 17:10] lmm commented on #4556
Can you share the host endpoint manifest you used? I believe we have failsafe rules that should prevent calico on the node with the host endpoint from being cut off from policy updates.

[2021-05-05 04:39] khatrig commented on #4589
@lwr20 , I referred [tigera-operator](https://docs.projectcalico.org/manifests/tigera-operator.yaml) but I could not find a reference for typha autoscaling as per no. of nodes. Can you please help me understand how typha autoscaling is done?

Thanks.

[2021-05-05 07:30] manuelbuil commented on #4585
Thanks for the proposals. Option 2 seems perfect for our use case :)

[2021-05-05 08:24] thanhlong9x commented on #4506
This is my Bgp configuration. I want to advertise cluster IP 10.96.0.0/12 of cluster.
![image](https://user-images.githubusercontent.com/29721257/117113838-3da76b00-adb5-11eb-8a2d-16cb96b4aab1.png)

However, I just see IP of Pod when show route table
![image](https://user-images.githubusercontent.com/29721257/117114271-d0e0a080-adb5-11eb-9440-fdd270857cc6.png)

[2021-05-05 10:37] fasaxc commented on #4553
I can't recommend using that feature; I believe there are still kernel issues that make it unstable.

[2021-05-05 12:48] lwr20 commented on #4589
https://github.com/tigera/operator/blob/master/pkg/controller/installation/typha_autoscaler.go#L40-L54

[2021-05-05 16:21] #3776 closed

[2021-05-05 16:21] #4036 closed

[2021-05-05 16:25] paulgmiller commented on #4518
Azure/AKS#2223 documents a pretty good repro of this in AKS. when chained onto the azure cni.

I'm confused if the revert https://github.com/projectcalico/libcalico-go/pull/1406/files might be a fix? If so taking 1.19 might be a soltuion here?

[2021-05-05 17:29] caseydavenport commented on #4235
Thanks for the help and patience! Glad we got it sorted out.

[2021-05-05 17:29] #4235 closed

[2021-05-05 20:20] DennisGlindhart opened #4594 "Feature/Tool Request: Convert K8S NetworkPolicy to Calico NetworkPolicy"
Ability/Way/Tool to convert from a "k8s" NetworkPolicy (networking.k8s.io/v1 ) to "Calico" NetworkPolicy (projectcalico.org/v3).

## Use case
Having an bunch existing NetworkPolicies in the standard k8s native format (existing manifests, other sources, packages, external parties etc.) and want to extend/patch it with Calico-only functionality - i.e. replace the "Drop" with "Log"-target/directive f

[2021-05-06 09:05] TBFreaq commented on #4558
I think it might not have been set up correctly:
Master Node:
´´´
[0:0] -A KUBE-SERVICES -d 10.96.0.1/32 -p tcp -m comment --comment "default/kubernetes:https cluster IP" -m tcp --dport 443 -j KUBE-SVC-NPX46M4PTMTKRN6Y
´´´
Worker Node:
´´´
[26:1560] -A KUBE-SERVICES -d 10.96.0.1/32 -p tcp -m comment --comment "default/kubernetes:https cluster IP" -m tcp --dport 443 -j KUBE-SVC-NPX46M4PTMTKRN6Y
´´´

[2021-05-06 09:51] vgaurihar opened #4595 "Calico for windows network issue with BGP networking on RKE cluster"
**Calico for windows network issue with BGP networking on RKE cluster**

## Expected Behavior

While configuring calico for windows on RKE cluster(provisioned by Rancher Dashboard), I followed official documentation
https://docs.projectcalico.org/getting-started/windows-calico/kubernetes/rancher
In this case we have used BGP networking
https://docs.projectcalico.org/getting-started/windows-calico/

[2021-05-06 10:26] fasaxc commented on #4518
@paulgmiller sadly that was reverting a candidate fix. The candidate fix broke a bunch of system tests in a non-obvious way

[2021-05-06 17:04] feranwq opened #4596 "When accessing ingress, remote_addr showed difference source ip"
When accessing ingress, remote_addr shows inconsistent source ip
The source IP is sometimes a node IP, sometimes a tunnl0 IP.
When the source IP is a node IP, it can access https ingress, when the source IP is tunl0, it will timeout
Access http ingress, no matter what the source IP is, there is no problem

[code]

[2021-05-07 16:05] #4426 closed

[2021-05-08 18:58] RazieI commented on #4553
I see. Thank you for response.

[2021-05-09 12:14] khatrig commented on #4589
I installed calico as part of kubespray cluster setup which doesn't use tigera operator out of the box.
Are there any plans to support typha autoscaling through calico manifests?

[2021-05-10 03:34] cc20110101 opened #4597 "calico-node Unauthorized error"
use etcd datastore install  calico:
https://docs.projectcalico.org/manifests/calico-etcd.yaml

logs:
[root@k8s-master1 ~]# kubectl logs -n kube-system calico-node-d4wqc -f
2021-05-10 01:37:53.812 [INFO][10] startup/startup.go 390: Early log level set to info
2021-05-10 01:37:53.812 [INFO][10] startup/startup.go 408: Using stored node name k8s-node1 from /var/lib/calico/nodename
2021-05-10 01:37:53

[2021-05-10 08:24] lwr20 commented on #4589
Even if that happened in the Calico manifests, Kubespray has its own built-in Calico manifests (via templates).  e.g.:
https://github.com/kubernetes-sigs/kubespray/blob/master/roles/network_plugin/calico/templates/calico-typha.yml.j2

It sounds like what you actually want is for _Kubespray_ to include a Typha autoscaler?

[2021-05-10 16:46] caseydavenport commented on #4583
Looks to be a bug upstream that has been fixed.

[2021-05-10 16:46] #4583 closed

[2021-05-10 19:26] svallala opened #4599 "Calico support for stretched v6 clusters across multiple L2 subnets"
Issue:

We have a need to stretch a cluster across multiple v6 subnets. We have tried BGP and VXLAN as the backend with Calico, but both of them expect underneath infrastructure configuration to support stretching the V6 cluster across subnets. With BGP, peering has to be configured with the routers in between. This works seamlessly with V4 clusters, is there any option to have this working with V

[2021-05-11 11:56] GsssC opened #4603 "Unable to connect to BIRDv4 socket: dial unix /var/run/calico/bird.ctl: connect: connection refused"
## Expected Behavior

Calico run well
## Current Behavior

Calico-node pods are unready. One of them continuesly log event `Unable to connect to BIRDv4 socket: dial unix /var/run/calico/bird.ctl: connect: connection refused` like below:
![image](https://user-images.githubusercontent.com/29768082/117811295-f3c9f380-b292-11eb-9785-4801b481f181.png)

## Possible Solution

Sorry I don't know
## Steps

[2021-05-12 09:12] codility99 opened #4604 "Calico + Kubernetes - Unable to reach external network IP/Network"
Hi,

I'm having an on premise kubernetes cluster with calico as CNI plugin.
With natOutgoing set to true,
- Pod-to-Pod ping is successful with no issue,
- Pod can reach to internet
- container able to ping host(pod's host)

== IpPool configured ==
apiVersion: projectcalico.org/v3
items:
- apiVersion: projectcalico.org/v3
  kind: IPPool
  metadata:
    name: default-ipv4-ippool
  spec:
    blockSiz

[2021-05-12 09:14] pagarwal-tibco opened #4605 "Liveness probe failed: calico/node is not ready: Felix is not live: liveness probe reporting 503"
Getting following error for calico-node pod

`Liveness probe failed: calico/node is not ready: Felix is not live: liveness probe reporting 503`

## Steps to Reproduce (for bugs)
I am deploying calico CNI in 2 node kubernetes Kind(https://github.com/kubernetes-sigs/kind) cluster. I keep seeing following liveness probe failures with following logs

`
2021-05-12 08:53:53.213 [WARNING][53] felix/healt

[2021-05-12 09:33] vgaurihar commented on #4595
@lwr20 could you please assist in this?

[2021-05-12 09:51] lwr20 commented on #4595
@song-jiang is the windows expert.

A couple of questions from me though - is there anything blocking BGP (TCP port 179) between nodes in your network?  What does the BGP status look like from the Linux nodes?  i.e. run `calicoctl node status` on one of your linux nodes.

You say you're using BGP and IPIP overlay in your cluster, but the windows quickstart says this mode is explicitly NOT supporte

[2021-05-12 10:23] codility99 commented on #4604
Resolved, tks

[2021-05-12 10:23] #4604 closed

[2021-05-12 12:52] lixmal opened #4606 "Wireguard interface MTU not adjusted"
## Expected Behavior
MTU on physical interfaces should be reflected on the wireguard interface, i.e. `link mtu - 60`.
So for example wireguard MTU of `8940` for a link MTU of `9000`.

## Current Behavior

The physical interfaces have set MTU to `9000`
[code]
calico interfaces end up with `9000`
[code]

MTU of the `wireguard.cali` interface is at `1440` instead of `8940`.
[code]

The generated wire

[2021-05-12 13:26] akosiaris opened #4607 "Support BFD in the confd generated bird configuration"
Hi!

At the Wikimedia Foundation, the non profit that operates Wikimedia, we 've been happy users of calico circa 2017. It's powering our kubernetes clusters quite nicely, so nicely that we never had up to now ask of anything. Well, here's a first request (which we are aiming to contribute code for)

Our setup isn't particularly complex, in fact the network part of it is described in detail at htt

[2021-05-12 14:02] mhulscher commented on #4518
Is there perhaps an updated ETA for a fix to this issue?

[2021-05-12 19:32] #4529 closed

[2021-05-13 08:42] 08Leinad08 commented on #4518
I would also be keen to know if there is an ETA?

[2021-05-13 23:29] rsparulek opened #5200 "calico-node pods crash when VXLAN backend is used on IPv6 clusters with IPv6 Calico pools"
calico-node pods crash when VXLAN backend is used on IPv6 clusters with IPv6 Calico pools

## Expected Behavior
There should be a friendly warning for such issue. Calico pods should not enter into crash state.

## Current Behavior
calico-node pods crash when VXLAN backend is used on IPv6 clusters with IPv6 Calico pools

## Steps to Reproduce (for bugs)
Install K8S 1.21 multi node cluster and use C

[2021-05-14 08:44] song-jiang commented on #4595
Can you try to access pod ip between linux pod and windows pod? Maybe this is an kube-proxy issue.

As @lwr20 said, IPIP is not supported on Windows.

[2021-05-14 14:09] Mtt6300 commented on #2561
Quick response for new calico version:
If you are using **Tigers** operator for manage and configure calico DaemonSet, you should change your Tigera config file like that:
[code]

You can see more options here : https://docs.projectcalico.org/reference/node/configuration

[2021-05-15 10:15] thechristschn commented on #3589
Hallo @caseydavenport,
do you have any updates? We seem to have the exact same problem in one of our clusters.

[2021-05-17 13:39] SachinKSingh28 opened #4609 "calico 3.19 busy loop on Failed to synchronise routes error=netlink update operation failed"
We have calico 3.19.0 running on EKS and on some nodes, the node process runs into a busy loop with following messages in the log:

[code]

This results in dns resolution failures against coredns service in the pods running on the impacted node.

## Expected Behavior

Processes running in the pod should be able to resolve dns names

## Current Behavior

DNS resolution fails.

## Possible Solution

[2021-05-17 14:56] SachinKSingh28 commented on #4609
Just wanted to add another note for others who may come across the same issue -

We are using kubernetes cluster for gitlab runners and one of these runners was setup to mount docker socket. I suspect that when we created more containers using dind on the same node it messed up networking for calico and calico started having issues with syncing the routes. I haven't looked too much in detail but o

[2021-05-17 16:08] caseydavenport opened #4610 "VPP dataplane progression to GA"
This is an umbrella issue for tracking progression of the VPP dataplane integration from tech-preview to GA. Checklists here are likely to evolve over time.

## Move to Beta

### General

- [x] Operator integration (https://github.com/tigera/operator/pull/1415)
- [x] Include VPP dataplane in more CI suites (e.g., felix, calico/node, cni plugin)
- [x] Comprehensive code review from someone at Tiger

[2021-05-17 17:35] alaytonoracle commented on #3530
@caseydavenport Thanks.  But in the case of a k8s job, each job creates a new pod - so the delays occur every time under heavy volumes.  I'm not clear if there is a workaround for this.  If not, do you know if there's any ETA for a fix for the root issue?  Thanks for the help.

[2021-05-17 22:22] #4609 closed

[2021-05-18 00:25] mattstam opened #4611 "projectcalico.org/IPv4Address annotation pointing to wrong node's IP CIDR"
On Kubernetes clusters > 1.20, `calico-node` fails because of this reason. When it occurs, the logs from this `calico-node` (running on node2 in example) looks like:
`startup/startup.go 411: Determined node name: node2`
`startup/startup.go 103: Starting node node2 with version v3.18.1`
`...`
`startup/reachaddr.go 57: Checking CIDR CIDR="10.240.0.4/16"`
`startup/reachaddr.go 59: Found matching inte

[2021-05-18 00:44] mattstam commented on #4611
## Mitigation
If anyone comes across this problem in their cluster, here are the mitigation steps:

Identify which node has the incorrect annotation by doing `kubectl log <crashing calico-node pod> -n calico-system` and look for something like:
`startup/startup.go 1128: Calico node 'node1' is already using the IPv4 address <IP of different node>`

Check `node1` and see if it has annotation `projec

[2021-05-18 13:51] vaibhavjpr opened #4612 "no matches for kind "Installation" in version "operator.tigera.io/v1""
vagrant@ubuntusys:~/eksctl$ kubectl apply -f https://raw.githubusercontent.com/aws/amazon-vpc-cni-k8s/release-1.7/config/v1.7/calico.yaml
customresourcedefinition.apiextensions.k8s.io/bgpconfigurations.crd.projectcalico.org created
customresourcedefinition.apiextensions.k8s.io/bgppeers.crd.projectcalico.org created
customresourcedefinition.apiextensions.k8s.io/blockaffinities.crd.projectcalico.org

[2021-05-19 06:51] yxxhero opened #4613 "calico don't add blackhole route."
## Expected Behavior

calico add blackhole.
## Current Behavior

calico don't add blackhole route.
## Possible Solution

How should I check the problem？ Thanks very much.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version: v3.15.1
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operating System and version:
* Link to your project (optional):

[2021-05-19 06:59] steffakasid opened #4614 "Helm tigeria-operator specify private repository for all created resources"
Hi,

is it possible to specify a private repository (mirror repository) for resources created by the tigeria-operator (calico-node, calico-kube-controller, calico-typha)?

Regards
Steffen

[2021-05-19 07:02] steffakasid commented on #4614
I found it: https://docs.projectcalico.org/reference/installation/api#operator.tigera.io/v1.Provider

[2021-05-19 07:02] #4614 closed

[2021-05-19 07:49] kciredor commented on #2959
Hi @zetaab, after upgrading kops from 1.18 to 1.19 on OpenStack we are running into connectivity issues with Calico as well. Even though all masters/nodes are in one subnet. Your commands to fix the issue work, but only temporary, the issue comes back after $rand days (usually 1-4). What exactly did you mean with your last comment: "it seems that protocol 4 was not added correctly to openstack por

[2021-05-19 14:58] lwr20 commented on #4612
A workaround for this error is to apply the manifest twice.

[2021-05-19 17:41] pankajagarwal opened #4615 "Running multiple instances of external calico/node on a host pointing to two different Kubernetes cluster"
calico/node has a hard configured interface tunl0 which is causing conflict in a situation where we are deploying two container's on a host pointing to two different Kubernetes cluster.

by watching ifconfig -a it show's the IP get's switched from the two different cluster cidr range.

## Expected Behavior
there should be two different unique interfaces like tunl0 or tunl1 if tunl0 is already in u

[2021-05-20 00:18] #4613 closed

[2021-05-20 01:21] pankajagarwal commented on #1482
@caseydavenport  is it possible to change the interface name from tunl0 to tunl1 at cluster level or container level ?

[2021-05-20 04:12] gclawes commented on #4514
Helm Chart Releaser Action would be useful for this: https://github.com/helm/chart-releaser-action

The chart is already stored as release artifacts, this would provide indexing.

[2021-05-20 04:39] khatrig commented on #4589
This is correct. Thanks for the help.

Closing this request.

[2021-05-20 04:39] #4589 closed

[2021-05-20 04:52] pagarwal-tibco commented on #4605
I am still facing this issue. Can someone please help?

[2021-05-20 05:22] awprice commented on #4518
To add an additional data point, we're also experiencing this issue as well.

Calico version: `v3.17.3`
AWS VPC CNI version: `v1.7.9-rc1`
containerd version: `1.4.3`

[2021-05-20 06:45] varleg commented on #4611
Thank you for this. Really helpful as we experienced this exact issue upgrading kubernetes on aks from 1.19.3 to 1.20.5. Several of our production nodes had skewed labels and Ip's, while our dev environment was unaffected.

[2021-05-20 09:34] lwr20 commented on #4611
Here's the Calico Users chat between @caseydavenport and @mattstam on this:
https://calicousers.slack.com/archives/CPTH1KS00/p1621288636253300
(in case there's any clues in there)

[2021-05-20 11:49] vrabbi commented on #4514
This would be extremely helpful in automating the installation and upgrades of calico. Once the chart is built having it added to a repo seems to make sense to me and would as mentioned make terraform argo and flux workflows much easier.

[2021-05-20 11:51] vrabbi commented on #4514
This would also allow management via tools like kubeapps which would make it much easier to managr upgrades from a simple ui.

[2021-05-20 12:26] salanki commented on #4431
Now that this is reproduced, any ideas on how to mitigate it?

[2021-05-20 16:05] #4533 closed

[2021-05-20 16:06] bcreane commented on #4556
hi @ShawnBian - I'll close for now due to inactivity, but please feel free to reopen if this is still an issue and you're able to provide the host endpoint manifest that @lmm requested. cheers

[2021-05-20 16:06] #4556 closed

[2021-05-20 16:08] caseydavenport commented on #4596
Are you accessing this service via a NodePort service? If so, SNAT will occur in some cases and potentially not in other cases.

Additionally, if you have a pod local to the node performing the requests those won't traverse the node network and so won't get the IP tunnel address, whereas traffic that leaves the node will leave with the tunnel address as its source. Sounds like one or both of those

[2021-05-20 16:08] lmm commented on #4334
@jnummelin We've added containerd support to v3.19.0 🙂 https://docs.projectcalico.org/release-notes/#windows-data-plane-support-for-containerd

Please try it out with k0s again and let us know if you run into any more issues, thanks!

[2021-05-20 16:08] #4334 closed

[2021-05-20 16:08] mattstam commented on #4611
@neiljerram This problem looks similar to https://github.com/projectcalico/calico/issues/4525 in that all of the times I have seen this it has been when doing a cluster upgrade (specifically going from k8s versions below 1.20 to above).

node1's history will depend on how long the cluster had been sitting below 1.20 before upgrade, but I've been able to reproduce just creating a cluster at v1.19.9

[2021-05-20 16:09] lwr20 commented on #3818
@yiyan-wish on EKS this is expected.  See https://docs.projectcalico.org/getting-started/kubernetes/managed-public-cloud/eks

[2021-05-20 16:09] caseydavenport commented on #4524
calico/node needs to communicate with the API server, as does the Calico CNI plugin, so I think this is working as expected.

[2021-05-20 16:09] #4524 closed

[2021-05-20 16:09] #4446 closed

[2021-05-20 16:10] #4380 closed

[2021-05-20 16:15] lmm commented on #4597
Hi @cc20110101 , sorry for the late reply - does the error go away eventually or does the install fail to proceed beyond this point?

[2021-05-20 16:16] asudhakarreddy opened #4617 "hostPort is not working after upgrade from calico v3.15.5 to any latest(v3.16.0 above)"
## Expected Behavior
In k8s deployment container hostPort should expose to the host level

## Current Behavior
with calico version v3.16.0 and above hostPort functionality broken
## Possible Solution

## Steps to Reproduce (for bugs)

1. Create a Kubernetes cluster with version v1.19.8 and use Calico CNI v3.16.10
2. Deploy an application with exposing SNMP trap port 162 as hostPort
3. Check that p

[2021-05-20 16:16] lwr20 commented on #4412
@fasaxc do you happen to understand why ESP packets would be delivered to the tunl0 device?

[2021-05-20 16:16] caseydavenport commented on #4542
@jayaddison sorry for the delay!

NetworkManager sounds like a potential culprit... we have some steps you can take to configure it to stand down: https://docs.projectcalico.org/maintenance/troubleshoot/troubleshooting#configure-networkmanager

Essentially:

Create the following configuration file at /etc/NetworkManager/conf.d/calico.conf to prevent NetworkManager from interfering with the interfa

[2021-05-20 16:17] bcreane commented on #4493
@jbnjohnathan closing for now since I think @lmm described why we wouldn't expect k8s policy to work on a host networked pod. Feel free to reopen if there is more to the story.

[2021-05-20 16:17] #4493 closed

[2021-05-20 16:19] song-jiang commented on #4605
@pagarwal-tibco Did you installed Calico v3.18 on your kind cluster?  What is the network backend, vxlan or BGP?

@neiljerram Could you help?

[2021-05-20 16:21] bcreane commented on #4505
Hi @khalid-davis, I'll close for now since the original query was answered quite capably by @lwr20 . Please reach out if on http://slack.projectcalico.org with questions while you work on your pull request. cheers

[2021-05-20 16:21] #4505 closed

[2021-05-20 16:24] lmm commented on #4561
@elgamal2020 I'm going to close this issue for now since it's a bit stale, but if are still having issues please re-open or get in touch in our Slack channel.

[2021-05-20 16:24] #4561 closed

[2021-05-20 16:31] lmm commented on #4615
Hi @pankajagarwal, running two calico-node's on the same host is not something we test -- I'm not sure it will work actually.

Not related to your question but v3.8.9 is super old - I'd recommend using a newer Calico version since there will have been many bugfixes since.

[2021-05-20 16:34] lmm commented on #4615
Ahh, I found your Slack thread 🙂 https://calicousers.slack.com/archives/CPEPF833L/p1621520096035500

[2021-05-20 16:34] mgleung commented on #4606
I believe that we have a separate field other than `mtu` in order to set Wireguard MTU values (maybe `wireguard_mtu`?) but I'm not quite sure. @petercork would you happen to know what the right field is to set Wireguard MTU?

[2021-05-20 16:35] song-jiang commented on #4599
@svallala I believe Calico supports BGP in the same way with both v4 and v6 . Not sure why your cluster only got v4 working. Maybe checking v6 routes in between your subnets ?

[2021-05-20 16:38] svallala commented on #4599
Across v6 subnets how will Pod routing work without any kind of tunneling in place. The underneath infrastructure has to have BGP peering enabled. When it's V4 since pod traffic can be tunneled it's easy.

[2021-05-20 16:44] song-jiang commented on #4599
@neiljerram Probably one for you. Could you help?

[2021-05-20 16:57] song-jiang commented on #4617
Do we happen to get any log from kubelet on portmap plugin? I suspect we may have an issue here since we are not actively testing portmap plugin.

[2021-05-20 16:57] jnummelin commented on #4334
@lmm that's good news. I'll take it on our todo list to try it out

[2021-05-20 17:04] caseydavenport commented on #4597
Sounds like we're missing an RBAC permission in the calico-node ClusterRole?

[2021-05-20 17:11] HarishankarYellapragada commented on #2561
For some reason I forgot to create a file in .kube/config
and `docker system prune`

all started to work. check installing calicoctl. use `calicoctl node status`

[2021-05-20 17:30] neiljerram commented on #4599
@svallala With BGP it will only work if the infrastructure router learns how to route pod IPs.  Can you peer from Calico to the infrastructure router?  Or can you teach the infrastructure router about pod IPs in some other way?

[2021-05-20 17:31] neiljerram commented on #4599
With VXLAN I'm not sure but I guess the problem is that we've only implemented IPv4 over VXLAN, and not IPv6 over VXLAN.

[2021-05-20 17:33] neiljerram commented on #4599
Yes, that's right.  Our doc at https://docs.projectcalico.org/archive/v3.19/networking/vxlan-ipip says

[2021-05-20 17:36] neiljerram commented on #4599
@svallala Another possible approach might be for you to use L2TP to simulate a single subnet across your whole cluster.  We do that for some of our testing, so that we can test non-overlay (i.e. BGP) for both IPv4 and IPv6, on GCP instances.

[2021-05-20 17:47] svallala commented on #4599
Thanks, @neiljerram, and @song-jiang for the info.

Yes, today we are using BGP peering to solve this for certain cases. The moment we have to configure the underneath infrastructure, the flexibility and ease of using a private Pod Network are lost.

Is it in your roadmap to support VXLAN for IPv6? Any timelines that you can share? As more operators are moving to k8s, there are a lot more v6 deplo

[2021-05-20 18:51] jayaddison commented on #4542
Thanks @caseydavenport - that's good documentation.  Applying the guidance led me to investigate the situation again, and -- surprise, surprise -- I think we can consider this issue a case of local configuration error.

It looks like DNS requests from the pods are being dropped when `coredns` attempts to forward them to the (host) network's DNS server at `192.168.1.1`.  The following appears in th

[2021-05-20 18:51] #4542 closed

[2021-05-20 20:39] neiljerram commented on #4599
@caseydavenport Can you comment if VXLAN for IPv6 is on our roadmap?

[2021-05-20 20:49] neiljerram commented on #4599
@svallala Also, though, for the record, I don't think it's clear that

Peering infrastructure router(s) with Calico can be a fairly trivial thing to set up, and many cluster designers are happy to do that in order to avoid a VXLAN/IPIP overlay for their pod traffic between nodes.

[2021-05-20 22:40] svallala commented on #4599
@neiljerram yes I agree, configuring BGP is a trivial thing. But in big operators, every small change can take a long time, especially if it's network infrastructure-related.

[2021-05-21 03:54] pagarwal-tibco commented on #4605
@song-jiang Calico backend is "bird".

Here is the yaml file used for deploying calico. Please note that CRDs are deployed separately.
[calico-all.yaml.zip](https://github.com/projectcalico/calico/files/6519931/calico-all.yaml.zip)

[2021-05-21 08:33] neiljerram commented on #4605
@pagarwal-tibco I think we will need more logs to understand this.  Could you try changing
[code]
to
[code]
and then redeploy, and attach one of the node logs here?

Also wondering about your KIND version and config.  Here's a config sample from our own testing:
[code]
Is yours also like that?

Our testing is using https://github.com/kubernetes-sigs/kind/releases/download/v0.8.1/kind-linux-amd64.

[2021-05-21 12:20] pagarwal-tibco commented on #4605
We are using KIND version 0.9 and 0.10 as we need to use Kubernetes version 1.19 and 1.20. We are using following KIND config,

[code]

Calico node debug logs are here
[calico.log](https://github.com/projectcalico/calico/files/6522409/calico.log)

[2021-05-21 12:41] fasaxc commented on #4412
I think it's common for VPNs to use IPIP and ESP together.  Perhaps the issue is simply that the VPN tunnel and Calico are both trying to use IPIP in conflicting ways.

I expect the easiest solution would be to switch Calico to VXLAN mode so that we avoid the clash.

[2021-05-21 12:56] neiljerram commented on #4605
@pagarwal-tibco Thanks for the log.  It indicates that the Felix component **does** become live after a few seconds.  So perhaps the liveness problem is in another component.  Can you check what `kubectl describe` says for a calico-node pod when it is not becoming live?  There should be a message that gives a bit more detail about the problem.

[2021-05-21 19:46] Elegant996 commented on #4564
Sounds like you may not have applied the latest manifest which contains the updated CRD. While `calicoctl` will accept the values for the loadbalancerIP, you do not have a CRD applied which supports storing it.

Hope this helps!

[2021-05-22 06:58] pagarwal-tibco commented on #4605
@neiljerram
Calico node pod keeps toggling between ready and not ready.

I see following event for calico-node
[code]

[2021-05-22 08:56] cc20110101 commented on #4597
/go/src/github.com/projectcalico/node/cmd/calico-node/main.go:114 +0x6b4
2021-05-22 08:52:40.355 [ERROR][412] felix/daemon.go 313: Couldn't read server version from server error=the server has asked for the client to provide credentials
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x2112d04]

goroutine 1 [runni

[2021-05-22 09:21] cc20110101 commented on #4597
[root@k8s-master1 ~]# kubectl delete pod calico-node-rzng8  -n kube-system
pod "calico-node-rzng8" deleted
[root@k8s-master1 ~]# kubectl get pod -n kube-system
NAME                                       READY   STATUS             RESTARTS   AGE
calico-kube-controllers-5c59f7dcf4-7rpsz   0/1     CrashLoopBackOff   7          22m
calico-node-m6hpz                          0/1     Running

[2021-05-22 21:34] jayaddison commented on #4542
For the record:

- Updating the pod CIDR IP ranges for the cluster seems to have resolved the issue (https://github.com/openculinary/infrastructure/commit/7eea0a20e0f8a5bbb5804856d8de36efccd01792)
- #2962 reads like a closely-related previous issue report - in particular the `coredns` pod logs appear very similar

[2021-05-23 04:14] tuan-phan commented on #2941
The issue happened when you are using contained and kubelet under proxy so please use @nia1048596's solution.

[2021-05-24 06:29] feranwq commented on #4596
@caseydavenport thanks to reply,
10.205.16.9 is a kubernetes worker node, 30443 is Nodeport with nginx-ingress svc

- the request from 10.205.16.9
- node+nodePort
- nginx-ingress deployment, replica 2, in 10.205.16.9(node) 10.205.16.10(node)

[2021-05-25 05:20] mbj0528 opened #4630 "set worker node rpfilter off, But cali-PREROUTING drop my packets."
set linux kernel rp_filter=0. but, iptables raw table cali-PREROUTING drop my packets.

## Expected Behavior

set linux rp_filter 0 (all, default, cali interface) (sysctl -w ...)
then, cali-PREROUTING can accept packets

## Current Behavior

drop packets.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

Set worker node linux rp_filter 0 (all, default, cali interfac

[2021-05-25 06:40] pagarwal-tibco commented on #4605
@neiljerram
I see same problem with calico 3.19.

[code]

Please let me know if you need anymore information.

[2021-05-25 11:28] poulomihore opened #4631 "Calico installation on Windows server results in network configuration to change to DHCP from static"
Installing Calico on Windows server (as a prerequisite for Kubernetes installation) with the install-calico-windows.ps1 script messes up the networking after every reboot. The static network configuration on the HyperV Virtual Ethernet Adapter (vNIC) changes to DHCP resulting in receiving a different IP from the DHCP server, which renders the node completely broken from network perspective.

## Ex

[2021-05-25 13:06] cowbalt opened #4632 "failing to access POD's in BGP network mode - ubuntu vm's (self hosted private network)."
setting up a lab environment running Ubuntu 20.04.2, kubernetes with Calico in BGP mode.
## Expected Behavior
Enabling BGP should allow communication to PODs directly from external hosts.

## Current Behavior
As soon as bgp is enabled (with node to node mesh disabled) to peer with the external Gateway, all routes get updated to the upstream router. Traffic generated from an external host, reaches

[2021-05-25 14:09] danilnich opened #4633 "k8s Windows pods don't have access to internet"
## Expected Behavior
Pods deployed on the windows node can reach each other by name and have internet access.

## Current Behavior
Pods deployed on the windows node do not ping each other by name (only ip) and do not have internet access.
![image](https://user-images.githubusercontent.com/32566593/119512392-eecd6f80-bd7b-11eb-8da5-7ace5b238319.png)

## Possible Solution
Incorrect calico for window

[2021-05-26 11:37] jc-lab opened #4637 "The node of arm64 cannot communicate with other node's pod."
## Expected Behavior

Communication must be successful.

## Current Behavior

The node of arm64 cannot communicate with other node's pod.

## Steps to Reproduce (for bugs)

I added an arm64 node to the Kubernetes cluster that was working well.

## Context

## Your Environment

* Calico version : `calico/node:v3.17.0`
* Orchestrator version (e.g. kubernetes, mesos, rkt): `Kubernetes v1.20.7`
* Oper

[2021-05-26 13:35] irfansheikh777 opened #4638 "using calico network-- pods scheduled on different node cannot communicate with each other on kubernetes cluster"
I am facing  this issue troubleshooting long time issue is  I have create Kubernetes cluster with calico network in my on premises server the **pods scheduled  on  different node on this Kubernetes cluster not able to communicate to each other **  . please check below scenarios.
There are two worker node **server9** and **server10**
Two PODS are created on server 9 and  one pod created on server 1

[2021-05-26 13:37] jc-lab commented on #4637
It works after rebooting..

[2021-05-26 13:37] #4637 closed

[2021-05-26 14:46] seh commented on #4310
This is occurring for us again, with a _Service_ that works fine with an external traffic policy of "Cluster," but that suffers these same interruptions with a policy of "Local." As before, these machines have only one ENI.

[2021-05-26 22:50] jeliseocd commented on #2127
I have achieved this by using IP aliases on the same interface. It is not ideal but it works.

[2021-05-27 07:02] cc20110101 commented on #4597
use https://docs.projectcalico.org/manifests/calico.yaml:
Authentication, but what do I need to configure?

[root@k8s-master1 logs]# kubectl logs -n kube-system calico-node-ttvv5
2021-05-27 06:56:18.579 [INFO][9] startup/startup.go 390: Early log level set to info
2021-05-27 06:56:18.579 [INFO][9] startup/startup.go 406: Using NODENAME environment for node name k8s-master1
2021-05-27 06:56:18.579

[2021-05-27 10:22] lixmal commented on #4606
Thanks for the pointer. I found the config option, [it was right in front of me](https://github.com/projectcalico/calico/blob/master/_includes/charts/calico/crds/kdd/crd.projectcalico.org_felixconfigurations.yaml#L542).

Althought I'm not sure autodiscovery works as I'd expect

[2021-05-27 11:20] cc20110101 commented on #4597
curl -k -H "Authorization: Bearer ${token}" https://10.0.0.1:443/api to Verification token.
Why the token in /etc/cni/net.d/calico-kubeconfig is wrong？
How to configure the token of calico?

[2021-05-27 18:19] #4585 closed

[2021-05-28 05:39] vgaurihar commented on #4595
Hi @song-jiang and @lwr20
Sorry for late reply. Thanks for your suggestions.
I patch up the bgp Ipv4 address for each windows nodes. Now the BGP peer status showing connections are Established,
but connectivity from linux pod/service to windows pod/service and vice versa still not working
[code]

- from windows pod to linux pod connectivity test
[code]

[2021-05-28 06:35] vgaurihar commented on #4595
Following are my findings
ICMP may be blocked some reason

1. Windows Pod <-> Windows Pod: Is it available?(Ping/Curl)
[code]

2. Windows Pod --> Service -> Linux Pod and Windows Pod: Is it available from Linux Pod and Windows Pod?(Ping/Curl)
    Ans: The linux service (loki-stak) connecting from windows pod (loki-promtail-win)

[code]

3. Windows BGB connection(Get-BGPPeer)?
[code]

[2021-05-28 08:11] lwr20 commented on #4595
You can't ping to service IPs in kubernetes.  You'll need to use curl or the windows equivalent.

[2021-05-29 05:13] cc20110101 commented on #4597
![image](https://user-images.githubusercontent.com/12064991/120058728-a1a11480-c07f-11eb-9705-e74a17632dc8.png)

[2021-05-30 14:13] nitingadekar commented on #1795
I had a similar issue in Rancher RKE v1.17 and v1.19 clusters after provisioning more than 10 nodes to the cluster. The nodes failed with kubelete logs as below.
[code]

The canal CNI provisioner daemonset had resources defined for `calico-node` container

[code]

At a moment the pods started to fail or even failed to get scheduled on the newly launched nodes with events as below.

[code]
Where al

[2021-05-31 07:51] pagarwal-tibco commented on #4605
@neiljerram
I am still facing this issue. Any pointers please?

[2021-05-31 08:50] waheedi commented on #3468
I have also hit this error few times, with newer versions, I would like to understand the root cause honestly, its either the error message is too far from reality or there is something missing.

[2021-05-31 09:08] waheedi commented on #3468
I think I just found out the root cause, which seems to be related to the user running the patch command.

So in the first scenario:

shell is using root user:

su k8s -c "calicoctl  -l debug  patch felixconfiguration default --patch '{"spec":  {"bpfEnabled": true}}"
results in the below json error
Hit error: permorming strategic merge patch: invalid JSON document

shell is using k8s user directly

[2021-06-01 08:00] r3pek commented on #4439
Can the new dataplane (VPP) help in this situation?

[2021-06-01 09:42] song-jiang commented on #4595
Can you access Linux pod by a Windows pod via Pod IP? I don't see the output from your log above.

[2021-06-01 09:56] vgaurihar commented on #4595
No, I can't
- from windows loki-promtail-win pod to linux loki-stack pod
[code]
- linux pod to windows pod
[code]

[2021-06-01 12:27] itsecforu commented on #3092
all nodes?

[2021-06-01 12:42] marco-a-itl opened #4647 "Calico in BGP-mode and IPIP-tunnel with an external BGP-agent on linux"
This is not a bug report, but more of a support-request related to a very specific deployment.
Consider the following use case:
* Deploy in a public cloud (i.e. AWS) with kubernetes cluster nodes in multiple subnets (multi-AZ)
* Pods running inside kubernetes cluster (specifically EKS), and one VM running outside of the cluster
* Pods needs to be routable outside of the cluster so that the VM can

[2021-06-01 15:04] itsecforu commented on #2941
@nia1048596
master or workers nodes?

[2021-06-01 16:23] lwr20 commented on #4630
As a security measure, Calico does not allow pods to spoof IPs (i.e. send traffic from an IP that isn't one that belongs to the pod).

What's your use case?  Perhaps there is a different solution?

[2021-06-01 16:28] lmm commented on #4631
Hi @poulomihore , that's odd, I wonder if when we create a new vswitch with Calico that somehow the host's static networking settings aren't being applied to it as well. Did/can you confirm with `ipconfig` that the host had its static IP configured?

[2021-06-01 16:30] lwr20 commented on #4647
This scenario is indeed possible.  Its documented in the "install on non-cluster hosts" doc. https://docs.projectcalico.org/getting-started/bare-metal/about

[2021-06-01 16:32] song-jiang commented on #4595
It could be a routing issue. I saw errors in calico-confd-err.log . Could you verify if you see routes from your Linux node  to windows pod cidr by executing `ip r` ?

[2021-06-01 16:45] poulomihore commented on #4631
Hi @lmm, I can confirm that the host had it's static IP configured. But once/when we create a new vswitch with calico (to be more precise during CalicoNode startup), it loses it's static IP configuration and the interface gets DHCP enabled, and receives a different IP address as a result. At this point, we have to manually configure it back to its static IP settings, but again with the next reboot

[2021-06-01 18:07] lmm commented on #4631
Thanks for confirming @poulomihore, I wonder if there's some param we're missing when creating the HNS network... I'll look into this and get back to you.

[2021-06-01 18:19] poulomihore commented on #4631
Thank you @lmm. In case it helps, I have been using the params KubeVersion, ServiceCidr, DNSServerIPs and CalicoBackend with the script install-calico-windows.ps1 for creating the HNS network.

[2021-06-01 23:16] oldthreefeng commented on #3092
yes。 @itsecforu

[2021-06-02 02:03] mbj0528 commented on #4630
@lwr20 Thank you for reply.
Right... my use case is VPN service on pod.
So packet is comming from outside, decap in pod.
Then, src ip is shown as unkown private ip in worker node.
Is there any other way that accept packet ?

[2021-06-02 11:48] lwr20 commented on #4630
Can you get your VPN pod to do NAT so that the packets appear to come from its own IP?

[2021-06-02 17:34] lordofire opened #4653 "Support network QoS attributes customization through kubernetes annotations"
Support network QoS attributes customization through kubernetes annotations

## Expected Behavior
In the current kubernetes implementation, we have annotations like "egress-bandwidth" and "ingress-bandwidth", which is used to add tc on hosts and shape the traffic for specific deployments, etc.
[code]
However, adding per host tc is not very ideal considering the traffic we want shape may have many

[2021-06-02 18:05] irfansheikh777 commented on #4638
Hi @caseydavenport
Thanks for reply.    please find the below  details  please helm me to resolve this

Calico installatio process  followed below:-
**curl https://docs.projectcalico.org/manifests/calico.yaml -O
kubectl apply -f calico.yaml**

 Where is this cluster running (AWS? GCP? On-prem?)  **Its on premises servers**

How many nodes are in the cluster and what are their IP addresses
![image]

[2021-06-03 02:43] oldthreefeng commented on #3092
@itsecforu  what the value of  `net.ipv4.conf.all.rp_filter ` in your nodes.

[2021-06-03 10:26] marco-a-itl commented on #4647
Thank you. I'm trying to follow the guide.
The first problem that I see is that the Docker container calico/node is required to have network setup (in addtion to policy).
However calico/node image does not have aws-cli binary installed; use of aws-cli is triggered in my case by kubeconfig "user->exec" section.
Installing aws-cli in a new layer above calico/node is not easy, because a lot of librar

[2021-06-03 10:31] lwr20 commented on #4647
I'm not sure I understand why you would need aws-cli on the node at all in this setup?

[2021-06-03 10:42] marco-a-itl commented on #4647
The kubeconfig file passed to `calico/node` container via `KUBECONFIG` environment variable ends like this:
[code]
So `aws` binary gets called...

[2021-06-03 13:11] itsecforu commented on #3092
@oldthreefeng set to 0
`net.ipv4.conf.all.rp_filter=0`

full:

[code]

[2021-06-03 13:58] oldthreefeng commented on #3092
is there any error logs in your calico nodes pod ?
and any other pods like coredns run health?  @itsecforu

[2021-06-03 14:59] itsecforu commented on #3092
1 of my master nodes:
[code]
anothers are ok

[2021-06-03 15:02] itsecforu commented on #3092
coredns on master node:

[code]

[2021-06-03 17:02] marco-a-itl commented on #4647
Not sure if it is the best way, but I rebuilt `calico/node` modifying its Dockerfile to add the aws-cli binary.
Now `calico/node` starts, but when I launch it as stated in the docs:
[code]
only felix is run (BIRD, confd, etc. are not started).
If the container is launched without arguments like:
[code]
I get instead this error, that I have seen in other issues like #3551:
[code]

[2021-06-03 17:25] lwr20 commented on #4647
Hmm.  @caseydavenport - any ideas?

[2021-06-03 19:11] camaeel commented on #1019
I get the same error. I have daemon set with newrelic "probes". The pod on the same node as kube-dns works correctly, but the on the other node can't resolve DNS names with ClusterFirstWithHostNet. But when I switched to the ClusterFirst it works like a charm.
Maybe the meaning of  ClusterFirstWithHostNet is somehow different.

[2021-06-04 14:33] derjohn opened #4656 "K8S Annotation cni.projectcalico.org/ipv4pools should respect nodeSelector"
# Reproduce
- Create two ippools with nodeSeletors, each ippool  is attached to a certain node.
- Add an annotation "cni.projectcalico.org/ipv4pools" to namespace (or pod), referencing both pools ["pool-node1","pool-node2"]

When a pod is created it allocates an IP from one of those pools, but not necessarily from the pool that "attached" to the node i.e. the nodeSelector is not respected.

# Expe

[2021-06-04 15:13] derjohn commented on #4656
As a workaround I annotated all Namespaces with "default-ipv4-ippool" and set default-ipv4-ippool's nodeSelector to "! all()".
The nodeSelectors of "pool-node1" and "pool-node2" to their work .... but IMO that's an ugly kludge.

[2021-06-07 08:27] dmitry-irtegov opened #4659 "canal calico-kube-controllers crashloops on AWS RHeL 8"
## Expected Behavior

I am installing Kubernetes cluster on AWS RHeL 8 (RHEL-8.4.0_HVM-20210504-x86_64-2-Hourly2-GP2), using canal as a CNI provider.  I expect it to work normally.

## Current Behavior

calico-kube-controllers pod enters a crashloop with the log message:
[code]
coredns pods also enter a crashloop with log messages
[code]
Tests with more complex setup, e.q, Ubuntu master and RHeL 8

[2021-06-07 08:45] dmitry-irtegov commented on #4659
I managed to catch a coredns pod in "Running" state, and yes, it is not pingable from the node:
[code]

[2021-06-07 09:11] oldthreefeng commented on #3940
same isuue with @TheKangaroo

[2021-06-07 09:53] marco-a-itl commented on #4647
Actually I'm on a public cloud (AWS).
I'm not aware of any way to access the etcd inside the control-plane (EKS is a managed service).
I also tried to manually create a node resource via `calicoctl`, but I get:
` ` `
Failed to create 'Node' resource: [operation Create is not supported on Node
` ` `

[2021-06-07 23:29] mgleung commented on #3818
@Mnbill are you still seeing this issue in your cluster? Mind sharing any of the debug info that @fasaxc has mentioned above if you are?

[2021-06-07 23:33] mgleung commented on #4606
@lixmal what's the issue you're seeing with autodiscovery?

[2021-06-08 07:15] Vilsepi commented on #4518
We are also having this issue with `v3.17.2`. When pods are being gracefully shut down, their networking is terminated immediately as their iptables rules are removed instantly. This causes that open requests cannot be served and database connections are left open.

`v3.13.2` seems to work as expected. We are currently trying to narrow down the version.

[2021-06-08 08:12] 06kellyjac opened #5260 "Can't run `calicoctl version` without a config"
## Expected Behavior

[code]

## Current Behavior

[code]
(exit code 1)

## Possible Solution

Add some logic to catch the "Invalid configuration" error and just show a warning

## Steps to Reproduce (for bugs)

1. Have no config/Dont provide any config
2. `calicoctl version`

## Context

I'm packaging `calicoctl` for nixpkgs and I like to add a version check by running the command's version flag/

[2021-06-08 08:54] RobinGeuze opened #4661 "Calico in eBPF mode interacts badly with tw_reuse enabled on clients"
These are actually two issues that stem from roughly the same base issue.

The first issue is that if you put a service in Cluster mode it is possible for a local machine when it has a lot of outgoing connections to use the same source port at the same time to two different node IP's. This then cause a source port conflict when it eventually arrives at a single target pod (since the destination IP

[2021-06-08 14:32] manuelbuil opened #4662 "Problems running calico and nm-cloud-setup"
When running calico or canal in AWS image RHEL8.4, k8s deployments don't work correctly. The reason is the tool [nm-cloud-setup](https://www.mankier.com/8/nm-cloud-setup#), that adds a ip rule table which breaks the local connectivity host<-->pod. For example, if I deploy a pod in a host, this is the main ip table:
[code]
I should be able to ping `192.168.234.1`. However, it does not work:
[code]

[2021-06-08 14:34] manuelbuil commented on #4659
I think we are hitting the same problem ==> https://github.com/projectcalico/calico/issues/4662

[2021-06-08 15:36] dmitry-irtegov commented on #4659
Yes, stopping the nm-cloud-setup and nm-cloud-setup.timer services and deleting the ip rule (in this order) helped.
Simple deleting the rule does not work, it is recreated in matter of minutes.

However, I'm afraid, these services have some purpose, are you sure disabling them will not have bad effects?

[2021-06-08 15:50] dmitry-irtegov commented on #4662
How do I vote for NetworkManager issue?

[2021-06-08 16:08] manuelbuil commented on #4659
Unfortunately no, I am not sure. That is why I reported the issue to the NetworkManager guys to understand what would be an acceptable configuration that will not break things

[2021-06-08 17:37] dmitry-irtegov commented on #4659
As I understand, this is not exaclty a NM issue, it is a conflict between calico and nm-cloud-config.  Conflict needs two sides, may be calico people would look into this?

[2021-06-09 01:53] mbj0528 commented on #4630
@lwr20 looks good idea.
it will be good solution.
thank you very much.

[2021-06-09 06:47] MyKEms opened #4664 "Calico Windows - after a while Windows node will lose access to the internal network"
We have windows worker nodes joined to k8s cluster. When it's deployed it works as expected. However by a time (1-4 weeks) windows decide to not communicate in LAN anymore but k8s still works, however it depends still on LAN which is inaccessible and by this will stop work DNS resolution on windows node into LAN + all pods on affected windows node can't use `core-dns` resolution and ping any resou

[2021-06-09 08:12] juliantaylor commented on #3589
Don't know if it is related but calico also seems to leave old blockaffinities lying around when nodes are deleted, we have many month to year old blockaffinities in clusters with all nodes being deleted every week:
kworker-be-intg-iz1-022-100-70-178-64-26    84d

Also it is very likely the cause for the controllermanager to get stuck for 10-20 minutes at a time before deleting the ipamhandles is

[2021-06-09 08:50] growse opened #4665 "Using `externalTrafficPolicy=Local` on a k8s IPv6 service incorrectly rewrites client IP, hiding it from the destination pod"
(Originally posted to the k8s project at https://github.com/kubernetes/kubernetes/issues/102527. In short, @uablrek was unable to reproduce, suspecting that it wasn't a k8s issue but more likely a calico issue)

## Expected Behavior

Traffic arriving at a pod through a `LoadBalancer` `IPv6` `SingleStack` k8s service has its source IP preserved and visible to the pod.

## Current Behavior

The sour

[2021-06-10 06:56] Vilsepi commented on #4518
We have been testing various versions of calico and it seems that `v3.15.5` is the last one to work as expected and that the next release `v3.16.0` is broken, i.e. iptables rules are immediately deleted when SIGTERM is received.

[2021-06-10 09:10] fasaxc commented on #4518
Just to let you know what's going on here; in v3.16 we fixed a different bug and inadvertently caused this one.

The other bug was that pods that terminate without being _deleted_, such as Jobs, would still appear to Calico to have an IP address even though the CNI plugin had been called to remove the pod from the network.  That was a security problem because Calico would think that the IP still b

[2021-06-10 09:23] sstoner commented on #1709
I've just run into the same issue. I think this is a common problem between nat and MTU.
I draw a picture to show that IP MTU is changed to be lower than the interface MTU.
![image](https://user-images.githubusercontent.com/17512778/121498728-4a9c2780-ca0f-11eb-81d6-4b051232f42c.png)

[2021-06-10 09:32] DavidDarville commented on #2392
Another option would be to use the NFLOG target instead of the LOG one. Since NFLOG can handle a much higher rate of log messages.

[2021-06-10 10:05] sstoner commented on #1709
This command seemly solved it in my scenarios
[code]

[2021-06-10 12:41] DavidDarville opened #4667 "Unable to match pods in a calico network policy, when they have host networking enabled"
When trying to write a calico network policy, I am unable to get the selector to work, if the pod has host networking enabled.

## Expected Behavior

I am trying to create an egress rule, to allow a pod to contact the apiserver, I expected this policy to work:

    apiVersion: projectcalico.org/v3
    kind: NetworkPolicy
    metadata:
      name: sealed-secrets
      namespace: sealed-secrets

[2021-06-10 13:26] pagarwal-tibco commented on #4605
Any updates on this issue?

[2021-06-10 14:02] thaxir opened #4669 "Calico-Cjdns integration over Ipv6"
Hello ,
we are trying to create a 2 Node K8s deployment (one master, one slave)  using Calico and CJDNS   in IPv6. I understand that only Calico can do the job although  since we have requirements for  using CJDNS  I am in seek of such integration.  To give  you more info, we have configured Calico to assign IPv6 from the pool of CJDNS.  Master (aka M)   is able to find Slave (aka S) and vice vers

[2021-06-10 16:57] QWERTY92009 opened #4671 "Question: Does Calico OSS support calico networkpolicy logging, or is Calico Enterprise required?"
It doesn't seem clear from the documentation whether networkpolicy logs (allow and deny) is supported by Calico OSS.

If it is, then it doesn't seem clear from the documentation how to configure it.

Thanks for your attention!

[2021-06-10 21:36] David-Igou opened #4672 "Openshift 4.7.12 IPI deployment on Azure fails with Calico 3.19.1 but succeeds with 3.18.1"
I am deploying Openshift 4.7.12 following the official instructions located at: https://docs.projectcalico.org/getting-started/openshift/installation

## Expected Behavior
What should happen: Installation completes successfully, all clusteroperator objects become `available: true` status

## Current Behavior

The installer eventually gives up after 40 minutes, and several clusteroperators are unav

[2021-06-10 21:54] David-Igou commented on #4672
Related bugzilla ticket: https://bugzilla.redhat.com/show_bug.cgi?id=1958385

[2021-06-11 10:43] DavidDarville opened #4673 "Simple calico gnp blocks traffic, when autoHEP is enabled"
Adding a simple Global Network Policy to a kubernetes cluster with calico CNI, ends up blocking access to the cluster.
The policy in question is this:

    apiVersion: projectcalico.org/v3
    kind: GlobalNetworkPolicy
    metadata:
      name: test
    spec:
      types:
      - Ingress
      ingress:
      - action: Log
        destination:
          nets:
          - 8.8.8.8/32

## Expected Beh

[2021-06-11 15:01] stevehipwell commented on #4514
@lwr20 is there a rough timeframe for when v3.20 will be shipping?

[2021-06-11 15:10] lwr20 commented on #4514
From Calico Community meeting notes of 9th June, I see "mid to late July" for v3.20

[2021-06-11 15:16] lwr20 commented on #4514
FWIW, the index is already up at https://calico-public.s3.amazonaws.com/charts/index.yaml if you wanted to try it out, but that will NOT be the official URL once v3.20 ships.

[2021-06-12 22:17] muzammil786 opened #4676 "Allow to separate control and data plane networks"
It is possible to add multiple network interfaces in calico, but how to keep the control traffic separate from data?
This may be useful for performance reasons, where nodes can have two interfaces; one lower rate interface for the control plane, and the other higher-rate interface for the data plane. Is there a workaround to implement such a design?

[2021-06-14 09:55] ffilippopoulos opened #4677 "calico kubectl APIServer fails validation of NetworkPolicies"
We have deployed calico APIServer (https://docs.projectcalico.org/archive/v3.19/getting-started/kubernetes/apiserver-preview) in order to be able to manage calico resources via kubectl.
We have the following NetworkPolicy:
[code]
which fails validation with the following message when applied as `kubectl apply -f networkpolicy.yaml` :
[code]
It looks like it is expecting ports and protocol to be de

[2021-06-15 08:03] jSchwarzweller-ct opened #4678 "Calico for Windows / vLAN support"
Hi all,

we're trying to add Windows nodes into a K8s Cluster using calico. We`re forced to use vLAN tagging on network interfaces cause of some "smart router" feature which automatically enables the vLAN ID we configured on the device.

Creating the virtual adapter using the documented command "New-HnsNetwork" works fine - but then the network communication is done without vLAN tag - so not funct

[2021-06-15 09:29] xuchenCN opened #4679 "Apply networkpolicy namespaceselector cause can't access service via ClusterIP"
It's getting timeout when access the service via ClusterIP

try to deploy the example

 [https://github.com/ahmetb/kubernetes-network-policy-recipes/blob/master/06-allow-traffic-from-a-namespace.md](https://github.com/ahmetb/kubernetes-network-policy-recipes/blob/master/06-allow-traffic-from-a-namespace.md)

There are two conclusions was found after test:
* It CAN NOT access service via ClusterIP

[2021-06-15 16:05] lmm commented on #4673
Hi @DavidDarville , auto host endpoints protect all virtual interfaces on the host as well. When you applied the ingress policy, that would have blocked ingress to localhost (e.g.. 9099 for Calico, whatever port used by typha). You can get an idea of that in this tutorial: https://docs.projectcalico.org/security/kubernetes-nodes (please note that the `127.0.0.1/32` rule should really be `127.0.0.0

[2021-06-15 16:08] lwr20 commented on #4661
@fasaxc Sounds like your area of expertise?

[2021-06-15 16:10] caseydavenport commented on #4662
This looks like a bug on the nm side which causes all VM traffic to bypass the main routing table. Not sure there's anything meaningful we can do on the Calico side.

If possible, I'd recommend disabling nm.

[2021-06-15 16:11] caseydavenport commented on #4662
Or maybe there is a way to disable the use of the second routing table?

[2021-06-15 16:12] caseydavenport commented on #4656
This is working as intended - the annotations take precedence over the IP pools selector.

What is it you're trying to do? Why not just remove the annotation from the the pod / namespace? That will cause the nodeSelectors to come into effect.

[2021-06-15 16:16] caseydavenport commented on #4632
@cowbalt sorry for the delay here! Missed this one.

It sounds likely to be something on the host, as BGP is established and packets are reaching the node. Do you know if packets are being dropped on arrival at the host, or are they making it to the pod and the response packets are being dropped?

Could you share the output of `iptables-save -c`? This will give me a better idea if something in ipt

[2021-06-15 16:19] lmm commented on #4677
@caseydavenport could you please take a look?

[2021-06-15 16:20] lwr20 commented on #4667
When a pod is running host-networked, its running in the host's network namespace.  i.e. it is a process running on the host and no longer a pod-networked pod.  So is it not intuitive that you would need to use a host policy to control that case?

As it says in the warning here: https://docs.okd.io/latest/networking/network_policy/about-network-policy.html

[2021-06-15 16:25] lmm commented on #4671
Hi @QWERTY92009 , if you're looking for basic iptables logging using the LOG action, here is an example of that: https://docs.projectcalico.org/archive/v3.19/security/calico-network-policy#generate-logs-for-specific-traffic

(For more detailed logging and other use cases there is our commercial offering.)

[2021-06-15 16:26] lwr20 commented on #4667
Regardless, this is an enhancement request, and looks like a dupe of https://github.com/projectcalico/calico/issues/1987

I'm going to close this in favour of 1987

[2021-06-15 16:26] #4667 closed

[2021-06-15 16:28] fasaxc commented on #4661
Ugh, that's a nasty one, thanks for the detailed writeup, sounds very plausible.

[2021-06-15 16:35] lwr20 commented on #4679
This should absolutely work.  The way this is supposed to work is that:
- source pod sends to cluster IP
- kube-proxy on the source pod's node DNATs the packet to one of the pods backing the service
- packet is sent exactly as if it were a pod-pod packet
- packet arrives at destination pod - network policy is applied (exactly as if the packet was pod-pod originally).

Does connectivity work if you

[2021-06-15 16:38] song-jiang commented on #4664
Thanks @MyKEms for the details. Very interesting issue.

IUUC `vEthernet (Calico_ep)` is derived from and connected to host eth interface within the vSwitch.
- I don't understand how interfaceMetric value affects the outcome of the connection. Especially it was working for a few weeks. Anything has changes since last time it worked?

- Even we pin down that interfaceMetric is the issue, there is n

[2021-06-15 16:42] caseydavenport commented on #4665
@growse I think the next step here would be identifying the rule that is performing the SNAT / MASQ and going from there.

Assuming it's being done in iptables, you could run the following to see which rules are being hit:

[code]

[2021-06-15 16:44] lmm commented on #4631
Hi @poulomihore, sorry for the delay... so I was able to confirm this behaviour on AWS but I don't see any API knob to change that on the vNIC so I'm not sure what we can do.

This has come up before on the Calico Users slack and the workaround suggested there was to setup a reserved IP (a MAC to IP mapping) so that DHCP is still enabled but the same IP is assigned.

[2021-06-15 16:46] derjohn commented on #4656
I cannot remove the annotation from the the pod / namespace because that namespace uses special ("trusted") IPs, which should not be available to other pods/namespaces.

From a logical point of view if a create an IPPool with an annotation that says "this one is only working on node A" I would expect it only to be assigned to pods on node A. It will not work on any other node, that's why there is

[2021-06-15 16:52] mgleung commented on #4676
Hi @muzammil786, I think we have run across this proposal before but I can't seem to find the issue with the discussion at the moment. I think that we found that all of the traffic would be handled by the node that is hosting the two interfaces so there wasn't much of a difference in performance, but I am curious to hear your thoughts since I might be misunderstanding the use case.

[2021-06-15 16:53] caseydavenport commented on #4607
@akosiaris sorry for the delay on this! I think your request is 100% reasonable.

Like I said on the PR, we're moving away from env var config for driving this stuff. It's not really BGP configuration, but the BGPConfiguration API seems like the closest fit for this sort of config. Alternatively maybe this goes on the Node API?

Also CC @neiljerram who I believe has looked at this before.

I'm hap

[2021-06-15 16:53] lwr20 commented on #4605
I have seen these symptoms in a system that was starved of CPU. It might be worth trying this on a machine with more CPU?

[2021-06-15 16:54] lwr20 commented on #4630
I'm going to close this, since it sounds like you have what you need for now at least.

[2021-06-15 16:54] #4630 closed

[2021-06-15 16:57] song-jiang commented on #4678
Not sure I understand the issue. Are you using VXLAN or L2Bridge? If it is VXLAN, does Vsid == VLan id?

[2021-06-15 17:01] song-jiang commented on #4633
I don't see anything wrong with your config. Is it possible for you to try Windows OS version 2004?

[2021-06-15 17:01] QWERTY92009 commented on #4671
Thanks for your help, @lmm!

[2021-06-15 17:17] caseydavenport commented on #4656
I think I understand what you're saying, but that's not how it works today. It sounds like you're looking for the **intersection of the specified IP pools** rather than using the most specific IP pool among specified pools.

Right now, we have a hierarchy of precedence when selecting an IP for a pod.

1. The pools from the pod's annotation, if any.
2. The pools from the namespace's annotation, if

[2021-06-15 17:18] poulomihore commented on #4631
Thanks @lmm for checking. I wanted to note here an observation of mine. I see this occurrence of DHCP getting enabled only on Windows Server SAC releases (had tried for Windows Server 2004 SAC and 20H2 SAC), but not on Windows Server 2019 Standard image or the likes. Can you please let me know the Windows image version which you had used to replicate this behavior on AWS ?

I have set up DHCP rese

[2021-06-15 17:18] paulgmiller commented on #4525
Got another instance of this today with the 1.17.1 operator. Attaching logs but they're not that helpful.
[tigeraoperator.log](https://github.com/projectcalico/calico/files/6657472/tigeraoperator.log)

 Basically spins at
    https://github.com/tigera/operator/blob/c60c32b736d3258bd475e4c74112b225998a3182/pkg/controller/migration/namespace_migration.go#L446

When it can't find the kube-system daem

[2021-06-15 17:22] caseydavenport commented on #4656
To expand on this, the "intersection" mode would be very hard to get this right for most users. It means that if a pod lands on a node that isn't selected by its IP pool, the pod would **never get an IP address**, which is very bad.

[2021-06-15 17:26] lmm commented on #4631
I tested this with Windows Server 2004.

[2021-06-15 17:28] lmm commented on #4605
Are the pod and service cidrs overlapping? Can you try removing the `serviceSubnet`?

[2021-06-15 17:29] #4671 closed

[2021-06-15 18:27] itajaja opened #4680 "first request slow"
I notice that for some reasons (related to calico), the first request when a pod starts are slow. There are also some slow requests in other circumstances (eg when my flask service receives a request and needs to make an upstream call).

## Steps to Reproduce (for bugs)

to reproduce, I run the following pod:

[code]

the output i receive is the following:

[code]

you can see that it took 5 secon