[2017-09-21 00:01] heschlie commented on #1120
This fix was included in in confd-v0.12.1-calico-v0.3.0 I believe, which is what we're using in v2.5.0:

https://github.com/projectcalico/confd/compare/v0.12.1-calico-0.3.0...master#diff-f70e0c8bf930016867d4de1766575386R147

@gunjan5 had to cut a new release to rev libcalico-go in confd to get CRD support for calico/node v2.5.0, if we're still hitting this issue then we need to rethink the fix :fr

[2017-09-21 09:07] fasaxc commented on #1120
I don't think it was.  Here's that line of code in the `v0.12.1-calico-0.3.0` tag, it's the left-hand-side of the diff you posted:

https://github.com/projectcalico/confd/blob/v0.12.1-calico-0.3.0/backends/etcd/client.go#L147

[2017-09-21 14:16] tmjd opened #1123 "Should mention the need of allow-privileged on kubelet configuration"
The Kubernetes kubelet needs the allow-privileged flag when running a hosted Calico to allow felix to make the iptables and sysctl changes it needs to make, this requirement is not currently in the K8s documentaiton (that I could find).  At a minimum it should be added to this section https://docs.projectcalico.org/v2.5/getting-started/kubernetes/installation/integration#configuring-the-kubelet.

[2017-09-22 04:12] #919 closed

[2017-09-22 13:21] bradbehle commented on #1117
@caseydavenport Thanks.  Can this fix make it in to Calico 2.6.0?  We are hitting it fairly often and need it ASAP

[2017-09-22 15:57] caseydavenport commented on #1117
@bradbehle yep this will go into v2.6.0

[2017-09-22 23:26] heschlie commented on #1120
@bcreane did a confd release today that has this in it, `v0.12.1-calico-0.4.0`.

[2017-09-22 23:26] #1120 closed

[2017-09-23 23:00] #1117 closed

[2017-09-23 23:07] caseydavenport commented on #458
calicoctl PR is merged https://github.com/projectcalico/calicoctl/pull/1708 - thanks @doublek!

Keeping this open to track documentation.. @doublek are you planning to work on the docs for this?

[2017-09-23 23:09] caseydavenport commented on #458
At a minimum we'll need to:
- [ ] Update the requirements in the [adv policy demo](https://docs.projectcalico.org/v2.5/getting-started/kubernetes/tutorials/advanced-policy)

[2017-09-25 01:33] caseydavenport commented on #1117
Fix for this was merged in https://github.com/projectcalico/cni-plugin/pull/383.

Cutting v2.6.0-RC2 tonight which will include the fix if you'd like to try it out.  Thanks @bradbehle!

[2017-09-25 14:53] tmjd opened #1128 "v2.6.0-rc2: calicoctl get profile -o wide does not have TAGS"
The K8s Advanced Policy Tutorial
https://docs.projectcalico.org/v2.6/getting-started/kubernetes/tutorials/advanced-policy#check-using-calicoctl
has the following

[code]

When the above command is ran I get the following output

[code]

## Expected Behavior
I expect the docs example output to match what I see when running the same commands.

## Current Behavior
The output doesn't match

## Possibl

[2017-09-25 14:58] tmjd commented on #1128
Here is the output from `get policy` at that time if we want to switch it to that.

[code]

[2017-09-25 15:22] tmjd opened #1129 "v2.6.0-rc2: In Advanced policy tutorial, Preventing outgoing connection from pods blocked all outgoing traffic"
With the pre-release version of Calico v2.6.0 when testing the Advanced policy tutorial, the step "Prevent outgoing connections from pods" blocked all outgoing traffic from my access pod.
https://docs.projectcalico.org/v2.6/getting-started/kubernetes/tutorials/advanced-policy#prevent-outgoing-connections-from-pods

## Expected Behavior
All steps of the tutorial should work.

## Current Behavior
Th

[2017-09-25 15:32] tmjd commented on #1129
[code]

[2017-09-25 16:51] tmjd commented on #1129
This seems to be the iptables rule that is dropping the traffic
`[2:120] -A cali-po-_l2a5_DDU8iKXgoc8Dav -m comment --comment "cali:WXDWSDmbDYSTHADG" -m set ! --match-set cali4-s:uK4R6n61sYuSXSz0NO3eBIb dst -j DROP`

<details><summary>The full iptables output</summary>

[code]

</details>

[2017-09-25 17:07] caseydavenport commented on #1128
So this is because we've commonized the KDD and etcd conversion code: https://github.com/projectcalico/libcalico-go/blob/master/lib/backend/k8s/conversion.go#L98

The KDD code never put tags into the profile, whereas the etcd code used to.

Tags are deprecated, so on the one hand we could potentially just update the docs for this.

However, if people are using tags for some reason then this change

[2017-09-25 17:18] lwr20 opened #1130 "in v2.6.0-rc2 tag, _data/versions.yml doesn't contain RC2 section"
## Expected Behavior
Having checked out the v2.6.0-rc2 tag, if I run `make st` in the `calico_node` directory, I get all the versions of components from RC1.

## Current Behavior
Having checked out the v2.6.0-rc2 tag, if I run `make st` in the `calico_node` directory, I get all the versions of components from RC2 instead.

## Possible Solution
https://github.com/projectcalico/calico/blob/v2.6.0-rc

[2017-09-25 17:21] bcreane commented on #1130
I confirmed the docker images have the right felix (2.6.0-rc2). I think I probably just cut the tag from the wrong point in the commit log, but all the binaries are correct. @caseydavenport suggests that we keep an eye on the binaries, but that we can avoid fixing this issue (or cutting a new RC) for the time being.

[2017-09-25 17:25] caseydavenport commented on #1128
The right thing to do here is to add back support for tags into both KDD and etcd by adding them to the conversion code linked above.

That unfortunately means another full release of Felix, Typha, etc, but it should be low-risk and not require any special testing.

CC @bcreane

[2017-09-25 17:26] doublek commented on #458
@caseydavenport I was going to send out the PR for docs today. So far I've only updated the "Supported operations" section of the [calicoctl policy reference](https://docs.projectcalico.org/v2.5/reference/calicoctl/resources/policy) doc. I am scanning the docs for other sections that need to be updated. I'll take care of the advanced policy demo docs as well.

[2017-09-25 17:57] caseydavenport opened #1131 "Update advanced policy demo for k8s 1.8"
k8s 1.8 introduces CIDR / egress policies.  Our advanced policy demo says that it doesn't support these things.

https://docs.projectcalico.org/v2.5/getting-started/kubernetes/tutorials/advanced-policy

## Expected Behavior

Perhaps it should be updated to use the k8s API?

## Current Behavior

It's a mix of k8s / Calico APIs

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

##

[2017-09-25 18:03] caseydavenport commented on #1129
I _think_ this is occurring because of the new `types` field and how it behaves.

In previous versions of the demo, the policy controller programmed egress "allow" rules which allowed all egress traffic.  That's why the demo included a "deny all traffic leaving the namespace" rule to override that behavior.

Given that those egress rules are no longer taking affect because of the `types: [ingress]

[2017-09-25 18:18] tmjd commented on #1129
So switching the 'deny-egress' policy to that does seem to work.  I can now reach the nginx service but cannot `ping google.com`.

[2017-09-25 18:20] caseydavenport commented on #1130
Yeah, given this is an RC and we're planning on cutting the release this week then I think we can close this as "wontfix" for now.

If you'd like to build RC2 or run tests you should use:

[code]

from `master`

[2017-09-25 18:20] #1130 closed

[2017-09-25 18:30] caseydavenport commented on #1129
We'll need to release note this behavior change in big red letters.

This is the right behavior - what was there before was a workaround for missing Ingress/Egress types support.

[2017-09-25 19:18] caseydavenport commented on #1115
Update:

- 1) above is still an issue that we'll be looking to fix in the near future probably through a long-lived controller of some sort.
- 2) above has a fix which has been merged to master and is included in v2.6.0.

[2017-09-25 19:53] bcreane commented on #1130
I'm pretty sure I built the release on my branch and then switched over to master w/o fetching. So the build should be right (along with the release tarball), but the git tag is wrong. I'll stop trying to save time (or at least do it right next time).

[2017-09-25 22:53] caseydavenport commented on #1128
@tmjd I've talked this over and think that we should leave it as-is and update the docs.

Reason being that tags are deprecated and we can just release note the change.

So actions here:
- Update demo to remove the tags
- Make sure we include in a release note that tags are no longer written by the policy controller.

[2017-09-25 22:54] caseydavenport commented on #1129
Actions:
- Include a release note
- Update the demo to use the new policy above.

@tmjd are you OK handling the latter?

[2017-09-26 10:59] song-jiang opened #1134 "Update document for host endpoint untracked policy."
Untracked policy is designed to secure traffic going to local process. Packet going to the workload will be dropped if it has been accepted by untracked policy because the default rules for workload regard the packet has an invalid conntrack state. This should be clearly stated in the document.

[2017-09-26 20:53] 2ffs2nns opened #1135 "stars policy demo default-deny.yaml kicks a ValidationError on k8s-v1.8.0-rc.1"
## Expected Behavior
Users should be able to run through the Stars Policy Demo on kubernetes v1.8.0-rc.1 w/out any policy validation errors.

## Current Behavior
Enabling the isolation policies results in a validation error
[code]

## Possible Solution
Adding a default podSelector catch-all label removes the ValidationError. Running through the demo with the proposed fix on a kubernetes-v1.7.6 als

[2017-09-26 21:00] #1128 closed

[2017-09-26 21:01] tmjd commented on #1129
Fixed by #1133

[2017-09-26 21:01] #1129 closed

[2017-09-27 00:23] #1135 closed

[2017-09-27 03:57] toshiiw opened #1138 "calico-ipam config is not compatible with bird/calico-bgp-daemon behavior"
calico-ipam is configured with StrictAffinity = false, but the BGP daemons advertises routes based on AffineBlocks. This would cause uncommunicatable Pod when some of the blocks are full.

## Expected Behavior
Enforcing strict affinity would be the simplest solution.

## Current Behavior
bird has bird_aggr.cfg from calico_node that makes the daemon to only look at AffineBlocks for route advertisem

[2017-09-27 05:54] like-inspur opened #1139 "calico node error in kubeadm environment"
[root@master1 ~]# kubectl get pods -n kube-system -o wide
NAME READY STATUS RESTARTS AGE IP NODE
calico-etcd-2p27t 1/1 Running 0 7m 10.110.17.59 master1.kubeadm
calico-node-6753t 1/2 CrashLoopBackOff 6 7m 10.110.17.59 master1.kubeadm
calico-policy-controller-336633499-dn9dp 1/1 Running 0 7m 10.110.17.59 master1.kubeadm

[root@master1 ~]# kubectl log calico-node-6753t -n kube-system calico-node
W09

[2017-09-27 06:08] caseydavenport commented on #1139
@like-inspur it looks like you've got a node conflict - `localhost.localdomain` has already claimed that IP address.

You might need to delete that node with calicoctl in order to start the new one.  See here for more info: https://docs.projectcalico.org/v2.5/usage/decommissioning-a-node

[2017-09-27 07:43] like-inspur commented on #1139
calicoctl get node is null，how can i decommissioning node "localhost.localdomain"

[2017-09-27 08:10] like-inspur commented on #1139
two host named "localhost.localdomain" add calico failed，so i kubeadm reset，then the first node can't add。calico node information store in etcd，but i already reset etcd environment，so why？

[2017-09-27 14:04] tmjd commented on #1139
My comments below are assuming you deployed using the manifest from the Calico "Kubeadm Hosted Install" at https://docs.projectcalico.org/v2.5/getting-started/kubernetes/installation/hosted/kubeadm/:

The etcd directory is mounted from the host system at `/var/etcd`.  When you say you reset the etcd environment did you delete that directory (or at least its contents)?

If `calicoctl get node` retu

[2017-09-27 19:39] caseydavenport commented on #1138
We can't enable strict-affinity across-the-board, but perhaps we can find a way to enable it when using GoBGP?

Does GoBGP not advertise the exceptions? I would expect the affinity blocks to be advertised, but for the "exceptions" we'd advertise individual /32 routes which take precedence. That would be the ideal solution in my mind (and is what BIRD based deployments do today)

[2017-09-28 00:48] caseydavenport commented on #458
Reopening - this won't be in v2.6 but will be in the next release.

[2017-09-28 02:47] leonlcw92 commented on #992
I spent two days install calico in arm64 .

[2017-09-28 03:22] caseydavenport commented on #992
@TrevorTaoARM sorry for missing the questions in this issue.

Ideally what I'd like to see is the arm binaries to be built as part of the upstream Calico release processes, so whenever a new Calico release is produced the arm64 binaries are produced with it.

You've found our go-build repo, which contains some of our common build infra: https://github.com/projectcalico/go-build/pull/13

Let's star

[2017-09-28 03:25] 2014qirong commented on #689
@tangjiaxing669 how to configure when in peer to peer ?I have the same problem like you.

[2017-09-28 03:31] tangjiaxing669 commented on #689
@2014qirong There are good examples at the official site, you can go and have a look first.

[2017-09-28 21:49] #1057 closed

[2017-09-29 05:37] #963 closed

[2017-09-29 20:36] tmjd commented on #1112
@lcnsir Did you enable rolling upgrade in your `calico-node.yaml`, I just tried applying the v2.4 manifest and while the policy-controller is updated the calico-node pods have not been (after more than 30 minutes)?

I do think the docs are currently correct because without enabling/specifying the rolling update, it is necessary to delete each of the calico-node pods to have them redeployed.

There

[2017-09-29 20:36] #1112 closed

[2017-09-29 21:05] caseydavenport commented on #777
Let's do this in the next release. DaemonSet rolling-update support has been around long enough that I think it's safe, and is the desired behavior for most users.

[2017-09-29 21:13] caseydavenport opened #1150 "Test #1104 in AWS across a subnet boundary"
#1104 modifies the BGP attribute used in cross-subnet mode, but hasn't been tested in public cloud.

We should test this in AWS across a VPC subnet boundary to make sure it sill behaves as expected. I don't see why it wouldn't but we don't currently have any CI running in this AWS configuration to be 100% confident.

[2017-09-29 21:13] caseydavenport commented on #907
Fixes by #1104

[2017-09-29 21:13] #907 closed

[2017-09-29 21:16] tmjd commented on #1102
The errors in your last post seem to indicate a problem with the SSL certificates, which makes me think a connection is being allowed.  If you could try a more simple connection perhaps with telnet or netcat and can show it being denied then I would understand a Calico problem, but if the connection is being allowed and traffic is flowing then I don't understand how it is a Calico issue.

I found

[2017-09-29 23:47] dtzar commented on #1131
Is Calico 2.6.0 KDD install with K8s 1.8.0 supposed to currently support egress policies?  The policies are present when I apply the [example deny all egress traffic](https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-deny-all-egress-traffic) but the egress traffic from pods still is allowed.

[2017-09-30 00:24] ozdanborne commented on #1131
@dtzar please open a new issue and share some of the yaml you are using. Thanks!

[2017-09-30 00:46] caseydavenport commented on #1131
@dtzar yes, that should be supported.  Like @ozdanborne said, I think that should be its own issue.

Thanks!

[2017-09-30 04:15] caseydavenport commented on #1131
@dtzar FYI I reproduced your issue and tracked it down to a bug in v2.6.0 not having the correct release artifacts.  I've pushed v2.6.1 and verified that it is performing as expected.  Thanks for notifying us!

[2017-09-30 21:55] dtzar commented on #1131
Thanks for the quick fix!  The [2.6.1 release page](https://docs.projectcalico.org/v2.6/releases/) says incorrectly that calico-node is still at 2.6.0 vs [2.6.1](https://github.com/projectcalico/calico/releases/tag/v2.6.1).

[2017-10-02 14:10] tmjd opened #1158 "Link on route reflector page is not rendering as link"
https://docs.projectcalico.org/v2.6/usage/routereflector/calico-routereflector#starting-up-the-route-reflector
I see `[Docker v1.6][docker]` which I believe should be rendered to a link.

## Expected Behavior
Link is displayed

## Current Behavior
Unrendered text is displayed

## Possible Solution
Fix it

## Steps to Reproduce (for bugs)
1. View https://docs.projectcalico.org/v2.6/usage/routerefle

[2017-10-02 15:23] tmjd opened #1159 "Document (or link to) how to enable Calico in GKE"
With https://cloudplatform.googleblog.com/2017/09/network-policy-support-for-kubernetes-with-calico.html we should document or link to the GKE docs how to enable network policy in GKE.
Here is the GKE docs for enabling it:
https://cloud.google.com/container-engine/docs/network-policy

## Expected Behavior
Need some kind of info for enabling Calico in GKE.

## Current Behavior
No info in the calico

[2017-10-02 18:15] tmjd commented on #1031
Sorry for the delay in responding, I think I missed the notification of your last response.
The issue may be due to the reuse of the etcd data. You may want to take a look at https://docs.projectcalico.org/v2.6/usage/decommissioning-a-node. By default new calico-nodes will check the datastore to see if a node is already using an IP Address and I'm wondering if you master was using a previously use

[2017-10-03 15:28] tmjd opened #1164 "Document tolerations requirement in "Kubernetes Datastore Hosted Install""
The "Kubernetes Datastore Hosted Install" section does not mention the assumption that the tolerations in the manifests are written for a kubeadm deployed cluster.  We should document that and probably suggest how to check the taints).

## Expected Behavior
Requirements documented

## Current Behavior
In the "Kubernetes Datastore Hosted Install" the tolerations assume the taints kubeadm configures

[2017-10-04 19:09] dtzar commented on #1131
I went ahead and started on creating this guidance here: https://github.com/dtzar/calico/commit/4b3e1c8ec0b5c8165a33ae5d8953842dd18d817a

The only thing I haven't gotten to work is the allow Nginx and allow egress policies.  Admittedly, I haven't spent much time playing with the policy syntax - but if someone could help with that it would be great.

[2017-10-05 06:52] toshiiw commented on #1138
Thanks @caseydavenport , I was not good at reading calico_aggr.cfg etc.
BIRD seems to be okay. calico-bgp-daemon seems to work until it gets killed and restarts.
It needs to list routes at initialization.

[2017-10-05 08:51] jocado opened #1169 "dnsmasq version bump in apt ppa - multiple CVEs"
## Expected Behavior
Multiple security vulnerabilities should be fixed.

## Current Behavior
Multiple security vulnerabilities present.

## Possible Solution
Pull latest upstream version from Ubuntu repos.

**Ubuntu 16.04 LTS:**
`dnsmasq 2.75-1ubuntu0.16.04.3`

**Ubuntu 14.04 LTS:**
`dnsmasq 2.68-1ubuntu0.2`

## Steps to Reproduce (for bugs)
Install calico 2.6 from PPA

## Context
Details are in t

[2017-10-06 13:28] r0bj opened #1173 "pod connectivity failed after node restart"
Pod connectivity failed after node restart.

Working pod `nginx-ingress-controller-l4-ntjrb`:
[code]

[code]

After node `dev-k8s-lb-l4-p1` restart:

[code]

On the node there is no `cali*` interface:
[code]

Inside pod namespace there is no `eth0` intereface:
[code]

There is no workloadEndpoint for `nginx-ingress-controller-l4` pod:
[code]

Kubelet logs:
https://gist.github.com/r0bj/baaef22a6257

[2017-10-09 12:42] ylfforme opened #1176 "calico-node logs show ipsets.go 502: Bad return code from 'ipset list'. error=exit status 1 family="inet" stderr="ipset v6.32: Kernel error received: Operation not permitted\n""
I install calico follow this page https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/calico.yaml and I got this error [ERROR][2348] ipsets.go 502: Bad return code from 'ipset list'. error=exit status 1 family="inet" stderr="ipset v6.32: Kernel error received: Operation not permitted\n"
I don't understand, my host can run ipset just fine. Is there anything I can do t

[2017-10-09 17:08] tobad357 commented on #1109
This could be related to?
https://github.com/moby/moby/issues/5618

[2017-10-09 17:09] tobad357 commented on #1109
And I believe the kubelet used to set the bridge as promiscuous to avoid the race condition but that changed with K8S 1.7
See this fix in flynn https://github.com/flynn/flynn/pull/4089/files

[2017-10-10 09:20] ylfforme commented on #1176
I konw what's wrong, I deleted   securityContext: privileged: true this config. I added it back now problem solved

[2017-10-10 09:20] #1176 closed

[2017-10-10 15:28] caseydavenport commented on #1176
@ylfforme thanks for reporting back with the solution!

[2017-10-11 03:25] y00369814 opened #1179 "Can calico deploy on arm64 now？"
Can calico deploy on arm64  now？
## Expected Behavior

I expect to deploy calico on arm64.

## Current Behavior

I am a newer to calico, and I can not find calicoctl release version for arm64. So I download the source code to build, then I find calico/protoc image cannot run on arm64 because the binary the X86_64. What can I do if I want  to deploy calico on arm64.

[2017-10-11 08:03] r7vme commented on #1031
Looks like this issue is gone, when we switched to 2.5.1 (from 2.3.0).

There were two issues that caused problems:
1) existing nodes had broken confd (stalled etcd connection?), so bird did not get new peer in config. So new node were reset.
2) For some reason after 1 manually resolved i see IPIP tunnels not forwarding traffic. And what is most weird that i need to ping endpoint IP of tunnel from

[2017-10-11 08:03] #1031 closed

[2017-10-11 19:05] caseydavenport commented on #1179
@y00369814 thanks for raising - right now there are no official Calico builds for arm64.

However, I believe @TrevorTaoARM is working on adding arm64 support. Would love to get those PRs merged and release official arm builds.

[2017-10-12 19:04] kprabhak opened #1182 "Devstack install with Calico appears to use apt even when deploying on rpm-based distro's"
Our devstack install appears to not switch over to yum when deploying on rpm-based distro's. Need to dig into this further and do some clean up.

[2017-10-12 19:30] kprabhak opened #1183 "Update and clean up OpenStack docs"
Some of the OpenStack docs are out of date, and also there are a few things to be cleaned up. Creating a tracker here so we can start working on this.

- [ ] Need to update docs to mention Ocata, Pike (and Queens?)
- [ ]  Replace mention of RHEL 7 with what we actually mean - distro (RDO/RHEL OSP/etc) and Installer (openstack-ansible/packstack/etc.)
- [ ]  We need to stop including the EPEL repo a

[2017-10-13 19:56] kprabhak opened #1189 "Contribute Calico documentation to upstream OpenShift Origin docs."
OpenShift Origin documentation could benefit from additional detail on Calico within the deployment guide, admin guide, etc.
https://docs.openshift.com/container-platform/3.6/welcome/index.html

[2017-10-15 18:06] robbrockbank opened #1195 "Assignment of IPIP tunnel address should use handles to close down error windows where IP addresses get leaked"
Viewed from code reading:

The IPIP tunnel assignment first allocates an IP address and then updates the Calico config to reference that IP.

If an error occurs setting that IP address then it may not be possible to unallocate the IP and hence we'll leak an IP address.  If we used a handle to indicate that the IP was assigned for IPIP address for node X then we can use that to look up the current

[2017-10-16 10:06] ylfforme opened #1196 "Failed to start error=failed to build kubernetes client config: invalid configuration: no configuration has been provided"
I create calico-kube-controller follow this page https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/calico.yaml ，and got this error
2017-10-16 09:55:01.202 [INFO][301] main.go 65: Loaded configuration from environment config=&config.Config{LogLevel:"info", ReconcilerPeriod:"5m", EnabledControllers:"policy,profile,workloadendpoint", WorkloadEndpointWorkers:1, Profile

[2017-10-16 12:24] ylfforme commented on #1196
I add kubeconfig in the wrong place，change it and solve the problem (〃ﾉωﾉ)   ⁄(⁄⁄•⁄ω⁄•⁄⁄)⁄

[2017-10-16 12:24] #1196 closed

[2017-10-16 15:35] neiljerram commented on #1169
This has now fixed, by upgrading the dnsmasq packages in all our PPAs (including calico-2.6) to v2.78, which:
- fixes all of the CVEs referenced here
- also includes all the dnsmasq enhancements that Calico for OpenStack depends on.

[2017-10-16 15:35] #1169 closed

[2017-10-16 20:09] r7vme commented on #1173
we are seeing similar behaviour. After nodes reinstall/reboot IPIP tunnels do not forward traffic. All routes are in place and network between VMs is fine (i can ssh between VMs). In tcpdump i see IPIP traffic from node, but don't see anything on destination node.

What is most weird that as workaround, *i need to ping tunl0 IP addresses. From node A ping node B, from node B ping node A*. After i

[2017-10-16 20:22] caseydavenport opened #1198 "Don't hardcode the version in the "Get Started" button"
See here: https://github.com/projectcalico/calico/pull/1193#issuecomment-336597491

[2017-10-17 06:35] valentin2105 opened #1204 "Calico Node requires IPv4."
Hi,

I'm currently deploying an IPv6 Only Kubernetes cluster,

I'm facing a small problem with `Calico Node` because it requires inevitably an IPv4 Address to identify the node. ( `-e IP= ` )

## Possible Solution

Make possible to disable totally IPv4 connexions with a Calico node argument or environment variables ?

## Your Environment
* Calico version `calico/node:latest`
* Orchestrator version

[2017-10-17 18:51] caseydavenport commented on #1204
@valentin2105 could you provide the startup logs from `calico/node` in your environment? Would be interested to see exactly where startup fails.

[2017-10-17 21:38] valentin2105 commented on #1204
Sure,

When I try to launch it without any IPv4 :
[code]

[2017-10-17 23:32] caseydavenport commented on #1204
@valentin2105 ok cool, thanks.

Looks like the relevant code is here: https://github.com/projectcalico/calico/blob/master/calico_node/startup/startup.go#L265-L291

We probably want to support an `IP=none` or  maybe an `IP_AUTODETECTION_METHOD=none` option so that this can be disabled.

[2017-10-17 23:33] caseydavenport commented on #1204
Alternatively, we just mimic what's done for IPv6 and require `IP=autodetect` for ipv4 as well. This is a breaking change though so we need to be careful about that. I think it's safest to assume IPv4 and only disable it when explicitly told so.

[2017-10-18 00:09] ozdanborne commented on #1198
Fixed by #1208

[2017-10-18 00:09] #1198 closed

[2017-10-18 00:23] valentin2105 commented on #1204
Yeah, I think disabling IPv4 should be a manual process, `IP=none` seem great.
So it assume Calico node will try to stop peering with other nodes in IPv4 too ?!

Thanks !

[2017-10-18 00:39] ozdanborne commented on #1131
To close the loop here, It looks like you opened https://github.com/dtzar/calico/commit/4b3e1c8ec0b5c8165a33ae5d8953842dd18d817a as a PR (https://github.com/projectcalico/calico/pull/1174) which @caseydavenport forked and submitted/merged here https://github.com/projectcalico/calico/pull/1184.

Are we good to close this issue now?

[2017-10-18 00:42] ozdanborne commented on #1164
Just want to clarify that our stance on tolerations is that "Calico manifests include tolerations for some of the commonly used taints in Kubernetes, of which the kubeadm master taints is one." Hope that makes sense.

[2017-10-18 17:46] anirban37 opened #1210 "Project Calico getting freezes while starting with minikube"
## Expected Behavior
Trying to install with `minikube `and expected to start containers in the calico-node pod

## Current Behavior
I have `minikube ` version `v0.19.0` installed and configured in Ubuntu 14.04.5, where I am trying to install Calico which is getting frozen or hanged in the middle of installation steps.

## Steps to Reproduce (for bugs)
1. Download `minikube ` version `v0.19.0` from

[2017-10-18 17:50] tmjd commented on #1210
See my comment here for using calico on minikube https://github.com/projectcalico/calico/issues/1013#issuecomment-325689943
You can try using the v0.21 directions I have there with the version you are using but I'd suggest updating to the latest minikube.

[2017-10-18 19:57] #1189 closed

[2017-10-18 20:01] #1183 closed

[2017-10-18 20:23] kprabhak commented on #1182
Looks like it might just be the two "apt-get" lines in https://git.openstack.org/cgit/openstack/networking-calico/tree/devstack/bootstrap.sh
Will maybe submit a patch once I've had a chance to test it out in a few days.

[2017-10-19 05:24] bradbehle opened #1213 "Calico-node somehow causing conntrack to drop tracking of connections"
While running a stress test that repeatedly sends a 10MB file using curl to a NodePort service (backed by a few pods), a few times a minutes (so maybe 1 out of 50 or so file transfers) the connection gets reset so the file transfer fails.  Note that this cluster has 165 worker nodes (but this test only runs two server pods)

## Expected Behavior
These files should all be able to transfer successfu

[2017-10-19 05:28] bradbehle commented on #1213
[calico_logs.zip](https://github.com/projectcalico/calico/files/1397190/calico_logs.zip)
[kern.log.zip](https://github.com/projectcalico/calico/files/1397191/kern.log.zip)
[syslog.zip](https://github.com/projectcalico/calico/files/1397192/syslog.zip)

[2017-10-19 08:35] ryobot opened #1214 "Does calico open firewalld?"
In my environment, it seems that firewalld does not effect .
I do not feel sure calico is a cause of this problem.
However,  no-calico(not installed) server is still firewalld protected.
Please review my calico env and give me comments.

## Expected Behavior

serverA's eth1 should be protected as firewalld zone(dmz)
only 443,179,10054,6443

## Steps to Reproduce (for bugs)

1.kubernetes install
2.

[2017-10-19 15:48] heschlie commented on #1173
@r0bj I'm having trouble reproducing this, would you be able to provide a bit more detail, I know you've provided a lot to start and thanks for that!

Are you able to reproduce this reliably? What does your Calico yaml look like? What does the deployment for `nginx-ingress-controller-l4` look like? Where are you running your cluster? Are all pods on the restarted node having trouble coming back up

[2017-10-19 16:40] Viji-Sarathy-Bose opened #1215 "Missing Documentation for IPIP Configuration in AWS"
In the documentation for deploying Calico on AWS at https://docs.projectcalico.org/v2.6/reference/public-cloud/aws, the Requirements section states that traffic on all ports should be allowed for IPIP protocol. However, while configuring a Security Group in AWS, IPIP is not listed among the protocols for which you can add a custom rule. I gathered from one of the users that we will have select pro

[2017-10-19 19:39] heschlie commented on #1109
@Dirbaio @tobad357 This does indeed look to be related to moby/moby#5618. I've done a bit of digging around and it seems this has been an outstanding issue for at least a couple years, with several attempts to fix it in the kernel, see torvalds/linux@f647821, torvalds/linux@b7c8487, and torvalds/linux@d747a7a. At the moment there doesn't seem to be a valid work around aside from restarting the Nod

[2017-10-20 01:10] tobad357 commented on #1109
@heschlie the unqualified feeling I get is that if is a number of race conditions in the kernel related to device teardown some of the fixes have probably mitigated some causes but others are still there. For us K8S 1.6 was rock solid even in a CD/CI env with a lot of pod deletions but 1.7 we can hit it quite regularly.
We have now updated our Centos 7.4 servers to kernel version 4.13 after some p

[2017-10-20 02:31] nightmeng commented on #1150
The bgp_next_hop isn't defined in some route rules, and the following is log of the bird:

[code]

So, before we use bgp_next_hop, we should check if the bgp_next_hop is defined or not:

[code]
And I have issue a new pull request: #1218

[2017-10-20 04:38] toshiiw commented on #1138
I'm working on a fix for calico-bgp-daemon.
https://github.com/toshiiw/calico-bgp-daemon/tree/watchkernel-fix

[2017-10-20 17:41] #859 closed

[2017-10-21 03:14] caseydavenport commented on #1215
CC @colhom, who I believe discovered that both protocol 4 and protocol 94 must be allowed.

[2017-10-21 03:21] #1131 closed

[2017-10-21 23:38] caseydavenport opened #1229 "calico/node fails to start when using master"
Calico node fails to start with this:

[code]

When I set DISABLE_NODE_IP_CHECK=true I get this instead.

[code]

[2017-10-21 23:39] caseydavenport commented on #1229
This was on a kubeadm rig running a calico/node I built myself from master.

[2017-10-21 23:40] caseydavenport opened #1230 "startup.go should use a standard logger"
startup.go prints some logs to stderr, others using a standard logger.

It should be consistent, and use the standard Calico log format like the other components do, so that we get line numbers etc.

Makes it hard to debug when you hit an error.

[2017-10-22 01:03] gunjan5 commented on #1229
Fixed in https://github.com/projectcalico/calico/pull/1231

[2017-10-22 01:03] #1229 closed

[2017-10-23 14:50] r0bj commented on #1173
@heschlie In my opinion this issue is related to timing, notice that:

1. kubelet started at 13:06:44
2. for some reason (more about it later) k8s master address was unavailable until 13:07:27
[code]
Reason for that was actually issue with local consul agent which was unavailable after host restart for some time. So domain `dev.kubernetes-controller.service.consul` (k8s master) was unable to resol

[2017-10-23 15:03] fasaxc commented on #1213
@bradbehle Are you able to try this test with Calico v2.6?  We have made fixes in BIRD and Felix since v2.1 that may help (namely to prevent route flaps in various situations).

Failing that, it'd be useful to check `ip monitor` during your test to see if the routes are being removed and re-added and `conntrack -E` to see whether any conntrack deletions occur for the entries that should be causing

[2017-10-23 17:39] bradbehle commented on #1213
@fasaxc We did just try this with Calico 2.6.1 and we can't reproduce it, so it does seem like something might have been fixed since Calico 2.1.5 that is fixing this issue.  So would removing and re-adding the same route (I assume that is what you mean by route flapping) cause the conntrack deletions of connections in progress?

[2017-10-23 18:21] tmjd opened #1235 "Document config in OpenStack needed when deploying Calico hosted K8s manifests"
## Expected Behavior
Have documented the configuration needed to deploy Calico on a Kubernetes cluster that is deployed on OpenStack.

## Current Behavior
I don't think we have a doc like that yet.

## Possible Solution
Add a section like in the Reference section "Deploying on Public Cloud" for GCE and AWS, it may not be the correct place for the doc since it isn't a "Public Cloud" but you see wha

[2017-10-24 09:05] fasaxc commented on #1213
@bradbehle I'm not sure, but a couple of possibilities:

- some interaction between the RPF check and conntrack
- BIRD removing an IPIP route so packet takes the wrong path and doesn't match.

If you're able to repro with the older code and watch `ip monitor` and `conntrack -E`, that should give a hint as to what route was flapped (or lead us in a different direction).

[2017-10-24 11:41] neiljerram commented on #968
In general there are 2 things we can do here:

1. Expand Felix's hardcoded defaults for the failsafe ports.  That would obviously then affect all deployments.

2. Add environment settings to particular manifests, so as to add failsafe ports for those particular deployments.

[2017-10-24 11:50] neiljerram commented on #968
Felix's current hardcoded defaults are:
[code]

ISTM there is a good case for adding 179 (bgp) to these defaults, in both directions.

For the etcd port number in a k8s install, I suspect using manifest settings is better.  The current defaults already make sense for a deployment in which the etcd nodes are distinct from the workload hosts.

CC @fasaxc @song-jiang  WDYT?

[2017-10-24 11:59] fasaxc commented on #968
Yes, that makes sense to me.  Needs to be a manifest setting, it's going to be different for each type of deployment.

[2017-10-24 21:40] 2ffs2nns opened #1249 "NetworkPolicy NamespaceSelector test failing against master"
e2e is failing to enforce policy based on NamespaceSelector against current master branch.

## Expected Behavior
NetworkPolicy e2e's pass

## Current Behavior
One test is failing
[code]

## Steps to Reproduce (for bugs)

1. launch a cluster using kubeadm-1.6 against k8s-1.7.8
2. use MANIFEST=https://docs.projectcalico.org/master/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yam

[2017-10-25 00:12] caseydavenport commented on #1249
I've tracked this down - fix is here: https://github.com/projectcalico/libcalico-go/pull/629

[2017-10-25 00:21] #1249 closed

[2017-10-25 14:21] fasaxc commented on #1115
I think the work in progress on the "node (cleanup) controller" is here: https://github.com/projectcalico/kube-controllers/pull/176

[2017-10-25 16:22] bradbehle opened #1253 "Still seeing "error adding host side routes for interface: xxx, error: failed to add route file exists" in Calico 2.6.1"
Still seeing `error adding host side routes for interface: xxx, error: failed to add route file exists` which is keeping containers from starting (stuck in "ContainerCreating").  This is detailed in https://github.com/projectcalico/cni-plugin/issues/352 (and also more detail about orphan WEPs which are a part of this problem can be found here https://github.com/projectcalico/calico/issues/1115).

[2017-10-25 16:27] bradbehle commented on #1253
[calico-node.log](https://github.com/projectcalico/calico/files/1415340/calico-node.log)
[kubelet.zip](https://github.com/projectcalico/calico/files/1415346/kubelet.zip)
[calico-node.log](https://github.com/projectcalico/calico/files/1415347/calico-node.log)

[2017-10-25 16:32] bradbehle commented on #1253
Above are the logs I could attach.  I also have syslog, but it is too large to attach, let me know if you need it and I'll get it to you somehow.

[2017-10-25 18:41] caseydavenport commented on #1253
@bradbehle is this on a fresh cluster, or an upgraded cluster from a previous version? Could you do a quick double-check of the version of the CNI plugin in use?

This should do it:

[code]

[2017-10-25 19:19] bradbehle commented on #1253
@caseydavenport

CNI plugin is at 1.11.0:
[code]

And it was an upgraded cluster that was originally at kube 1.5 and Calico 2.1.5

[2017-10-25 22:59] r0bj commented on #1253
I've seen similar behaviour:
[code]
k8s: 1.8.1
calico: 2.6.1
OS: ubuntu 14.04

kubelet logs:
https://gist.github.com/r0bj/a656c75a7b08e1b79be4671206b70779

calico-node logs:
https://gist.github.com/r0bj/1279b3fa321ea5d47d66f5e4c945eadb

[2017-10-26 15:53] heschlie commented on #1109
@Dirbaio would you be able to try out a later kernel and see if it reduces (or hopefully stops) these occurrences? As @tobad357 said it is likely that these patches have reduced these issues over time, it does look like 4.13 is the latest stable.

[2017-10-26 16:02] heschlie commented on #1173
@r0bj Thanks for the extra sleuthing, we're still not able to replicate this so I've got a couple more questions for you if you can.

- Where are you deploying the cluster (AWS, bare metal, GCE)?
- How are you deploying it (by hand, kops, kubeadm, etc.)?
- Are you seeing this problem with all pods on the related node or just the ingress controller?
- When you upgraded to k8s 1.8.1 did you change a

[2017-10-27 02:39] tobad357 commented on #1109
@heschlie we have upgraded our cluster to 4.13 and been running for a week without issues
I will update here in a couple of weeks with results

[2017-10-27 03:51] Quentin-M opened #1272 "Add RollingUpdate strategy to Calico DaemonSet manifests"
Hi there,

## Current Behavior

According to Kubernetes' [documentation](https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/), DaemonSets have two update strategy types:

Because the Calico self-hosted manifests do not specify a strategy, they are all using the default one: `OnDelete`, meaning that after `kubectl apply -f calico.yaml` is executed, nothing will happen until the nodes

[2017-10-27 09:21] r0bj commented on #1173
@heschlie
1. Cluster is deployed on bare metal
2. Cluster is deployed with custom tool based on chef
3. Generally only one pod on node was affected by this issue, nginx-ingress-controller in this case. I don't think it's related but pods affected were mostly DaemonSets.
4. It was just version upgrade, no infra change.

[2017-10-27 11:33] namsral commented on #1173
I'm having similar issues with IPIP tunneling in a public cloud.

Pod deployments which depend on pods with tunl0 interfaces fail half the time. My current workaround is to deploy a pod on each Kubernetes node which continuously sends a single ICMP packet to tunl0 interfaces to pods are in initialization stage.

I do continuous deployments of Kubernetes clusters with Calico and can reproduce this

[2017-10-27 15:21] caseydavenport commented on #1272
Duplicate of https://github.com/projectcalico/calico/issues/777, but I like this one better so I'll close #777.

Yes - I think we should do this across all of our k8s manifests in master. Would anyone like to submit a patch? :)

[2017-10-27 15:22] caseydavenport commented on #777
Closing in favor of https://github.com/projectcalico/calico/issues/1272

[2017-10-27 15:22] #777 closed

[2017-10-27 17:58] fasaxc opened #1276 "calicoctl KDD manifest didn't just work with hosted install"
I applied these two manifests on a CRC, kubeadm cluster (doing v3.0 alpha testing):

https://docs.projectcalico.org/master/getting-started/kubernetes/installation/hosted/rbac-kdd.yaml

https://docs.projectcalico.org/master/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico-networking/1.7/calico.yaml

This got calico working without any config tweaks.  Then I tried the calic

[2017-10-27 18:22] caseydavenport commented on #1276
We probably want to port this back to v2.x as well - should just be a matter of shipping RBAC with the calicoctl manifest.

[2017-10-30 20:59] caseydavenport commented on #458
The v3.0 alpha includes support for a NetworkPolicy and GlobalNetworkPolicy object kubetnetes API datastore mode.

[2017-10-30 20:59] #458 closed

[2017-10-30 21:03] caseydavenport commented on #901
@gunjan5 has this been done in v3.0 alpha?

[2017-10-30 22:24] gunjan5 commented on #901
It's in a PR https://github.com/projectcalico/libcalico-go/pull/634 which is awaiting final approval

[2017-10-30 22:42] gunjan5 commented on #901
Ok the PR is merged

[2017-10-30 22:42] #901 closed

[2017-11-01 09:54] perandersson opened #1292 "Manually reload iptables using calicoctl"
## Expected Behavior

The company that I'm working for have a special department that reloads iptables from time to time using a remote script. This will remove calico's iptables rules for between 60-90 seconds everytime this happens.

I want calico to either copy it's iptables- and route rules into a separate file that can be used for reloading them; or a CLI command that manually triggers a relo

[2017-11-01 17:38] fasaxc opened #1294 "install_cni script doesn't honour sigterm"
k8s v1.8 makes the daemonset scheduler honour the termination grace period, which imposes a delay (default 30s) between kubelet sending our pod a SIGTERM and then a SIGKILL.  I noticed that runit, bird and felix all shut down quickly on sigterm but install_cni seems to ignore it, I believe the problem is a known feature of alpine's shell.

## Expected Behavior

install_cni should die quickly on SI

[2017-11-01 23:39] caseydavenport commented on #1292
Your workaround using calicoctl seems like a good way to do this, though it will trigger a refresh across the entire cluster (not just a particular node). Not sure if that matters for you in your case.

Alternatively, I'd suggest writing a script which saves the Calico iptables rules and can restore them master.

You could also change felix's iptables refresh interval to something smaller, but thi

[2017-11-02 00:34] tamalsaha opened #1301 "Support installation mechanism using Kubernete's etcd"
We are using Kubeadm to provision cluster. The current installer scripts for Calico creates its own unauthenticated. We would like to use the same etcd used by Kubernetes for Calico. The benfits we see are:

- We have one etcd to deal with. We can backup that, etc.
- If HA setup (coming in Kubeadm 1.9), we don't have to manually manage a separate etcd.
- We provision cluster in DigitalOcean. We ne

[2017-11-02 00:35] tamalsaha commented on #1301
cc: @sanjid133

[2017-11-02 02:22] jhorwit2 opened #1302 "Allow specifying the owner uid for rules"
## Expected Behavior

It should be possible to specify the owner uid (`-m owner --uid-owner` in iptables). This is important when protecting bare metal servers since multiple processes run on the host as different users and they should have different policies.

## Current Behavior

Policies are applied to every user so if one user can have public egress then any other user can.

Currently you can

[2017-11-02 16:50] lanejlanej opened #1303 "docker container unable to attach to calico network (using mesos containerizer works fine)"
Firstly, apologies if I am missing something obvious.

Running up tasks with calico networking under mesos using the mesos containerizer works fine.
But, running up tasks using the docker containerizer of directly in docker on a host with calico networking configured fails.  The error suggests that there is a problem connecting with the unix docker socket, but using curl to interrogate the socket

[2017-11-02 18:20] caseydavenport commented on #1302
This is interesting. We should work through the API design a bit more before anyone implements - would like to find a way such that we don't just start exposing iptables options directly in the policy model, so we should look for a way to abstract this away from iptables specifics.

[2017-11-02 18:24] caseydavenport opened #1304 "Configuring etcd RBAC guide in the wrong place"
## Expected Behavior

This guide: https://docs.projectcalico.org/v2.6/reference/advanced/etcd-rbac/certificate-generation

should not be in reference, and should not be in an "advanced" dropdown.  This should just be a guide in the usage section.

## Current Behavior

It's in reference/advanced

## Possible Solution

Move it to usage

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Y

[2017-11-02 18:28] caseydavenport commented on #1301
@tamalsaha I think there are a few things here.

Firstly, Calico certainly supports etcd auth using certificates. See `ETCD_KEY_FILE` and friends [here](https://docs.projectcalico.org/v2.6/reference/node/configuration)

[This manifest](https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/hosted) is more generic, and includes etcd auth as well as the ability to specify

[2017-11-03 07:43] perandersson commented on #1292
Okay, that's good to know. Updating all the nodes in the cluster is not optimal, but it's better then nothing.

Regarding the command above, is there more than `policy` that I have to take into account if we end up using this approach (like profile, node etc.)? and also, do you think that using replace is a feature that will keep working in the long run?

The script that our firewall deparment use

[2017-11-03 13:16] lanejlanej commented on #1303
I'm wondering if this might be a profile/policy issue. Don't see any default profile or policy created for the docker networks.

[2017-11-03 16:31] gunjan5 commented on #1253
@bradbehle @r0bj I have 2 PRs up for the fix, one for CNI v2.0 and one backported to CNI v1.11.x, I've made a CNI image with the fix backported to CNI v1.11.0, so you can try it out, I haven't been able to reproduce it but I've added a test to replicate the issue as best as I can. You can try the debug image with the fix at `gunjan5/cni:route2` it should also have the CNI binary

[2017-11-03 17:10] caseydavenport commented on #1292
Pulling in @fasaxc who will know for sure, but I think that just replacing policy will be enough. @fasaxc will Felix refresh all iptables upon a policy change, or do the profiles need to be replaced as well?

I believe the keyword to grep on would be `cali`. [This script](https://github.com/projectcalico/calico/blob/master/hack/remove-calico-policy/remove-calico-policy.sh) might be useful in that

[2017-11-03 17:16] fasaxc commented on #1292
@perandersson We use the prefix `cali-` to all our iptables chains, if you can avoid touching those (and ensure that you leave our rule insertions in the top-level INPUT/OUTPUT/FORWARD/etc chains) then you might be able to avoid needing to prod Calico.

If you do need to trigger a refresh, I suggest restarting calico-felix rather than rewriting the values in the datastore.  If you're using the cal

[2017-11-03 17:53] fasaxc commented on #1292
Note: Calico also have host protection capabilities that would let you replace the remote script.

[2017-11-03 19:51] perandersson commented on #1292
@caseydavenport The script looks quite interesting and it shouldn't be too hard to modify it to collect/store the iptables rules instead of removing them; I'll look into it in more detail in the beginning of the next week. Hopefully If I manage to write something that works then I'll share it if you want it.

@fasaxc They are essentially doing a `iptables -F`, so they remove all iptables rules bef

[2017-11-03 21:05] caseydavenport commented on #1033
This should be fixed in the latest v3.0 alpha. I'll re-test before closing.

[2017-11-06 03:52] xiaods commented on #797
+1

[2017-11-06 18:32] gunjan5 commented on #1253
@bradbehle @r0bj just checking to see if you've had a chance to try out the debug image, if it works then we can get the PRs merged and get the fix included in the next patch releases

[2017-11-06 18:56] r0bj commented on #1253
@gunjan5 for me it's just difficult to reproduce it. I have encountered it twice on production cluster and after node restart everything worked as expected again. If I have better way of reproducing I'll test your debug image for sure.

[2017-11-07 02:21] tmjd commented on #1214
Could you share the manifest you used to deploy calico? If you did not deploy from a manifest but perhaps with kops, kubespray, or some other installer it would be good to know the IP Pool CIDR in use for Calico.

It would also help to know the service CIDR and cluster CIDR that Kubernetes is configured with.

If you could attach the output of `sudo iptables-save` that might help show what is allo

[2017-11-07 05:45] heschlie commented on #1276
Yea it looks like it just needs the service account added to the manifest, PR incoming shortly.

[2017-11-07 06:53] tobad357 commented on #1109
Sorry to say we hit the issue again but not as frequent as in the past
Think the only way is to wait for more kernel versions and hope more issues have been fixed

[2017-11-07 16:44] lwr20 opened #1320 "IPPool page doesn't mention what CIDRs are valid for an IPPool."
## Current Behavior
In this doc: https://docs.projectcalico.org/v2.6/reference/calicoctl/resources/ippool
It simply says that you need to specify a valid CIDR for an IPPool.
But this is false - the IPPool CIDR has restrictions - it needs to be a /25 or bigger.

## Possible Fix
Update the doc to mention that an IPPool CIDR needs to be a /25 or larger.

[2017-11-07 19:06] fasaxc commented on #1292
@perandersson Restarting calico-felix should not drop any packets.  However, flushing iptables may well do!

Yes, Calico supports "host endpoints", which let you secure you "eth0" interface with Calico policy.

Yes.  However, flushing iptables may "drop all" or "allow all" during the window, depending on how their script works.

[2017-11-07 23:28] caseydavenport commented on #1230
Fixed in master

[2017-11-07 23:28] #1230 closed

[2017-11-08 06:58] msavlani commented on #1253
HI @gunjan5

I have exact same problem as @r0bj
I took your patch and applied in my environment.
And now i see below error :

Nov  8 00:53:33 node1 kubelet: E1108 00:53:33.577354   15218 pod_workers.go:182] Error syncing pod fb3638af-c443-11e7-9f0f-0894ef42f61e ("test1-test1-1193689166-zqh8b_namespace1(fb3638af-c443-11e7-9f0f-0894ef42f61e)"), skipping: failed to "SetupNetwork" for "aio-stage3-serv

[2017-11-08 16:29] mmueen commented on #518
If we dont have log prefix, How do we distinguish between logs of packets which were DENIED or ACCEPTED?

[2017-11-08 17:21] bradbehle opened #1325 "routes not being set correctly when switching to cross-subnet ip encapsulation"
We have a cluster we have upgraded to calico 2.6.1, and at that time also enabled cross-subnet IP in IP encapsulation (so pod to pod traffic b/t workers in the same subnet aren't encapsulated).  All the workers are in the same subnet, but it doesn't appear calico has updated all the routes, so some of them still use the tunl0 interface.  And worse, in some cases node A uses it to send to node B, b

[2017-11-08 18:22] robbrockbank commented on #1325
Hi @bradbehle

Without looking at the logs, I'm wondering if confd has skipped an update on the BGP configuration for some reason.  I have worked in this area recently and shored up error handling in the master confd that could potentially resolve this.

As a first step, could you reapply the IPPool configuration and see if that triggers everything into life?

[2017-11-08 18:51] bradbehle commented on #1325
FYI, restarting calico-node did not help.  But before I saw your update above I went to each node and manually deleted (using `sudo route -del ...`) the routes that were mistakenly using tunl0, and those routes were then immediately replaced with the correct routes (routing directly over eth0).  Does that make it more or less likely that it is a confd issue?

I will try to recreate this problem, s

[2017-11-08 20:05] gunjan5 commented on #1253
@msavlani can you post the CNI debug logs?

[2017-11-08 21:41] robbrockbank commented on #1325
Ah, I would have expected a restart of calico/node to re-render the templates too.

So, perhaps there is some configuration issue, or other error that is causing this.  If you see this again, perhaps you could grab the logs from the affected node(s).  Feel free to DM me on slack if you'd prefer to send your diags directly to me.

[2017-11-08 21:49] robbrockbank opened #1328 "Should be able to gather confd rendered templates from a running calico/node"
[arguably a calicoctl issue since it's related to the `calicoctl node diags`, but I suspect a solution would require a change in calicoctl and in calico/node.]

## Expected Behavior
It would be useful if we had a supported mechanism for gathering the confd-rendered bird templates from a running calico/node.

## Current Behavior
We don't have a way other than exec-ing in to the container.

## Possi

[2017-11-09 07:28] tmjd opened #1334 "globalnetworkpolicy with networkpolicy not allowing expected traffic"
## Note: This issue is with master builds

With two namespaces, nsa and nsb, and an nginx pod deployed to both and exposed as a service and the following policies applied, I was not able to run an 'access' pod in nsa that could access the nginx service in the nsa namespace.  The DNS traffic is dropped on the host with the DNS pod, hitting the DROP rule for traffic that does not match a policy.

Si

[2017-11-09 16:40] bradbehle commented on #1325
I was able to find this same situation (tunl0 routes that aren't getting replaced on somenodes when cross-subnet is enabled) on a different cluster.  I have sent the logs and cluster config to @robbrockbank

[2017-11-09 16:41] bcreane commented on #1334
@tmjd - https://semaphoreci.com/calico/calico/branches/master/builds/1120 is the first build with @caseydavenport 's fix for non-namespaced policy having namespace restrictions applied. I think any master newer than this one (was published around Wed afternoon) should be fine. Just wanted to verify you got the newer version ...

[2017-11-09 16:44] tmjd commented on #1334
I'm fairly certain I have it but I'll re-deploy and double check

[2017-11-09 17:00] tmjd commented on #1334
Yeah redeployed and I'm seeing the same behavior.

[2017-11-09 17:49] tmjd commented on #1334
OMG I'm not thinking right. I realized those namespace selectors aren't right.
.... Though I've updated to the following and still seeing the same behavior.

[code]

[2017-11-09 18:27] caseydavenport commented on #1334
At least one issue might be the formatting of your selector:

[code]

There should be quotes around `nsa`

e.g.

[code]

[2017-11-09 19:02] tmjd commented on #1334
Updated policies to the following and still seeing the problem.
[code]

[2017-11-10 09:30] pksec opened #1337 "Kubeadm hosted install fails (kube-dns CrashLoopBackOff after 3m) help wanted"
## I used calico manifests and default kubeadm setup instructions
 - First I thought it could be a problem with kubernetes. But I was able to successfully deploy Weave.
 -  I have successfully tested star-policy, advanced-policy demos few months back. Now it is not working. I have spent almost 2 days to find if I miss something. Now I thought it is time to ask some help, as I could not understand

[2017-11-10 15:47] pksec commented on #1013
# Thanks!!! @tmjd .
I tested your configuration with minikube:v0.23 and it works, thanks a lot. You saved me !

## Minikube v0.23
[code]
I was having issues with kubeadm hosted + Calico install (pls see issue: https://github.com/projectcalico/calico/issues/1337. ) I think CIDR configuration with kubeadm is the problem there.

[2017-11-10 16:40] r0bj commented on #1253
@gunjan5 I used your debug image and I was able to reproduce it.

kubelet error message:
[code]
calico error:
[code]

full kubelet logs:
https://gist.github.com/r0bj/9a96a0041733e9cb9a2e126d4ef224b2
full calico logs:
https://gist.github.com/r0bj/ab637b6ab3deeaa4a88646d5f22dad4d

[2017-11-10 16:44] song-jiang opened #1338 "selector inside EntityRule not working for network policy"
## Step to reproduce
1. Create 3 workloads on host1 & host2 in namespace `nsb` with label `ns: nsb`. Create 1 workload on host1 in namespace `nsa` with label `ns: nsa`
2. Create network policy
[code]
3. Policy created successfully but workload with label `ns: nsb` still can access workload in namespace `nsa`.
4. Checked iptables, looking fine. Checked ipset on host1, there is an ipset correspondin

[2017-11-10 17:41] ozdanborne commented on #1338
@song-jiang might be useful to include output from `calicoctl get wep -o yaml`

[2017-11-10 17:50] tmjd commented on #1338
To select a namespace you need to use namespaceSelector

[2017-11-10 18:34] song-jiang commented on #1338
After put in a namespaceSelector, test passed.

[2017-11-10 18:34] #1338 closed

[2017-11-10 18:44] r0bj commented on #1253
Another example:
kubelet logs:
https://gist.github.com/r0bj/9ee5a7b1d15fde85390f5ceb99a76c15
calico logs:
https://gist.github.com/r0bj/a31672f4835ed4d12c41a788ede495ac

[2017-11-10 20:23] tmjd commented on #1334
The egress policy was allowing only to the kube-dns pod but the kube-dns pod makes outbound connections which were not allowed.  Allowing outbound from the kube-dns pod seems to fix this.

[2017-11-10 20:23] #1334 closed

[2017-11-10 20:29] tmjd commented on #1337
You should check the kube-apiserver logs and the kube-proxy logs (on the host where kube-dns is running) for errors and see if they point out any issues.

[2017-11-10 22:02] ozdanborne commented on #1150
I just finished running a rig on AWS and confirmed that Calico is correctly using the tunl0 only when traffic is crossing subnets (when in CrossSubnet) mode.

[2017-11-10 22:02] #1150 closed

[2017-11-11 00:07] caseydavenport commented on #1033
Retested and it works!

[2017-11-11 00:07] #1033 closed

[2017-11-11 00:27] #1276 closed

[2017-11-12 00:09] tmjd opened #1347 "With :master components containers stuck in ContainerCreating"
### This issue was seen when using the current master components

When deploying KDD calico-node seemed to deploy but then trying to deploy other pods would result in them just being stuck in `ContainerCreating`.

The kubelet logs on the host where the pod was being deployed showed
[code]

[2017-11-12 01:31] #1347 closed

[2017-11-13 10:34] fasaxc commented on #1173
@r0bj is it _always DaemonSet pods?  DaemonSet pods bypass the normal scheduler so they can get scheduled before pod networking is ready.  Could be something to do with that.

Are any of your pods host networked?

[2017-11-13 11:44] r0bj commented on #1173
@fasaxc yes, in my case it were only DaemonSet pods.

I have pods with host network, eg. `kube-proxy`, `node-exporter`,  and of course `calico-node`.

[2017-11-13 15:28] fasaxc commented on #1253
@r0bj @msavlani Thanks for providing the logs, both the kubelet and calico/node logs make it look like we've assigned the IP to one endpoint, then tried to assign it to another but it's not clear from the logs how that happened because the logs start around the time that we're trying to assign the IP to the second endpoint.

If you can get a node in the bad state again, it'd help to have:
- any lo

[2017-11-13 16:02] fasaxc commented on #1253
@gunjan5 From code reading, I spot one issue; after a failed networking attempt, we always clean up the IPAM allocation.  However, if this is an attempt to re-network a pod then we've already written the IP into the workload endpoint when we first networked the pod so, I think, we end up deleting the IPAM reservation without removing the IP from the workload endpoint.  Later, we'll then try to re-

[2017-11-13 16:25] r0bj commented on #1253
@fasaxc data you requested:

1. logs from the the time when node started:
kubelet logs:
https://gist.github.com/r0bj/f795bf18dec385ebd5e0035544649d17
calico-node logs:
https://gist.github.com/r0bj/02819862d4e30c19501b06ecd9dc67c3

2. ip route on the node:
https://gist.github.com/r0bj/58c931dec5e795d8fa068be21cf5c747

3. output of `calicoctl get workloadendpoint --node=dev-k8s-worker-p4 -o yaml`:
h

[2017-11-13 17:27] mikhail-manuilov opened #1352 "Add support for multiple IP addresses in `cni.projectcalico.org/ipAddrs`"
I got normal functioning kubernetes in azure 1.7.9 using calico cni 2.6.1.

I've created several pod with no issues (nginx ingress related).

But when I tried to create main application (parity) StatefulSet and used

EDITED:

[code]
I got error on first pod **Pod sandbox changed, it will be killed and re-created.**

Without annotation everything is fine and works as expected.

## Expected Behavior

[2017-11-13 18:36] fasaxc commented on #1253
Awesome, thanks @r0bj, it looks like you may have hit the case I described above.  You have two workload endpoints with the same IP assigned.  In addition, the IPAM error in the log indicates that the IPAM allocation was incorrectly lost or cleaned up.

Assuming this is the only instance of the problem on your node, a temporary workaround would be to delete and recreate these two pods: `ops.nsqloo

[2017-11-13 18:45] caseydavenport commented on #1352
@mikhail-manuilov thanks for raising.

Could you share the kubelet logs from the node running the pod that is encountering errors?

The kubelet logs will include the Calico CNI logs, which should help identify what is going on here.

[2017-11-13 20:33] robbrockbank commented on #1325
I'm seeing the following logs from bird:

`bird: filters, line 18: ~ applied on unknown type pair`

Which was an issue addressed in the PR #1218 - back porting to v2.6 in #1354

[2017-11-13 20:33] robbrockbank commented on #1325
didn't mean to close - apologies.

[2017-11-14 09:50] fasaxc commented on #1173
@r7vme Please can you open a second issue to cover your tunnel issue.  Since it is resolved by pinging down the tunnel, it is likely a different issue to @r0bj's issue, which appears to be an issue with pod re-networking.

[2017-11-14 09:51] fasaxc commented on #1173
@namsral Please upgrade your Calico to 2.6, we fixed several tunnel issues between 2.1 and 2.6.

[2017-11-14 09:56] namsral commented on #1173
@fasaxc Will do, thanks.

[2017-11-14 10:05] fasaxc opened #1357 "IPIP tunnels don't forward traffic until pinged"
Moving this issue from #1173, which mixes two problems:

Originally reported by @r7vme:

we are seeing similar behaviour. After nodes reinstall/reboot IPIP tunnels do not forward traffic. All routes are in place and network between VMs is fine (i can ssh between VMs). In tcpdump i see IPIP traffic from node, but don't see anything on destination node.

What is most weird that as workaround, *i nee

[2017-11-14 10:09] fasaxc commented on #1357
We haven't got to the bottom of this yet but Giantswarm have published a workaround: https://github.com/giantswarm/calico-ipip-pinger

[2017-11-14 10:31] neiljerram opened #1358 "Typos in master kubeadm Hosted Install page"
At https://docs.projectcalico.org/master/getting-started/kubernetes/installation/hosted/kubeadm/, the documentation includes:

"To install this Calico and a single node etcd on a run the following command:"

which I guess should be "To install Calico and a single node etcd on a ? run the following command:"

[2017-11-14 11:13] r7vme commented on #1173
@fasaxc thanks for taking care.

[2017-11-14 12:13] 420691301 opened #1360 "kubernetes networkpolicy with only egress will deny all ingress traffic ?"
When I create kubernetes networkpolicy which the `policyTypes `field set egress only, i find the selected pods does not allow any ingress traffic.
## Expected Behavior

I think it should only changes egress traffic,not ingress traffic.
## Current Behavior

The selected pods does not allow any ingress traffic.
## Possible Solution

It works well when I add the networkpolicy which default allow all

[2017-11-14 13:41] fasaxc commented on #1357
OK, got to the bottom of one cause of this issue with a user on slack.  In his case, he had enabled host protection but he had not added a rule to allow incoming IPIP traffic.  This meant that no IPIP traffic would be allowed until an outgoing ping, for example, triggered a conntrack entry, which in turn allowed the return traffic.

For current versions of calico, the fix is to add policy to allow

[2017-11-14 14:46] mikhail-manuilov commented on #1352
Sure, I got some testing and of my `statefulset` and came to a conclusion: calico doesn't support IP address lists (when I start statefulset with one IP in annotation ip list everything worked as expected), or am I wrong?

-- BTW how can I know `podCidr="10.244.3.0/24"` not looking into logs?

Below is log from kubelet running in docker on working agent:

[code]

[2017-11-14 20:31] tmjd commented on #1352
You are correct that it does not support multiple IP addresses with that annotation.

I am not aware of any way to get the podCidr with kubectl or through the kube-apiserver or anything, if you find a way please let me know. :grinning:

[2017-11-14 23:41] caseydavenport commented on #1352
You can grab the pod CIDR for a specific node through the k8s API - it's the `Node.Spec.PodCIDR` field.

And yeah, right now only a single IP is supported through that annotation, so that would be the cause. Why do you want to assign multiple IP addresses?

[2017-11-15 02:59] 420691301 commented on #1360
I try [Advanced network policy](https://docs.projectcalico.org/v2.6/getting-started/kubernetes/tutorials/advanced-policy), in `4. Deny all egress traffic` part , `nslookup nginx` also can get IP of nginx service.I think something wrong with my cluster. I guess maybe the calico policy is wrong.
my calico policy:

[code]

[2017-11-15 08:52] mikhail-manuilov commented on #1352
@caseydavenport thanks for clarifying. I and basically I suppose all of container orchestrator's users want run some legacy applications that want static address to stay in touch. Supposedly I'm using multiple node cluster that assembled after containers/pods startup and keep in touch nodes by IP address, after orchestrator node has been killed/rebooted container is also killed and getting new IP

[2017-11-15 11:19] r7vme commented on #1352
@mikhail-manuilov just curious about your Azure install, did you do anything specific to make networking working in Azure with Calico? or you're using Calico in policy-only mode?

As far as i know at least IPIP traffic filtered and foreign source ip addresses (pod ips) dropped.

https://github.com/projectcalico/calicoctl/issues/949#issuecomment-304546574

[2017-11-15 19:10] fasaxc commented on #1357
I think this is the right fix: https://github.com/projectcalico/felix/pull/1558

[2017-11-15 22:23] joewilliams opened #1369 "inspect result of getIPIPEnabledPoolCIDRs()"
I am observing some unexpected behavior during IP allocation and would like to better understand what [`allocate_ipip_addr`](https://github.com/projectcalico/calico/blob/master/calico_node/allocateipip/allocate_ipip_addr.go) is doing. Specifically, the CIDRs returned by `getIPIPEnabledPoolCIDRs`. Can you recommend a way for me to do that?

[2017-11-16 02:48] #1360 closed

[2017-11-16 03:14] caseydavenport commented on #1360
@420691301 did you manage to figure out what was going wrong?

[2017-11-16 15:41] mikhail-manuilov commented on #1352
@r7vme not doing anything specific, deployed test cubernetes using simpliest config.

`acs-engine deploy --subscription-id <your_sub_id> --dns-prefix <prefix> --location westeurope --auto-suffix --api-model config.json
`
`config.json` contents:
[code]

[2017-11-16 15:57] mikhail-manuilov commented on #1352
@caseydavenport is there any way to assign any static IP address for for pod (from `Node.Spec.PodCIDR`)? Because each node got different `Node.Spec.PodCIDR` in my azure setup (maybe in any provider setup).

 At this time to run static IP-address application I should:
1. label each node
2. assign specific IP address in pod using annotation according to Node.Spec.PodCIDR for specific node
3. add `no

[2017-11-16 17:28] caseydavenport commented on #1352
@mikhail-manuilov Not at the moment - I think you would need to use the approach that you suggested above, using a `nodeSelector` to make sure the pod shows up on the right node.

This is pretty brittle - if something happens to that node, then that pod has no way of starting until the node comes back.

When using Calico IPAM an Calico routing, this won't happen and the pod will just get reschedul

[2017-11-16 21:28] redteamer-io-dev opened #5199 "Better Calico compatibility in a multi-cni configuration"
## Expected Behaviour
Calico to be extra ;) useful as delegate in a multi cni configuration. E.G only used for pod and service networking in a Kubernetes context.

## Current Behavior
Calico CNI is hard coded to be the default gateway https://github.com/projectcalico/cni-plugin/blob/bcd2d3f825002c218bfaa872206f9bf42753c7e3/utils/network.go#L100
It would be great if there was a boolean option expos

[2017-11-17 01:58] gogeof commented on #600
@robbrockbank @caseydavenport
Today I have tried to set calico profile action to log, but can't find the log message, I'm also looking for the document for help. Is there any document about that?
**here is my profile, but can't find relatived log when I trying to access pod's service:**
[code]
**here is the environment I am in:**
[code]

**any help is appreciate!**

[2017-11-17 06:31] KeithTt opened #1375 "how to delete the ipip tunnel after uninstall calico plugin?"
[code]

[2017-11-17 08:47] msavlani commented on #1253
@fasaxc , i am encountering exact same problem.
Lately i am facing this with every pod running on that one node and had to manually delete pod with same endpoint (Going in cycles)
Can you provide your fix patch so that i can try in my environment to see if that resolves the problem ?

[2017-11-17 14:20] fasaxc commented on #1173
I've taken a look at the kubelet logs.  I see this pattern of CNI calls from kubelet to our CNI plugin:

[code]

The kubelet never appears to send us an ADD for the new instance of the pod, we only see the above DELs for the old instance.

[2017-11-17 14:41] fasaxc commented on #1173
AFAICT, given what Kubernetes is sending us, we're doing the right thing.

This looks like a bug in the kubelet; perhaps its cleanup succeeded (hence all the DELs) but it was unable to report the cleanup to the master (due to the consul issue above) and then it got itself in a broken retry loop, trying to restart a container that it had already cleaned up earlier on:

This gets repeated over and o

[2017-11-17 14:41] #1173 closed

[2017-11-17 14:46] fasaxc commented on #1173
@namsral Also possible that you were hitting #1357

[2017-11-17 17:16] heschlie commented on #1109
Closing this issue as it does not seem like a Calico related problem. Feel free to re-open if you believe this to be in error.

[2017-11-17 17:16] #1109 closed

[2017-11-17 17:29] caseydavenport commented on #1375
@KeithTt Calico creates that interface and will re-create it so long as it is running and enabled. If you've uninstalled Calico, then it should be standard `ip link` commands to disable and delete the interface.

[code]

[2017-11-17 17:29] #1375 closed

[2017-11-17 17:36] KeithTt commented on #1375
@caseydavenport It still exists after I deleting it.

[code]

[2017-11-17 18:29] caseydavenport commented on #1375
@KeithTt sorry, I think I may have given misinformation.

I just tried this myself, and I also had to run this command:

[code]

[2017-11-17 18:45] KeithTt commented on #1375
So it means that `tunl0` will created automatically when loading the `tunnel4` module?

I tried it, the tunnel4 mod is busy, like this:
[code]
And I remover the `ipip` mod at the same time:
[code]
Then it disappears.
---

I make it it disappeared by another way, but not good because I reboot the server:

Firstly, delete the ip sets:
[code]

Then reboot the server and the device disapears...

Anywa

[2017-11-19 05:08] KeithTt opened #1378 "Can the `CALICO_IPV4POOL_CIDR` be changed to another CIDR instead of `192.168.0.0/16`?"
as the title...for example: `10.xxx.xxx.xxx/16`

[2017-11-19 17:19] caseydavenport commented on #1378
Yep!

Please see [the documentation](https://docs.projectcalico.org/v2.6/reference/node/configuration): (specifically, `CALICO_IPV4POOL_CIDR`)

[2017-11-19 17:19] #1378 closed

[2017-11-19 18:05] KeithTt commented on #1378
@caseydavenport thanks a lot!!

[2017-11-19 21:42] namsral commented on #1357
I published [another workaround][0], works by sending single ICMP packets to initialising pods.

[0]: https://fuga.cloud/academy/articles/how-to-stabilise-calico-ip-in-ip-tunnels-in-virtual-environments/ "How to stabilise Calico's IP-in-IP tunnels in virtual environments"

[2017-11-19 23:27] 0xBF opened #1379 "Allow to filter external traffic with kubernetes datastore"
Installation:
 - baremetal kubernetes cluster (1.8)
 - calico with kubernetes datastore (2.6)
 - service with two externalIPs (EIP1, EIP2)
 - EIP1 routed to node1
 - EIP2 routed to node2

I want to limit access to this service for only one external (for cluster) IP.

When pod and externalIP are on same node (client -> EIP1 -> pod-on-node1), all is ok.
When pod and externalIP are on different nodes

[2017-11-20 14:01] JinsYin opened #1380 "error: You must be logged in to the server (the server has asked for the client to provide credentials ( pods/log calico-node-w622p))"
I'm using [this tutorial](https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/hosted) to deploy calico on kubernetes. But I have the following issues:

[code]

env:

[code]

my `calico-rbac.yaml`:

[code]

my `calico.yaml`:

[code]

[2017-11-20 15:22] tmjd commented on #1378
Just a note on changing that. If you have already brought up your cluster and the pool has been created then updating the env var and restarting calico-node will not change the IP Pool. The setting is only used when creating a default pool and that is only done when there are no existing pools.

[2017-11-20 16:14] ramsateesh commented on #518
@fasaxc can we put this back in as a configurable ability so that it can be turned on and off?

[2017-11-20 16:34] tmjd commented on #1210
I'm going to close this as I hope my previous comment helped resolved the issue.  If this still is a problem please provide what you've tried based off the link in the previous comment and what problems you still see and I'll reopen this issue..

[2017-11-20 16:34] #1210 closed

[2017-11-20 16:39] tmjd commented on #1102
I'm going to close this for now since it seems to be a problem with SSL as I mentioned in my previous comment. If you can provide additional information, particularly on why this is an issue Calico is causing, I'm happy to reopen this issue.

[2017-11-20 16:39] #1102 closed

[2017-11-20 16:57] tmjd commented on #1380
The error you reported in the title can be fixed by having your logs command include `-c calico-node` (to see the logs from the node container) or `-c install-cni` (to see the logs from the cni install container).  Since there are multiple containers in the pod you must specify which one you are interested in.

That does not seem to be the root of your problem since the calico-node pods are in a C

[2017-11-20 17:32] tmjd commented on #1379
The plan is to add feature parity to match etcd when using the kubernetes datastore. There is #355 to track that.

[2017-11-21 01:28] JinsYin commented on #1380
@tmjd

ha kubernetes cluster:

![hamaster](https://user-images.githubusercontent.com/12714609/33049814-c06ccafe-ce9c-11e7-8a54-3280023ae9e1.jpg)

My cluster have three masters and two nodes:

[code]

[code]

`calico-node` log:

[code]

`calico-cni` log:

[code]

Deployment of calico:

[code]

[2017-11-21 02:46] KeithTt commented on #1378
@tmjd I found that, I change this value but it still use the CIDR before........

So how do make this value take effect if I want to  use the new CIDR?

[2017-11-21 05:43] KeithTt commented on #1378
I found the config file in the pod here:

[code]

[2017-11-21 09:31] javefang commented on #985
This is currently generating about 9.6GB of logs daily from the 11 nodes that we have. I can see the "--log-level=debug" flag has been removed in the confd service definition. Can we cherry-pick that change back into the v2.6.2?

[2017-11-21 09:32] javefang commented on #985
This is currently generating about 20GB of logs daily from the 11 nodes that we have. I can see the "--log-level=debug" flag has been removed in the confd service definition. Can we cherry-pick that change back into the v2.6.2?

[2017-11-21 14:55] #888 closed

[2017-11-21 15:19] r7vme commented on #1357
@fasaxc thanks for fix. Will this be cherry-picked to 2.6 ?

[2017-11-21 15:23] tmjd commented on #1378
If you need to modify Calico data you should use the [calicoctl](https://docs.projectcalico.org/v2.6/reference/calicoctl/) command.  You can use the calicoctl command to create the IP Pool you want to use and then delete the previous one.

It is not safe to edit the /var/lib/etcd data on disk. I would suggest not editing the Calico data directly in etcd, if feel you need to edit etcd data directly

[2017-11-21 15:39] KeithTt commented on #1378
It is strange that I have deleted all the data include `/var/lib/etcd` before rebuilding the k8s cluster, I use a independent etcd cluster not in k8s .

[2017-11-21 15:40] fasaxc commented on #1357
@r7vme Yes, I think so.

[2017-11-21 15:41] tmjd commented on #1380
The error you are receiving now seems to be an access problem from kubectl trying to access the kube-apiserver, I do not think that is a log message from the calico-node or install-cni containers. Are you able to run `kubectl describe -n kube-system pod calico-node-w622p` successfully?

Another issue I believe you will need to address is that the manifest you started from still has the K8s tolerat

[2017-11-21 15:57] tmjd commented on #1378
To edit the value if you rebuild the cluster (so the correct value is used when you deploy calico):
1. Download the manifest (grab the file used in the command `kubectl apply -f https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml`, that command simply downloads that file and then applies it)
2. Edit the variable.
3. Apply the edited manifest w

[2017-11-21 17:23] caseydavenport commented on #985
Yep, as you've spotted this is fixed in v3.0.0-beta1. We should also fix in v2.6.x.

[2017-11-21 18:11] fasaxc opened #1384 "{{site.prodname}} appears on the releases page"
https://docs.projectcalico.org/v3.0/releases/

## Expected Behavior

Should say Calico

## Current Behavior

Example:

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operating System and version:
* Link to your project (optional):

[2017-11-21 20:19] jckasper opened #1387 "IPnIP is routing local node/destination traffic through tunnel interface"
Created the following IP pool resource:

[code]

When `ipip enabled=false`, the route for this CIDR is correct:

[code]

When IPIP is enabled, the route is changed from:
[code]
... to ...
[code]

## Expected Behavior
If the destination for the route is a local pod on this node, the traffic should be sent directly to that pod via the cali* device instead of the tunl0 device.

## Current Behavior
Wh

[2017-11-21 21:00] #1384 closed

[2017-11-21 22:19] bradbehle opened #1388 "Changing the CNI_CONF_NAME to 10-calico.conflist in calico yaml causes CNI to fail"
Changing the CNI_CONF_NAME to 10-calico.conflist in calico yaml causes CNI to fail.

## Expected Behavior
The CNI should continue to function when the name is changed to .conflist to support multiple plugins

## Current Behavior
In hosted calico for kubernetes, when the CNI_CONF_NAME is changed to 10-calico.conflist (I did this to add the portmap plugin along with the calico cni plugin I already h

[2017-11-21 22:46] caseydavenport commented on #1388
@bradbehle thanks for raising.

We've actually merged this PR, which does what you're suggesting: https://github.com/projectcalico/cni-plugin/pull/392

It's in v3.0 but hasn't made it to v2.6 yet. I've added this to the v2.6.4 milestone to get this cherry-picked.

One thing though, I'm surprised there would be errors related to multiple config files. I think the kubelet just picks the first one an

[2017-11-22 00:31] bradbehle commented on #1388
Here is an excerpt of the syslog on the worker node where I found the CNI unable to handle the two conf files (one with .conf extension and one with .conflist extension).  Let me know if you want other logs, but I think this should show it clearly.

[cni_extra_conf_files_logs.txt](https://github.com/projectcalico/calico/files/1493483/cni_extra_conf_files_logs.txt)

[2017-11-22 00:37] caseydavenport commented on #1388
Looks like this is the primary error I'm seeing in those logs, which I think just means the top-level config is missing the name field.

[2017-11-22 01:53] caseydavenport opened #1390 "Convert hostnames to lowercase"
We should convert hostnames to lowercase when writing them to the datastore or doing comparisons so that they pass libcalico validation.

## Expected Behavior

A hostname like `something-VirtualBox` should be written to the Node object as `something-virtualbox`.

## Current Behavior

Node fails to start due to a validation error.

## Possible Solution

startup.go converts hostnames to lowercase wh

[2017-11-22 01:55] bradbehle commented on #1388
Is there a way to work around this so we can update to use portmap (and the needed .conflist suffix) and not hit this CNI error?  Or do we need the fix that is coming in 2.6.4?

[2017-11-22 02:00] caseydavenport commented on #1388
@bradbehle you shouldn't need the fix coming in 2.6.4.

I would think that a CNI config called `10-calico.conflist` with the following contents would work:

[code]

[2017-11-22 02:27] KeithTt commented on #1378
So, you mean edit the yaml file and `kubectl apply -f calico.yaml`, that is what I did, but do not work, and I have deleted all the data before rebuilding.

And I have checked this config in `manifests/kube-controller-manager.yaml` and `kubectl edit cm kubeadm-config -n kube-system`, they are both correct.

[2017-11-22 04:39] struz opened #1391 "quay.io calicoctl image with tag v1.6.1 overwritten with v2.0.0-beta"
## Expected Behavior

[code]

## Current Behavior

[code]

## Context

It's not the right version and this breaks assumptions and functionality for people expecting the old version.

[2017-11-22 06:15] gunjan5 commented on #1391
@struz thanks for pointing it out. We've fixed it

[2017-11-22 06:15] #1391 closed

[2017-11-22 09:17] fasaxc commented on #1387
@jckasper Am I right in thinking you're trying to peer a calico host with one of its workloads over BGP?  That is not expected to work.  Apart from any other issue, Felix will remove the route that bird adds.

[2017-11-22 09:21] KeithTt opened #1392 "calico-node: Readiness probe failed: HTTP probe failed with statuscode: 503"
kube version: 1.8.3
OS version: debian stretch

There are 2 nodes in error:

[code]

![image](https://user-images.githubusercontent.com/15189954/33119302-7c083bf6-cfa9-11e7-9428-bbb894e07a86.png)

How to check where is the problem?

[2017-11-22 13:32] JinsYin commented on #1380
:+1: Thanks.

Firstly, my `ETCD_ENDPOINTS` is not configured correctly.

Secondly, I deployed calico to the master node as you provided.

[code]

Thirdly, the issue still exists, but it does not seem to be related to calico.

[code]

[2017-11-22 13:32] #1380 closed

[2017-11-22 14:05] JinsYin commented on #1380
I had omitted `--kubelet-client-certificate` and `--kubelet-client-key` which resulted in the error.

[2017-11-22 16:21] tmjd commented on #1392
You should start with looking at the logs for those pods and specifically the `calico-node` container in the pod.

[2017-11-22 16:27] jckasper commented on #1387
@fasaxc The routes for the remote VPN network are working fine today as long as the k8s worker nodes are on the same  subnet.  Felix appears to be fine with the new routes.

[2017-11-22 23:33] MikaelCluseau commented on #1253
@fasaxc thanks for the fix, I upgraded to v1.x-series/v2.x-series docker tags for cni and node, it solved the issue for me.

[2017-11-23 02:42] KeithTt commented on #1392
I found that the daemonset `calico-etcd` uses a `node selector`, if I have 3 masters should I label all of them with master role?

[code]

[2017-11-23 09:41] fasaxc opened #1401 "Default IP pool selection can overlap with user's host network"
Seems like we could look for locally-assigned networks and pick a pool that doesn't overlap.

## Expected Behavior

## Current Behavior

If the pool overlaps with the host network then the symptoms are:

- NAT outgoing doesn't work, because the NAT rules think the host network is part of the pool
- IPAM-chosen IPs can overlap with the real network at random.

## Possible Solution

Scan local inter

[2017-11-23 12:34] 0xBF opened #1402 "Update from 2.6.2 to 3.0.0-alpha1 with kubernetes datastore broke outgoing nat"
I try update calico 2.6.2 to 3.0.0-alpha1 and outgoing nat stop work.

kubernetes version: 1.7
calico datastore: kubernetes
calico in policy-only mode

It was fixed by updating ippool with calicoctl.

Maybe, there is a result of renaming nat-outgoing parameter to natOutgoing.

[2017-11-23 13:30] fasaxc commented on #1253
@msavlani The fix is in This release of the CNI plugin.  We're about to release a Calico v2.6.3 patch release to include it. https://github.com/projectcalico/cni-plugin/releases/tag/v1.11.1

Note: after taking the fix, you'll need to remove and recreate all the pods on affected nodes.

[2017-11-23 13:31] fasaxc commented on #1387
As discussed on slack, we found that Felix was deleting the routes but bird was re-adding them.

[2017-11-23 13:57] fasaxc commented on #1402
This is expected; there is no upgrade support from v2 to v3.0.0-alpha (or beta).  Our GA release will include upgrade support.

[2017-11-23 13:57] #1402 closed

[2017-11-23 13:59] fasaxc commented on #1392
`calico-policy-controller` was replaced by `calico-kube-controllers` so that's normal.  I suspect you can remove the old deployment now you have `calico-kube-controllers` running.

[2017-11-23 15:47] jckasper commented on #1387
Found the following Felix configuration setting:

I could use this property to disable Felix removing the routes, but don't think that would necessarily be a good thing.

[2017-11-24 15:39] fasaxc opened #1405 "KDD v3 Pods lose connectivity for a while after start"
Seen in the mini scale test: with KDD v3.0, pods often get connectivity immediately and then lose it for ~10s before it comes back again.  Depending on whether the pod gets its first ping off in time it either sees a <100ms TTFP or a >10s.

Digging in the debug logs.  It looks like the cause is that the k8s API server is sending us

- an initial event for the pod creation, with no IP
- a status up

[2017-11-24 15:39] fasaxc commented on #1405
CC @frnkdny

[2017-11-24 16:42] fasaxc commented on #1405
As a workaround (and to verify the hypothesis) I tried this patch to libcalico-go
[code]
I saw TTFPs go back to normal with KDD using that patch.

Unfortunately, that patch doesn't quite reinstate the old behaviour correctly since it applies to all resource types, not just Pods.

[2017-11-24 16:55] fasaxc commented on #1405
This is _almost_ fixed by Felix's grace period but it's a case that we exclude:  the server explicitly told us about an IP and then explicitly removed it so we assume that's the correct result.

[2017-11-24 17:56] fasaxc commented on #1253
Fixed by #425 #418 #408 #406, to be released in Calico v2.6.3 (CNI plugin v1.11.1) and and Calico v3.0.

Please open a new issue if you see this again after upgrading (the Calico release should be out in the next few days).  Note: as mentioned above, one issue was that, after a failure, we were cleaning up the IPAM entry int he datastore even though it was in use.  After that has occurred the data

[2017-11-24 17:56] #1253 closed

[2017-11-24 17:57] fasaxc commented on #1325
Fix will be released in Calico v2.6.3, to be released shortly.

[2017-11-24 17:57] #1325 closed

[2017-11-26 04:14] msavlani opened #1406 "Still seeing "error adding host side routes for interface: xxx, error: failed to add route file exists" with calico cni 1.11.1"
Hi Team,

I am still seeing this error with calico cni 1.11.1
As per #1253 it was supposed to be fixed by calico cni 1.11.1.

Error -
Events:
  FirstSeen     LastSeen        Count   From                    SubObjectPath   Type            Reason          Message
  ---------     --------        -----   ----                    -------------   --------        ------          -------
  11m           11

[2017-11-26 04:15] msavlani commented on #1253
I am still facing this issue and raised another issue #1406 as per above suggestion.

[2017-11-26 04:35] msavlani commented on #1406
@fasaxc @gunjan5

[2017-11-26 16:18] KeithTt commented on #1392
@fasaxc got it.

If I have 3 masters should I label all of them with master role...?

[2017-11-27 09:24] fasaxc commented on #1406
@msavlani can you delete the stateful set to free the IP and then recreate it?  Once you're in this state, you'll have an IP that IPAM considers to be free but that is in-use by a Pod; in this case a statefulset Pod, which presumably keeps its IP over restart.

[2017-11-27 09:49] javefang opened #1407 "Pod calico-node leaking connections to the apiserver when using KDD"
## Expected Behavior

When cluster is not changed, established connection count from each calico-node pod to the apiserver should remain (more or less) constant.

## Current Behavior

Established connection count from calico-node to apiserver increases overtime. (added 60 connections over 2 days). No leaking when using ETCD datastore driver.

## Possible Solution

Not sure

## Steps to Reproduce (

[2017-11-27 10:32] fasaxc commented on #1406
@msavlani How is your stateful set configured, how does it get its IP addresses?

@caseydavenport Do you know how stateful sets interact with CNI/IPAM, is there any special plumbing?

[2017-11-27 14:20] fasaxc commented on #1392
I'm not too familiar with multi-master set-ups.  In general, you want calico/node to run on every host unless there's a reason that you don't want a host to be able to talk to calico-networked pods.

Where you want your calico etcd to run is up to you.

As for the health check failure.  Please can you take a look at the logs from a failing calico/node pod?  `kubectl logs -n kube-system <pod-name>

[2017-11-27 14:35] jckasper commented on #1387
Since Felix is deleting the routes that are being added this bug report will be closed.
Looking into another way to support this use case.

[2017-11-27 14:35] #1387 closed

[2017-11-27 17:04] msavlani commented on #1406
@fasaxc i didnt understand that completely . You mean i need to delete statefulset as whole and not just pods which are part of statefulset ?
How does that make difference ?
 I have 4 nodes cluster and when i  delete pods from statefulset, k8s bring them up again not necessarily on same host (and thus they get different IP's as per podCIDR for that node). This means i dont get static IP's for stat

[2017-11-27 17:44] fasaxc commented on #1406
@msavlani Hmm, that should be OK then.  Note: you may have the problem on more than one node with no symptoms. until a new pod is started on the node that has previously hit the problem.  You may need to do a rolling restart on other hosts too (or all your hosts).

Afraid that's the easiest way to clear the bad data, it's pretty tricky to do anything cleaner.

[2017-11-27 19:28] tmjd commented on #1378
The calico-etcd pod has `/var/etcd` mounted into the container so you need to clean that directory too if you are not completely rebuilding your hosts.

[2017-11-27 19:56] Random-Liu commented on #1406
@fasaxc How and when do we update calico version in Kubernetes upstream? https://github.com/kubernetes/kubernetes

[2017-11-28 02:24] KeithTt commented on #1378
@tmjd find it, thanks a lot!!! 💯

[2017-11-28 04:55] gyliu513 opened #1410 "Felix sometimes generate two routers for one node"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

Not sure how this happened, but I found that one node have two routers, such as `10.10.25.50` and `10.10.25.49`, what maybe the root cause of those issues? Does there are side effect for such routers?

[code]

I was using calico 2.4.1 with Kubernetes 1.7.3

/cc @caseydavenport

## Context

## Your En

[2017-11-28 05:45] gyliu513 commented on #1410
Seems there is a time that all of the nodes have more than 64 pods and this triggered calico allocate more subnets here.

[2017-11-28 05:45] #1410 closed

[2017-11-28 08:55] fasaxc commented on #1406
@Random-Liu We'll put up a PR to rev calico as soon as we ship 2.6.3, which is in QA at the moment.

[2017-11-28 09:27] msavlani commented on #1406
@fasaxc I already did rolling restart of all the pods on all the nodes with statefulset being first and then other deployments.
And i still encountered same route exists error when deployment pods were coming up.

[2017-11-28 10:59] fasaxc commented on #1406
@msavlani Are you sure the new CNI plugin is active?  What steps did you take to upgrade it?

[2017-11-28 11:07] woshihaoren opened #1411 "pod can't ping reached"
I according to https://docs.projectcalico.org/v2.6/getting-started/kubernetes/  install calico
But pods on two node can't reached

busybox5-fb865b9ff-nxf49 192.168.204.203 can't ping kube-dns-545bc4bfd4-slnjd ’s ip 192.168.0.213
## Expected Behavior

192.168.204.203 can ping 192.168.0.213

## Current Behavior

192.168.204.203 can't ping 192.168.0.213

## Possible Solution

[code]
log has many Sock

[2017-11-28 20:43] caseydavenport commented on #1406
@fasaxc There's no special code for stateful sets. The main thing that could be different is that they get a consistent name even when the pod is re-created, but we don't have any special code paths for that.

[2017-11-29 07:55] KeithTt commented on #1392
@fasaxc I have deleted all the data and rebuild the cluster, and everything is healthy now.

One issue not clear is that the calico etcd uses a `nodeSelector: node-role.kubernetes.io/master: ""`, how it would be if there are three calico etcds?

[2017-11-29 10:27] fasaxc commented on #1406
@msavlani I'd really like to get to the bottom of this issue.  If you reach out to me on the calicousers slack (you can join here http://slack.projectcalico.org/) then we could do a live debug session to get to the bottom of it.

[2017-11-29 10:44] javefang commented on #1407
Posting the yaml file used to deploy our Calico (slightly modified from https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/kubernetes-datastore/)

[code]

[2017-11-29 11:04] woshihaoren commented on #1411
I know. after kubeadm reset , need del /var/etcd. then it's ok

[2017-11-29 11:04] #1411 closed

[2017-11-29 12:36] r0bj commented on #1406
I'm also still seeing it for statefulsets for calico v2.6.3.

kubelet logs:
https://gist.github.com/r0bj/f5c89fde8e96f0649951acb3289d1ef2
calico-node logs:
https://gist.github.com/r0bj/8a4b282dcdb1d3ab23ceae60abe4b1c3

[2017-11-29 15:02] lwr20 opened #1417 "Calico 2.6 Vagrant install uses k8s 1.7.5, but advanced policy demo tutorial assumes 1.8.x"
## Expected vs Current Behavior
I installed using the Vagrant/CoreOS install guide in the quickstart section.
I then attempted to follow the advanced policy demo which uses k8s egress policy.  This fails at step 4 - egress traffic is NOT restricted when tutorial says is should be.

## Possible Solution
`kubectl version` shows that the Vagrant setup has installed kubernetes 1.7.5 - which does NOT s

[2017-11-29 16:53] fasaxc commented on #1392
I think you should label all your masters with that label.  That node selector is meant to make the etcd pod run on one of the master nodes.

[2017-11-29 16:53] fasaxc commented on #1392
If you're deploying with a tool, it should probably be labelling your masters for you.

[2017-11-29 16:59] caseydavenport commented on #1392
The kubeadm manifest is really meant for single-master "quick start" type clusters.

If deploying a multi-master cluster, I'd recommend either:
- Labeling only _one_ of the masters (you don't want to run an etcd node on all three - they won't cluster, they'll just be three distinct etcds)
- Using a dedicated etcd cluster, avoiding the "daemonset-installed" etcd from the manifest
- Using the kubern

[2017-11-29 17:08] fasaxc opened #1418 "Broken links: k8s v1.6 docs have moved"
htmlproofer hit this:

[code]

Looks like the v1.6 docs have been archived to https://v1-6.docs.kubernetes.io/

## Expected Behavior

No broken links.

## Current Behavior

htmlproofer fail.

## Possible Solution

Link to new location?

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version:
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operating

[2017-11-29 17:32] KeithTt commented on #1392
@caseydavenport you mean use the etcd of kubernetes?

[2017-11-29 18:08] r7vme opened #1420 "After some time calico-node needs to be restarted in order to accept new BGP peers"
We use calico 2.6.1 with BGP and IPIP tunnels. We frequently experiencing situation, if master node recreated with new ip address (etcd data stays the same on persistent volume), existing workers will reject new BGP peer.

EDIT: calico-node can stuck w/o master node recreation. Usually this happens if cluster older than few days. And can only be detected if new node was added.

I was creating issu

[2017-11-29 18:11] caseydavenport commented on #1392
Nope, I was referring to this: https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/kubernetes-datastore/

Which has a slightly limited feature set, so might not be right for you just yet.

My main point was that you shouldn't label each master, because you don't want three etcd clusters. :)

[2017-11-29 18:17] caseydavenport commented on #1420
@r7vme could you share logs from the calico/node instance on the new master node? It might give some insight as to why it's not happy with its config.

[2017-11-29 18:36] fasaxc commented on #1406
@r0bj Thanks for the logs, looks like you're still seeing the IPAM-related issue.  As I mentioned above, the actual bug is that we mark an IP as free when it's still in use so the error happens a long time after the bug (potentially).

Do you have kubelet logs going back any further; it'd be handy to find any mentions of the conflicting IP address being assigned/freed: `10.203.131.144` from before

[2017-11-29 18:43] r0bj commented on #1406
@fasaxc thanks for clarification. Next time I will try to collect required data.

[2017-11-29 18:45] fasaxc commented on #1406
@r0bj Another option is to drain a whole node of pods so that you get to 0 pods on the node and then reintroduce them.  I'm wondering if you're seeing a problem where one pod is being created while another (with a missing IPAM reservation) is being deleted.  Completely draining a node should remove all the IPAM allocations and allow the new CNI plugin to do the allocations correctly.

[2017-11-29 18:58] KeithTt commented on #1392
OK, got it, thanks a lot for for you all.

[2017-11-29 18:59] #1392 closed

[2017-11-29 20:40] tmjd opened #1423 "Route flap when using node-to-node mesh and restarting calico-node"
When testing out upgrade scenarios with a special interest on BGP route flaps, I found that when restarting only one calico-node pod, the host where the calico-node was restarted would observe no route flaps but the other hosts would see a momentary route flap.  This issue only happened when using node-to-node mesh and was not observed when using a route reflector.

Here is the route flap as obser

[2017-11-29 21:02] caseydavenport commented on #1423
@tmjd might be useful to see logs on the restarting node as well. Do you have BIRD debug logging on? There's not much there. . .

[2017-11-29 21:21] tmjd commented on #1423
Here it is with debug on

[code]

And the `ip -t monitor` from the same run:
[code]

[2017-11-29 21:33] caseydavenport commented on #1423
[code]

These look fishy, but might be OK..

[2017-11-30 09:21] r7vme commented on #1420
From other cluster with the same issue.

I have this situation in new master.
[code]

And here is the [calico-node logs](https://gist.github.com/r7vme/aa0ac07fcc340886529f1f359b82c492) from new master.

[2017-11-30 09:31] fasaxc commented on #1406
@r0bj @msavlani Also worth looking for these new logs that were added in the new CNI plugin:
[code]

[2017-12-01 01:02] #1390 closed

[2017-12-01 14:42] r0bj commented on #1406
@fasaxc This time all pod were recreated. Pod `celery-vcl-tester-7c976cb4df-q5zwk` fail to create.
IP address `10.203.97.156` is already assign to pod `monitoring.alertmanager-main-2` (StatefulSets) so it cannot be used.

Logs are from the beginning after node was restarted.

kubelet logs:
https://gist.github.com/r0bj/e1ffdeb858c1259d1438ea88a2e58f70

calico-node logs:
https://gist.github.com/r0bj

[2017-12-01 16:03] fasaxc commented on #1406
@r0bj I'm seeing some confusing logs, could you send me a dump of your calico etcd data?  This command should do it assuming that etcdctl is on your path and configured to talk to your calico etcd:
[code]
Feel free to DM me on our slack `@shaun.crampton` if you don't want to share the data publicly.

[2017-12-01 16:12] r0bj commented on #1406
@fasaxc here you have
[etcdctl_get.tar.gz](https://github.com/projectcalico/calico/files/1522149/etcdctl_get.tar.gz)

[2017-12-01 17:25] fasaxc commented on #1406
Awesome, thanks @r0bj

[2017-12-02 08:43] gyliu513 opened #1441 "CNI plugin allocated wrong IP to pod"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

Not sure how to reproduce this, but the problem occurred in my cluster as following:
1. Check `ip route`
[code]

From above, we can see the ip subnet for `10.10.25.54` is `10.1.157.0/26`, so the pod ip address should be using `157` subnet.

2. Check all pods on the nodes, found some pod using ip `10.

[2017-12-02 09:09] gyliu513 commented on #1441
/cc @caseydavenport any comments for this? Thanks!

[2017-12-02 22:03] caseydavenport commented on #1441
@gyliu513 how many nodes do you have in your cluster?

From the routes, it looks like blocks have been advertised from four different nodes, most of which have two blocks advertised except for `10.10.25.54` which only has a single block advertised (10.1.157.0/26).

I'm guessing that pods on that node are getting address like `10.1.41.xx`? I'd also guess that the block is failing to be advertised f

[2017-12-02 22:06] caseydavenport commented on #1441
@gyliu513 somewhat related, how many pods / node are you running in this test? I'm surprised to see two blocks allocated per-node, which indicates there might be a problem cleaning up IP addresses for some reason.

Could you also share the full contents of the Calico etcd?

Something like this:

[code]

Feel free to DM me on Slack if you'd rather not share here.

[2017-12-03 04:09] gyliu513 commented on #1441
Thanks @caseydavenport for the great support! Please check my answers inline.
[code]

So I have five nodes as above, there roles are as following:

- BPILICPMSTR001 is kubernetes master and mainly run some kuernetes components, such as kubelet, controller manager etc and also some other add-on componemets to manage network such as calico etc.
- bpilicpwrk001, bpilicpwrk002 and bpilicpwrk003 are wo

[2017-12-03 04:13] gyliu513 commented on #1441
Why allocating two blocks of subnet will indicate some problems when cleaning up IP address? My cluster also have another issue, the pod to pod is not pingable, but node to pod ip works fine. I can ping a pod ip from host, but cannot ping a pod from another pod.

[2017-12-03 21:42] fasaxc commented on #1405
Fixed by https://github.com/projectcalico/libcalico-go/pull/709

[2017-12-03 21:42] #1405 closed

[2017-12-03 22:19] anirban37 opened #1442 "Calico documentation 2.6 and 2.5 version on kubeadm Hosted Install is not clear"
In the Project Calico documentation 2.6 version, here https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/kubeadm/ , and 2.5 version here https://docs.projectcalico.org/v2.5/getting-started/kubernetes/installation/hosted/kubeadm/   the documentation is not clear :

## Installation

To install this Calico and a single node etcd <**on a** >run the following command dep

[2017-12-04 06:34] caseydavenport commented on #1441
It doesn't necessarily indicate a problem, but unless you're running >64 pods per node you'd only get a single block on each node. So, it's normal if you're running lots of pods, but abnormal otherwise.

It sounds like you're running lots of pods on the worker nodes, so two blocks is expected.

[2017-12-04 06:42] caseydavenport commented on #1441
@gyliu513 I found something interesting in that etcd dump.

Namely, I can see that the block in question has been assigned to host `BPILICPMGMT001`

[code]

However, the other block assigned to that host uses a lowercase version of the hostname in etcd:

[code]

I'm not sure _how_ this happened, but it seems like it might be related to the problem. I suspect that some code is properly treating `bp

[2017-12-04 06:57] caseydavenport commented on #1420
@r7vme what does the output of `calicoctl get nodes` show?  Is there an entry for the new master present in the output? Wondering if the data isn't being written to etcd properly.

It would be useful as well to see debug logs from one of the old nodes to see if it's being told about the new peer. In the logs provided I see BIRD try to connect to the listed peers. Would be useful to see say logs fr

[2017-12-04 07:02] caseydavenport commented on #1379
@0xBF thanks for raising this - I'm going to close for now since I think this is covered by #355 (add host endpoint support to the kubernetes api datastore)

Let me know if that's not correct and I'll re-open.

[2017-12-04 07:02] #1379 closed

[2017-12-04 07:10] caseydavenport commented on #1369
@joewilliams is there a particular bit of code you'd like help understanding?

I recommend joining `slack.projectcalico.org` and starting a discussion in the #calico-dev channel.

At a high level, `allocate-ipip-addr` finds all IP Pools that have IPIP enabled, and reserves an IP address from one of them for assignment to the tunl0 device.

[2017-12-04 07:10] #1369 closed

[2017-12-04 14:05] r7vme commented on #1420
@caseydavenport I don't have fresh logs as cluster already gone. Anyway please see my comments

old master removed by https://github.com/giantswarm/calico-node-controller (forked from your project), as soon as new master started. We bind this service to master node and run in host network mode, so no dependency on Calico.

I remember, when i checked other cluster with the same issue, BIRD config d

[2017-12-04 14:40] joewilliams commented on #1369
Thanks @caseydavenport, this was a part of our investigation that resulted in https://github.com/projectcalico/libcalico-go/issues/689. The [behavior](https://github.com/projectcalico/calico/blob/master/calico_node/allocateipip/allocate_ipip_addr.go#L228) of `ipPool.Spec.Disabled` seems different in this file compared to [ipam.go](https://github.com/projectcalico/libcalico-go/blob/5cabf71a99998347

[2017-12-04 17:16] tmjd commented on #1420
You understand correctly that confd takes configuration from etcd and applies to the filesystem (specifically writing BIRD configuration and then reloading BIRD).  I'm not aware of confd <> etcd connection issues.

[2017-12-05 02:09] msavlani commented on #1406
@fasaxc  did you findout something on this.
I think draining the node will also not solve the problem here because of following.
I see when i start statefulset it gets new IP on node 1.
Now if i start pod say pod1 on node1 , calico-ipam give different IP and everything works fine.
Now if i started new pod say pod2 on node1, calico-ipam someone gives same IP as above statefulset pod and things star

[2017-12-05 06:10] emanic commented on #1418
Fixed

[2017-12-05 06:10] #1418 closed

[2017-12-05 07:29] tuminoid opened #1451 "Release tarballs include extra images"
Calico-node docker image tarballs include random calico-node images, and not just release image.

## Expected Behavior

Releases contain only right builds and download size is minimal and content is correct.
Fresh off the CI machinery, hopefully not hand built.

## Current Behavior

Release tarballs contain random images in `calico-node.tar`.

2.6.1 release includes latest + 2.6.0-rc2
2.6.2 releas

[2017-12-05 10:11] fasaxc commented on #1406
@msavlani I haven't figured it out yet, but this is a very high priority bug for us.  As far as I can tell, there's nothing unusual about how a statefulset pod gets networked so I haven't found a good thread to pull on yet.

[2017-12-05 10:53] fasaxc opened #1453 "CNI plugin change to use PATCH needs RBAC change"
## Expected Behavior

Since this PR: https://github.com/projectcalico/cni-plugin/pull/444, CNI plugin uses PATCH to update the PodIP annotation, instead of updating the pod status.  This requires an RBAC update.

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
* Orchestrator version (e.g. kubernetes, mesos,

[2017-12-05 11:33] #1453 closed

[2017-12-05 14:12] fasaxc opened #1456 "Calico doesn't work with minikube"
@spikecurtis reported that he tried minikube and it didn't seem to work.  Felix was faining to program iptables.

## Expected Behavior

Should just work.

## Current Behavior

iptables failures on the COMMIT line

## Possible Solution

Could be a missing kernel module or some incompatibility between kernel and the version of iptables we ship.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Cont

[2017-12-05 17:17] lwr20 opened #1459 "Docs workloadendpoint example doesn't work"
## Expected Behavior
I'd expect examples given in the docs to 'just-work':
https://docs.projectcalico.org/v2.6/reference/calicoctl/resources/workloadendpoint

## Current Behavior
[code]

## Possible Solution
Either the docs are wrong or the validation logic is wrong.  Not sure which.

## Steps to Reproduce (for bugs)
See above.

## Your Environment
Used CoreOS k8s Vagrant demo to install. https://

[2017-12-05 22:59] bcreane commented on #1451
Hi @tuminoid , thanks very much for raising this issue. We should be able to manually clean up the two broken releases (2.6.1, 2.6.2) that you noticed.

In terms of a fix to prevent this, I'm not sure how it happened since the calico_node/Makefile `release` target hits the `clean` target first which does in fact [remove the contents of the release directory](https://github.com/projectcalico/calico

[2017-12-05 23:07] bcreane commented on #1451
Hmm, looks like v3.0.0-alpha1 is also wrong (@caseydavenport) and then v2.6.0-rc2 which was my release. So whatever is going wrong is happening for me as well.

[2017-12-05 23:36] bcreane commented on #1451
Seems like there must be bits of an old release in `filesystem/` which gets [built into calico/node:latest](https://github.com/projectcalico/calico/blob/master/calico_node/Dockerfile#L37) and then subsequently [saved to the tarball](https://github.com/projectcalico/calico/blob/master/calico_node/Makefile#L172).

However once again, the [`clean` target is clearing out the volatile portion of `files

[2017-12-06 00:44] bcreane commented on #1451
Filling in some details from @tuminoid's report, `docker image load --input calico-node.tar` for v2.6.2 creates the following tagged images:
[code]
Unfortunately, there's no `v2.6.2` tagged image in the tarball.

@caseydavenport - we should either rebuild the tarball (risky), or delete the release tarball from the `v2.6.2` release since its very wrong. Same for `v2.6.1`, `v3.0.0-alpha1` and `v2.6.

[2017-12-06 05:21] ldnvnbl commented on #1406
I had the same problem.

I find that one ip is used by k8s pod, but calicoctl shows it is not assigned.

![image](https://user-images.githubusercontent.com/3798479/33645927-3d08ab22-da88-11e7-8698-18a45ff94269.png)
![image](https://user-images.githubusercontent.com/3798479/33645956-6b27ec8e-da88-11e7-99fd-d472dc308e97.png)

[2017-12-06 09:23] KeithTt opened #1469 "Pod can only be accessed on its running node."
kube version: 1.8.4
OS version: debian stretch

I just followed the official guide, everything seems fine after installing it.

[code]

And I have changed the value of `CALICO_IPV4POOL_CIDR` to `10.244.0.0/16` in the yaml file.

But today I find a problem, a pod can only be accessed on its running node, then I have a try with flannel, and it works fine, the pod can be accessed by any node in the c

[2017-12-06 09:55] fasaxc commented on #1406
@r0bj We _think_ we've figured out what's going wrong in your case:

- We see IP `10.203.97.156` get assigned to a pod `monitoring.alertmanager-main-2`
- Then, later, it gets assigned to `monitoring.elastic-exporter-9bcfcdc67-ngxwf`
- The etcd dump is missing the IPAM allocation handle for `monitoring.alertmanager-main-2`
- However, the logs show the IPAM handle being created successfully when `mo

[2017-12-06 11:36] r0bj commented on #1406
@fasaxc Thanks for explanation.
The only kubelet logs I've found from that time range on different node than `dev-k8s-worker-p1` related to `monitoring.alertmanager-main-2` is this:
https://gist.github.com/r0bj/1f7d765fc939a7a495abeca2127b8ca1

I'm going to test kubelet 1.8.5 when it'll be available (I'm using kubelet 1.8.4 currently).

[2017-12-06 11:44] fasaxc commented on #1406
@r0bj Great, those logs confirm the hypothesis above:
- Original log: `2017-12-01 14:15:17.111` IP is assigned
- Other node log: `2017-12-01 14:15:58.604 [INFO][19479] ipam.go 738: Releasing all IPs with handle 'monitoring.alertmanager-main-2'`  <- IP gets released incorrectly by the other node
- Original log: `2017-12-01 14:17:15.215` IP gets re-assigned, resulting in failure

[2017-12-06 13:55] fasaxc commented on #1407
@javefang Please can you try with Calico v2.6.3?  We made some fixes in that area that may have resolved this.

[2017-12-06 15:52] tmjd commented on #1469
Is this deployment in a cloud environment (GCE, AWS, OpenStack)? If so you need to make sure BGP and IPIP traffic is allowed (special note for AWS you need protocol 4 and 94).
- https://docs.projectcalico.org/v2.6/reference/public-cloud/aws
- https://docs.projectcalico.org/v2.6/reference/public-cloud/gce

If that is taken care of or not needed, then I'd suggest pulling down the calicoctl command a

[2017-12-06 16:04] caseydavenport commented on #1459
Yeah, it needs to be a `/32`

[2017-12-06 16:05] caseydavenport commented on #1459
@lwr20 can you fix the docs?

[2017-12-06 16:14] fasaxc opened #1470 "master manifests not configured for IP autodetection"
Using master manifests:
- on an etcd CRC-created cluster
- k8s nodenames configured as hostnames (rather than IPs)
- I recreated a node
- new calico/node pod on the new node started up using the old IP, logging a warning:

[code]

## Expected Behavior

Should use new IP of that new node.

## Current Behavior

Uses previously-detected IP.

## Possible Solution

Set `IP="autodetect"` in the manifest

[2017-12-06 16:18] caseydavenport commented on #1451
eek, this is bad. I probably won't have time to dig into this until after kubecon. Not sure what's going on here, but you should be able to compare the hash against the one on GitHub.

Or, run `docker run calico/node:latest versions` to see the versions packaged in that container.

[2017-12-06 16:19] caseydavenport commented on #1456
@tmjd has looked into this in the past.

[2017-12-06 16:28] fasaxc opened #1471 "calico/node IP detection deadlocked"
After restarting 3 nodes in a scale test in GCE, they came back up using the same IPs but the IPs were shuffled amongst the nodes.  `calico/node` then refused to start on each node

- node-1 can’t start because node-2 previously used its IP address
- node-2 can’t start because node-3 previously used its IP address
- node-3 can’t start because node-1 previously used its IP address

The terraform sc

[2017-12-06 16:42] fasaxc commented on #1471
Initially, I saw this error and hit the bug in #1470 :
[code]
So I set IP=autodetect in the manifest but then hit this problem.

[2017-12-06 17:55] KeithTt commented on #1469
I uninstalled flannel and run the calico again, and it works...

[code]

It is really strange.

There a two kind of network config file in `/etc/cni/net.d`:

[code]

It seems that lack of some iptables rules if I running calico independently.

[2017-12-06 18:09] lucasyvas commented on #518
We are having trouble without the log rule prefix being configurable from profile/policy. We have a multi-tenant environment and it would be great to be able to specify a prefix for the log rule in profile/policy, as these tenants create their own calico profiles and, along with no way to specify denied or accepted traffic, this is kind of a nightmare for firewall reporting.

Was this abandoned as

[2017-12-06 22:02] r7vme commented on #1420
I was debugging other issue that happens when master recreated and found smth interesting. Inside pod (app that calls k8s api) i see that tcp connection in ESTABLISHED state for a while (17min in last test) to dead master. Pod connecting to k8s api via regular kubernetes service (e.g. 172.31.x.x) w/o external loadbalancer. I think this also can be related to current issue as confd uses long-living

[2017-12-06 22:03] r7vme commented on #1420
When we hit Calico issue next time, i'll try to check for dead tcp connections inside pod.

[2017-12-06 22:50] javefang commented on #1407
Awesome! I will give it a go tomorrow and report back in a few days (to see if the conncetion still leaks).

[2017-12-07 01:37] tmjd commented on #1469
The BGP status would be correct for 4 nodes, because you are looking at the status of BIRD on that host so you are seeing the connections from the other 3 hosts.

I'm not quite sure but I think you are suggesting that flannel has set some rule that allowed calico to run, I've never heard of that and I'd be surprised if that was the case because the way flannel and Calico do networking is quite dif

[2017-12-07 02:36] 2rs2ts opened #1480 "Incorrect interface used for IP route despite setting IP_AUTODETECTION_METHOD"
## Expected Behavior

When running calico-node on an EC2 instance with two ENIs attached to it, and configuring calico to use the second interface (the one which is not the default interface given by EC2 automatically), the routes created by calico should use that second interface instead of the default one.

## Current Behavior

Although calico does configure the node in etcd to have the right IP

[2017-12-07 02:37] ldnvnbl commented on #1406
@fasaxc How to fix this?

I have an idea that is to use net container id to create handle that is global unique.

But do this we should think already created pod that created handle use pod name.

Our product k8s cloud use net container id to create handle that is no problem.

[2017-12-07 02:38] 2rs2ts commented on #1480
P.S. I have the environment in which this issue is manifesting still running but in a day or two I will have to get rid of it to trim our AWS bill down, so if you want any more debug output please let me know ASAP before I tear this thing down.

[2017-12-07 02:40] KeithTt commented on #1469
Anyway, it is working now......

I checked the networks in system:

[code]
[code]

Is there anything wrong? or what helps...

[2017-12-07 04:46] igoratencompass opened #1482 "Exposing the IPIP tunnel value in the ConfigMap instead hardcoding in the DaemonSet"
This is a feature request.
### Description
I have noticed in `calico.yml` file that the Calico MTU is an option in the` ConfigMap`:
[code]
but then in the `DaemonSet` there is another environment value for the ipip tunnel that I think should be closely coupled with the above one:
[code]
and maybe worth moving this variable into the `ConfigMap` too. The reasoning behind this is the users in AWS for

[2017-12-07 04:47] igoratencompass commented on #1482
/cc @caseydavenport

[2017-12-07 08:57] fasaxc commented on #1406
Yes, that's that plan that we've come up with, we're going to switch to use the container ID.

[2017-12-07 11:41] javefang commented on #1407
OK running 2.6.3 (and CNI 1.11.1) now. 2 hours passed, looking good so far! Will report back in 24h

[2017-12-07 15:23] bradbehle opened #1484 "k8s-policy-no-match causing default-deny NetworkPolicy to be bypassed on upgrade from Calico 2.1.5 to Calico 2.6.3"
When I upgrade a cluster from kube 1.5.6 (with Calico 2.1.5) to kube 1.7.4 (with Calico 2.6.3), and then try to apply a "default-deny" kube NetworkPolicy (so that all traffic to all pods are blocked), traffic is still allowed.  It appears this may be due to the k8s-policy-no-match policy still being there after the upgrade, and allowing traffic through before it would be dropped.

## Expected Beha

[2017-12-07 15:42] tmjd commented on #1480
Thanks for the report and all the information. I'm sure it took a while to type this up and collect the info, it is appreciated.

You should be able to still run `calicoctl node status` with calico as a daemonset (though you probably need to use `sudo`).

I was looking at the eth0 & eth1 interfaces and they are in the same subnet, right? Is that what you expected?  I'm wondering if you put them in

[2017-12-07 15:49] bkochendorfer commented on #1480
It is expected for our deployment that the two interfaces are in the same subnet. This is obviously somewhat unusual and we acknowledge that. However, I think we expected the calico service to write through to the bird config to specify a particular interface.

[2017-12-07 15:52] tmjd commented on #1469
That doesn't look right to me. I think you are still using flannel for networking. You should have cali* interfaces for each pod on a host, I think those veth* interfaces are from flannel.

[2017-12-07 17:31] 2rs2ts commented on #1480
From where? 😅 I tried using the calico/ctl pod, and I also tried running it from the etcd host. Both say that the calico process is not running, which makes sense, because calico runs on neither of those.

[2017-12-07 18:20] tmjd commented on #1480
From one of the hosts running calico-node, if you can, the easiest way is to download the binary and make it executable. It can be done as a pod but requires mounting in /proc and /var/run/calico (I believe).

[2017-12-07 19:33] 2rs2ts commented on #1480
Oh, didn't even think of that. Yeah here is the output for both servers.

[code]

[code]

[2017-12-07 22:40] bradbehle commented on #1484
It does look like someone else hit this problem (see issue https://github.com/projectcalico/kube-controllers/issues/198), where the k8s-policy-no-match is not removed when upgrading to calico 2.6.3 from 2.1.5.  Can someone let me know if that k8s-policy-no-match policy really should be getting deleted when upgrading a cluster?

And in our case when we upgrade from kube 1.5.6 (calico 2.1.5) to kube

[2017-12-08 03:04] KeithTt commented on #1469
You are right, I reboot the nodes and the interfaces comes to `cali*`, and the flannel devices disapear.

[code]
[code]

And the calico network status is still right:
[code]

I have a test nginx app, it seems everything is working well:
[code]

Access the nginx app from another server through the 4 cluster nodes:
[code]
[code]
[code]
[code]

[2017-12-08 03:17] KeithTt commented on #1469
Actually, I don't know why the network is in issue before, I just run the calico plugin and no other disturbance...

Thanks a lot for your time and help!!! :kissing_heart:

Close it.

[2017-12-08 03:17] #1469 closed

[2017-12-08 07:24] tuminoid commented on #1451
Issue might be that `$(NODE_CONTAINER_NAME)` is set to `calico/node`, and when `docker save -o  $@ $(NODE_CONTAINER_NAME)` is issued (note: without any tag), Docker saves all of the `calico/node` images into tarball.

[code]

Also the tag is created after the release-archive is done. IMHO, it is bad to ship `latest` tag image in release tarball, instead of the versioned one.

[code]

Looking at th

[2017-12-08 18:07] bcreane commented on #1451
Hi @tuminoid - thanks for the concise analysis. I've put up a PR which should help both the issues - `latest` tag rather than the release, as well as multiple tags in a release tarball.

[2017-12-08 20:18] samding01 opened #1489 "Cannot start Kube-controller container of Calico v2.6.3 --- cannot find the kube config file"
Kube-controller (v1.0.1) of Calico v2.6.3 does not work with Kube v1.6x/1.7 on both amd64 and s390x
## Expected Behavior

On Calico v2.3 it was tested by following https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/integration#configuring-kubernetes and worked fine.
It seems that the backward comparability was broken.
## Current Behavior

The container of kube-controller c

[2017-12-08 22:51] #1158 closed

[2017-12-11 10:37] javefang commented on #1407
With this result I'm convinced that the connection leak issue has been fixed by 2.6.3. Thanks for the great work guys!

![screen shot 2017-12-11 at 10 36 28](https://user-images.githubusercontent.com/1200580/33827159-3ef70c82-de5f-11e7-93e6-8c9d8905b848.png)

[2017-12-11 10:50] #1407 closed

[2017-12-11 13:34] fasaxc commented on #1406
@heschlie is working on the fix here: https://github.com/projectcalico/cni-plugin/pull/445

[2017-12-11 16:16] tmjd commented on #1407
Awesome, thank you for reporting your results back. :+1:

[2017-12-11 19:13] caseydavenport commented on #1484
@bradbehle yes, I think it's probably the `k8s-policy-no-match` chain that is preventing the default-deny form working correctly.

The relevant code seems to exist in v0.7.0 of the policy controller [here](https://github.com/projectcalico/kube-controllers/blob/v0.7.0/controller.py#L167).

However, corresponding code doesn't seem to exist in kube-controllers v1.0.0. Given the large version skew, it

[2017-12-12 01:07] caseydavenport commented on #1489
@samding01 why do you need to mount in a kubeconfig file? I'd expect the correct serviceaccount token to be provided by the system for API access, unless you've not enabled the generation of api tokens?

[2017-12-12 01:13] caseydavenport commented on #1482
Moving to the configmap seems fine to me.

We still fundamentally have two controls - one for the CNI plugin and another for the tunl0 interface.  Ideally, you'd run without the tunl0 interface anyway for best results :)

[2017-12-12 07:58] tungdam commented on #1480
I have the same problem today. Calico-node uses docker bridge interface instead of eth0 that i specified by using IP_AUTODETECTION_METHOD=interface=eth0.

**Environtment:**
 quay.io/calico/node:v2.6.3.
 Debian Jessie.

[2017-12-12 13:03] samding01 commented on #1489
@caseydavenport  Originally I followed the instruction without the part in the (1) (mount mounting the kubeconfig file), it did not work,  then the developer suggested to mount the folder.
What is the workable `calico.yaml`?

[2017-12-12 16:46] tmjd commented on #1480
@2rs2ts I chatted with @caseydavenport about this and he confirmed that the decision on how the traffic will be routed is determined by the linux routing table.  The BGP traffic will be over the specified ones but the routes are not forced for the dataplane traffic.

@tungdam I've never seen the docker bridge interface get selected. But one thing to make sure you are aware of when using IP_AUTODET

[2017-12-12 18:15] caseydavenport commented on #1489
@samding01 if you're installing this "self-hosted" on Kubernetes as a Pod, I don't think you need to set KUBECONFIG, nor do you need the volume mount.

It should "just work".

[2017-12-12 22:59] bcreane commented on #1320
@lwr20 - back at you :-)

[2017-12-12 23:01] bcreane commented on #906
@caseydavenport : the buck stops here.

[2017-12-12 23:01] #906 closed

[2017-12-13 07:31] tungdam commented on #1480
Thanks. It looks like using IP=autodetect helps:

`Dec 13 14:28:23 cd1v docker[9576]: Using autodetected IPv4 address 10.101.0.51/22 on matching interface eth0
Dec 13 14:28:23 cd1v docker[9576]: WARNING: Calico node 'cd1v' IPv4 address has changed:
Dec 13 14:28:23 cd1v docker[9576]: -  This could happen if multiple nodes are configured with the same name
Dec 13 14:28:23 cd1v docker[9576]: -  Origi

[2017-12-13 18:58] 2rs2ts commented on #1480
Thanks @tmjd. Naive question: does that make a resolution fundamentally impossible?

[2017-12-13 19:39] #220 closed

[2017-12-13 21:06] valentin2105 commented on #1204
@caseydavenport  Any advancement on this ? 'cause the 2.6.3 is released.
I can try to make a PR if it doesn't.

[2017-12-13 22:22] caseydavenport commented on #1204
@valentin2105 a PR would be lovely - we're pretty stretched at the moment and haven't had a chance to get to this ourselves, but I'd really like to see this happen.

[2017-12-14 04:24] #1214 closed

[2017-12-14 13:43] gzyeah commented on #1489
Follow the  [Integration Guide](https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/integration) and face same problem with start up calico-kube-controllers..
Any ideas?

[2017-12-14 13:52] gzyeah commented on #1489
Try @samding01 's workaround with mounting the kubeconfig file and work. So the problem is that calico-kube-controllers wants to read this file and the Guide does not tel this details..

[2017-12-14 14:35] samding01 commented on #1489
There are two `name: calico-kube-controllers` parts, it should put the above (1) to the 1st part,
which  made me confused.

[2017-12-14 19:43] tmjd commented on #1480
TBH I'm not sure what all options you have.
A couple options that may work:
- You could do like I suggested and use a different subnet for those interfaces
- Making sure that the default route on your system for that network is over the interface you want traffic to go over would probably do what you want (but the the traffic you don't want going through that interface may go it then).
- (Total sp

[2017-12-14 21:40] #1272 closed

[2017-12-14 22:12] caseydavenport commented on #985
This is fixed in v3.0, and we've adjusted to info level in the soon-to-be-released v2.6.4, so I'm going to close this.

[2017-12-14 22:12] #985 closed

[2017-12-14 22:14] caseydavenport commented on #1388
@bradbehle did you have any luck with adding a name to the config?

[2017-12-14 22:15] caseydavenport commented on #1388
The soon-to-be-released v2.6.4 will delete the old 10-calico.conf file which so there won't be multiple manifests.

[2017-12-14 22:15] #1388 closed

[2017-12-14 22:15] caseydavenport commented on #1406
I think this was fixed in https://github.com/projectcalico/cni-plugin/pull/445

[2017-12-15 09:25] fasaxc commented on #1406
@r0bj @msavlani Please can you test with this version of CNI plugin: https://github.com/projectcalico/cni-plugin/releases/tag/v1.11.2-rc1

It changes the handle to use the container ID, which should mean that, once any affected pods are restarted, they'll get fresh handles and no-one should remove their IP allocations.

Unfortunately, it doesn't fix if an existing pod has an IP but its IP handle i

[2017-12-15 09:30] r7vme commented on #1420
We hit similar issue on one of AWS clusters. Cluster was scaled +1 node, but existing nodes did not update BGP peers list.

Here are calico-node logs from node that did not get new node (etcd located on the same node and master was NOT restarted).

https://gist.github.com/r7vme/3741c006f485122169e636e478d22cbb

[2017-12-15 10:24] r7vme commented on #1420
Second cluster that experience the same problem on AWS. In this case all worker vms were recreated, master is old one and did not get info about new workers (still expects to see old ones.)

From (stalled) master:
[code]

From new (healthy) worker:
[code]

This time full log from broken calico-node: https://gist.github.com/r7vme/9e331c8b17d2451df494bbac052f20c9

There are a lot of errors like this

[2017-12-15 12:44] javiroman opened #1512 "Docker network creation with --subnet parameter breaks IPAM driver"
Docker calico libnetwork driver (IPAM) is not getting IPs for containers, when I have created the network with the --subnet parameter.

[code]
## Expected Behavior
[code]

## Current Behavior
[code]
## Your Environment

* Calico version: v2.6.3
* Orchestrator version (e.g. kubernetes, mesos, rkt): Docker calico libnetwork
* Operating System and version: CentOS 7
* Etcd version: 3.1.11
* Docker dae

[2017-12-15 13:02] r0bj commented on #1406
@fasaxc I recreated all pods in the cluster (is that enough?) then started test.
Pod `nginx-stateful-test-1` fail to create. Ip address `10.203.100.224/32` is used twice by `ops.nginx-stateful-test-1` and `logstash-k8s-587b7f8d75-mjdcz`.

`logstash-k8s-587b7f8d75-mjdcz` start time:
Start Time:     Fri, 15 Dec 2017 12:38:14 +0000

`nginx-stateful-test-1`start time:
Start Time:     Fri, 15 Dec 2017

[2017-12-15 14:50] fasaxc commented on #1406
@r0bj Can you send me an etcd dump?  Let's check the new handle is being used.

[2017-12-15 15:40] r0bj commented on #1406
@fasaxc This is another case, because I had to fix the previous one.

Failed pod: `nginx-stateful-test-0`
Duplicated IP: 10.203.131.144
Pod with the same IP: `global-discussion-feed-85dbc46d84-zvg4f`

kubelet logs:
https://gist.github.com/r0bj/ede5d0a4c0425c2a8934a01fe1981eff

calico-node logs:
https://gist.github.com/r0bj/73bb26e04fb3253e3efde9dedc59de5a

output of `calicoctl get workloadendpoint

[2017-12-15 16:11] fasaxc commented on #1420
I believe that issue is fixed in Calico v2.6.3, which included `confd` `v0.12.1-calico-0.4.1`

[2017-12-15 16:25] fasaxc commented on #1406
@r0bj I'm still seeing a lot of old IPAM handles in your data dump, did you restart all your pods on all your nodes?  If not, I recommend doing that.  I think it's possible that some problems may persist if you hit certain timing windows where old pods are being removed and new pods are being added.

When you have two pods with the same IP, I think the safest option is to delete the oldest pod fir

[2017-12-15 16:36] r0bj commented on #1406
@fasaxc All pods were deleted and recreated before I started test.

Age of all pods:
[code]

It is k8s version 1.8.5.

[2017-12-15 16:49] r7vme commented on #1420
Cool, let us check this

[2017-12-15 18:00] zihaoyu commented on #1420
We saw the same symptom after rebuilding all master nodes. New masters could not join the cluster, showing:
[code]
On existing nodes we saw:
[code]
The IP address in the message above is the new master.

[2017-12-15 18:17] zihaoyu commented on #1420
@fasaxc Is this the commit that's supposed to fix it? https://github.com/projectcalico/confd/commit/a82f6eea9f9bfef0762d4c005f4b0a82de450c30

[2017-12-15 18:21] fasaxc commented on #1406
@r0bj did you update the CNI plugin on all nodes before doing that?

[2017-12-15 18:28] r0bj commented on #1406
Yes, it's `v1.11.2-rc1` on every node.

[2017-12-15 18:42] fasaxc commented on #1420
@zihaoyu I think that one fixes this particular issue.

[2017-12-15 19:00] caseydavenport commented on #1451
I believe this has been fixed, so new releases will include the correct images.

[2017-12-15 19:00] #1451 closed

[2017-12-15 19:07] zihaoyu commented on #1420
@fasaxc Thanks! We will give v2.6.3 a go soon!

[2017-12-16 16:33] tungdam commented on #1512
I had the same problem with calico-node 2.6.3. But 2.6.2 works well, JFYI

[2017-12-16 16:40] tomas-mazak opened #1515 "`gateway recursive` option in bird.cfg breaks as-per-rack topology"
## Expected Behavior

![topology_example](https://user-images.githubusercontent.com/2614161/34072317-f3f073be-e27c-11e7-9853-c37e90894b8a.png)

This is my testing cluster topology (AS-per-rack, no separate route-reflectors). When peering is set up between each node and its gateway (iBGP, same local and neighbour AS), the routing is expected to work across cluster.

## Current Behavior

Currently o

[2017-12-18 10:28] fasaxc commented on #1515
Hmm, I wonder if you've got a slightly different router config to the one we're expecting for that topology.  Is your ToR sending a default route down to the host?

[2017-12-18 10:44] tomas-mazak commented on #1515
It is. And I use the ToR as a route reflector. Since this is a virtual setup, all the routers are BIRD instances. So if you are interested in some configs or `sh proto|route` listings, I can provide them.

[2017-12-18 10:51] neiljerram commented on #1515
@tomas-mazak You say you use the ToRs (leaf-a and leaf-b, I assume) as route reflectors.  But don't they need to be in the data path, and so full (non-RR) BGP speakers?

[2017-12-18 11:42] tomas-mazak commented on #1515
@neiljerram that's very true. Actually, they do both. In order to avoid node mesh peering within the rack, I only peer the nodes with the ToR (leaf).

I would like it to both reflect the routes within the rack (rr function) and propagate the routes from the spine. With `rr client` setting in leaf config and because of iBGP function (all the same AS), the leaf advertises all routes to all nodes wit

[2017-12-18 15:17] zihaoyu commented on #1420
@fasaxc @caseydavenport Just wanted to give an update. We were unable to reproduce the same issue on Calico v2.6.3. This version seems to have it fixed.

[2017-12-18 17:30] marquetemb commented on #1512
I've found the same problem, with the solution of @tungdam it works perfectly

[2017-12-18 19:26] fasaxc opened #1520 "Migration code emits warning if migration already done"
Saw this in my calico/node logs:
[code]

## Expected Behavior

Something like "No migration needed."

## Current Behavior

Scary log (possibly intended for the migration tool output instead of startup.go?)

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
[code]

* Orchestrator version (e.g. kubernetes, mesos, rkt):
[code]
* Ope

[2017-12-19 03:49] woshihaoren opened #1525 "Does calico support kube-proxy ipvs mode?"

[2017-12-19 05:37] caseydavenport commented on #1525
@woshihaoren Calico v3.0.0 has beta support for network policy in the kube-proxy ipvs mode.

@song-jiang knows the most about that, so might be able to add some context.

[2017-12-19 05:37] #1525 closed

[2017-12-19 10:30] fasaxc opened #1526 "startup.go/versions should log calico repo version/git commit etc"
It's super useful when diagnosing build and in-field issues if the components log their versions.  For example felix logs this:
[code]
Would be great to have that in startup.go and the calico/node versions command too.  Logging the

- exact commit ID is useful in case someone (e.g. a community member) did a custom retagged build
- buildDate is useful for unpicking issues with rebuilding (e.g. rebu

[2017-12-19 13:56] song-jiang commented on #1525
@woshihaoren Calico v3.0.0 support workload ingress policy only for kube-proxy ipvs mode. We are in the process of adding workload egress policy support.

[2017-12-19 15:57] fasaxc commented on #1471
@caseydavenport what's your thinking on making this a P3?  Seemed like a pretty nasty bug to me

[2017-12-19 16:02] fasaxc commented on #1423
I think these are normal, it's BIRD saying that it's doing iBGP so it's not going to forward those routes on to another BGP speaker.

I wonder if BIRD is just doing a resync of the dataplane and failing to spot that it doesn't need to delete/re-add those routes.

[2017-12-19 16:03] Z3r0Sum opened #1528 "[AWS/K8S] Calico Issues Using Nitro based AWS Instances"
Background Architecture:

- Development K8S Cluster running on 1.5.7
- Running CoreOS on all nodes in the cluster: 1465.6.0 (slightly adjusted with some bootstrap logic)
-  1 master and ~15 nodes
- Spread across 3 AWS AZs

It should be noted that the cluster was working fine before swapping some of the nodes out for nitro based instance types (c5s and m5s).  The only variable changing in this equa

[2017-12-19 16:10] fasaxc commented on #1528
@Z3r0Sum  Thanks for the bug report.  A few ideas that just occurred to me:

- We made some datastore watching fixes between v2.4.0 and v2.6.3 (current stable); I recommend trying v2.6.3.  Those are particularly relevant to node restarts.
- When replacing the nodes, are you using automatically-assigned IPs?  calico/node will refuse to start if the IP of the node appears to be in use by another nod

[2017-12-19 16:20] Z3r0Sum commented on #1528
@fasaxc The second bullet point is a definite possibility.  We are automatically assigning IPs.  It does seem a little coincidental that upon replacing the nodes in the other direction (non-nitro) there were no issues.  I can try and prove this out a bit more in a test cluster when I get some time.  Upgrading might be tough, since we are using kops; however, I can look into it.  Thanks for your he

[2017-12-19 16:22] caseydavenport commented on #1471
Yeah, that's just a labeling bug on my part.

[2017-12-19 16:47] fasaxc commented on #1471
Suggesting for v3.0.1

[2017-12-19 20:14] tmjd opened #1531 "During migration to pre-v3.0, before issuing complete, calico-felix seems to have memory leak"
I saw this problem when testing out the upgrade/migration from v2.6.4-rc2 to a master (pre v3.0).

## Expected Behavior
calico-felix does not grow in memory consumed

## Current Behavior
It consumes memory until OOM kills it.

## Possible Solution
Fix it

## Steps to Reproduce (for bugs)
1. Install k8s 1.8
2. Install v2.6.4-rc2
3. Run `calico-upgrade start`
4. Install master(pre v3.0) manifests
5.

[2017-12-19 20:16] tmjd commented on #1531
I have been unable to get a memory dump. I believe this is because the hook for dumping the memory does not get registered until after the datastore is ready.

[2017-12-19 20:17] fasaxc commented on #1531
Sigh, when we're in that mode, we discard the datastore client after each check of the ready flag.  I guess the datastore client has some internal state that we're not shutting down?

[2017-12-19 20:18] fasaxc commented on #1531
Only easy option I can think of is to restart felix after each n checks of the ready flag.  That'll cap the leak. Fixing the problem properly would be invasive.

[2017-12-19 21:14] tmjd opened #1532 "v2.6.4-rc2 calico-node is restarting and entering CrashLoopBackoff"
During upgrade the datastore ready flag is set false and it is expected that calico-node will report the liveness flag but not report the ready flag.  This does not seem to be the case for v2.6.4-rc2 because it is being restarted by K8s and entering CrashLoopBackoff.

## Expected Behavior
calico-node sits there patiently waiting for the ready flag and reports liveness so it isn't restarted.

## Cu

[2017-12-19 21:46] bcreane commented on #1532
@heschlie - when you have a PR ready, please add the "Calico v2.6.4" milestone.

[2017-12-20 01:27] bcreane commented on #1532
@heschlie - please close this issue, maybe after you've had a chance to verify against `v2.6.4-rc3`.

[2017-12-20 02:08] heschlie commented on #1532
This looks good, paused an upgrade at the start stage, saw readiness go to false, but liveness stay up, and no restarts :fireworks: and everything recovered on an abort test as well.

[2017-12-20 02:08] #1532 closed

[2017-12-20 09:38] fasaxc commented on #1528
One datapoint: I tried to start a container OS image on an m5 but it said the AMI wasn't supported.  I started an Amazon linux AMI on an m5.large and I was able to add routes manually with `ip route add`.

[2017-12-20 14:59] tmjd commented on #1520
This was fixed by https://github.com/projectcalico/libcalico-go/pull/756 but we may want a retest. @fasaxc WDYT?

[2017-12-20 15:13] fasaxc commented on #1520
I didn't see the message in my tests.  Looks fixed.

[2017-12-20 15:13] #1520 closed

[2017-12-20 15:21] tmjd opened #1536 "Link to docker get-started-overlay page broken, page is gone"
Looking at htmlproofer output and checking the link myself (https://docs.docker.com/engine/userguide/networking/get-started-overlay/#/overlay-networking-with-an-external-key-value-store) shows that this page is gone/moved.
I attempted to locate a new version but was not able to.  I found https://docs.docker.com/engine/userguide/networking/#overlay-networks-in-swarm-mode and it has a section about

[2017-12-20 15:50] caseydavenport commented on #1536
Fixed by https://github.com/projectcalico/calico/pull/1537

[2017-12-20 15:50] #1536 closed

[2017-12-20 15:53] tmjd commented on #1531
Re-tested with latest `:master`'s and it looks good now.

[2017-12-20 15:53] #1531 closed

[2017-12-20 22:46] bradbehle opened #1542 "Running pods that are not registered with calico-ipam"
This is possibly the same or a similar problem to: https://github.com/projectcalico/calico/issues/1406 but it isn't clear it is the same, so I wanted to document it in a new issue.

We have a cluster where a few pods have IP addresses that are not known by calico-ipam.  This is causing new pods that get created to attempt to use these IP addresses, and fail to start because the IPs are already bei

[2017-12-21 01:26] bradbehle commented on #1542
Here are the syslog and calico-node logs from the two nodes that the zookeeper pods were scheduled on after they were killed and restarted.

[calico-node-10.93.17.82.log](https://github.com/projectcalico/calico/files/1577561/calico-node-10.93.17.82.log)
[calico-node-10.93.17.204.log](https://github.com/projectcalico/calico/files/1577562/calico-node-10.93.17.204.log)
[syslog-10.93.17.82.log.zip](ht

[2017-12-21 08:48] AceHack opened #1545 "Consider Azure AKS Support"
Any details on how to use calico in Azure AKS?  Thanks.

[2017-12-21 09:35] fasaxc commented on #1542
@bradbehle I believe we've fixed the issue that was causing IPs to be incorrectly freed (particularly in the stateful set case) in v2.6.4 (CNI plugin v1.11.2).  The bug ultimately came down to a faulty assumption about the CNI API on our part, which is why it was so pernicious to fix (we were relying on an ID being unique, when it wasn't guaranteed to be in certain cases).

However, upgrading to v

[2017-12-21 12:44] r0bj commented on #1406
I can confirm that behaviour in k8s 1.9.0.

[2017-12-21 13:50] fasaxc commented on #1406
@r0bj Can you reproduce this issue on a fresh cluster with Calico v2.6.4?  I'm still trying to figure out if there's still an issue or if it's just the problem that was caused by the earlier Calico version still causing problems somehow.

[2017-12-21 19:26] lwr20 opened #1550 "calico-rr image doesn't work with 2.6.4 using kubernetes datastore backend"
## Expected Behavior
When running Calico 2.6.4 using the kubernetes datastore backend, I'd expect the calico route-reflector image (v0.4.1) which is part of 2.6.4 to work.

## Current Behavior
It does not work - I see the RR rejecting BGP connections:
[code]
Looking at the BIRD config in the RR container, I see this config:
[code]
Which implies that confd isn't working.  But confd logs show that i

[2017-12-21 19:31] neiljerram commented on #1550
I have built a new RR image, calico/routereflector:v0.4.2, with confd v0.12.1-calico-0.4.3, which is the same version of confd that calico/node 2.6.4 is using.  Using v0.4.2 instead of v0.4.1 should fix the primary issue here (although of course it is possible that there are further issues lurking).

[2017-12-21 19:37] lwr20 commented on #1550
TPR->CRD change happened in libcalico-go mid-August, which is the same time as RCs for 2.5.0 were happening.  So I would *guess* that this has been broken since 2.5.0.

[2017-12-21 23:40] caseydavenport commented on #1545
Hi @AceHack! Stay tuned - we're working with the Microsoft team to bring Calico to AKS.

[2017-12-21 23:40] #1545 closed

[2017-12-22 03:12] AceHack commented on #1545
@caseydavenport Do you have any estimated time frame?  Thanks.

[2017-12-22 09:07] lwr20 commented on #1550
New image seems to work - thanks @neiljerram

[2017-12-22 10:37] mattiasberge opened #1559 "Documentation should strongly advice against sharing etcd between calico and kubernetes"
calico-node needs client certificates to communicate with etcd (unless no authentication model on etcd). It can either read said certificates from the servers filesystem.  This puts the certificates at risk, as long as a kubernetes user freely can mount the directory the certificates are stored in. The other model would be to have the certificates in a configMap. The malicious user would then be a

[2017-12-22 11:21] fanux commented on #281
[code]

[2017-12-22 17:11] taylorKonigsmark commented on #1013
@tmjd does this work version 0.24.1?

I'm getting this message when I apply the modified calico.yaml:

The Service "calico-etcd" is invalid: spec.clusterIP: Invalid value: "10.0.0.136": provided IP is not in the valid range. The range of valid IPs is 10.96.0.0/12z

I'm guessing the sed command isn't working for me running on a Mac. what is exactly trying to be changed in the file?

[2017-12-22 18:11] caseydavenport commented on #1550
Closing since it seems routereflector:v0.4.2 fixes this.

[2017-12-22 18:11] #1550 closed

[2017-12-22 22:06] tmjd commented on #1013
@taylorKonigsmark I have not tried 0.24.1. It looks like maybe minikube has changed the service CIDR they use. I think you should try again but not do `sed -i -e 's/10\.96\.232/10.0.0/' calico.yaml`.

What it was attempting to do was put the service IP created for the calico-etcd service into the used service CIDR.

[2017-12-26 14:11] taylorKonigsmark commented on #1013
Thank you @tmjd! That helped a lot!

[2017-12-27 07:42] jcxian opened #1567 "make: *** No rule to make target 'calico/node'"
## Expected Behavior
I want to compile calico/node

## Current Behavior
When I download the source code, the implementation of the compiler error. As follow:
make: *** No rule to make target 'calico/node'. stop.

## Possible Solution
I follow this https://github.com/projectcalico/calico/blob/master/BUILDING_CALICO.md
I don‘t find target 'calico/node' in Makefile

## Your Environment
* Calico versi

[2017-12-27 11:26] #1567 closed

[2017-12-28 03:21] lucasyvas commented on #1095
@dghubble Thanks a lot for reporting this. I spent hours trying to figure out what the hell was going on today. I have a very simple firewall that wraps all the Kubernetes nodes by tag. I presume switching to Canal may just magically work since my UDP traffic is wide open between my droplets... I'll find out soon enough!

[2017-12-28 04:50] hzfeng87 opened #1568 "how to modify the advised subenet xxx.xxx.xxx.xxx/26 to xxx.xxx.xxx.xxx/28 for each node."
I  have 2048 container IP addresses in total, 100 calico node. But the TOR requires the minimal subnet xxx.xxx.xxx.xxx/28 from each node.  Some node can only get one container IP, unfortunately the IP subnet  is less then  xxx.xxx.xxx.xxx/28, so it is droped.

## Expected Behavior
I want to modify the advised subenet xxx.xxx.xxx.xxx/26 to xxx.xxx.xxx.xxx/28 for each node.
emergency ！！！！！！

[2018-01-01 10:48] dpoison opened #1569 "Issue with caliclo 3.0.1"
## Your Environment

* Calico version 3.0.1
* Orchestrator version (e.g. kubernetes, mesos, rkt): kubernetes1.9.0
* Operating System and version: CoreOS stable (1576.4.0)

Hello,

I am trying to set up kubernetes cluster with calico networking via matchbox.

Here are the files which I am using as manifests.
[manifests.zip](https://github.com/projectcalico/calico/files/1595848/manifests.zip)

It is

[2018-01-02 14:23] fasaxc commented on #1569
@dpoison Where did you get your manifests from?  Did you start with our published v3.0 manifests in our docs?  v2.6.x -> v3.0.x was a breaking change so you'll need to use v3.0.x manifests and data everywhere.

[2018-01-02 14:25] fasaxc commented on #1568
@hzfeng87 this is not a feature that Calico currently offers.  It would require a code change.  If you are interested in contributing the feature, or sponsoring it then please reach out on our calicousers slack.

[2018-01-02 14:38] fasaxc commented on #1115
I believe the node cleanup controller and CNI fixes are all in v2.6.4+.

[2018-01-02 14:38] #1115 closed

[2018-01-02 16:06] tmjd commented on #1559
Maybe I'm misunderstanding something but are you suggesting that using the calico-node etcd certificates would allow full access to the Kubernetes etcd data if you have configured etcd RBAC (following the documentation you linked)?  That is specifically the case that the configuration you referenced prevents.

Also if someone does as you've suggested and gains access to the kubelet certificate pat

[2018-01-02 17:20] bradbehle commented on #1484
@caseydavenport I did some more digging on this issue, and the code to remove this policy does exist in v1.0.0 of calico-kube-controllers (the container log shows it being deleted), but that same code does not exist (or does not get run) in the v1.0.2 version.  We can workaround this in our deploy by deleting the policy ourselves as soon as calico-kube-controllers is running, but I would like to k

[2018-01-03 04:06] hzfeng87 commented on #1568
@fasaxc  I had to modify it to use it in our environment. Could you please give me some suggestions about where to change if I have to  change the source codes.
Thanks a lot for your kind suggestions.

[2018-01-03 05:37] dpoison commented on #1569
@fasaxc
Well, we have not used same manifests from the matchbox.  We have done few modifications as per our need. And those changes worked for the previous version of calico (2.6.x).

Now about  v2.6.x -> v3.0.x ... We have used published manifests also, we have tried to use them also. but we are no the same stage.

One more thing I will like to confirm, is it so, there is no use of calico_policy_

[2018-01-03 10:38] fasaxc commented on #1569
@dpoison `calico-policy-controller` is no longer used in v3.0, it was replaced by `calico-kube-controllers`

Sorry, I don't have time to compare your manifests against our published ones; please can you try with our published manifests and/or explain any customisations that you're making.

[2018-01-03 15:03] fasaxc opened #1572 "calico/node refuses to start if hostname is not lower case"
User **madianjun** on calico users found that calico/node wouldn't start on their system, the logs show that the problem is an "invalid" hostname:

[code]
## Expected Behavior

`calico/node` should start up

## Current Behavior

`calico/node` fails to start

## Possible Solution

Cast the name to lower case?

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico

[2018-01-03 15:09] matthewdupre commented on #1572
What version of Calico?  We've made changes here very recently I believe.

[2018-01-04 01:08] mdianjun commented on #1572
Calico version is 3.0.1,  docker image : quay.io/calico/node:v3.0.1

[2018-01-04 06:23] mdianjun commented on #1572
In the code below, should it convert nodeName to lower case?
After call names.Hostname(), nodeName has been changed to lower case, but when get nodeName from NODENAME or HOSTNAME, it doesn't.
[code]

[2018-01-04 09:26] fasaxc commented on #1572
@mdianjun The intention was that the NODENAME should be a valid Calico name but we should at least be converting HOSTNAME to lower case.  For now, as a workaround, you can set the NODENAME environment variable to the lower-case value.

[2018-01-04 10:02] mdianjun opened #1576 "CALICO_ETCD_IP is not replaced with real IP"
* Calico version 3.0.1
* Orchestrator version  kubernetes 1.8.4
* Operating System and version: Centos 7.2
This is the log of etcd:
[code]
The yaml is :
[code]

If use this form of command and args, the problem will be resolved:
[code]

[2018-01-04 10:08] mdianjun opened #1577 "StrictAffinity in IPAMConfig struct couldn't be set with calicoctl"
When a node uses up a block it will assign another block (and free it when it’s not longer needed).  Only if the whole pool is exhausted will it start using /32s.

In Calico v3.0, it is controlled by the IPAMConfig struct, but that doesn’t seem to be exposed in the v3.0 calicoctl.

* Calico version 3.0.1
* Orchestrator version kubernetes 1.8.4
* Operating System and version: Centos 7.2

[2018-01-04 10:12] mdianjun commented on #1568
@hzfeng87    The code is in libcalico-go/lib/ipam/ipam_block.go, as follows:
[code]

[2018-01-04 13:49] madianjun opened #1578 "IP block isn't released to ipPool"
## Expected Behavior
calico/node will free a block  when the IPs in the block are no longer in use, and the blackhole route corresponding to the block will also be removed.

## Current Behavior
block isn't freed to ip pool, other nodes haven't  assigned ip from the block which should be freed, and the blackhole route is not removed.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.

[2018-01-04 15:13] fasaxc commented on #1578
@madianjun Please can you give us a step-by-step process to reproduce this.  What test were you trying?  What steps did you take to verify that the block wasn't in use?

[2018-01-04 15:29] tmjd commented on #1542
@bradbehle Have you been able to confirm that v2.6.4 (CNI plugin v1.11.2) addresses this?

[2018-01-04 15:56] gyliu513 opened #1579 "Does calico support node-to-node mesh and router reflector in one cluster?"
Sorry to post the question here as I did not found a email list where I can post my questions.

The question is that calico support both node-to-node mesh and router reflector, the problem is that during our test, we found that with node-to-node mesh does not work in a 1000 node kubernetes cluster, the calico node will stop starting up after running on 700~ nodes.

After some investigation, we fou

[2018-01-05 03:24] mdianjun commented on #1578
1. Init a k8s cluster(k8s-v1.8.4) master at IP 90 , kubeadm init  --pod-network-cidr 10.188.240.0/25 <and other arguments>
2. Start calico, calico version is 3.0.1.   set ipPool:    "ipv4_pools": ["10.188.240.0/25"]
     https://docs.projectcalico.org/v3.0/getting-started/kubernetes/installation/hosted/kubeadm/
3. Join 4 k8s worker nodes(IPs are 91,92,93,94), and create 128 pods.
Here is deploymen

[2018-01-05 04:43] bradbehle commented on #1542
We will try calico 2.6.5 and cni 1.11.2 in the next week or so, and will post in here what we find

[2018-01-05 13:21] amit2277 opened #1581 "Few pods are rebooting constantlly with calico v3.0.1"
Hello members,

We have used ipxe/matchbox and bootkube to setup k8s cluster with versions given below.
Coreos: 1576.4.0
Kubelet: v1.9.0
Etcdv3: 3.2
Calico:2.6.2 & 3.0.1

While using calico v2.6.2, it is working fine. When we tried to upgrade calico with v3.0.1. Did little changes as per our requirements for etcd key and IP range but listed bellow pods keep crashing and restarting.
kube-controller

[2018-01-05 14:42] tmjd commented on #1581
You say you upgraded to Calico v3.0.1, does that mean you started with an installed v2.6.2 and then took the (slightly modified) v3.0.1 manifest and applied it?  If so that is not expected to work, you need to follow the upgrade procedure https://docs.projectcalico.org/v3.0/getting-started/kubernetes/upgrade/.

That being said it seems like you might have a non-Calico issue too with Kube-Scheduler

[2018-01-05 15:14] tmjd commented on #1576
I used a manifest that deployed etcd like that yesterday (and it worked). Do you perhaps have any special flags set on your kubelet (or any other k8s components) where it would handle those differently?
Or are there any changes you made in that manifest from the original calico one?

[2018-01-05 15:28] tmjd commented on #1579
node-to-node mesh is a cluster wide setting. So when using route-reflector the node-to-node mesh should be disabled and all nodes should be connecting to the route reflector(s).

I **believe** it is possible to have a cluster with node-to-node mesh, add route reflector(s), and then disable node-to-node mesh without any traffic disruption.

Also we generally recommend to switch over to route reflec

[2018-01-05 20:57] mschurenko opened #1582 "Running calico node with QoS class guaranteed"
I would like to know if it is recommended to run calico node with a QoS class of guaranteed and, if so, what the recommended limits for cpu and memory should be. The reason for this is I would like to make it as unlikely as possible for kublet to evict calico node pods.

## Expected Behavior
Calico node pods should have a QoS class of guaranteed to make it less likely that kublet will evict them

[2018-01-06 04:18] madianjun commented on #1576
@tmjd  I don't set any spectial flags on my kubelet。And , etcd yaml is not changed.

[2018-01-06 16:31] luckyfengyong commented on #717
The kubernetes/kubernetes#45717 has been closed due to the feature of TaintNodeByCondition in K8S 1.9. The ticket is unblocked, I think.

[2018-01-07 13:39] gyliu513 commented on #1579
@tmjd thanks for the detailed explanation!

Does there are any document related to the best practise of calico in a large scale cluster? Such as when to use router reflector, when to enable calico use a dedicated etcd server?

[2018-01-08 04:31] bradbehle opened #1584 "Changing ippool to use ipip.mode=cross-subnet (from always) doesn't update all routes"
I originally reported this problem with Calico 2.6.1 in this issue: https://github.com/projectcalico/calico/issues/1325    It was thought to be fixed in Calico 2.6.3, but I was able to recreate it with Calico 2.6.5.  Here is a description:

When I update calico-node to 2.6.5 and to use kube-hosted calico and IP_AUTODETECTION_METHOD=interface=eth2 (from systemd managed calico-node using hardcoded I

[2018-01-08 05:47] amit2277 commented on #1581
@tmjd  We have not updated, we have done a fresh installation with calico v3.0.1.

[2018-01-08 14:53] tmjd commented on #1581
I would look at the kube-scheduler and kube-apiserver logs to figure out why they are crashing... actually the kube-controller-manager shouldn't be affected by Calico either so you should look at it too. I could imagine the kube-dns being affected by Calico problems but that would be a problem at the ContainerCreating (I think) stage when an IP is attempting to be obtained for the pod.

[2018-01-08 15:36] tmjd commented on #1582
Generally we have only found the need to set a CPU request of 250m (and that is to ensure performance under heavy loads). You can see in one of our provided manifests on the docs site https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml.

You should check the annotations and tolerations in that same manifest for the calico-node Daemonset. Does

[2018-01-08 15:43] mschurenko commented on #1582
We are using CritialPodAnnotation; however that appears to only work with static pods:

https://github.com/kubernetes/kubernetes/blob/v1.8.4/pkg/kubelet/eviction/eviction_manager.go#L377

(We also tested this out with kublet and found the same thing.)

In theory the rescheduler (https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/#rescheduler-guaranteed-sc

[2018-01-08 16:06] caseydavenport commented on #1484
@bradbehle thanks for the investigation.

Yes, I think we should fix this by re-implementing the missing code. I believe it was removed intentionally, the thinking being that users would not perform direct upgrades from an earlier version of the controllers code to v1.0, instead going through v0.7.0 which has the relevant code.

While that's still the recommended way, it should be low-cost to add

[2018-01-08 16:19] caseydavenport commented on #1577
@mdianjun could you share a bit more about the behavior you'd like to see? Do you need to enable strict affinity for some reason and if so, what is that reason?

[2018-01-08 16:24] caseydavenport commented on #1578
@madianjun I've only skimmed so far, but you should note that if you have `ip-in-ip` enabled on your IP pool, then Calico will reserve an IP address from each node's first block to use on the IPIP tunnel.

This means that even if there are no pods running on that node, a block has been allocated to that node.

[2018-01-08 16:32] caseydavenport commented on #717
@luckyfengyong thanks for the heads up!

Looks like it's an alpha feature, so would be good for us to try it out and see if it meets our needs.

[2018-01-08 16:39] caseydavenport commented on #1582
@mschurenko provided you get the limit correct for your cluster, it shouldn't be harmful to set a CPU / mem limit for Calico.

I'd recommend giving substantial headroom though, since Calico is a critical piece of infrastructure and will degrade when CPU or memory constrained. This is why we typically only set requests in our manifests, allowing Calico to burst if needed. Choosing that value is goi

[2018-01-08 16:40] caseydavenport commented on #1582
I don't think we can check-in a default here - the value for `limits` is going to vary widely for different users, so what works for one user might be way too much for another, or might be severely under provisioned for another.

[2018-01-08 17:46] mschurenko commented on #1582
Great. Thanks

[2018-01-08 17:53] caseydavenport commented on #1471
I think the node controller can't deal with this case, because the nodes themselves aren't being deleted from k8s, so it doesn't know anything has changed.

We'll need to handle this another way.

I think the suggestion in the description has promise.

if `IP=autodetect` and an IP conflict is hit, the restarting node could unset its own node's IP address and restart. This should eventually resolve

[2018-01-08 22:30] #1320 closed

[2018-01-08 23:00] caseydavenport commented on #329
I believe we set requests now.

[2018-01-08 23:00] #329 closed

[2018-01-08 23:01] caseydavenport opened #1586 "Document resource requests / limits for Kubernetes"
It's not obvious what the right values for resource requests / limits are for Kubernetes.

We can't provide a default for this because it varies based on individual users and use-cases, but we can provide some guidance as to how to select the appropriate values, and what the tradeoffs and implications of setting these fields might be.

Follow on from https://github.com/projectcalico/calico/issues/

[2018-01-08 23:01] caseydavenport commented on #1582
I think this is all pretty non-obvious, so we should make our documentation better in this area!

I've raised https://github.com/projectcalico/calico/issues/1586 to add better documentation, so I'll close this for now.  Thanks for raising!

[2018-01-08 23:01] #1582 closed

[2018-01-09 10:04] fasaxc commented on #1471
Hmm, just thought of another case: if you take a node offline but don't delete it, then a new node could start up with its old IP legitimately.  Should we have the node controller remove IPs from nodes that haven't been seen for a while or something like that?

[2018-01-09 14:34] caseydavenport commented on #1471
hm, I think that case is a bit more obscure. In a public cloud case, typically you'd have a cloud-provider enabled which would remove that node from k8s automatically when it was taken offline, I think.

In some other scenarios, I suppose it is possible you should shutdown a node and leave it in k8s, but that feels like an odd scenario to be in and I'd expect people would just remove the node from

[2018-01-09 18:51] fasaxc opened #1590 "document the systemd unit leak on (at least) Ubuntu 17.10"
With k8s on Ubuntu 17.10, churning pods seems to leak systemd transient units related to caliXXX network interfaces at a ratio of 1:1.

## Expected Behavior

Deleting the pod should remove all its resources, including removing related systemd units.

## Current Behavior

Units of this form get leaked:
[code]
sudo systemctl daemon-reload
[code]
$ systemd --version
systemd 234
+PAM +AUDIT +SELINUX +

[2018-01-09 19:07] fasaxc commented on #1590
I was able to reproduce the leak by simply running `ip link add/del` to create/delete a veth.  Reported upstream: https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1742250

[2018-01-09 19:50] caseydavenport opened #1591 "calicoctl shows "unknown" for ASN."
On a standard kubeadm install using Calico v3.0

{code}
ubuntu@casey-crc-kubeadm-kubeadm-master:~$ calicoctl get nodes -o wide
NAME                               ASN         IPV4             IPV6
casey-crc-kubeadm-kubeadm-master   (unknown)   10.128.0.20/32
casey-crc-kubeadm-kubeadm-node-0   (unknown)   10.128.0.23/32
{/code}

## Expected Behavior

ASN shows up as "unknown" when it should really s

[2018-01-09 21:38] caseydavenport opened #1592 "NodeRefs not written to datastore in v3.0"
## Expected Behavior

When I start a calico/node pod using k8s, I expect a NodeRef to be written to the Node resource.

## Current Behavior

No NodeRef is written to the resource :(

## Possible Solution

The startup.go code to do this is in v2.6, but doesn't appear in v3.0. I think we need for port that code forward.

## Steps to Reproduce (for bugs)

1. Deploy Calico v3.0 kubeadm manifest
2. Loo

[2018-01-09 21:38] caseydavenport commented on #1592
CC @ozdanborne @heschlie

[2018-01-10 10:38] debovema commented on #1096
Was useful for me.
Thanks

[2018-01-10 22:51] #1572 closed

[2018-01-12 07:02] hchenxa opened #1598 "[Question]Does calicoctl support delete multiple nodes"
I have 500 calico node cluster and I want to delete the calico node by command `calicoctl`, from the help message seems the command still not support to delete multiple node or node like `calicoctl delete node --all ` or `calicoctl delete node node1,node2,node3`, Just want to know if there have some other method can delete the all nodes by command line?

[2018-01-12 10:49] rikatz commented on #1484
The same behaviour happen to us (okay, we were in node 0.22 and a very old policy controller upgrading to 2.6.5) and @mrrandrade discovered that removing k8s-policy-no-match works fine.

The thing is that it used to work in policy-controller 1.0.0 (the one that we used as migration test) but not in 1.0.2 (released after our tests, and as there's no documented breaking changes, we've just used this

[2018-01-12 19:20] caseydavenport commented on #1598
@hchenxa you can put all the nodes in a single manifest file and delete by file.

e.g.

[code]

There are other options I'd _like_ to have in the future:
- `--all` to delete all nodes
- `--labels` to delete by label match
- `calicoctl delete node NodeA NodeB NodeX`

[2018-01-12 19:23] caseydavenport commented on #1598
There are enhancement issues which track those features:

- Selection: https://github.com/projectcalico/calicoctl/issues/1383
- Multiple names: https://github.com/projectcalico/calicoctl/issues/1796

[2018-01-12 19:23] #1598 closed

[2018-01-12 19:33] ozdanborne opened #1599 "css for hyperlinks make them unnoticeable in some situations"
In the documentation, some links are unnoticeable due to their CSS styling.

Two main places:

1. regular links in the blue info notes. Example: the note in the requirements section here: https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/integration
1.  `things in backticks` that are also links. Example: `CNI_ARGS` in the IPAM section of CnI reference: https://docs.projec

[2018-01-12 19:34] #1470 closed

[2018-01-12 19:55] caseydavenport commented on #1484
@rikatz I think it was a bug to remove this from v1.0.2, and I'd like to add it back into a v1.0.3 release and supersede v1.0.2. That way no manual step will be required.

We can clean up the code again once the code is sufficiently old.

[2018-01-15 04:59] hchenxa commented on #1598
Thanks @caseydavenport

[2018-01-15 09:10] mdianjun commented on #1578
@caseydavenport  I enabled IPIP。

[2018-01-15 10:02] danderson opened #1603 "Allow setting passive mode for BGP peers"
In google/metallb#114, I explored how to make my k8s BGP load-balancer interoperate gracefully with Calico clusters that peer with external BGP routers. I've documented my findings at https://master--metallb.netlify.com/configuration/calico/ and https://github.com/google/metallb/issues/114#issuecomment-357547646

## Current Behavior

In my setup, I'm trying to peer Calico with another BGP speaker

[2018-01-15 10:07] danderson opened #1604 "Supported way to customize BGP export filters"
In google/metallb#114, I explored how to make my k8s BGP load-balancer interoperate gracefully with Calico clusters that peer with external BGP routers. I've documented my findings at https://master--metallb.netlify.com/configuration/calico/ and https://github.com/google/metallb/issues/114#issuecomment-357547646

## Current Behavior

In my setup, I want to peer Calico with external BGP routers. I

[2018-01-15 11:13] #1471 closed

[2018-01-15 14:16] mritd opened #1606 "Calico 3.0 documentation support"
Hey guys, I just started learning calico, but I found out that the documentation is old and many of the commands are not working.Unfortunately, my cluster has deployed calico 3.0.

[2018-01-15 15:24] raniatriki commented on #1049
i have the same problem...

[2018-01-15 23:32] mdianjun commented on #1577
Blocks need to be fixed on PODs(data center POD, not k8s pod), and spine switches only allowed nodes to announce /26 routes, don’t allowed /32 routes. If nodes announce /32, spine switches will have too many routes.

[2018-01-16 07:28] lluxury opened #1607 "IP assignment error: No configured Calico pools."
docker: Error response from daemon: IpamDriver.RequestAddress: IP assignment error: No configured Calico pools.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.docker container run --net cal_net1 --name bbox1 -tid busybox
2.
3.
4.

## Context

## Your Environment

* Calico version
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operatin

[2018-01-16 10:31] amit2277 commented on #1581
Hello @tmjd

Here are few more details and logs.

[root@provisioner ~ ]$  kubectl get nodes
[code]

[root@provisioner ~ ]$ kubectl get pods --all-namespaces -o wide
[code]
_As you can see, kube-controller-manager, kube-scheduler and kube-dns are restarting. else everything seems in proper running stat._

**Here are log details for these pods.**

[root@provisioner ~ ]$ kubectl logs  kube-dns-75bcc9

[2018-01-16 12:17] cumirror opened #1608 "Does calico support to configure the advised subnet len of node?"
There are no configurations to set the advised subnet len. When configured ippool, i just  found the advised subnet is like xxx.xxx.xxx.xxx/26 (255.255.255.192).
How could i modify these subnet len, and why just fix it to 26?

ippool as following:
# calicoctl get ippool -o yaml
- apiVersion: v1
  kind: ipPool
  metadata:
    cidr: 192.168.0.0/16
  spec:
    ipip:
      enabled: true
      mode: cr

[2018-01-16 19:06] tmjd commented on #1579
Sorry for the delay on an answer here. I'm not aware of any documentation like you are asking about.

[2018-01-16 19:25] caseydavenport commented on #1049
@raniatriki could you please open a new issue describing your setup?

Thanks!

[2018-01-16 19:29] caseydavenport commented on #1608
@cumirror it's not possible to change that value right now since it's currently hard-coded. It should be possible to adjust the code to make it configurable, but there are complications around changing it on an already running system that would need more thought.

If possible, you could also add additional IP pools, or use something larger than a /16, for more address space, though I understand th

[2018-01-16 19:59] tmjd commented on #1606
If you could elaborate on what is not working for you that would be great. We just released v3.0 at the end of the year, we thought we had made the needed updates but we must have missed some.

Please make sure you are using the v3.0 docs, if you have calico v3.0 deployed as they have changed a bit from the previous release.  You may also want to make sure you are using the appropriate calicoctl v

[2018-01-16 20:20] tmjd commented on #1607
Could you provide a bit more information:
- What version of calico and docker you are using?
- Did you configure the cluster-store as specified at https://docs.projectcalico.org/v2.6/getting-started/docker/installation/requirements?
- How did you install Calico?

[2018-01-16 20:27] tmjd commented on #1581
From the logs it looks like you need to check out kube-proxy and its logs.  It is responsible for setting up the ServiceIP (handled in iptables rules) for reaching the kubernetes API. (I'm assuming that is what the 10.3.0.1 address is.)

[2018-01-16 21:19] robbrockbank commented on #1584
Hi @bradbehle :  The logs indicate that we're no longer hitting the issue that I previously saw where a transient issue with the config resulted in the config not being reloaded by bird.  I notice that for the .3 node the calico/node instance seems to have been restarted at about the time your made the config change, whereas the .4 node seems to do a standard config update without needing to resta

[2018-01-16 22:18] caseydavenport commented on #1484
Ok, I think I found the root cause of this and I've got a fix here: https://github.com/projectcalico/kube-controllers/pull/208

[2018-01-16 23:10] caseydavenport commented on #1604
@danderson thanks for raising this and for the detailed write up.

As you discovered, such a feature was a part of older Calico releases, but it wasn't officially supported and required detailed knowledge of the etcd data model.

I'd very much like to extend Calico's data model to add this concept - I'm going to tentatively add this to the Calico v3.1.0 milestone.

As a strawman, it might make sen

[2018-01-16 23:18] caseydavenport commented on #1603
Exposing the `passive` keyword on the `BGPPeer` resource should be straightforward and seems sensible enough to me.

We'd need to:
- [Update the API structs in libcalico and add basic read/write tests](https://github.com/projectcalico/libcalico-go/blob/master/lib/apis/v3/bgppeer.go)
- [Update the confd templates to respect the new field](https://github.com/projectcalico/calico/blob/master/calico_n

[2018-01-17 00:20] caseydavenport commented on #1577
Gotcha.

Right now, looks like it needs to be done programmatically: https://github.com/projectcalico/libcalico-go/blob/master/lib/ipam/interface.go#L78-L80

Note that /32s should not be announced unless the /26s are all exhausted, so in normal operation you shouldn't end up with many routes.

You can also [configure the CNI plugin on a given node](https://docs.projectcalico.org/v3.0/reference/cni

[2018-01-17 00:56] caseydavenport commented on #1484
I've released https://github.com/projectcalico/kube-controllers/releases/tag/v1.0.3 with that fix in it.

@rikatz hopefully using v1.0.3 will remove the need for a migration step in your scripts. LMK!

[2018-01-17 00:56] #1484 closed

[2018-01-17 03:51] cumirror commented on #1608
@caseydavenport i found this: `https://github.com/projectcalico/calico/issues/1568`.
Change libcalico-go/lib/ipam/ipam_block.go, and is it possible to solve this promble?
steps like this:

1. change ipam_block.go, modify blocksize, BlockPrefixLength and BlockPrefixMask.

[code]

2.checkout cni-plugin, and rebuild calico-cni  image.

In addition to ipam_block.go, should i change other codes? and is

[2018-01-17 05:44] amit2277 commented on #1581
Thanks @tmjd  Will work on it and will update you.

[2018-01-17 06:49] cumirror commented on #1608
@caseydavenport if the number exceed 1024, how to assign pod's ip on that nodes, and what's the policy of route?

[2018-01-17 08:59] neiljerram commented on #1584
@bradbehle I'm unclear whether you think this is a regression since 2.6.3, or that it wasn't actually fixed in 2.6.3. Please could you clarify that?

[2018-01-17 09:39] mdianjun opened #1611 "Can block.Affinity be disabled?"
When block is empty, I want it to be released.  It seems that the value of block.Affinity affects this behavior. How to disable block.Affinity?
[code]

[2018-01-17 14:23] bradbehle commented on #1584
I have seen this with both Calico 2.6.1 and calico 2.6.5, so no, I do not think this is a regression.  I opened issue #1325 when I saw it in Calico 2.6.1.  I did some debugging on a cluster in this state yesterday with Grant, hopefully he can get you those logs and output if he hasn't already

[2018-01-17 14:50] bradbehle commented on #1584
@robbrockbank
1) Restarting calico-node doesn't completely fix the problem.  When I ran it just now, it did fix up one of the routes, but the others were not fixed.
2) Reapplying the ippool has no effect
3) Most clusters do have multiple bad routes (routes that go through tunl0 when they shouldn't), and each bad route needs to be removed before it is replaced with the new one.  Deleting one bad ro

[2018-01-17 16:27] mritd commented on #1606
@tmjd Most of the commands do not work in the [Usage](https://docs.projectcalico.org/v3.0/reference/calicoctl/resources/bgpconfig) section of the calico 3.0 documentation, such as the `--scope=global` option; There are also some explanations such as [Disabling the full node-to-node BGP mesh](https://docs.projectcalico.org/v3.0/reference/calicoctl/resources/bgpconfig) configuration is also out of d

[2018-01-17 17:20] tmjd commented on #1606
Thank you for reporting this.

We would gladly accept updates if you feel like you can make them.  I have put this onto our backlog so hopefully we will get to this soon, if you or someone else doesn't beat us to fixing it.  In the meantime if you need help please feel free join our slack at slack.projectcalico.org for any specific help.

[2018-01-17 18:32] caseydavenport commented on #1578
@mdianjun reviewing the code again, I've realized that we don't actually release block affinities when the last IP address is removed from a block. However, the blocks for a host will be deleted when a Node is deleted.

This is done to minimize route churn in the network. What is your use case for wanting the block affinity to be deleted when the last IP is freed?

[2018-01-17 18:40] caseydavenport commented on #1611
@mdianjun I don't think we can disable affinity - it's a central concept to the way that Calico IPAM behaves.

However, there may be room for adjusting the behavior of block affinities in certain scenarios, provided there's a strong enough use-case.

[2018-01-17 18:40] #1611 closed

[2018-01-17 18:43] caseydavenport commented on #1608
@cumirror I'm not sure I understand your question.

If all blocks are assigned to a node, then new nodes will assign IPs to pods from a block that is already assigned to another node.

The original node will still advertise the entire `/26`, but the new node will assign a `/32` for the pod running on that node.

[2018-01-18 07:41] JacieChao opened #1619 "Pods can't communicate with each other after setting a networkpolicy"
I'm a newer of kubernetes and calico. I had installed a kubernetes cluster by kubeadm. I was trying networkpolicy by kubernetes docs [[Declare Network Policy](https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/)]

I found that when my nginx deployment scheduled to different nodes, it can't be accessed by busybox pod which in the same namespace with nginx.
[code]
Then I chec

[2018-01-18 17:28] danderson commented on #1604
The BGPExportFilter object you describe would do what I need. For MetalLB integration, the only filter criteria I need is the equivalent of Bird's ~, i.e. "is this_cidr contained inside other_cidr?"

[2018-01-18 20:42] joshrosso opened #1620 "Calico (TPR->CRD) 2.5.0+ migration does not produce new CRD-based policies"
## Expected Behavior
I'm attempting to upgrade a `1.7.5` Kubernetes cluster using TPR-based `SystemNetworkPolicy` to express NetworkPolicies to the new CRD format so that I can upgrade calico (running as canal (flannel+calico)).

I'm following the steps described at https://github.com/projectcalico/calico/tree/master/upgrade/v2.5.

The current set of policies are

[code]

After running the migrati

[2018-01-18 21:10] caseydavenport commented on #1620
@joshrosso thanks for raising.

The `SystemNetworkPolicy` resource was alpha in Calico v2.4 and as you've discovered was removed in Calico v2.5 in favor of `GlobalNetworkPolicy`.

Due to the resource being alpha quality with a few known issues, SNPs were not included in the migration steps you followed. SNPs weren't meant to be generally available and thus weren't documented, etc. It should still

[2018-01-18 21:20] joshrosso commented on #1620
@caseydavenport Thanks for the clarification.

If I'm understanding correctly, the TPR->CRD migration is really only handling the global settings / configuration of calico (previously held in TPRs) but not the policies themselves.

Would you have any insight as to whether `GlobalNetworkPolicy` is any more/less stable in calico `2.6.1` (what we're initially upgrading to) relative to the existing `S

[2018-01-18 22:17] joshrosso commented on #1620
And a third question, if I may.

Would Calico generally advise k8s users to stick to the standard `NetworkPolicy` API where ever possible (ie where the `NetworkPolicy isn't feature deficient) rather than the `GlobalNetworkPolicy` CRD?

[2018-01-18 22:49] enitlas commented on #1604
Exposing filters through a Calico abstraction seems to fix this specific issue.

There's definitely a larger conversation to be had around exposing more of the BIRD functionality in general.  Certain users are going to have use cases around more advanced routing functions on the node, but if Calico is running the routing daemon, it's monopolizing routing on the node.  These users could have a need

[2018-01-18 22:52] caseydavenport commented on #1620
@joshrosso officially, GlobalNetworkPolicy isn't generally available until Calico release v3.0, so I'm afraid I can't guarantee GNP support across upgrades from v2.6, etc.

This one is a bit more nuanced. NetworkPolicy and GlobalNetworkPolicy overlap in capabilities, but GlobalNetworkPolicy (like its name implies) affects the entire cluster, not just a particular namespace, and also provides the u

[2018-01-18 22:58] caseydavenport commented on #1604
Yep, definitely happy to have that discussion!

I tend to think of BIRD as a Calico implementation detail, and so exposing BIRD config directly to the user breaks an important abstraction. For example, Calico already includes a community-supported GoBGP integration and baking BIRD constructs into the Calico API may hinder that effort.

[2018-01-18 23:38] enitlas commented on #1604
Calico should not be responsible for validating or formatting advanced config snippets.  It could pass it to bird.cfg or to GoBGP's config mechanism (I'm not familiar with it).  I totally agree that building the Calico API for the full featureset of multiple routing daemons is not a reasonable pursuit.

[2018-01-19 01:52] gyliu513 commented on #1579
Thanks @tmjd

One more question, any best practise for the mapping of router reflector to calico nodes? Such as how many calico nodes should share one router reflector?

[2018-01-19 04:37] joshrosso commented on #1620
This helps clarify a lot. Thank you.

[2018-01-19 04:37] #1620 closed

[2018-01-20 06:07] mrrandrade commented on #1093
We gave full stack cni/node Calico a try yesterday. We got hit hard by this.

At my scenario, I found out that:

* Calico-node default behaviour is to register the calico host with its **ip address**  if NODENAME is not set.
* Calico cni default behaviour is to register the calico host with its **FQDN hostname** if NODENAME is not set.

(my lab setup is 2.6.5 with calico node as DS from yaml provi

[2018-01-20 06:36] mrrandrade opened #1627 "Calico-node daemonset register node with its IP address at first run instead of specified nodename and then crash"
I have a kubernetes cluster up, running Calico policy controller and Calico node daemonset with its install-cni sidecar. I adapted calico-node container with a NODENAME env variable. (I'm also using ip autodetect and method can-reach).

[code]
When I launch a new node after the cluster is already up and running, one of calico-nodes component writes the node with the detected IP address as the node

[2018-01-22 09:54] cookeem opened #1628 "Calico node XXX is already using the IPv4 address, the bug about autodetect"
I deploy calico daemonset in kubernetes cluster, but it show this error:

[code]

My environment info:
[code]

I follow this guide use calicoctl to remove all the nodes.
[code]

Then restart the calico-node pods, but it still now works, it show that devops-master03 and devops-node01 use the same IP address `172.18.0.1`

I check the https://docs.projectcalico.org/v3.0/getting-started/kubernetes/ins

[2018-01-22 19:22] caseydavenport commented on #1628
@cookeem could you check to see if that address is assigned to both nodes?

Calico needs to bind to a unique IP address on each node in the cluster for BGP to work, so if two nodes are reporting the same IP address then Calico is doing the right thing by complaining.

If they don't both have that address, then I agree this might be a bug of some sort.

[2018-01-22 19:30] caseydavenport commented on #1093
That's interesting, and not what I'd have expected. I'd expect both to use the same logic, defaulting to the value provided by `os.Hostname()`. Looking at the code though, the two bits are unfortunately not identical...

- [Relevant CNI code](https://github.com/projectcalico/cni-plugin/blob/26ec250381609d7c50b028e7630824714cfc3c7c/utils/utils.go#L50-L64)
- [Relevant calico/node code](https://githu

[2018-01-22 21:44] robbrockbank commented on #1584
Hi @bradbehle :  I've just merged a couple of PRs that should address the problem in the 2.6.7 release:

#1625 and https://github.com/projectcalico/bird/pull/53

The diags you provided were very useful in helping me spot that there was a specific code path where the routes *may* not get updated during a route scan.

[2018-01-22 22:14] marcellodesales commented on #1049
This is a requirement for us using Calico and KOPS... is there a new ticket open @caseydavenport @raniatriki @tmjd ???

[2018-01-22 22:27] caseydavenport commented on #1049
@marcellodesales I don't think so. Could you raise an issue against kops detailing your specific scenario?

My suspicion is that these symptoms are installer related rather than a Calico bug though obviously it needs some more investigation!

@marcellodesales @raniatriki if you do open another issue please CC me on it so I can help investigate.

[2018-01-23 08:19] raniatriki commented on #1049
@caseydavenport  @marcellodesales [https://github.com/weaveworks/weave/issues/3222](url)

[2018-01-23 13:41] r7vme commented on #1420
We don't see this issue after upgrading to 2.6.5. Thanks.

[2018-01-23 14:43] r7vme opened #1632 "felix connection to etcdv3 api stucks"
We are running Calico 3.0.1 and experience the same issue from time to time. At some point one of the nodes becomes "broken" - all new pods don't have networking.

What happens:
1) felix watch connection(s) to etcd got stuck (we had etcd node hard reboot/reinstall this time)
2) user creates new pod
3) route and link added by CNI
4) felix sees new unknown route on interface
5) felix deletes new rou

[2018-01-23 15:17] fasaxc commented on #1420
OK, great, I'll close this issue.  Please open a new one if you see this again with v2.6.5+

[2018-01-23 15:17] #1420 closed

[2018-01-23 17:52] caseydavenport commented on #1049
@raniatriki that appears to be a link to a weave net issue

[2018-01-23 18:46] raniatriki commented on #1049
yes it is

<https://mailtrack.io/> Sent with Mailtrack
<https://chrome.google.com/webstore/detail/mailtrack-for-gmail-inbox/ndnaehgpjlnokgebbaldlmgkapkpjkkb?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality>

On 23 January 2018 at 18:52, Casey Davenport <notifications@github.com>
wrote:

[2018-01-23 18:53] tmjd commented on #1579
Sorry I don't really know what best practice is as far as that mapping.

If you are interested the company I work for, Tigera Inc, does provide professional services that could help design/review your architecture if you're interested, https://tigera.io/professional-services/.

[2018-01-24 10:01] gyliu513 commented on #1579
Got it, thanks @tmjd , then we will try to get some data for this in the test. @caseydavenport

[2018-01-24 18:48] caseydavenport commented on #1627
Yep, I'd start by trying to figure this out. You didn't happen to have a previous installation of Calico on these nodes? That might result in the conflicting data.

IIUC, you're seeing that adding a new node in the cluster causes an old node to crash? Or is it the new node that that writes the bad data?

[2018-01-24 19:29] caseydavenport commented on #1406
What's the latest status on this guy? Have we convinced ourselves this is due to stale data, or do we see this happen on fresh clusters as well?

[2018-01-24 19:37] caseydavenport commented on #1632
@r7vme thanks for raising. I think the root cause of this is in the etcdv3 client.

I've got a WIP PR which should hopefully fix this here: https://github.com/projectcalico/libcalico-go/pull/668

However, we need to wait until the etcd v3.3 client code is available, since that is the first release that includes gRPC keepalive support.

[2018-01-24 21:19] r7vme commented on #1632
ack. thanks for the info.

[2018-01-25 03:42] cookeem commented on #1628
@caseydavenport Sorry for reply late, it's my fault, because these nodes have many network interfaces, by default `IP_AUTODETECTION_METHOD` use `first-found` option, that would make this ip address conflict error.
Now I change the `IP_AUTODETECTION_METHOD` to `can-reach=DESTINATION`, everything works fine.
Close this issue.

[2018-01-25 03:42] #1628 closed

[2018-01-25 11:41] fasaxc commented on #1406
@msavlani @r0bj Can you confirm whether you see this on a fresh, clean cluster with the latest Calico?

[2018-01-25 14:16] fasaxc commented on #1632
@caseydavenport DYK if the server needs to be upgraded to get keep-alive support?  If so, we might want to consider a workaround :-/

[2018-01-25 14:33] r0bj commented on #1406
I still can reproduce it on my existing clusters but unfortunately I didn't have a chance to test it on a fresh cluster.
Is there something to do on my existing clusters (I've recreated all pods) to get objective results?

[2018-01-25 16:11] fasaxc commented on #1406
@r0bj Can you send me a new etcd dump after recreating all pods?

[2018-01-25 17:24] r0bj commented on #1406
Sure.
In this case duplicated ip (10.203.131.144) have pods:
`nginx-stateful-test-0`:
[code]

`user-registration-feed-cfbd7bd9b-29hrt`:
[code]

etcd dump:
[etcdctl_get_20180125.tar.gz](https://github.com/projectcalico/calico/files/1664970/etcdctl_get_20180125.tar.gz)

[2018-01-25 18:31] marcellodesales commented on #1049
@raniatriki The URL doesn't take us anywhere... @caseydavenport did you find anything?

[2018-01-25 21:12] caseydavenport commented on #1632
@fasaxc that's a good point, we very well might need an upgraded server as well. We'll need to investigate.

If so, we'll need to decide:
- Write some workaround ourselves
- Notify users that v3.3+ of etcd is required.

[2018-01-27 02:50] mdianjun opened #1641 "Block.affinity is null, in which case it would be?"
The block is empty, and its affinity is null, I don't know why it would be.

[code]

[2018-01-29 16:03] tmjd opened #1643 "calico-node(v3.0.1) panic when in canal setup using etcd datastore"
When I was testing out Canal manifests for #1642 (actually using the v3.0.1 release, not master) I hit the following panic when installing fresh or doing an upgrade and using an etcd datastore.

[code]

## Expected Behavior
calico-node works and applies policy

## Current Behavior
calico-node panics

## Possible Solution
Fix it

## Steps to Reproduce (for bugs)
1. Setup according to the docs in #1

[2018-01-29 16:26] tmjd commented on #1579
@gyliu513 I'm going to close this issue as I think it is resolved. If you do gather some data that you would like to share I think it would be best to create a new issue.
If you want this issue to remain open just let me know and I can re-open it.

[2018-01-29 16:26] #1579 closed

[2018-01-29 19:43] caseydavenport commented on #1641
@mdianjun sounds like you might have encountered a bug.

To start, this check looks like it might be too lenient: https://github.com/projectcalico/libcalico-go/blob/master/lib/ipam/ipam_block.go#L81-L85

That's likely not the cause, but would have at least spotted the error if it was stricter.

I believe this is where new blocks get configured: https://github.com/projectcalico/libcalico-go/blob/ma