[2020-11-18 10:26] michalzxc commented on #4118
Any node, I was restarting one of the workers (not masters), in above example I shared logs from it was "worker1cluster0dc.ad.dice.fm", but it happens with every one of them

This is 5 nodes bare metal clusters. 3 workers nodes, 2 master nodes
[code]

[2020-11-18 10:27] michalzxc commented on #4118
All webhooks deployments, ingress server, coredns, and vault and operators are running on masters

[2020-11-18 10:32] fasaxc commented on #4118
How did you deploy k8s? kubeadm/kops/rancher/....?

[2020-11-18 10:33] michalzxc commented on #4118
kubeadm, it is bare metal cluster running on dedicated hosts from ovh
[code]

[2020-11-18 10:33] michalzxc commented on #4118
ETCDs are running on separate hosts from masters

[2020-11-18 10:34] fasaxc commented on #4118
Are you using host endpoint policy at all?

[2020-11-18 10:35] michalzxc commented on #4118
I am not, all my calico config is:
[code]

[2020-11-18 10:38] michalzxc commented on #4118
I also have kube-vip as LB before masters, this is what LOAD_BALANCER_DNS targets (this is also what is used by users kubectl)
[code]
[code]

[2020-11-18 10:39] fasaxc commented on #4118
Is `localhost` mapped sensibly on your hosts?  I.e. what's in your /etc/hosts file?

[2020-11-18 10:40] michalzxc commented on #4118
[code]

[2020-11-18 10:41] fasaxc commented on #4118
How many pods are you running per host?  How much policy do you have?  How many k8s services?

[2020-11-18 10:41] michalzxc commented on #4118
All hosts IPs are static, without dhcp

[2020-11-18 10:47] michalzxc commented on #4118
- No network policies at all
- This is dev enviroment, every developer can deploy enviroment with our entire stack there
At this moment random for example worker0 has 75 pods, but it can go up to even 700. Kubelet limit is set to 1000 per node
[code]
One dev enviroment has 27 pods:
[code]
and 32 services:
[code]
The biggest amount of enivorments we ever had deployed was 25, in average it is betwee

[2020-11-18 10:48] michalzxc commented on #4118
But we dont use too many LBs:
[code]

[2020-11-18 10:49] michalzxc commented on #4118
One internal ingress accessible with VPN, one external, and one ECR proxy, and these are all LoadBalancers type services

[2020-11-18 10:50] michalzxc commented on #4118
Kube proxy is set with:
[code]
for metallb

[2020-11-18 10:51] michalzxc commented on #4118
Hosts are:
Processor: AMD Epyc 7351P - 16 c / 32 t - 2.4 GHz / 2.9 GHz
Memory: From 128GB

With 3Gbit internal networking between them

[2020-11-18 10:54] michalzxc commented on #4118
[code]
Pings internal networking IP, for calico to use 3Gigs internal networking

[2020-11-18 10:55] michalzxc commented on #4118
[code]

[2020-11-18 11:09] l0x-c0d3z opened #4189 "version"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operating System and version:
* Link to your project (optional):

[2020-11-18 13:03] reddog335 commented on #4171
@caseydavenport - Thank you for the update.  I added the expectedIps to my HEPs and it still did not work.

[code]
After investigating further, the source IP address of the ingress traffic shows up as a Pod network address (100.111.191.###), not the worker node address.  I was able to get around this by changing ipipMode from Always to Never in the default-ipv4-ippool ippool.  After making this ch

[2020-11-18 13:03] #4171 closed

[2020-11-18 13:42] mbarecki opened #4190 "Daemonset pods IP addresses not released when node restarts"
Hello, let me start with saying that Calico is an awesome product and majority of things are working great.

Some issues were observed though with IP addresses of daemonsets pods not being released when node reboots.

## Expected Behavior
Rebooting Kubernetes nodes should not increase amount of IP addresses used.

## Current Behavior
Whenever we restart a node we observe daemonset pods getting ass

[2020-11-19 12:56] ark-g opened #4192 "calico-node should have dnsPolicy explicitly declared as ClusterFirstWithHostNet"
## Expected Behavior
The calico-node pod is running in host network namespace (hostNetwork is "true"), so according to k8s [documentation](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy) such a pod should explicitly declare _dnsPolicy_ as _ClusterFirstWithHostNet_.

## Current Behavior
The calico-node pod has no explicit declaration for _dnsPolicy_ parame

[2020-11-19 14:04] seh commented on #4146
My testing confirms that this problem is fixed by #2589 (and #2588).
Thank you, @tomastigera and @fasaxc!

[2020-11-19 14:04] #4146 closed

[2020-11-19 14:21] TheKangaroo commented on #3940
Quick questing @caseydavenport : is this https://github.com/projectcalico/libcalico-go/pull/1345 targeted for 3.18 or 3.17 milestone? Do you have an ETA for these release(s)?

[2020-11-19 18:10] caseydavenport commented on #4171
Drat.

Ah, yes. If you're using encapsualtion then host->pod traffic will use the IPIP tunnel so that traffic is symmetrical. The IPIP tunnel device on each node is given an address from the pod range in order to enable this.

[2020-11-19 18:14] caseydavenport commented on #3940
@TheKangaroo currently it's only targeted for v3.18, which is still a ways out.

v3.17 is currently in code freeze, but I can probably get this fix in as an exception. Let me see what I can do. If not, I think we could get it into a v3.17.1 patch release shortly after.

[2020-11-19 18:16] caseydavenport commented on #4192
@ark-g is there a particular issue you've encountered as a result of this? Or was this spotted through code-reading?

[2020-11-19 18:16] #4189 closed

[2020-11-19 18:33] ark-g commented on #4192
I found it just by pod declaration analysis.
No actual issues were observed.

On Thu, Nov 19, 2020, 20:16 Casey Davenport <notifications@github.com>
wrote:

[2020-11-19 18:42] seh commented on #4154
The problem lies between Felix's _dataplane/driver.go_ file and _projectcalico/libcalico-go_'s _lib/health/health.go_ file.

In the former's [`StartDataplaneDriver` function](https://sourcegraph.com/github.com/projectcalico/felix@ce40abb9cef32303953e10f1d71c65059d52065e/-/blob/dataplane/driver.go#L47-L346), we [register the health reporter](https://sourcegraph.com/github.com/projectcalico/felix@ce

[2020-11-19 19:24] seh commented on #4154
Please see projectcalico/felix#2593.

[2020-11-19 20:51] caseydavenport commented on #3940
Merged a cherry-pick to v3.17.0: https://github.com/projectcalico/libcalico-go/pull/1346

[2020-11-19 21:37] caseydavenport commented on #3951
It should be OK to have your nodes in different subnets, so long as the router / firewall between those subnets allows the necessary Calico traffic (namely, the BGP port TCP 179).

You will need one type of encap enabled - either IPIP or VXLAN (in either CrossSubnet or Always) in order for pod traffic to work across subnet boundaries.

[2020-11-19 21:39] caseydavenport commented on #3951
If Calico is allocating IP addresses, then an IP pools _must_ actually exist. Since the CNI plugin needs one in order to allocate addresses.

So, this sounds like a calicoctl issue. Either calicoctl is pointing at the wrong etcd, or maybe there is a bug in calicoctl somehow (although I'd be surprised at that)

Yes, this makes sense for clusters using etcd directly. `kubectl get ippools` will only

[2020-11-19 21:42] caseydavenport commented on #4192
The problem using ClusterFirstWithHostNet, is that calico/node is typically launched prior to cluster DNS being available.

calico/node is required in order for kube-dns to work, so having a dependency on kube-dns would be bad and likely prevent calico/node from starting up. So, I think it's correct the way that it is today.

Happy to revisit this if we find a scenario that the current behavior ha

[2020-11-19 21:42] #4192 closed

[2020-11-19 21:59] caseydavenport commented on #4118
Wow, that's a lot of pods on each node! I don't know how well a node can perform running 1000 pods, but suppose it depends on a lot of factors, including what those pods are doing, so maybe it works out.

Any way, in this case it doesn't sound like resource consumption is the likely culprit, according to the `kubectl top` output.

Looks like `localhost` is set to resolve properly, so unlikely to b

[2020-11-19 22:03] caseydavenport commented on #4190
Hm, interesting.

If I had to guess, I'd say that when rebooting the node the kubelet / container runtime isn't getting a chance to call the Calico CNI plugin to release the address.

However, I'd expect the address to be released "eventually" once the kubelet / container runtime completes its garbage collection routine. Generally it's the responsibility of the container runtime to track which con

[2020-11-19 22:15] caseydavenport commented on #4150
You could probably work around this in the hardway documentation by removing the "deleted" field from the "required" section in the IPPools CRD. Now you will really be getting into the "hardway" :D

But agree this sounds like a bug that we fixed in the main manifests already but needs to be ported into the hardway documentation as well.

[2020-11-19 22:21] caseydavenport commented on #4015
Certainly looks like it was just omitted in this code, where we delete all the other per-node resources on deletion: https://github.com/projectcalico/libcalico-go/blob/34d8399da1480a4f47a32d2bb205cc59d7319ec1/lib/clientv3/node.go#L174-L221

[2020-11-19 22:31] Cellebyte commented on #4151
@caseydavenport I added some examples.

[2020-11-19 22:37] caseydavenport commented on #4179
Yeah, BIRD is programming that route and so BIRD will need to remove it. It's learning the route from its BGP session with the other node, and if the other node goes down there is a grace period for BGP graceful restart that will keep the route around waiting for the remote node to come back online.

Forcing the restart is likely bypassing the graceful restart handling, and thus forcing BIRD to up

[2020-11-19 23:02] caseydavenport commented on #4184
@dElogics thanks for raising this issue.

To clarify, the document you're referring to is specifically intended for enforcing policy on nodes that are not a part of a Kubernetes cluster, and so, do not have the Calico CNI plugin, etc, installed. However, the [container install](https://docs.projectcalico.org/archive/v3.16/getting-started/bare-metal/installation/container) method will come with all

[2020-11-20 01:47] majorinche commented on #4186
update for this issue
1, we find the mac address did not learn successfully,like
ip neigh
169.254.1.1 dev eth0  _**FAILED**_

2, and container already sent arp request to cali7b530308a36, but did not receive any echo
13:33:17.060225 ARP, Request who-has 169.254.1.1 tell 10.233.76.201, length 28

3,after manually add mac like:
ip neigh replace 169.254.1.1 lladdr ee:ee:ee:ee:ee:ee dev eth0

4, then

[2020-11-20 08:22] TheKangaroo commented on #3940
Thats great, thank you :)

[2020-11-20 10:06] amin224 opened #4197 "pods calico-node on worker nodes with 'Running' but not Ready 0/1"
Expected Behavior
Pods calico-node on worker nodes should have status '1/1 Ready'

Current Behavior
Pods calico-node on worker nodes are in state '0/1 Ready'
[code]

Steps to Reproduce (for bugs)
I searched around on github and stackoverflow for possible solutions and I found that I need to change configuration in calico.yml file
While installation I ran the following command on my master node ...

[2020-11-20 11:11] seh commented on #4154
Thinking about this more, the patch we committed isn't enough.

We only try to adjust the source/destination check once. If we succeed, Felix reports that it's now ready. Otherwise, it remains unready forever. Since we continue to report that we're live, though, the kubelet won't restart the "calico-node" pod. That means that the pod sits there blocking other things that check for readiness of cri

[2020-11-20 11:11] kifeo opened #4198 "Calico controller looking for non existant IPAMBlock"
I upgraded Calico following https://docs.projectcalico.org/maintenance/kubernetes-upgrade

The calico-kube-controllers log is :
Warning  FailedCreatePodSandBox  74s (x57 over 23m)  kubelet            (combined from similar events): Failed to create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "0c085146c6b6b7bcc36b27ed1a819506264ff579fb9c623f9a5e731853019c42" net

[2020-11-20 13:26] kifeo commented on #4198
closing issue, I just saw that I was in kubernetes 1.17.x, upgraded to 1.18.12, now working

[2020-11-20 13:26] #4198 closed

[2020-11-20 13:49] fasaxc commented on #4154
The idea behind going non-ready in general is that it stops a rolling update with one node "bad" rather than continuing to roll out to the whole cluster.  TBH, I think it might be overkill to gate on the src/dest check at all.  There isn't any "downstream" function that gets activated on the src/dest check, it's just that readiness is our only real feedback to the user that something is wrong and

[2020-11-20 15:42] halfcrazy commented on #4197
The `CALICO_IPV4POOL_CIDR` env will create an ippool with this CIDR if there are no existing ippools otherwise this env will be ignored.
I think you should do the  following steps:

1.sudo kubeadm init --pod-network-cidr=192.168.5.0/24 --apiserver-advertise-address=(IP address of your master virtual machine)
2. wget https://docs.projectcalico.org/v3.9/manifests/calico.yaml
3. vi calico.yaml // edi

[2020-11-20 15:49] david-freistrom opened #4201 "Failed to find exact match for apiextensions.k8s.io/v1.GlobalNetworkPolicy by [kind, name, singularName, shortNames]"
[code]

## Expected Behavior
Create GlobalNetworkPolicy

## Current Behavior
Failed to find exact match for projectcalico.org/v3.GlobalNetworkPolicy by [kind, name, singularName, shortNames]

## Possible Solution
No solution

## Steps to Reproduce (for bugs)
1. Install Calico on EKS with Calico Networking (https://docs.projectcalico.org/getting-started/kubernetes/managed-public-cloud/eks)
2. Creat

[2020-11-20 16:02] halfcrazy commented on #4186
Is proxy_arp successful set for this interface?
`cat /proc/sys/net/ipv4/conf/cali7b530308a36/proxy_arp`

[2020-11-20 16:06] halfcrazy commented on #4201
[code]

[code]

or

[code]

[2020-11-20 16:17] halfcrazy commented on #4021
Can't wait to see it.

[2020-11-20 22:49] majorinche commented on #4186
@halfcrazy
[root@d0506 ~]# cat /proc/sys/net/ipv4/conf/calieabde1eea72/proxy_arp
1

the result is 1, seems successful

[2020-11-21 04:08] david-freistrom commented on #4201
Thanks that works.

[2020-11-21 04:08] #4201 closed

[2020-11-23 04:00] zionwu opened #4202 "Approach to alert when IPPool is going to run out of IP"
My k8s cluster is using Calico v3.6.5. It uses multiple IP Pools and each IP Pool is allocated to a rack.
If the IP Pool is running out of IP, the pod belongs to the rack will be `ContainerCreating` state.
I wonder if there is an approach to alert when an IPPool is going to run out of IP?

[2020-11-23 08:04] amin224 commented on #4197
Hi,

Thank you for your reply. As mentioned above I did the required steps to change my calico file to my desired outcome. Unfortunately, the `CALICO_IPV4POOL_CIDR` value is not changing because when i re-enter the file the value is still in the default state `192.168.0.0/16` .

After applying your steps here is the outcome for the last step:
**kubectl get ippools -o yaml**

[code]

Please note th

[2020-11-23 08:52] halfcrazy commented on #4197
Is your environment a fresh k8s cluster?
Since the `creationTimestamp: "2020-11-20T10:32:31Z"` looks the legacy data. You may need to clean up legacy data.

[2020-11-23 09:59] amin224 commented on #4197
Yes it is a fresh cluster as I created it to work on my calico subnet problem. For the duration, I managed to solve this issue by providing my deployments with parameter `hostNetwork: true` , but as you may know this will expose my pods outside the cluster which is not safe. Can you please elaborate more on what you mean by cleaning up my legacy data. I have searched on other GitHub posts and all

[2020-11-23 10:04] halfcrazy commented on #4197
`kubectl delete -f https://docs.projectcalico.org/v3.9/manifests/calico.yaml`

[2020-11-23 10:16] #3955 closed

[2020-11-23 11:49] mbarecki commented on #4190
Hello @caseydavenport, thank you for reply.

When issue was created we were using cri-o 1.18.1.

Based on your feedback we looked over our configuration of cri-o.
We found that issue was related to cri-o wiping pods on startup.
This was deliberately configured to workaround a problem when pods would not start correctly.

We have upgraded now to cri-o 1.18.4.
In this version wipe is not needed and

[2020-11-23 12:18] amin224 commented on #4197
I deleted my calico.yml file as mentioned above, what can I do to solve my subnet issue,  please be explicit.

[2020-11-23 18:17] caseydavenport commented on #4150
First part of fix here: https://github.com/projectcalico/libcalico-go/pull/1347

Second part here: https://github.com/projectcalico/calico/pull/4205

[2020-11-23 18:26] #4150 closed

[2020-11-23 19:05] caseydavenport commented on #3634
This has been fixed

[2020-11-23 19:05] #3634 closed

[2020-11-23 19:11] caseydavenport commented on #3346
This exists now!

[2020-11-23 19:11] #3346 closed

[2020-11-23 19:12] #3143 closed

[2020-11-23 19:14] #2230 closed

[2020-11-24 02:24] halfcrazy commented on #4197
If you had install calico in this cluster, you need at least delete all the existing ippools(`kubectl delete ippools --all`), then create your own ippool.

subnet.yaml
[code]

`kubectl apply -f subnet.yaml`

[2020-11-24 10:15] zq-david-wang opened #4209 "ipv6 stack is not ready to use immediately after container started to run user command"
kubernetes 1.18 with calico 3.15
ipv6 enable (ipam/felix/calico-node)
deploy iperf3/iperf2 server, assuming server pod has ipv6 address "2001:db8:dead:beef:fe::1000"
deploy iperf3/iperf2 client, setting pod args; [ "sh", "-c", "iperf3 -c 2001:db8:dead:beef:fe::1000" ]

for iperf2 client/server, client would get connect EINPROGRESS error and
for iperf3 client/server, client would get connect timeou

[2020-11-24 12:42] invidian opened #4211 "Unable to drain node running Kube Controller because of Pod Disruption Budget"
## Expected Behavior

Draining the Node running `calico-kube-controllers` should work.

## Current Behavior
`kubectl drain` loops infinitely, as only single `calico-kube-controllers` is allowed to run and PodDisruptionBudget prevents it from being evicted.

## Possible Solution

Ideally  `calico-kube-controllers` should support HA with leases, so multiple instances can run simultaneously, so then

[2020-11-24 13:12] gdziwoki commented on #4211
Hi @invidian .
I have tested this against clusters running k8s 1.15 and 1.18.
Doing `kubectl drain` on node running calico-kube-controller worked just fine for me.
Could you provide more logs on what is happening?

[2020-11-24 13:16] invidian commented on #4211
Oh, my bad, the PDB has `maxUnavailable: 1`, so draining will work as expected. Sorry for the noise.

[2020-11-24 13:16] #4211 closed

[2020-11-24 17:14] realgaurav commented on #3989
@vishal662 -- in addition to what @lmm suggested, can you check what's the node status (kubectl get node -o yaml) and why they are not ready?

[code]

[2020-11-24 17:16] mgleung commented on #4202
Hi @zionwu, unfortunately the only current method of checking IP Pool allocation is to run `calicoctl ipam show` and inspect the utilization. We don't have anything that sets up alerts currently though it has been discussed before. What kind of workflow are you thinking about for this? Also, any PRs to accomplish any parts of this would also be welcome.

[2020-11-24 17:19] caseydavenport commented on #4027
@kifeo I don't see anything suspicious in the logs, could you share an example of one of the services that you're expecting to be advertised? e.g., `kubectl get service X -o yaml`?

[2020-11-24 17:28] realgaurav commented on #4093
Hi @bkahveci -- Can you try using the latest Calico? Calico v3.13 is an older release at this point.

[2020-11-24 17:30] caseydavenport commented on #4039
@pranaypathik looking at those logs for Typha, I see a few things.

First, some logs like this:

[code]

Then, some logs like this:

[code]

These both suggest an issue with Typha being unable to connect to the Kubernetes API server.

Given Typha restarts fix the issue, it sounds like a problem with the connection on the Typha side rather than the API server side.

It looks like you might be hitti

[2020-11-24 17:31] caseydavenport commented on #4039
For now, I'm going to close this as a duplicate of https://github.com/projectcalico/libcalico-go/issues/1267 since I believe they are the same root cause.

[2020-11-24 17:31] #4039 closed

[2020-11-24 17:31] mgleung commented on #4190
Hi @mbarecki, the expected behavior is that the container runtime will eventually always signal the CNI plugin to delete any containers that it has started. This means that the expected behavior depends a little on how the container runtime handles rebooting. If when a node is rebooted, the container runtime stops all of it's containers and starts them again when the node has rebooted, then I woul

[2020-11-24 19:44] oxr463 commented on #3420
@cann0nf0dder any updates?

[2020-11-24 20:29] rodrigogansobarbieri opened #4216 ""add-apt-repository ppa:project-calico/calico-3.17" fails on focal"
Hello,

Following https://docs.projectcalico.org/getting-started/openstack/installation/ubuntu it works on bionic but not focal.

## Expected Behavior

Expected that it would add the repo successfully just as it works on bionic.

## Current Behavior

See error below:

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Boot a focal VM
2. Follow the steps at https://docs.projectcalic

[2020-11-24 20:39] caseydavenport commented on #4190
Yeah, it's really up to the container runtime in this case. I would say the behavior is not defined, so don't rely on IP addresses persisting or changing across reboot. The one thing you shouldn't see is _leaked_ IP addresses, if the container runtime is doing the correct thing and calling delete on terminated containers.

[2020-11-24 20:57] latenite4 opened #4218 "trying to use Calico with kubeadm"
i am trying to install calico with kubeadm kubernetes on google cloud.
there are 3 ubuntu 16 VMs. first one will be k8s master, others will be worker nodes.

## Expected Behavior
i create VMs and run kubeadm and do joins. i try to install calico with:
[code]
[code]

but DNS pods are still in Pending state.

there is no calico-system namespace:

[code]

## Current Behavior
master node is NotReady,

[2020-11-24 22:35] caseydavenport commented on #3940
@TheKangaroo Calico v3.17 is out now! When you get a chance to try it I'd be very interested to see if this resolves the duplicate address issue you were seeing.

[2020-11-25 01:39] zionwu commented on #4202
Hi @mgleung , thank you for the reply.

There are two approaches I can come up with. The first approach is to export the ipam utilization as a metric so we can use Prometheus to collect it and alter when utilization is high. Another approach is calico-kube-controller would emit a k8s event if the utilization is over the configured threshold.
What do you think?

[2020-11-25 03:03] zionwu opened #4219 "Support multiple IP addresses for "cni.projectcalico.org/ipAddrs""
Currently, we can use "cni.projectcalico.org/ipAddrs" to specify a fixed IP for a pod.
In our use case, We would like to have fixed IPs for a deployment with replica more than 1. Could Calico support multiple IP addresses for "cni.projectcalico.org/ipAddrs" in the future?

[2020-11-25 06:35] TheKangaroo commented on #3940
I've seen it yesterday and will update our testing environment the next days. I'll keep you updated about this issue :)

[2020-11-25 09:16] mbarecki commented on #4190
@caseydavenport, @mgleung Thank you very much for help and provided explanations.

This case is solved.

[2020-11-25 09:16] #4190 closed

[2020-11-25 17:44] caseydavenport commented on #4219
Closing as a duplicate of https://github.com/projectcalico/cni-plugin/issues/771

[2020-11-25 17:44] #4219 closed

[2020-11-25 18:20] caseydavenport commented on #4202
I believe that this is a duplicate of this existing issue: https://github.com/projectcalico/calico/issues/2715

[2020-11-25 18:20] #4202 closed

[2020-11-25 18:21] caseydavenport commented on #2715
From https://github.com/projectcalico/calico/issues/4202, another option might be to use Kubernetes events to alert.

[2020-11-25 23:25] johanfleury opened #5202 "Support /64 per node in IPv6 mode"
I’m not sure I’m reporting this at the correct place, but anyway…

## Expected Behavior

In Kubernetes, when a pod is scheduled on a node, the CNI plugin should be able to create an IPAMBlock and assign an IPv6 address from the newly created block.

## Current Behavior

The CNI plugin is unable to assign a IPv6 address because the `IPAMBlock` is created with an empty `unallocated` field and [`NumF

[2020-11-26 11:08] couloum commented on #3145
I have the same issue here, tested on Kubernetes v1.18.12 with Calico v3.17.

I tried the new option `FELIX_FEATUREDETECTOVERRIDE="MASQFullyRandom=false"`, but there's still a `random-fully` generated by kube-proxy on a MASQUERADE rule.

With `FELIX_FEATUREDETECTOVERRIDE="MASQFullyRandom=false"`
[code]

Without `FELIX_FEATUREDETECTOVERRIDE="MASQFullyRandom=false"`:
[code]

I was able to solve it b

[2020-11-26 14:09] Svisstack opened #4223 "Traffic to DaemonSet port in another namespace is not allowed while no policies are defined."
# Expected Behavior

Traffic to the DaemonSet port exposed on the Host IP should be allowed from the pod on different namespaces as no Calico or K8S policies are defined.

## Current Behavior

Traffic to the DaemonSet port exposed on the Host IP is denied if the DaemonSet is on a different namespace than the namespace of the pod initiating a connection.

## Context

Possibly issue could be related

[2020-11-26 15:35] sfudeus opened #4224 "Felix mixes up builddate and gitcommit on startup message"
## Current Behavior

When starting (with info logging enabled), felix e.g. logs the following line:
[code]

As you can see, builddate and gitcommit are switched :-)

## Your Environment
* Calico version 3.17.0
* Orchestrator version (e.g. kubernetes, mesos, rkt): kubernetes 1.18.12
* Operating System and version: FlatCar ContainerLinux 2605.7.0

[2020-11-26 18:30] couloum commented on #3145
If anyone is interested by a reboot-proof solution to apply the workarround (disable offloading on `vxlan.calico`), you can use these 2 files:

**/etc/systemd/system/disable-offloading-on-vxlan.service**
[code]

**/usr/local/bin/disable-offloading-on-vxlan**
[code]

[2020-11-27 17:50] Svisstack commented on #4223
### Updating with Slack communication

lrobson  6 hours ago
Agree that this is unexpected.
Can you explain what you mean by "DaemonSet port exposed on the Host IP"?  Is this a Nodeport service or is that daemonset host-networked?

Artur Pietrzyk  6 hours ago
Something different.

Artur Pietrzyk  6 hours ago
The DeamonSet can be exposed to NodePort without the Service. It's defined in the DaemonSet

[2020-11-27 19:10] andrewhowdencom commented on #3960
Broadly, it happens fairly rarely so we created a liveness probe that probed TCP and forced a reboot (and correspondingly reconstruction of the adapter) and the problem is papered over.

[2020-11-27 19:55] rcomblen commented on #2334
@knfoo You saved my day. I had exactly the same issue with Gitlab and its runner deployed on k8s with Gitlab Charts.

I'm running docker-in-docker (dind) runner, and I was experiencing just the same networking issue.

Indeed, after running an `ifconfig` on the docker-dind container, I see that its main network interface has an MTU of 1376.

Passing a `--mtu 1300` argument to the daemon solves the

[2020-11-28 03:00] ic commented on #2720
That works even more easily with Calico 3.17.0 (and perhaps before, but apparently after your 3.8), as there is no need to edit the manifest anymore, autodetected, according to the [documentation](https://docs.projectcalico.org/getting-started/kubernetes/self-managed-onprem/onpremises):

Also, @holosix approach may require to start with `kubeadm reset`, if you can afford it.

[2020-11-28 17:22] lebrisg opened #4226 "Networking configuration issue"
I try to set up a POC, connecting a VM (CentOS 7) with a 3-node Kubernetes cluster (v1.19/CentOS 7) with Consul.
I have opened a case for one month with the Consul support team but they are always telling me that it's a networking problem without giving me any more details (https://github.com/hashicorp/consul-helm/issues/670).
I tried with Flannel CNI but it seems it's not possible. Then, I tried

[2020-11-30 06:54] uablrek commented on #3254
AFAIK there is no network-overlay for Calico for ipv6. This is needed if you have multiple subnets unless your routers can route all POD addresses. Example;

* POD A in subnet 1000::/64 with ip fd00::1
* POD B in subnet 1100::/64 with ip fd00::2
* Send packet A -> B src/dst  fd00::1 fd00::2
* Calico will have a route for fd00::2 somewhere in 1100::/64, say 1100::1
* Packet goes to an external rout

[2020-11-30 08:42] dostalradim commented on #3748
Same thing happend to me with ClusterIP service which`s IP is routed to cluster. And this solution really helped me. On Kubernetes 1.19.4 and with Debian 9 hosts.

Thanks

[2020-11-30 13:43] invidian opened #4227 "Push multi-arch manifests to quay.io"
## Expected Behavior

Replacing `calico/cni:v1.17.0` with `quay.io/calico/cni:v1.17.0` should work on ARM platforms.

## Current Behavior

`quay.io` registry is returning different manifests than `docker/io`, even though Quay supports multi-arch manifests.

Manifest from `docker.io`:
[code]

Manifes from `quay.io`:

[code]

Sample multi-arch manifest from `quay.io`:

[code]

## Context

Because of

[2020-11-30 19:37] caseydavenport commented on #4227
When we implemented our release infrastructure quay.io did not support multi-arch manifests, and so we have separate images pushed to quay.

If quay.io now supports multi-arch manifests, that is great news! We should update our release process to publish those as well.

[2020-11-30 23:21] caseydavenport commented on #4224
Lovely

[2020-11-30 23:24] caseydavenport commented on #4224
This should do it: https://github.com/projectcalico/node/pull/674

[2020-11-30 23:28] caseydavenport commented on #4197
Yes, this cannot be changed on a running cluster. It is only modifiable on a first-time install.

To modify your IP pool CIDR on a running cluster, you need to follow this doc: https://docs.projectcalico.org/archive/v3.17/networking/migrate-pools

[2020-11-30 23:28] #4197 closed

[2020-11-30 23:29] #4049 closed

[2020-11-30 23:57] dave-meier commented on #4078
Hi @song-jiang - did you have any luck with trying out my scenario? I'm returning to this now from other work and will be working on it tomorrow to look for a workaround.

[2020-12-01 06:05] munkyshi opened #4233 "Unable to reach non-service network hosts from k8s pod configured with Calico CNI"
Looking for support in understanding how to configure / resolve my issue.
I'm a networking noob, so apologies in advance if I'm barking up the wrong tree here.

## Expected Behavior
I should be able to ping a non-service network host from a pod on k8s.

## Current Behavior
Attempts to ping the non-service network host result in 100% packet loss:
[code]

## Possible Solution

Potential reasons:
- I

[2020-12-01 08:05] zq-david-wang opened #4234 "ipv4 ipip/vxlan mode: no tunl route added if the source ip is different from calico-node ip"
Two nodes in different subnet, and each node is itself in two different subnets, so totaly 4 subnets: suba1, suba2, subb1 and subb2
nodeA  ipa1/suba1 ipa2/suba2  calico-node ip: ipa1
nodeB  ipb1/subb1 ipb2/subb2  calico-node ip: ipb2

when nodeA try to connect ipb1, it would use source ip ipa1
when nodeA try to connect ipb2, it would use source ip ipa2

Each calico-node is setup using ipip/vxlan m

[2020-12-01 21:43] #4224 closed

[2020-12-02 00:26] caseydavenport commented on #4186
Hm, normally if proxy_arp is enabled but you're not seeing responses, it's because the host doesn't think it can actually proxy ARP for that destination. However, it looks like your host _does_ have a default route, which should be enough to trigger proxy ARP for the pods.

What are you using for the following values in this cluster:

- Pod CIDR?
- Node CIDR?
- Service CIDR?

Another long-shot sce

[2020-12-02 00:49] majorinche commented on #4186
@caseydavenport
thanks for you feedback.
sadly, my host doesn't have any default route, my route table shows like following
[root@d0506 ~]# ip r
0.0.0.0 via 172.18.163.254 dev bond0.1103

0.0.0.0 is not a network, but a host address, only 0.0.0.0/0 is the default network, my bad.

[2020-12-02 00:49] #4186 closed

[2020-12-02 21:56] tommasopozzetti opened #4235 "Kubelet stuck in pod deletion due to "WorkloadEndpoint not found" error from the CNI plugin"
## Expected Behavior
The CNI plugin should be able to handle the case of a missing WorkloadEndpoint (possibly due to a previous partial deletion or an ungraceful node shutdown) during pod deletion and allow the Kubelet to terminate the teardown process to remove the container.

## Current Behavior
It seems that it sometimes happens that a pause container has exited but is still to be deleted while

[2020-12-02 23:17] bdaoudtdc opened #4237 "CRD fails to apply on upgrade - preserveUnknownFields must be false in order to use defaults"
## Expected Behavior
No errors while upgrading

## Current Behavior
The CustomResourceDefinition "bgppeers.crd.projectcalico.org" is invalid: spec.preserveUnknownFields: Invalid value: true: must be false in order to use defaults in the schema

## Possible Solution

## Steps to Reproduce (for bugs)
kubectl apply -f calico.yaml --validate
1.
2.
3.
4.

## Context
Trying to upgrade calico

## Your En

[2020-12-02 23:22] caseydavenport commented on #4237
@bdaoudtdc just want to confirm, you're upgrading from Calico v3.1.4 to v3.1.7 on Kubernetes 1.17? Or do you mean v3.14 to v3.17?

We never released a v3.1.14 or a v3.1.17

If you're using Calico v3.1, I'm not sure that can be expected to work. Calico v3.1.x is _very_ old, and we stopped testing of it around the time of Kubernetes 1.10, which is also quite old.

https://docs.projectcalico.org/arch

[2020-12-03 01:07] bdaoudtdc commented on #4237
Sorry this was a typo ... versions adjusted.

[2020-12-03 11:34] shashankv02 opened #4241 "routes not being setup for daemonset pod on newly added nodes until the pod is restarted manually"
When a new node is added to cluster (using kubeadm join), the daemonset pods start automatically. Sometimes one of these pods doesn't get proper pod network setup. Just deleting the pod and letting it getting recreated fixes the issue. The issue occurs randomly and is not consistently reproducible everytime.

[code]

This node 10.102.162.224 is a newly joined node. Observe the three pods having th

[2020-12-03 11:46] eirikrye commented on #4237
Same issue with Kubernetes 1.19.4.

Two possible solutions:

1. Add `preserveUnknownFields: false` to the CRD spec:

[code]

2. Remove the default value set for `spec.keepOriginalNextHop`. This is the only default set for any of the CRDs used by Calico in 3.17.

The CRD will apply successfully in both cases.

[2020-12-03 14:24] bdaoudtdc commented on #4237
Thank you .
I added
 preserveUnknownFields: false

and it ran OK.

[2020-12-03 17:38] caseydavenport commented on #4237
Sounds like we need to be making one of those changes in our CRD manifests, so I'm going to keep this open.

[2020-12-04 12:53] dostalradim commented on #3795
Same issue happend to me. But I have no GlobalNetworkPolicy.

[2020-12-04 14:34] dostalradim commented on #3795
Noo I am sorry, my mistake. I change kube-proxy mode last week a did not change config of node local dns.

Sorry

[2020-12-04 15:28] seh opened #4242 "Calico in eBPF mode with pods using host network doesn't satisfy AWS NLBs"
## Motivating Scenario

Similar to #4146, with Calico's eBPF data plane active in "Tunnel" mode, after creating a Kubernetes _Service_ of type "LoadBalancer" annotated with "service.beta.kubernetes.io/aws-load-balancer-type" with value "nlb," the Kubernetes AWS cloud provider creates an EC2 Network Load Balancer. If this _Service_ selects pods that **use the host network** (that is, [the "spec.hos

[2020-12-05 03:58] dimm0 commented on #1942
Is there any better way to do this in 3.17?

[2020-12-05 12:36] rgarcia89 commented on #1942
@dimm0 I have not seen any other way then to use this hack.
It is currently working on version v3.15 clusters.

Maybe @caseydavenport or @redbaron know more

[2020-12-05 21:01] kayanme opened #5193 "Cannot find the interface by management ip on Windows server 2019"
I'm trying to initialize Calico BGP network on Windows with Russian  language pack.
HNS is created correctly by calico-node , but then it is waiting for interface and can not find it.
## Expected Behavior
Should find an interface for an adapter

## Current Behavior
Cycles through these messages (the Windows is on Russian):

2020-12-05 23:20:46.864 [WARNING][4144] startup/dataplane_windows.go 611:

[2020-12-05 23:05] kayanme opened #5192 "Endpoint tries to attach to HNS every time it tries to initialize."
Every action, pod net initialization etc. is impossible due to already attached endpoint.

## Expected Behavior
Endpoint should initialize correctly.

## Current Behavior
Now it is always message like this:
2020-12-06 01:48:27.185 [ERROR][1276] dataplane_windows.go 575: Unable to hot attach bridge endpoint [Calico_ep] to host compartment, error: failed during hnsCallRawResponse: hnsCall failed in

[2020-12-05 23:48] ZaMaZaN4iK commented on #717
Any updates? Is there any guide, how to install `calico` with helm chart?

[2020-12-06 16:48] tscswcn opened #4243 "get error: Failed to get resources: client: etcd cluster is unavailable or misconfigured; error #0: EOF"
can't get calico status by using calicoctl

## Expected Behavior

show correct calico node status

always can't

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. please see following:

[code]
[code]
[code]
[code]
[code]
[code]
and
[code]
and hang  and can't get reslut

2.
3.
4.

## Context

## Your Environment

* Calico version
calico-kube-controllers:
    Container

[2020-12-07 03:57] tscswcn opened #4244 "can't set calico rr"
can't set calico bird rr
root@node122:~# calicoctl apply -f node121.yaml
Failed to apply 'Node' resource: [update conflict: Node(node121)]

## Expected Behavior

root@node122:~# calicoctl apply -f node121.yaml

reply one successfully  message

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.    kubectl label node node121 route-reflector=true
node/node121 labeled
 kub

[2020-12-07 04:54] sjh5205 opened #5250 "Felix clears XDP programs it doesn't own"
I'm using XDP for modify packet payload directly on datapath.
But also Calico use XDP for failsafe ports and CIDR map.

When each Calico's XDP resync period, my XDP program has been wiped out, our system is not working properly.

## Context
Felix wipe out attached XDP program on each XDP resync period.
Can I shutdown XDP functionalities in Calico?

## Your Environment
I'm using Kubernetes from Kub

[2020-12-07 05:27] tscswcn commented on #4244
DATASTORE_TYPE=kubernetes KUBECONFIG=~/.kube/config  calicoctl -l info  apply -f node121_new.yaml
INFO[0000] Log level set to info
INFO[0000] Executing config command
INFO[0000] Processing type &{map[apiVersion:projectcalico.org/v3 kind:Node metadata:map[annotations:map[projectcalico.org/kube-labels:{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","ku

[2020-12-08 10:52] younus2019 opened #4247 "Error while Installing an OpenShift 4.6 cluster with Calico on GCP"
I am following the below url for Installing an OpenShift 4.6 cluster with Calico on GCP,
https://docs.projectcalico.org/getting-started/openshift/installation

after Updating the configuration file to use Calico, then i run below command to Create the cluster
$openshift-install create cluster

while running the create command it will generate below error:

[code]

Please help me to resolve this is

[2020-12-08 13:27] TheKangaroo commented on #3846
Just wanted to mention here, that this is still a problem if you open the yaml in chrome and copy it from there. I'll try to paste it here, the diff is, for example:
[code]
is there any reason to use “ over " or ' in the crd descriptions?

[2020-12-08 14:42] marshallford commented on #3846
That was my thought as well. I looked at making a PR but couldn't find the true "source" or input that is used to generated the released manifests. Maybe someone else can poke around?

[2020-12-08 17:05] TheKangaroo commented on #4237
I ran into the same issue today. Do you already have a recommendation about which of the two solutions is the correct one?

[2020-12-08 17:09] caseydavenport commented on #4218
@latenite4 can you check the output of the following commands?

[code]
[code]
[code]

I am guessing that, for some reason or another, the operator has not launched.

[2020-12-08 17:10] lmm commented on #4031
Closing for now, please open another issue if you're still having issues, thanks!

[2020-12-08 17:10] #4031 closed

[2020-12-08 17:13] song-jiang commented on #4244
I think you should follow the yaml format for a node as https://www.tigera.io/blog/configuring-route-reflectors-in-calico/

Your yaml file seems to has extra fields not required.

[2020-12-08 17:13] lwr20 commented on #4243
The error is saying that the etcd cluster present at the URL you've provided.

We need to check a couple of things before going further:
- are you actually using etcd as the calico datastore?  Most current kubernetes installs don't use it (which would explain this error!)  Can you link to the calico.yaml that you used to install calico please?  That should tell us which datastore you're using.

If

[2020-12-08 17:17] lwr20 commented on #4051
Also output of `ip route` on the node with the failed pod.

If you happen to see a pod in this state, you might try jumping onto the Calico slack http://slack.projectcalico.org/ and we can try to help you live.

[2020-12-08 17:20] lmm commented on #4235
Thanks for digging into this @tommasopozzetti . It does look like the cni del is catching Calico errors only. I wonder if we're returning a k8s error from libcalico-go to maybe make it more generally consumable by other projects maybe. @caseydavenport wdyt?

[2020-12-08 17:25] lmm commented on #4247
@younus2019 the issue you're seeing is an OpenShift-specific issue I think - can you double check by looking at the output of the tigera-operator in the `tigera-operator` namespace. Could you paste the output of its logs?

I've seen the error logs you're seeing on AWS when security group rules are missing.

[2020-12-08 17:26] mgleung commented on #4234
Hi @zq-david-wang , would you be able to post some logs for this? I want to try to verify if BIRD is our issue or if our vxlan implementation is.

[2020-12-08 17:29] lmm commented on #4151
(@caseydavenport 🔔  just pinging you in case this is relevant to the loadbalancer IPs stuff you're working on.)

[2020-12-08 17:30] caseydavenport commented on #4233
It sounds like you have pod-to-pod connections working fine, as well as pod-to-kubernetes-service connections. Is that correct?

If so, then the main issue here is that pods are having trouble initiating outbound connections to things _outside of the Kubernetes cluster_.

Does that sounds like an accurate summary?

If so, then I suspect that there is something going on outside of the k8s network l

[2020-12-08 17:32] song-jiang commented on #4226
You need to setup BGP peer between your VM and the rest of Kubernetes nodes. Maybe try to install calico as a container in your VM? https://docs.projectcalico.org/getting-started/bare-metal/installation/container

[2020-12-08 17:33] TheKangaroo commented on #3940
HI @caseydavenport, I upgraded the first cluster to 3.17.0, but unfortunately I still see the same errors in calico-kube-controller. I increased the loglevel to debug:
[code]
[...]
[code]
[code]
[code]
I split the logs in multiple code blocks since the "Releasing all IPs"-blocks are examples and logged multiple times for different ipamhandles. The "Node still exists, continue"-lines change every t

[2020-12-08 17:58] neiljerram commented on #4216
Yes indeed, we currently only build for Trusty, Xenial and Bionic.

If someone would like to take a look at adding the Focal support, the place for that is https://github.com/projectcalico/packaging/

If you check out that repo and search for bionic, it should be pretty obvious what's needed to add in support for another Ubuntu distro.

[2020-12-08 18:31] rodrigogansobarbieri commented on #4216
Indeed, it is easy and obvious to add the recipe for building focal. I have prepared a PR, but it does not work as networking-calico does not build smoothly in focal. I haven't had time to debug the error. See below:

https://paste.ubuntu.com/p/R7nJ6tYn8B/

[2020-12-08 19:27] munkyshi commented on #4233
Yep, that's an accurate summary.

By node, you mean the underlying host behind the k8s node? Yes, that is able to reach the proxy (and running a pod with `hostNetwork: true` is also able to reach the proxy).

[2020-12-08 19:55] andrewhowdencom commented on #3960
(to answer the earlier question, docker)

[2020-12-08 23:02] dave-meier commented on #4078
Another problem I am seeing, is that my Target Group in AWS shows the nginx service as unhealthy for Kubernetes nodes that do NOT have the nginx pod running. I only run one nginx pod in the cluster for each namespace. In the screenshot below, you can see that the nginx service is healthy only on the first node, and that is the node that the nginx pod is running on.
![image](https://user-images.git

[2020-12-09 08:51] mozhuli opened #4248 "[3.16.1 arm] calico-node needs to be restarted in order to accept new BGP peers [all node is arm]"
## Expected Behavior

calico-node no need to restart to accept new BGP peer

## Current Behavior

when add a new node, existed calico-node no need to restart to accept new BGP peer

## Possible Solution

existed calico-node restart will success accept new BGP peer

## Steps to Reproduce (for bugs)

we use router-reflector to build calico cluster in kubernetes
[code]

[code]

calico-node-bkr2q (192

[2020-12-09 08:55] mozhuli commented on #4248
similar to  #1420

[2020-12-09 12:51] mozhuli commented on #4248
@caseydavenport

I found the root cause: `exec bird -R -s /var/run/calico/bird.ctl -d -c /etc/calico/confd/config/bird.cfg/ ` should be `exec bird -R -s /var/run/calico/bird.ctl -d -c /etc/calico/confd/config/bird.cfg`

[code]

calico/node:v3.16.1-arm64 -->calico/node:v3.16.5-arm64 has all the problem

[2020-12-09 13:49] mozhuli commented on #4248
also remove calico-node， the bgp peer info has removed in `/etc/calico/confd/config/bird.cfg`, but not clean in node status

[code]

[2020-12-09 16:15] younus2019 commented on #4247
I have added tigera-operator log. please check
$ ./oc logs  tigera-operator-7fb84fc5ff-9xvc8 -n tigera-operator
2020/12/09 09:20:48 [INFO] Version: v1.13.0
2020/12/09 09:20:48 [INFO] Go Version: go1.14.4
2020/12/09 09:20:48 [INFO] Go OS/Arch: linux/amd64
I1209 09:20:49.265628       1 request.go:645] Throttling request took 1.034674282s, request: GET:https://...:443/apis/rbac.authorization.k8s.io/v

[2020-12-09 19:52] caseydavenport opened #4249 "Support for NetworkPolicy port ranges"
Proposed in this KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2079-network-policy-port-range

Calico already supports port ranges, so this should be pretty easy to do.

Just need to bump the API version we include to one that has the new types, add the right translation code to libcalico-go so that it translates NP port ranges to Calico port ranges.

Upstream PR imp

[2020-12-09 23:12] lmm commented on #4247
I think I might know this is. For OpenShift on AWS, the tigera-operator handles adding extra security group rules that Calico requires: https://github.com/tigera/operator/blob/master/pkg/awssgsetup/aws_security_group_setup.go#L92-L121

In order to get this to work in GCE I think you'll need equivalent firewall rules applied to the cluster nodes. @tmjd does that sound right to you?

[2020-12-09 23:27] lmm commented on #4241
Hi @shashankv02 , thanks for the diags. Have you tried using a more recent Calico version? There have been a lot of improvements to Felix since v3.12 that might have addressed this issue.

[2020-12-10 00:58] caseydavenport commented on #3846
There's no reason we need to use those characters.This has been on the back of my mind for a while but I haven't gotten around to fixing it yet (I think there's another issue open tracking it).

The yaml itself is generated from code comments in this package, if you'd like to look at fixing it!

https://github.com/projectcalico/libcalico-go/tree/master/lib/apis/v3

[2020-12-10 01:11] caseydavenport commented on #4237
In this case it appears that the default value specified in the schema matches the default that would occur anyway due to golang defaulting (i.e., false). So, it should be safe to simply remove the default. https://github.com/projectcalico/libcalico-go/blob/master/lib/apis/v3/bgppeer.go#L78

I still need to wrap my head around the implications of setting `preserveUnknownFields: false`, and so migh

[2020-12-10 03:16] mozhuli commented on #4248
I use kill -1 $bird-pid , the bird receive SIGHUP signal,

the bird confd
[code]

[2020-12-10 04:38] mozhuli commented on #4248
https://github.com/projectcalico/node/pull/652 has fixed it

[2020-12-10 04:42] #4248 closed

[2020-12-10 09:32] #4242 closed

[2020-12-10 13:47] song-jiang commented on #4078
@dave-meier Sorry I was busy on something else and totally forgot about this thread. Could you show me the log to see how pods are running on each nodes?
[code]
Are those pods all running on Windows nodes?

[2020-12-10 17:09] #2965 closed

[2020-12-10 17:10] song-jiang commented on #4046
Close this issue. @vladh91 you can reopen if you are certain it is a Calico bug.

[2020-12-10 17:10] #4046 closed

[2020-12-10 17:10] #2880 closed

[2020-12-10 17:18] lwr20 commented on #4209
A Kubernetes environment is very much an eventually-consistent environment.  Applications **must** retry connections if they don't work immediately.

Calico starts all pods with a deny-all policy until it can get the correct policy from the k8s APIserver.  The thinking here is that it would be a security risk if a pod could bypass network policy in a window just after startup.  That round-trip to

[2020-12-10 17:23] caseydavenport commented on #4241
Yeah, this is curious. The CNI plugin should be setting up that interface, and is the same component that should be allocating the IP address (which we see is working).

One thought - do you have any other CNI configurations besides the Calico config in `/etc/cni/net.d` on your hosts? Perhaps this pod is being launched with a different CNI plugin before Calico gets a chance to install its config?

[2020-12-10 17:26] mgleung commented on #4223
Hi @Svisstack , what happens if you apply a policy that explicitly allows the host ports? I'm trying to distinguish if this is an issue with our policies or networking.

[2020-12-10 17:26] caseydavenport commented on #2660
This really sounds like an issue with kube-proxy, who is responsible for preserving the source address when handling externalTrafficPolicy: Local services.

[2020-12-10 17:26] #2660 closed

[2020-12-10 17:31] #3315 closed

[2020-12-10 17:32] #4185 closed

[2020-12-10 17:35] #3090 closed

[2020-12-10 17:35] #2900 closed

[2020-12-10 17:36] #2969 closed

[2020-12-10 17:37] #2812 closed

[2020-12-10 17:38] #2927 closed

[2020-12-10 17:38] caseydavenport commented on #3665
@liorfranko did you ever get past this?

[2020-12-10 17:38] cabrinha commented on #717
This issue has been open since 2017. Can we get a helm chart made for calico please?

[2020-12-10 17:39] lwr20 commented on #3194
As described here: https://docs.projectcalico.org/reference/node/configuration#ip-autodetection-methods you need to give Calico a hint as to which IP it should be using.

[2020-12-10 17:39] caseydavenport commented on #4130
@AvRajath any update on this?

[2020-12-10 17:39] #4130 closed

[2020-12-10 17:40] #3561 closed

[2020-12-10 17:41] caseydavenport commented on #3960
Hm, we test pretty extensively with Docker, but I suppose that an issue like this might just appear as a flake and get missed. I'm still feeling confident that this is a runtime / configuration issue rather than a Calico issue. The CNI plugin needds to assume the netns it is provided is correct. If it's given an incorrect netns... well, there's not much it can do!

[2020-12-10 17:42] #3243 closed

[2020-12-10 17:43] #3538 closed

[2020-12-10 17:44] mgleung commented on #3673
Closing because this is stale. Please reopen if more issues occur.

[2020-12-10 17:44] #3673 closed

[2020-12-10 17:45] mgleung commented on #3818
Closing due to lack of recent activity. If this problem still persists, please reopen.

[2020-12-10 17:47] lwr20 commented on #3254
This issue covers adding an overlay for IPv6: https://github.com/projectcalico/libcalico-go/issues/996

I'm going to close this.

[2020-12-10 17:47] #3254 closed

[2020-12-10 17:53] koehn commented on #2927
FWIW, something changed in either nginx and/or calico, and I'm now able to get external IP addresses in nginx on k8s.

[2020-12-10 18:11] #3741 closed

[2020-12-10 18:14] lmm commented on #3741
I think this has less to do with Calico and maybe more about BGP networking infra setup. If you have any more questions about this, join our Slack (https://calicousers.slack.com/) - perhaps another Calico user has looked into this area.

[2020-12-10 21:25] dave-meier commented on #4078
@song-jiang Thanks for getting back to me on this.

The pods are all exclusively on Windows. Currently Windows 1909 Server Core, but I also saw the same behaviour with Windows 2004 Server Core.

[code]

The Target Group in AWS. Using default Amazon VPC Container Network Interface (CNI)
![image](https://user-images.githubusercontent.com/66491120/101830748-d3321d80-3ae9-11eb-94f6-996674c93b75.png)

[2020-12-10 21:42] dave-meier commented on #4078
Applied the policy to both green and green2:
[code]
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  namespace: green2
  name: deny-traffic-other-namespaces
spec:
  podSelector:
    matchLabels:
  ingress:
  - from:
    - podSelector: {}
[code]

[2020-12-10 22:39] dcbw commented on #3145
FWIW, the upstream kernel patch that fixed the issues we had root-caused for OpenShift and some Kubernetes use-cases is https://github.com/torvalds/linux/commit/ea64d8d6c675c0bb712689b13810301de9d8f77a and is present in the 5.7 and later kernels, and the RHEL 8.2's kernel-4.18.0-193.13.2.el8_2 and later as of 2020-Jul-21. I presume CentOS 8.2 has this fix already.

Other distros (Ubuntu 20.04.1) m

[2020-12-11 01:13] zq-david-wang commented on #4209
@lwr20 thanks for the explanation, that make sense.

The k8s cluster I was testing was running on low end hardware,  sometimes apiserver did report etcd timeout.
During the test, I do observe the problem only with ipv6 pod... maybe it was the case just by chance.

Close the issue.
Thanks

[2020-12-11 01:13] #4209 closed

[2020-12-11 02:54] zq-david-wang commented on #4234
https://gist.github.com/zq-david-wang/90ebf63daafe9a1e5b5b3000e8f4e4c6
@mgleung
The logs were captured via "docker logs [calico-node] | grep -v kube-system"
and at the end , the output of "calicoctl node status" is pasted

[2020-12-11 09:35] lwr20 commented on #4209
I agree that its suspicious that ipv6 and ipv4 behave differently.  Next time I have a stress-testing cluster up, I'll have a look into this...

[2020-12-11 13:28] Anil-YadavK8s commented on #2999
We facing the same issue.  When accessing a service from its own POD --> SNAT is happening (Service is type LoadBalancer with ExternalTrafficPolicy=Local)

admin@control-plane-2~> kubectl exec pod-1 -it -- curl 10.217.100.70:80 -----> This is LoadBalancer service ip of Pod-1
 CLIENT VALUES:
client_address=10.0.10.105 ===============> This is Node IP .....It should be POD-1 IP
command=GET
real path

[2020-12-11 17:07] song-jiang commented on #4078
@dave-meier I think I've got enough information. Thanks for the details. I am guessing the reason nignx can still access nginx2 is because they are on same node, where ae is not.

Can you log into your Windows nodes where nginx of namespace green2 is located? Then run the following command to get endpoint info for the pod.
[code]

[2020-12-11 17:19] dave-meier commented on #4078
@song-jiang I have a new cluster set up now, but it is a very repeatable case, so I will do this with the new green2 nginx this afternoon. I did do another test where green nginx was denied access to green2 ae, and these two containers were running on the same node. In that test run:

green                        green2
------                         -------
ae node 1                  ae node 2
ng

[2020-12-11 17:41] song-jiang commented on #4078
@dave-meier If you are creating a new cluster, a dump of pod ips in `green green2` would be helpful.

[2020-12-11 18:27] champtar opened #4254 "vxlanMode: CrossSubnet sends 100% of the traffic via vxlan"
## Expected Behavior
Pod to Pod traffic is routed and not encapsulated if the other nodes in in the same subnet

## Current Behavior
[code]
[code]

## Possible Solution
No idea, maybe some missing config on my side

## Steps to Reproduce (for bugs)
Deploy a cluster using Kubespray, setting calico backend to vxlan, ipipMode: Never and vxlanMode: CrossSubnet

## Context

## Your Environment
* Calico

[2020-12-11 18:31] champtar commented on #4254
[code]
[code]

[2020-12-11 19:12] champtar commented on #4254
[code]

[2020-12-11 20:22] champtar commented on #4254
I can reopen in https://github.com/projectcalico/felix/issues if needed ;)

[2020-12-11 23:58] dave-meier commented on #4078
@song-jiang I didn't manage to get to this today, and I'm out for the holidays, returning first week of January. Hoping you have enough info to examine the code and possibly see why it might be happening. Thanks for the help and I will reach out the first week of January.

[2020-12-12 00:35] jayunit100 opened #4255 "windows: Get-WmiObject doesnt work in powershell 7?"
## Expected Behavior

Powershell installer would work on powershell v7

## Current Behavior
Sems like the ` Get-WmiObject win32` is calling an old powershell library . ? Not really sure, but it doesnt seem to work

[code]

## Possible Solution

Maybe run an old powershell version when installing calico.psm1

## Steps to Reproduce (for bugs)
1. try to run https://docs.projectcalico.org/getting-star

[2020-12-13 07:52] liorfranko commented on #3665
No, I didn't, I moved on to something else.

[2020-12-14 01:24] artemry-nv opened #4256 "quay.io/calico/cni:v3.16.5-arm64 - incorrect architecture in manifest and inside the image?"
[code]
Is it correct that there's ` "architecture": "amd64"`? And it looks like there're x86_64 binaries inside.
For comparison older versions:
[code]

[2020-12-14 09:29] MridulS opened #4257 "CrashLoopBackOff on calico pods leads to loopback interface being down"
We run a Kubernetes cluster with calico and sporadically the cluster goes down (~once a month). The calico pod on one of
the nodes goes into  perpetual `CrashLoopBackOff` state and the node's loopback interface is down (can't even ping itself).

One thing to note is that we run around ~200 pods in that node.

## Expected Behavior

The cluster should be stable.

## Current Behavior

`ip address sho

[2020-12-14 13:19] Svisstack commented on #4223
@mgleung I have no longer possibility to check that.

[2020-12-14 14:18] shashankv02 commented on #4241
@caseydavenport There is only one CNI.

[code]

Is there any other diagnostic information I should collect that might be helpful?

---
@Imm Thanks for the suggestion. I will try more recent version of calico on a development cluster whenever possible. Do not want to upgrade anything on production clusters without making sure the exact issue is fixed on a later version to avoid new regressions or b

[2020-12-14 14:36] perithompson commented on #4255
@jayunit100 Powershell 7 doesn't contain WMI interfaces as it is a cross-platform version.  At the current time, you will need to use the Powershell version that is contained in the WMF 5.1

[2020-12-14 14:37] jayunit100 commented on #4255
yeah we can make a PR to fix gthis i guess, just break if users try ps 7

[2020-12-14 18:08] tscswcn commented on #4244
I have fixed the issue, thanks!

[2020-12-14 18:08] #4244 closed

[2020-12-14 18:13] Mnbill commented on #3818
Hello,

I have the same problem on my on-premise cluster but with validate.nginx.ingress.kubernetes.io webhooks

**Context
Your Environment**

K8s version 1.18.3
Calico v3.17.0
vxlan mode
Openstack cloud.
MTU 1400 (but i tried also 1410 and 1450)

[2020-12-14 18:32] tmjd commented on #4247
Yes those ports and protocol will need to be allowed. To summarize you need to allow between all k8s hosts (workers and control plane) the IPIP protocol (4) and tcp ports 179 and 5473.
I think it is hard to tell, especially with OCP, if this is the problem but certainly something that should be configured or verified that the traffic is allowed.

[2020-12-14 19:05] lmm commented on #4255
@jayunit100 thanks for the report!

Hmm... did the error go away and was networking working?

Yeah we need to add support for containerd

What issues did you encounter with kube-proxy?

[2020-12-14 19:07] lmm commented on #4255
Thanks, we'll need to fix this

[2020-12-15 07:07] artemry-nv opened #5219 "quay.io/calico/kube-controllers:v3.17.1-arm64 - wrong architecture?"
[code]

[2020-12-15 13:08] Davidrjx commented on #2561
but IP_AUTODETECTION_METHOD tunning seems not working in my case

[2020-12-16 02:17] Davidrjx commented on #1709
any update for this issue? i ran into similar problem at vms with running calico-node in pod not ready that looks like
[code]

[2020-12-16 06:46] shashankv02 commented on #4241
Been trying to recreate this by removing and adding nodes with a script. Seeing the same issue i.e., cannot access the docker-registry-proxy pod at hostPort 5000 on new node. This time the root cause seems to be different. I see the interface and static routes have been setup properly on the new node this time. But the hostPort jptables rules are not written. The docker-registry-proxy pod listens

[2020-12-16 07:39] Bo0km4n opened #4259 "[Help Wanted] ipamhandles is increased and these bloating the data size of etcd"
## Expected Behavior
ipamhandles will be compressed over a period of time

## Current Behavior

![image](https://user-images.githubusercontent.com/15085723/102318628-fdd61780-3fbc-11eb-98bf-b0adb671014c.png)

ipamhandles objects are increased.
Do you know how to reduce the increase?

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico vers

[2020-12-16 13:58] song-jiang opened #4260 "In some cases Calico for Windows detects wrong provider ip on VXLAN"
Calico for Windows share same code base to auto detect node ip. In some cases, Calico picked the Gateway IP from the NAT network that was previously left behind on host

## Expected Behavior

## Current Behavior

## Possible Solution

Calico for Windows should use management ip of `Calico` network as node ip.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico

[2020-12-16 18:49] #4237 closed

[2020-12-16 23:20] caseydavenport commented on #4256
Yeah, this looks wrong to me. Not sure how that happened.

[2020-12-16 23:41] caseydavenport commented on #4256
So, I think this might just be a display issue with docker manifest inspect.

I get the same result as you, but when I try to run this on an amd64 machine I get the following:

[code]

I don't have an arm64 env to try this on, though.

[2020-12-17 05:05] t-tran opened #5249 "Iptables insert mode to insert calico rules at a position other than top of the chain"
We use Calico (host protection) heavily together with our own in-house iptables-based firewall and another tool which manages their own iptables rules too. We sometimes want Calico rules to be in the between our own firewall and the other tools' rules. Something like this:

[code]

With current "ChainInsertMode" options ("Insert" or "Append"), the Calico rules can only be at the top or bottom of t

[2020-12-17 19:20] brathina-spectro opened #4262 "vxlan.calico int down"
Calico daemonset installation on Kubernetes cluster doesn't create vxlan.calico interface.

## Expected Behavior
vxlan.calico interface gets created and calico runs fine

## Current Behavior
vxlan.calico interface fails to get created

## Steps to Reproduce (for bugs)
- Install Calico kubernetes daemonset
- Give the pods a few minutes to come up
- Calico pods will have the error message constantly

[2020-12-18 01:49] charnet1019 opened #4270 "calico-ipam generates a large number of core files, causing the disk to fill up"
os: CentOS Linux release 7.8.2003 (Core)
kernel: 4.18.9-1.el7.elrepo.x86_64
calico-ipam: v3.13.4

![image](https://user-images.githubusercontent.com/18616254/102564513-916f2b80-4116-11eb-8311-8851456b115e.png)

[2020-12-18 12:44] dotbalo commented on #3134
There has been no solution to this problem. I tried many methods but couldn't solve the problem. In the end, I gave up.Everything looks normal, and bird can connect normally.
[code]

But there is no calico interface.
[code]

But except 192.168.1.230, other nodes are working normally.

[2020-12-18 18:38] rikatz commented on #4249
@caseydavenport you can assign this to me, I will take a look as soon as the code gets merged (so can use the latest library, etc etc)

[2020-12-18 19:09] champtar commented on #4254
[code]

[2020-12-18 21:39] champtar commented on #4254
Thanks to @caseydavenport and @lwr20 for the help
The issue is that kubespray put the following in the calico-node manifest:
[code]
So calico doesn't do any autodetection and consider that the node address is `status.hostIP/32`, so it's not in the same subnet as anything
[code]

Proper fix is already merged, see https://github.com/projectcalico/node/pull/593
In the mean time, you can use the follo

[2020-12-18 21:39] #4254 closed

[2020-12-21 09:26] dotbalo opened #4273 "bird: Netlink: Network is down, The new node cannot work"
I have a k8s cluster, which worked normally before. Then several nodes have been added recently, the bird connection is normal, and the Calico Pod is also normal. But Calico's Pod log keeps printing: **bird: Netlink: Network is down**. At this time, the new node cannot ping the Pod's IP on other nodes.
I mentioned an [issue](https://github.com/projectcalico/calico/issues/3134) before, but this iss

[2020-12-22 06:14] tscswcn opened #4275 "calico-bpf routes dump failed"
calico-bpf routes dump failed, get error messages:
ERRO[0000] Failed to dump routes map.                    error="failed to open map: stat /sys/fs/bpf/tc/globals/cali_v4_routes: no such file or directory"

## Expected Behavior

comannd run well, no error report

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico vers

[2020-12-22 06:28] tanvp112 opened #4276 "Calico pod Intermittently triggers probe failed events"
Strange situation here where Calico pod running on worker nodes intermittently fires event:

NAMESPACE     LAST SEEN   TYPE      REASON      OBJECT                  MESSAGE
...
kube-system         0s          Warning   Unhealthy   pod/calico-node-bfmh5   Readiness probe failed:
kube-system         0s          Warning   Unhealthy   pod/calico-node-bfmh5   Liveness probe failed:

kubectl version:
Cl

[2020-12-22 10:44] Cellebyte commented on #4151
@lmm @caseydavenport any updates on this?
should I do it with metallb and coil instead of relying on calico?

[2020-12-22 17:06] tomastigera commented on #4275
calico-bpf needs to execute in the calico-node pod

[2020-12-22 17:07] fasaxc commented on #4275
Your kernel is too old to run BPF mode so no maps will be created.

[2020-12-22 17:13] lmm commented on #4276
Hi @tanvp112 . So the calico node pods are only intermittently causing the failed probes events? Do you know if it is the same calico node pods doing this?

[2020-12-22 17:13] lwr20 commented on #4270
Can you add kubelet logs and an example corefile please?

Also would be great if you could provide enough information for us to attempt to repro this - e.g. what version of k8s, what you used to install k8s, how you installed Calico, what you're doing at the time of hitting this, etc, etc.

[2020-12-22 17:14] fasaxc commented on #4270
If you can't share the core file then please bear in mind that Calico is written in Golang so you'll probabaly have more luck with the delve debugger rather than gdb.

[2020-12-22 17:15] lmm commented on #3884
Going to close this for now, please open another issue if you're continuing to have issues, thanks!

[2020-12-22 17:15] #3884 closed

[2020-12-22 17:17] caseydavenport commented on #4273
@dotbalo could you share the log file from the calico/node pod that is emitting these logs? That would be useful to see.

It would also be useful to see what might be occuring to the interface on that node.

i.e., run the following command on the problematic node to see what is happening to that interface:

[code]

Where <CALICO_INTERFACE> is eth0, ens0, etc. Whatever Calico is using for BGP.

[2020-12-22 17:22] lwr20 commented on #4262
Is there any particular reason that you want to use host-local ipam?  Does calico-ipam not work for your use-case?

[2020-12-22 17:25] caseydavenport commented on #4259
@Bo0km4n it's not uncommon to have lots of IPAM handles - an IPAM handle gets created for every pod that gets assigned an IP address from Calico.

Are you seeing problems as a result of this? Are you seeing more handles than there are pods in the cluster?

[2020-12-22 17:27] mgleung commented on #4257
Hi @MridulS, thanks for bringing this to our attention.

Could I ask you to provide the pod logs for some of the pods that get stuck? Since we are suspecting that this is due to the large amount of pods on each node, could we also get the cpu and memory utilization on one of the nodes that gets stuck?

[2020-12-22 17:28] lmm commented on #3996
We recently got a fix here https://github.com/projectcalico/libcalico-go/pull/1350, we just need to migrate those changes over to the manifests.

[2020-12-22 17:28] caseydavenport commented on #4223
@Svisstack it's not clear to me how your pod is running. Is it doing one of the following?

- DaemonSet running with `hostNetwork: true`?
- DaemonSet running with `hostNetwork:false`, but `hostPorts` defined?
- DaemonSet running with `hostNetwork:false`, but using a service NodePort?

Each of those is quite different, and so would be important to know.

[2020-12-22 17:31] lmm commented on #3108
Going to close this for now, please file another issue if you're still having issues, thanks!

[2020-12-22 17:31] #3108 closed

[2020-12-22 17:44] caseydavenport commented on #4151
@Cellebyte I've done a check myself to see if I can reproduce your situation simply by changing the protocol from TCP -> UDP, but haven't been able to.

One thought I had is whether or not there are endpoints selected by your service. Can you see what the following returns for the bad service?

[code]

I also need the logs from a calico/node pod that is co-located with the service so that I can se

[2020-12-22 17:49] caseydavenport commented on #3609
Has anyone tried Calico v3.17+ to see if this issue still exists?

[2020-12-22 17:56] caseydavenport commented on #2971
Reading through this, I think @tmjd's analysis is correct. Pods running with `hostNetwork: true` are not valid targets for network policy label selectors. You'll need to use host endpoints in order to apply to host-networked things.

My strong suspicion is that your egress policy is blocking the traffic because the host IP is not included in the egress policy selector. This is, unfortunately, work

[2020-12-22 17:56] #2971 closed

[2020-12-22 18:01] #4243 closed

[2020-12-22 18:03] #4087 closed

[2020-12-22 18:04] #4027 closed

[2020-12-22 18:05] #3951 closed

[2020-12-22 18:06] caseydavenport commented on #3795
I think there are some incompatibilities with the node-local DNS cache's use of NOTRACK iptables rules, so keeping this issue to track making Calico work with node-local DNS.

[2020-12-22 18:30] #4275 closed

[2020-12-22 19:36] brathina-spectro commented on #4262
@lwr20 calico-ipam works fine.

Our use case is deploying calico on Kubernetes clusters. The nodes in the Kubernetes clusters are configured with a Pod CIDR range. Calico host-local ipam allows us to use the addresses set in the nodes using **Node.Spec.PodCIDR**. This way, we can avoid configuring the IP range manually in Calico.

[2020-12-22 19:39] lwr20 commented on #4262
But _why_ do you want to use the Node.Spec.PodCIDR?

[2020-12-22 21:17] brathina-spectro commented on #4262
@lwr20 : Not sure if I understand your question correctly. But, as I said before, the idea is to use the existing PodCIDR property set in nodes so that, the PodsCIDR IP range need not be configured manually in Calico daemonset. Do you see a problem with this approach ?

[2020-12-22 21:54] lwr20 commented on #4262
Background here is that this scenario does not work (as you've discovered).  There's some extra code needed to set the VXLAN tunnel up, but at the time it was judged that it wouldn't be needed.  I was wondering if you had a particular use case that would justify the work required.

For my part, I'm not sure I understand why configuring the pod-cidr into Calico is a problem for you?  I do know that

[2020-12-22 22:42] ayoubsmii19 opened #4277 "disable Outgoing nat"
Hi , is there any way to disable outgoing nat in calico ?
i tried with modifying the pool.yaml like bellow
apiVersion: projectcalico.org/v3
kind: IPPool
metadata:
  creationTimestamp: "2020-12-22T18:50:30Z"
  name: default-ipv4-ippool
  resourceVersion: "9759"
  uid: 625a4417-5c54-44b2-a764-0c4d1aa98a81
spec:
  blockSize: 26
  cidr: 192.168.0.0/16
  ipipMode: Never
  natOutgoing: false
  nodeSelec

[2020-12-22 23:09] Cellebyte commented on #4151
@caseydavenport the service inside the cluster is working as expected the issue is when I want to advertise a service externally. So I can reach the service from my internal endpoint but I am not able to reach it from external.

I can provide you with logs the next days 👍

[2020-12-23 03:21] readerx opened #5232 "Document interactions with firewalld"
## Expected Behavior

between the pod

[code]

## Current Behavior

Communication between pods is normal

## Possible Solution

[code]

## Steps to Reproduce (for bugs)

install kubernetes in redhat 8.

[code]

podA (busybox): 10.254.219.69
podB (nginx): 10.254.219.68，listen 80 tcp port

[code]

## Context

## Your Environment

* calico/node version:  v3.17.1
* Operating System and version: Red Ha

[2020-12-23 03:47] NadamHL opened #4278 "pod internal communication, a large number of tcp restransmission"
![image](https://user-images.githubusercontent.com/39847290/102957062-6e78b900-4514-11eb-84a0-8d8adae685fc.png)

![image](https://user-images.githubusercontent.com/39847290/102957080-7c2e3e80-4514-11eb-8951-759aa49b5903.png)

[2020-12-23 03:48] NadamHL commented on #4278
kernel: 4.4.198
centos: CentOS Linux release 7.6.1810 (Core)

[2020-12-23 04:02] dotbalo commented on #4273
@caseydavenport Thank you very much for your answer.
This is the result of the new node **ip monitor**:
[code]
Previous node, 192.168.0.231 and 192.168.0.230 are new node:
[code]

Log of the new node Calico:
[code]

This is the yaml file of calico:
[code]

I have no other ideas to solve this problem. It looks like a problem with the server's network. Do you have any good solutions?

[2020-12-23 09:28] yzz-ihep opened #4279 "Can I access service without tunl0?"
## Expected Behavior
Can I access service by bgp within k8s cluster？

## Current Behavior
When I create a service, calico will create tunl0.
The request to that service in k8s cluster will go through tunl0.

[2020-12-23 10:08] kayanme opened #4280 "Calico for Windows: Endpoint tries to attach to HNS every time it tries to initialize."
_Posted it originally [here](https://github.com/projectcalico/cni-plugin/issues/988), probably it was the wrong place._

Every action, pod net initialization etc. is impossible due to already attached endpoint.

## Expected Behavior
Endpoint should initialize correctly.

## Current Behavior
Now it is always message like this:
2020-12-06 01:48:27.185 [ERROR][1276] dataplane_windows.go 575: Unable t

[2020-12-23 23:31] tscswcn opened #4281 "calico-bpf routes dump failed, get error messages:"
calico-bpf routes dump failed, get error messages:
ERRO[0000] Failed to dump routes map. error="failed to open map: stat /sys/fs/bpf/tc/globals/cali_v4_routes: no such file or directory"

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
* Orchestrator version (e.g. kubernetes, mesos, rk

[2020-12-23 23:34] tscswcn commented on #4281
sorry  Iwill try in thr pod

[2020-12-24 02:21] tanvp112 commented on #4276
Hi @lmm, yes, but i would like to understand why is it and not let Kubernetes thinks these pods are "in trouble" and restart it unexpectedly. These events happened on **worker** nodes only.  i suspect there is a latency somewhere... unfortunately i can't find any clue in calico nor kubelet logs.

[2020-12-24 04:33] tscswcn commented on #4281
But I have question,  because there are few tools within calico node image,how can I do it? is there package can be executed?

[2020-12-24 04:36] tscswcn commented on #4275
But I have question, because there are few tools within calico node image,how can I do it? is there package can be executed?

[2020-12-24 05:18] tscswcn commented on #4275
this time,  it has been
 uname -sr
Linux 5.10.2-051002-generic

still have this  issue

[2020-12-24 07:20] yzz-ihep commented on #4279
just close ipip mode, and delete tunl0

[2020-12-24 07:20] #4279 closed

[2020-12-24 13:38] charnet1019 commented on #4270
By rancher v2.4.5 to manager k8s, k8s version is v1.18.6.
[core.zip](https://github.com/projectcalico/calico/files/5739732/core.zip)

[2020-12-25 11:51] charnet1019 commented on #4270
@lwr20 @fasaxc   hi, add kubelet log.
First remove the ending .zip, and then unzip all the files.

[kubelet_log.zip.001.zip](https://github.com/projectcalico/calico/files/5741898/kubelet_log.zip.001.zip)

[2020-12-25 11:51] charnet1019 commented on #4270
[kubelet_log.zip.002.zip](https://github.com/projectcalico/calico/files/5741902/kubelet_log.zip.002.zip)

[2020-12-25 11:51] charnet1019 commented on #4270
[kubelet_log.zip.003.zip](https://github.com/projectcalico/calico/files/5741903/kubelet_log.zip.003.zip)

[2020-12-25 11:52] charnet1019 commented on #4270
[kubelet_log.zip.004.zip](https://github.com/projectcalico/calico/files/5741905/kubelet_log.zip.004.zip)

[2020-12-25 11:52] charnet1019 commented on #4270
[kubelet_log.zip.005.zip](https://github.com/projectcalico/calico/files/5741906/kubelet_log.zip.005.zip)

[2020-12-25 11:53] charnet1019 commented on #4270
[kubelet_log.zip.006.zip](https://github.com/projectcalico/calico/files/5741907/kubelet_log.zip.006.zip)

[2020-12-26 12:50] eplightning commented on #4276
Might be related to https://kubernetes.io/blog/2020/12/08/kubernetes-1-20-release-announcement/#exec-probe-timeout-handling since you're using K8s 1.20 and calico use exec probes without timeout set - so it defaults to 1s which might be enough.

Try changing _timeoutSeconds_ on exec probes to some higher value.

[2020-12-26 13:12] kfirfer commented on #3795
I have GlobalNetworkPolicy and the problem is happens to me aswell
This is the policies I have used:

[code]

[2020-12-27 06:27] tanvp112 commented on #4276
The cluster is version 1.20.1. The issue you mentioned is before 1.20.0. On top of that, calico 3.17.1 timeoutSeconds is 1. Tested pod to pod 1k pings average is under 12ms.

Normally there is error message following the readiness probe failed event, in this case all were empty.,,

[2020-12-27 08:37] #4276 closed

[2020-12-28 16:55] BreezyBird opened #4282 "Capybara quest softlock"
There's this quest i got in onsen where i need to find 3 missing capybara scattered in the mountains, it was almost 12am in the game when i found 2 of them and i decided to run back to the cafe and have my character sleep, because at the time i assumed that my character would collapse like in my time at portia or stardew valley.

After i did that i went back up the mountain to find the last capyba

[2020-12-28 16:59] BreezyBird commented on #4282
This is where im supposed to send complaints about video game bugs in the new calico game right?

[2020-12-28 16:59] BreezyBird commented on #4282
I didn't mean to close it oops

[2020-12-30 02:15] dotbalo commented on #4273
@caseydavenport Sorry, I discovered the cause of this problem last night, so I closed this issue in advance. The fault is caused by the different ipvs modules loaded by the node. I configured the ipip module for the new node, but the old node did not load the ipip module, which caused the calico exception. Delete the ipip module to return to normal.
[code]
Today I reconfirmed that this is indeed t

[2020-12-30 02:18] dotbalo commented on #3134
This problem has been solved: #4273

[2020-12-31 12:37] eplightning commented on #4084
Hit that issue myself. The commit that broke it seems to be https://github.com/projectcalico/cni-plugin/commit/212b84b61e73dd2a64da0524a42be33e04cb31eb

[code]

The _err_ doesn't get cleared in case of _ErrorResourceDoesNotExist_ so it gets returned to CRI which fails StopPodSandbox call.

[2020-12-31 14:41] Clexashipper opened #4285 "Secret of the witching woods quest glitch"
it  will not let me complete the mission, I have the toy complete but when I equip the toy and walk up to the giant kitty nothing happens. I have tried just about everything to fix it.

## Expected Behavior

I am assuming when I equip the toy the cat should respond by moving out of the way so I can get to the woods.

## Current Behavior
instead of moving the cat sleeps, he continues to do nothing

[2020-12-31 14:46] Clexashipper opened #4286 "Dapper doves do dastardly deeds quest not working"
The quest glitched out, I picked up each bird and it is not letting me have the keys. It says I poked up 7/5 birds and everytime I talk to Maribel she just says “have you had any luck finding my keys?” and then sort of shoo’s me to go back to picking up the birds.

## Expected Behavior
Since I picked up all of the birds I am assuming she should have responded differently. My guess is by saying I h

[2020-12-31 15:50] mrunge commented on #4256
There is something fishy with v3.16.5
[code]

[2020-12-31 18:06] caseydavenport commented on #4273
@dotbalo ok great, thanks for closing the loop! I wasn't sure if you meant to close it or not.

[2020-12-31 18:06] #4273 closed

[2020-12-31 19:38] caseydavenport commented on #4015
Sorry for the delay on this guy, but working on a fix here: https://github.com/projectcalico/libcalico-go/pull/1355

[2021-01-02 18:01] pchlupacek opened #4287 "Failed to get connectivity between borrowed static ips"
Pods on borrowed ips failed to communicate with pods from the pool from which they are borrowing ip.

## Expected Behavior

The Pods located on node that has the static pod assigned shall be able to communicate with borrowed pods and vice versa.

## Current Behavior

When using static assignment from pool dedicated to static ips, the pods with static assigned addressed fails to communicate with th

[2021-01-02 22:18] MridulS commented on #4257
@mgleung thanks for the response!

In terms of cpu/memory utilisation it's far far away from the node capacity. And (un)luckily this happened again a couple of hours back.

Output of `kubectl describe pod calico-node-l2vjq -n kube-system` -> https://pastebin.ubuntu.com/p/ddp87jbyDp/
The logs from the calico pod which is stuck in perpetual CrashLoopBackOff -> https://pastebin.ubuntu.com/p/NKskcwccr

[2021-01-03 04:09] toacoco commented on #4285
I'm having this same issue on Nintendo Switch. The rest of the game works beautifully, but the large cat slides more and more away from the entrance to the new area while an invisible wall still blocks it. The large cat doesn't respond to the giant mouse toy at all. Closing and reopening the game did not solve this, nor did going back to the cafe and sleeping.

[2021-01-03 20:56] GustavGenberg commented on #2834
I had the same problem with "calico/node is not ready: BIRD is not ready: Error querying BIRD: unable to connect to BIRDv4 socket: dial unix /var/run/bird/bird.ctl: connect: no such file or directory".

I checked the logs and the calico node was complaining (not an error, just a warning) that the kernel version was too old (running Ubuntu Server 18.04, kernel version 4.15.0-96-generic, it wanted 4

[2021-01-04 03:29] bubearchan commented on #4285
I was having the same problem on nintendo switch, but figured something out. If you keep holding the toy and walking along the invisible barrier between the cat and the path it wakes up eventually and you can open the area. (hope this helps :) )

[2021-01-04 03:30] Clexashipper commented on #4285
that does thank you! I got it to work by restarting my xbox. I don’t know why it didn’t work for a bit there

[2021-01-04 03:31] Clexashipper commented on #4285
Have you tried turning the console completely off then back on? that solved it for me

[2021-01-04 03:31] #4285 closed

[2021-01-04 11:13] ahrkrak opened #4288 "Calico node check includes false negatives for modern Linux distros"
## Expected Behavior
Expect Calico node check to not return an error if the OS supports all the features it needs.

## Current Behavior

calicoctl node checksystem fails ipt_set, xt_icmp, xt_icmp6, and xt_rpfilter checks.
# calicoctl node checksystem
Checking kernel version...
5.4.83-flatcar      OK
Checking kernel modules...
ip_set              OK
ip_tables           OK
ip6_tables          OK
ipt

[2021-01-04 15:30] tmjd commented on #4282
This repository is for the Calico CNI plugin docs.projectcalico.org, not a video game. Check the [README](https://github.com/projectcalico/calico/blob/master/README.md) for more details.

[2021-01-04 15:30] #4282 closed

[2021-01-04 16:21] jayunit100 opened #4289 "[windows] NetworkPolicy tests on AKS have unpredictable (sort of work, but not always) results..."
So, originally i named this issue  `Deny all, calico (3.8.9) on AKS (1.19.3 k8s), windows failure`, but it turns out....

# AKS Doesnt support networkpolicys for windows clusters, yet?

So, this isn't really a bug, but maybe, more of an observation, which is that Calico on AKS has unpredictable networkpolicy results... i.e. it seems like it sort of applies them to some windows pods, but not all of

[2021-01-04 17:00] jayunit100 commented on #4289
notw that the `allow all` tests which dont have a negative control pass, but that is misleading i think....https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/network_policy.go#L606 , because i guess that allow all might be a no-op... thus some of the older tests pass but for, i think, the wrong reasons.

Is calico 3.8 still supported?

[2021-01-04 18:52] renan opened #4290 "Connection errors when running Calico on eBPF mode with more than one backend pod"
Following the discussion on Slack about running Calico on eBPF: https://calicousers.slack.com/archives/CUKP5S64R/p1601550116016000

When running Calico on eBPF mode with a Kubernetes Service listening on a NodePort and running two backend pods, I have experienced **43 connection failures**, out of around **250 thousand requests**.

Running the same scenario, but with one backend pod, resulted in a

[2021-01-04 19:54] jayunit100 commented on #4289
wait, i think i found part of my issue....

[code]

So, i probably should have read the fine print earlier :).  I guess networkpolicies have 'unpredictable' behaviour on windows nodes in AKS

[2021-01-04 20:02] jayunit100 commented on #4289
I guess as a follow on, we should probably confirm theres a ci job in place on semaphore for the networkpolicy upstream tests which spins up windows nodes? that way we can have a canonical thing to point to.

Also happy to close if thats out of scope...

[2021-01-04 20:32] #4015 closed

[2021-01-04 23:53] dave-meier commented on #4078
@song-jiang I'm back from the holiday break to work on this. Any updates?

Would it work better if I tried to use calicoctl to apply a calico network policy (apiVersion: projectcalico.org/v3) instead of the k8s policy I'm using now (apiVersion: networking.k8s.io/v1)?

Can policies be applied to calicoctl while it's running in a container?

[2021-01-05 09:10] fasaxc commented on #4286
I think you've found the wrong issue tracker.  This one is for the Project Calico networking and security tool; I think you're looking for this discord server: https://discord.com/invite/2RfZQpx

[2021-01-05 09:10] #4286 closed

[2021-01-05 18:12] caseydavenport commented on #4289
CC @song-jiang @lmm

[2021-01-05 18:26] caseydavenport commented on #4289
Yeah, we do have jobs that run the upstream tests but they aren't visible at the moment.

Nope! Very old at this point. I'd very much recommend using the latest Calico. Pretty sure v3.8 doesn't actually have Windows support.

That would do it!

[2021-01-05 18:26] #4289 closed

[2021-01-06 06:04] lht commented on #4256
@caseydavenport This is not just a display issue. The architect field is indeed incorrectly set. You can also test this with `run --platform linux/arm64` on amd64 machines.

[code]

We got below image pull error on Kubernetes (EC2 c6g node),
[code]

We noticed the same issue with [calico/typha](https://hub.docker.com/layers/calico/typha/v3.16.6-arm64/images/sha256-443f45d86b02666370364703c6fde51b6

[2021-01-06 09:50] ducminhle opened #4291 "RKE: NetworkPolicy based on NamespaceSelector doesn't work"
## Expected Behavior
Pods in another namespace allow traffic in from nginx-ingress namespace with namepsaceSelector.

## Current Behavior
- Calico has been deploy when launching rke. (https://rancher.com/docs/rke/latest/en/config-options/add-ons/network-plugins/)
- In RKE, nginx-ingress deployed with DaemonSet by RKE.
[code]

We have a service running with `containerPort: 80`. We create a network

[2021-01-06 17:32] caseydavenport commented on #4256
Yeah, ok. Definitely sounds like the image is borked then. I'll see what I can find, but given the Calico team doesn't have test infra for other architectures any help in identifying the issue in the build system would be much appreciated!

[2021-01-06 17:40] song-jiang commented on #4078
@dave-meier Sorry I haven't got chance to take a look before holiday. I just created an EKS cluster with 1909 Windows nodes. Will test it today and give you an update by tomorrow.

The network policy your applied should work. There is no need to switch over to calicoctl.

[2021-01-06 22:41] caseydavenport commented on #4288
Yep, I agree with all of this.

[2021-01-06 22:44] caseydavenport commented on #4288
@frozenprocess I've seen this one impacting a number of folks recently, if you're interested in giving it a go!

[2021-01-06 23:12] caseydavenport opened #4294 "Support for host-local IPAM with VXLAN encapsulation"
## Expected Behavior

Ability to use host-local IPAM with VXLAN encap provided by Calico

## Current Behavior

VXLAN is not supported with host-local IPAM. We need a way to allocate tunnel addresses.

## Possible Solution

Allocate a tunnel address and assign it to the tunnel!

[2021-01-06 23:13] caseydavenport commented on #4262
I raised an enhancement request here: https://github.com/projectcalico/calico/issues/4294

VXLAN encap isn't supported with host-local IPAM in Calico today. I'd recommend either using IPIP encap, or switching to Calico IPAM, in the meantime.

[2021-01-06 23:13] #4262 closed

[2021-01-06 23:22] caseydavenport commented on #4277
Yes, that disables outgoing NAT. As a result, you won't be able to access the internet, because NAT is required for that.

[2021-01-06 23:22] #4277 closed

[2021-01-06 23:23] caseydavenport commented on #4281
We don't ship the debug tools in calico/node in order to keep the deliverable small. Debug tools should be installed separately.

[2021-01-06 23:23] #4281 closed

[2021-01-06 23:49] caseydavenport commented on #4233
Is the proxy within the same IP range as your pod IP pool? Or another Calico IP pool? That would disable outgoing NAT and might cause issues.

[2021-01-07 00:08] caseydavenport commented on #4235
No reason - I am pretty sure that is just a bug and it should instead be a Calico error type that is returned. Good sleuthing @tommasopozzetti!

Would you be interested in submitting a PR with the fix?

[2021-01-07 00:12] caseydavenport commented on #4084
Well, that's my bad! Thanks for tracking that down.

Here's a fix: https://github.com/projectcalico/cni-plugin/pull/1008

[2021-01-07 00:13] caseydavenport commented on #4235
This may also be relevant: https://github.com/projectcalico/calico/issues/4084

[2021-01-07 08:04] W-BC0001 opened #4296 "[Question Consultation] How to access pod ip directly from external network?"
## My Environment

name | version
| - | -
| Calico | rancher/calico-node:v3.7.4
| Orchestrator version (e.g. kubernetes, mesos, rkt) | kubernetes v1.15.5
| Operating System and version | CentOS Linux release 7.7.1908 (Core)

## Network information

name | network
| - | -
The office network | 192.168.8.0/24
kubernetes node ip | 192.168.33.0/24
pod ip | 10.42.0.0/16
route reflector | 192.168.33.210(

[2021-01-07 09:20] mrunge commented on #4256
The last working image is 3.15.3, question is what changed between 3.15.3 and 3.16?

[2021-01-07 09:52] hhstu opened #4297 "Is it necessery to " Drop IPIP packets from non-Calico hosts ""
when use ipip, i find a Chain cali-INPUT ,  it will drop IPIP packets from non-Calico hosts.
but i want access  pod  form  non-Calico hosts(such  as develop env).    how du you think  add a switch  about add this  Chain ?

[2021-01-07 09:53] hhstu commented on #4297
[code]

[2021-01-07 09:59] hhstu commented on #4297
i  enen find some IPIP packets  has  been drop which not calcio tunnel

[2021-01-07 12:04] oldthreefeng commented on #4273
This helps me a lot.

[2021-01-07 12:21] song-jiang commented on #4078
@dave-meier I believe the policy issue you saw is caused by `windsr feature is not enabled by kube-proxy on EKS node`. Could you try the following scripts on both of your Windows nodes and try to make the same connections again?  cc @lmm

[code]

[2021-01-07 17:18] dave-meier commented on #4078
@song-jiang OKay I will try this out. I am using the https://docs.projectcalico.org/scripts/install-calico-windows.ps1 script -- does that not set WinDSR? Below you can review my script that I am running on each windows node:

[code]

[2021-01-07 17:29] song-jiang commented on #4078
@dave-meier No. It's not. Maybe we should add this procedure to `install-calico-windows.ps1` for EKS Windows nodes.

[2021-01-07 22:28] rikatz commented on #4249
@caseydavenport opened the PRs in advance:

https://github.com/projectcalico/libcalico-go/pull/1357 -> For the libcalico-go (which is the main code)
https://github.com/projectcalico/kube-controllers/pull/600 -> Just a unit test so we know kube-controllers works fine with the lib

Once the main k/k PR gets merged and released we can move forward to update the k8s libs (need to update both PRs) and

[2021-01-07 22:29] rikatz commented on #4249
BTW, I've tested with the changed k8s code locally and the tests worked as a charm, just need to make some better tests with a running cluster

[2021-01-08 05:11] TommyHwang opened #4300 "Unable to use ipv6pools for pod in K8s 1.18.1"
I added ip pool with kubectl command and added IPv6 pool annotation to Pod, but Pod is not aware of the ippool.
When I force one ip in ippool with ipAddr, it worked fine.

## Expected Behavior
Want to assign ippool to pods

## Current Behavior
Can not use ippool for pod

in kubectl describe po log
`
[code]
[code]

in ippool.yaml
`spec:
  cidr: C001:C0AF::12/126
  ipipMode: Always
  natOutgoing: tr

[2021-01-08 07:44] cmssczy opened #5201 "calico client hang up when set wrong etcd endponits address."
## Expected Behavior

calico client will return an error if etcd endpoints address is wrong.

## Current Behavior

The calico client will hang up by set a wrong etcd endpoints address deliberately. And you will find that this connetion will be reset after 5 times retry.
![image](https://user-images.githubusercontent.com/65757763/103986963-a47d9480-51c6-11eb-8036-a7d87def5182.png)

## Possible Solu

[2021-01-08 09:35] shashidharatd opened #4301 "release note link is redirecting always to the latest release notes"
## Expected Behavior

should be able to get release notes to other calico releases than latest.
3.16.6 release notes link is redirected to 3.17 which is wrong
https://docs.projectcalico.org/v3.16/release-notes/

## Current Behavior

calico release 3.16 should show 3.16 release notes

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico vers

[2021-01-08 10:07] hhstu commented on #4297
ExternalNodesCIDRList

[2021-01-08 10:07] #4297 closed

[2021-01-08 17:09] caseydavenport commented on #4301
@shashidharatd thanks for raising this. Looks like we're not using the correct permalinks in our releases page;

While we sort it out, you can find release notes for v3.16 here: https://docs.projectcalico.org/archive/v3.16/release-notes/

[2021-01-08 17:18] caseydavenport commented on #4301
Fixed up the latest few releases as well as the code that generates those links.

[2021-01-08 17:18] #4301 closed

[2021-01-08 19:02] caseydavenport commented on #4296
Have you configured a BGP peer between the route reflector and your office network routers? I don't see any configuration to do that shown. How does your office network know to send traffic to the Kubernetes cluster?

Typically, a route reflector is not intended to be used as a "gateway" of sorts, rather it just re-advertises routing information. In other words, you wouldn't normally have traffic

[2021-01-08 19:18] caseydavenport commented on #4290
@tomastigera you seem to have been involved in the linked Slack conversation, so assigning to you :)

[2021-01-09 02:01] W-BC0001 commented on #4296
Thank you for your reply @caseydavenport

## How does your office network know to send traffic to the Kubernetes cluster?

I set up the route on my office router, which is a three-tier device

Routing rules are as follows:
[code]

## In other words, you wouldn't normally have traffic routed through the RR, it should go direct to the relevant Kubernetes node.

We tried to set up a route on the offi

[2021-01-11 08:59] backjo opened #4306 "Document cpu architecture limitations to eBPF dataplane"
There are a lot of great blog posts and docs out there about enabling eBPF, including a few that call our some major caveats (such as not running in Hybrid mode). Thinking I had addressed these caveats, I got deep down the rabbit hole of enabling the eBPF dataplane - only to realize it only supports AMD64, and not other architectures :(
## Expected Behavior

Ideally, this would be supported, but d

[2021-01-11 14:59] jayunit100 opened #4307 "DNS on windows"
## Expected Behavior

custom `dnsConfig` options should work for windows containers.

## Current Behavior

On EKS with calico
    - name: IP
    - name: FELIX_HEALTHENABLED
      value: "true"
    image: quay.io/calico/node:v3.15.1
    imagePullPolicy: IfNotPresent
[code]

[2021-01-11 15:23] fasaxc commented on #4307
Feels wrong that this is handled by kubelet on Linux but gets passed down to the CNI plugin on Windows.  What business do we have modifying files inside the container?

[2021-01-11 15:29] jayunit100 commented on #4307
So, Evidently DNS is  part of the spec for CNI !

[2021-01-11 15:42] fasaxc commented on #4307
Can you link to the spec for `dnsConfig`?  Can't seem to find it.

[2021-01-11 16:25] jayunit100 commented on #4307
https://github.com/containernetworking/cni/blob/master/SPEC.md#parameters

[2021-01-11 16:36] song-jiang commented on #4307
I think the issue is Calico CNI plugin uses hcsshim v1 API to program network endpoints. v1 API exposes `DNSServerList` and `DNSSuffix` as the only options for DNS config.
https://github.com/microsoft/hcsshim/blob/master/internal/hns/hnsendpoint.go#L21

Calico CNI plugin should switch to v2 API so all fields of DNSConfig can be programmed to network endpoints.
https://github.com/microsoft/hcsshim/

[2021-01-11 18:58] im-nonedone commented on #717
@caseydavenport so I made some changes to the helm chart and added values.yaml file and a README.md. It is after pushing it to my Github I realized values.yaml files are ignored for charts. Is there a reason why this can't be allowed? This along with the readme will help others to download and use this chart locally at least.  I can create a pull request if you are fine with the approach.
https://

[2021-01-11 19:12] frozenprocess commented on #4288
For `ipt_set` I think it would be ok to `PASS` the test if `xt_SET` is present.
[code]

[2021-01-11 20:12] jayunit100 commented on #4307
ahh ok ! thanks

[2021-01-11 21:12] uweenukr commented on #3420
have a new install and have this error.

[2021-01-11 21:51] frozenprocess commented on #4288
I think it is safe to pass `xt_icmp` and `xt_icmp6` if icmp is present in `ip_tables_matches` file.
[code]
WDYT?

[2021-01-12 01:22] dave-meier commented on #4078
@song-jiang Thank you! Okay I added the WinDSR arguments as you suggested and that fixed the network policy! Now the only remaining problem is that when I have Calico running, only the node where I have my nginx pod running is accessible from my target group that is pointing at nginx. So it seems like my nginx service does not work on other nodes, even though it is configured to run using NodePort

[2021-01-12 09:50] hickersonj opened #4308 "calico on k3s: the calico-node is running but not ready with no obvious errors"
## Expected Behavior

This is an initial install based on: https://docs.projectcalico.org/getting-started/kubernetes/k3s/quickstart
calico-node should transition from ready 0 -> 1

## Current Behavior
calico-node initializes but never is ready, no obvious error messages
**calico-node description**
[code]
calico-node log
[code]
Status:
[code]

## Your Environment

* Calico version
* k3s
* Fedora 30

[2021-01-12 11:04] shibumi opened #4309 "NetworkPolicy works on LoadBalancer but not on ClusterIP Service"
I want to achieve the following. I have a namespace called "foo". The following Rules should apply on this namespace

* Deny all outgoing traffic on default
* Deny all incoming traffic on default
* Allow Traffic for port 80/443 (a web application)
* Allow outgoing traffic to the mariadb instance

## Expected Behavior
I expect that `namespaceSelector` matches all resources in the specified namespac

[2021-01-12 15:12] jayunit100 commented on #4307
FWIW,  this is what the records *should* look lik.e..

[code]

[2021-01-12 17:06] caseydavenport commented on #4280
The other issue has discussion on it, so going to close this one in favor of keeping the discussion going at https://github.com/projectcalico/cni-plugin/issues/988

[2021-01-12 17:06] #4280 closed

[2021-01-12 17:21] mgleung commented on #4291
Hi @ducminhle , thanks for bringing this to our attention. I wanted to ask a few clarifying questions to make sure I'm understanding the use case you've written here. What does the namespace with the `service: ingress-nginx` label look like? Is that another namespace or is it `marketing-portal`? I'm also interested in what the IP `172.22.1.153` refers to since it appears to be different than the I

[2021-01-12 17:31] caseydavenport commented on #4308
This appears to be the issue. I'm not sure _why_ it can't find the binary - clearly it's there, because otherwise we wouldn't get logs.

[2021-01-12 17:34] caseydavenport commented on #4278
Please fill out the issue template when filing issues. There's not enough information in this issue to get started diagnosing or reproducing the issue.

I'd also strongly recommend upgrading. Calico v3.8 is very much out-of-support at this point in time.

[2021-01-12 17:34] #4278 closed

[2021-01-12 17:38] song-jiang commented on #4078
@dave-meier It seems you are accessing nginx service from Windows node? How many backend pods are supporting this service? Have you still got those network policies (allow-same-namespace) in place?

[2021-01-12 17:42] caseydavenport commented on #4309
This might be the same issues as these:
- https://github.com/projectcalico/calico/issues/4291
- https://github.com/projectcalico/calico/issues/4092

There have been some reports that namespace selectors are not working properly, but our tests for namespace selectors seems to be passing, so I'm not sure yet what's going on there. Needs some more investigation.

[2021-01-12 17:43] song-jiang commented on #4123
@sandy-lcq Please reopen this issue if you have more information.

[2021-01-12 17:43] #4123 closed

[2021-01-12 17:58] #3665 closed

[2021-01-12 17:59] mgleung commented on #4257
Hi @MridulS sorry for the late response.

I don't see anything out of the ordinary in the logs. It just looks like the CNI plugin is struggling since the loopback interface goes down. Out of curiosity does this happen after a node restart of some kind? I have seen a similar issue where a node restarting tells the container runtime to issue a delete against processes running the root network namesp

[2021-01-12 18:12] MridulS commented on #4257
@mgleung thanks for getting back on this!

Nope, this happens sporadically and we haven't been able to find a pattern or anything of that sort :/

We use docker v19.03.11 as the container runtime.

Thanks!

[2021-01-12 18:13] shibumi commented on #4309
@caseydavenport  I played around with this and it's finally working. Looks like I forgot about DNS that's why I had the feeling it's not working. Although I can confirm that there are strange namespaceSelector issues sometimes.

I just restarted the deployment and then it worked as expected.

[code]

[2021-01-12 18:13] #4309 closed

[2021-01-12 19:04] dave-meier commented on #4078
@song-jiang Thanks for the quick response, I really appreciate it! Yes, I have the nginx service set up with NodePort, and there is a single pod supporting the service. When Calico is not running with the allow same namespace policies, then the nginx service can be accessed from any node in the cluster. Once I apply the policies, then the nginx service can only be accessed from the node where it's

[2021-01-12 19:31] mgleung commented on #4257
@MridulS Let me see if I can dig anything up on docker v19.03.11 though that might not be the issue here.

In the meantime, can I ask you to see what the CIDR block on the node with ~200 nodes looks like and maybe get the Calico IPAM data as well? I know you mentioned going above the 110 pod limit so I want to see how all the pods got valid IP addresses assigned to them.

[2021-01-12 20:09] caseydavenport commented on #3940
@TheKangaroo sorry for the delay...

It looks like your data is slightly more corrupted than I originally thought. From the logs, it looks like the IPAM data is not in sync. Normally, we expect an allocation and a handle to be 1:1 and kept in sync. However, it seems that the IPAM handle has been deleted but the allocation has not been. As a result, we keep spotting the allocation and trying to rel

[2021-01-12 21:00] song-jiang commented on #4078
@dave-meier This behaviour is probably as expected. When nginx pod running on a different node, the `allow-same-ns` policy will block the traffic as the source ip of the packet (in this case the node ip) is not a Pod IP from same namespace.

However, Calico inserted a `allow-local-host` policy by default to enable kubelet.exe accessing local pod for health checks. This explains why nginx can be ac

[2021-01-12 21:16] caseydavenport commented on #4256
Well, there seem to be substantial build changes between those two versions, namely around moving the container to a scratch-based image. So, seems likely that messed it up.

[2021-01-12 21:48] caseydavenport commented on #717
CC @ozdanborne and @lwr20 who are currently working on a helm3 chart, and know better than I.

[2021-01-12 22:02] hickersonj commented on #4308
Correct, it just sends that message and then doesn't fully initialize.  Any suggestions on how to debug that? Or what logs to look under? Or if I can turn higher debug on for calico?  Thanks!

[2021-01-12 22:43] seh opened #4310 "Calico in eBPF mode interrupts node port traffic with external traffic policy of "Local" after a short delay"
## Motivating Scenario

We have a server that runs in a Kubernetes pod, sitting behind a _Service_ of type "LoadBalancer" with an external traffic policy of "Local," using an AWS Network Load Balancer (NLB). This server uses an application-specific protocol over TCP that involves long-lived connections. Calico is using its eBPF dataplane with the VXLAN backend enabled.

Clients outside of the AWS

[2021-01-12 22:48] seh commented on #4310
Note that despite trying as hard as I could, I could not reproduce this problem using a common NGINX "echo" container as the server. I tried using [the _bombardier_ HTTP client](https://github.com/codesenberg/bombardier) to use a single TCP connection for as long as 30 seconds, inducing traffic to flow back and forth the whole time. That client and server pair worked flawlessly, as far as I could

[2021-01-12 23:32] frozenprocess commented on #4308
@hickersonj I went through the document and I was able to successfully deploy k3s and Calico, any tips on how to reproduce the issue?

[code]

[2021-01-12 23:59] jayunit100 commented on #4307
i just finished updating https://github.com/kubernetes/kubernetes/pull/97987 to expose this directly , just fyi might be useful as verifier

[2021-01-13 00:21] dave-meier commented on #4078
Thanks @song-jiang -- so to get around this problem I changed my script that applies the policy to add in each node's IP address. This makes the target group work correctly, with all nodes able to accept traffic for the nginx service. This would have to be updated when nodes are added or removed in the cluster, but maybe I could figure out a way to get a callback for that and re-apply the policy.

[2021-01-13 00:52] hickersonj commented on #4308
Thank you for doing that investigation, I have also performed the same on my laptop which worked fine. To reproduce may be a bit hard to do since this is an air gap system. It is connected but not a full blown distro. What is interesting is I'm not seeing obvious errors other than the missing binary /bin/calico-node.

Perhaps some guidance on how to debug this, i.e. how to enable debug messages wo

[2021-01-13 00:55] #3194 closed

[2021-01-13 01:06] caseydavenport commented on #4257
Yep, it looks to me like Felix is perfectly healthy from the logs, and that the liveness probe is failing because the kubelet can't reach felix over localhost.

You could try adjusting the probes to communicate over a different address on the node to remove the dependency on the loopback, but it's still weird. I would focus on trying to find out who is setting the `lo` interface down, since I thin

[2021-01-13 01:29] seh commented on #4310
It occurred to me after writing about _bombardier_ that NGINX was closing these connections after five or six seconds, such that a thirty-second-long test actually wound up using five or six separate connections. I could only see that in Wireshark afterward, as _bombardier_ never complained about needing to open a replacement connection.

If that's true, then this test lacks sufficient fidelity. T

[2021-01-13 04:26] ducminhle commented on #4291
Thank you @mgleung for your reply.
- What does the namespace with the service: ingress-nginx label look like?
[code]
[code]

- Is that another namespace or is it marketing-portal?
Yes, in my example is marketing-portal

- I'm also interested in what the IP 172.22.1.153 refers to since it appears to be different than the IP addresses you use in the final working (though not ideal) network policy. I

[2021-01-13 07:24] axozoid opened #4312 "Calicoctl doesn't recognise multiple kubeconfig files in envar KUBECONFIG"
## Expected Behavior
Any `calicoctl` command should work.

## Current Behavior
I've got multiple kube config files set in my `KUBECONFIG` envar.
When I run a command, for e.g.:
[code]
essentially any command return this error, as it looks like the binary doesn't understand multiple files in `KUBECONFIG` envar.

## Possible Solution
Leaving just one file set in the `KUBECONFIG` envar solves the iss

[2021-01-13 07:30] clementnuss commented on #4257
@caseydavenport Yeah, I would also advocate to look in this direction.
I had the same issue on a node running SUSE Linux 15 and Kernel 4.12.
Calico liveness probe was failing, but the logs and behaviour were healthy (`iptables` rules were still updating for example).

In fact, any request to  any port on the loopback address `127.0.0.1` was failing, and running `tcpdump -i any port 9099` showed no

[2021-01-13 08:13] hickersonj commented on #4308
I added additional kernel configs namely ipip and xt_u32, but still not ready.
Here is the k3s log output which includes just one cycle of the repeating missing /bin/calico-node message.

There are a couple of error messages that I'm not sure are normal:
[code]
[code]
Here are the error messages parsed from the k3s log:
[code]

[2021-01-13 09:07] hickersonj commented on #4308
Here is a comparison of logs from the output of the non-working first and working last. I notcied that the flexvolume driver is having errors which are not present in the working calico-node.

**Output of k3s logs** just after installing the caliconetwork from the custom-resources:
[code]

**Output of k3s log of working node.** Here is the same log from a working system just after installing the c

[2021-01-13 10:04] song-jiang commented on #4307
Thanks @jayunit100 for more details. My current understanding is there are two issues.
- Calico CNI does not respect dnsConfig settings from a pod Spec. This should not be hard to fix. Once it is done, `NameServers` and `Search` list of dnsConfig can be supported. See definitions below.
- Calico CNI uses hcsshim v1 API which has no way to program dns `Options`. It is not an easy task moving from v

[2021-01-13 10:07] song-jiang commented on #4307
@jayunit100 Are you running your cluster on EKS? If that is the case, are you using AWS CNI on Windows nodes?

[2021-01-13 11:14] jayunit100 commented on #4307
in my case, the eks cluster is using calico for the cni...

[2021-01-13 15:21] TheKangaroo commented on #3940
@caseydavenport thank you for your reply. I did another research based on your recent comment.
First of all, by allocation you mean the handle_id entries in the IPAMBlock resources, right?
Based on this hint I did some additional research.
First I have to admit I saw some old IPAMBlocks left over from before we redeployed Calico with the new pod CIDR. I thought they were gone and we did a clean re

[2021-01-13 19:12] im-nonedone commented on #717
@ozdanborne  @lwr20 can you guys take a look at this and see if this can be packaged as a helm chart. I changed it to helm 3, added `crds` folder and added readme.
https://github.com/im-nonedone/calico/tree/nsadineni/added-values-readme/_includes/charts/calico

[2021-01-13 19:40] lwr20 commented on #717
For the benefit of those watching along, the helm3 charts work has progressed to the point that you can build helm3 charts from this repo:
[code]
and the charts tgz will be built and can be found in /bin/

This works for `master` and `release-v3.17` branches at present.

Work is still ongoing on adding automated testing for the resulting helm bundle and on the machinery to actually add a helm char

[2021-01-13 23:02] pavels opened #5248 "eBPF proxy replacement not working under various non-standard conditions"
Calico: `v3.17.1`
Kernel: `5.9.6-1~bpo10+1`

There is two observed cases, under which eBPF dataplane is not working in kube-proxy replacement mode:

Tagged VLAN on single physical interface

For both cases let's assume we have 3 networks - 192.168.55.0/24 and 192.168.46.0/24. The 192.168.46.0/24 (let's call it cluster network) is where kuberenets cluster runs with calico. The 192.168.55.0/24 (exte

[2021-01-13 23:26] frozenprocess commented on #4308
@hickersonj out of curiosity what is the output of ?
`k3s crictl ps -a`

[2021-01-13 23:44] hickersonj commented on #4308
Here is the output of both, the last command didn't result in any log output:
[code]

[2021-01-14 00:03] frozenprocess commented on #4308
In the host run
[code]

[2021-01-14 00:04] hickersonj commented on #4308
Your help is very much appreciated, been stuck on this for a few days!
[code]

[2021-01-14 00:09] frozenprocess commented on #4308
What is your CPU arch?
`uname -a`

[2021-01-14 00:11] hickersonj commented on #4308
It is a custom built kernel running on top of Fedora 30:
[code]

[2021-01-14 00:17] frozenprocess commented on #4308
`file /usr/libexec/kubernetes/kubelet-plugins/volume/exec/nodeagent~uds/uds`

`/usr/libexec/kubernetes/kubelet-plugins/volume/exec/nodeagent~uds/uds init`

[2021-01-14 00:41] hickersonj commented on #4308
Those are the odd errors that I don't see on the working system:
[code]
Also what's odd is that uds is there...

[2021-01-14 00:45] frozenprocess commented on #4308
seems like it takes a bit to create uds binary . that is why those issues are there at the start which gets fixed later on.

[2021-01-14 00:45] frozenprocess commented on #4308
mind running this ?
crictl exec -it $(k3s crictl ps -a | grep calico-node | awk '{print $1}') /bin/sh
ls /bin/

[2021-01-14 00:47] hickersonj commented on #4308
[code]

[2021-01-14 00:51] frozenprocess commented on #4308
That doesn't look like `calico-node` /bin directory!

[2021-01-14 00:58] hickersonj commented on #4308
Hmm I am currently going through the logs of each node.
Not sure if you can see the logs here, ones labeled bad are from the non-working k3s install:
https://drive.google.com/drive/folders/12azv6N8WuJwWo3OGbiby1Zzfb5sLyW1Q?usp=sharing

[2021-01-14 01:13] hickersonj commented on #4308
From the calico-node-bad.log and calico-node.log there are some alarming messages, but they are listed as [INFO].  Specifically the failed BPF programs and missing vxlan tunnel below:
[code]

[2021-01-14 01:25] hickersonj commented on #4308
That looks like the bin directory of my host

[2021-01-14 01:27] frozenprocess commented on #4308
what happens if you delete `calico-node`, deamonset should create a new one

`kubectl  delete pod calico-node-xxxxx -n calico-system`

[2021-01-14 01:31] hickersonj commented on #4308
It does create a new one, but the same host path in /bin

[2021-01-14 01:36] frozenprocess commented on #4308
My container returns this
[code]

[2021-01-14 01:40] hickersonj commented on #4308
The binary is even on the system!
[code]

Baffling..but I suppose it has to be on the system since it is logging.

[2021-01-14 01:45] hickersonj commented on #4308
Mine is similar:
[code]

When you perform an ls of /bin you see binaries like bird* and calico-node though?

[2021-01-14 02:15] frozenprocess commented on #4308
[code]

Check if `calico-node` bin is in `/usr/bin/`

[2021-01-14 02:28] hickersonj commented on #4308
Yes the link is there on the host file system, but I think something else is messed up with k3s and creating the pod environment.  Every node does not have it's own filesystem env, it is just the hosts.

Here is what the system with the issue file system for the local-path-provisioner looks like (this is just k3s). This file listing is on the host, but within the container folder rootfs:
[code]

H

[2021-01-14 02:34] frozenprocess commented on #4308
`k3s check-config`
 at the end it should be like
[code]

[2021-01-14 02:42] hickersonj commented on #4308
Ok I don't even know how this setup is partially working with how many items are missing...

This is a huge help major thanks!!  I'll update the kernel configs and try again:
[code]

[2021-01-14 02:42] frozenprocess commented on #4308
Well! at least we found the problem ! 👍

[2021-01-14 03:28] hickersonj commented on #4308
Must be a long day for me, I was showing the wrong kernel config, looks like everything is correct there:
[code]

[2021-01-14 05:26] JESWINKNINAN opened #4313 "could not initialize etcdv3 client: open /calico-secrets/etcd-cert: permission denied"
When using the calico version 3.17.1 manifest(https://docs.projectcalico.org/manifests/calico-etcd.yaml), the calico-kube-controller is getting started and failed due to the following error:

"could not initialize etcdv3 client: open /calico-secrets/etcd-cert: permission denied"

## Possible Solution

setting the permission with defaultmode : 440 in the volume mount will fix the issue.

is this ca

[2021-01-14 07:30] artemry-mlnx commented on #4256
СС @lennybe

[2021-01-14 07:34] artemry-mlnx commented on #4256
It looks like the following images are impacted for arm64 and ppc64le:
calico/cni
calico/node
calico/kube-controllers

[2021-01-14 12:13] MridulS commented on #4257
@mgleung CIDR block on the 200 pods node:
[code]
IPAM data at the moment
[code]
@caseydavenport @clementnuss thanks for your comments!

Would calico have logged this anywhere (if calico set in down)? or any other system log?

[2021-01-14 14:31] george-angel commented on #2470
We found an alternative in exposing Service objects cross-cluster: https://github.com/utilitywarehouse/kube-service-mirror so no longer need this.

Closing. Thank you all.

[2021-01-14 14:31] #2470 closed

[2021-01-14 16:21] pchlupacek commented on #4287
hi all. do I have to add some more details to this issue? I am thinking how static IPs could be usable with Callico, b/c of this issue I don't seem to follow up how to configure them.
Thank you

[2021-01-14 16:36] chrispito commented on #2561
In my case the following setting did it!
[code]

[2021-01-14 17:48] mgleung commented on #4291
@ducminhle Thanks for the extra info. I think this sounds like we have an issue with our namespace selectors. From your setup this sounds kind of similar to https://github.com/projectcalico/calico/issues/4092 so I would keep an eye on that.

[2021-01-14 17:51] lwr20 commented on #4296
Does k8s-test04 have a route back to the office subnet?

[2021-01-14 17:52] song-jiang commented on #4310
Ping @shaun for labelling this one.

[2021-01-14 17:57] lwr20 commented on #4287
With apologies for asking, but can you confirm that your cluster is using calico-ipam?  https://docs.projectcalico.org/networking/use-specific-ip#before-you-begin

[2021-01-14 19:08] dave-meier commented on #4078
@song-jiang Everything is working well for me now. I wanted to conclude with suggestions for others using EKS with Calico on Windows Nodes.

I followed this page for setup instructions on EKS: [https://docs.projectcalico.org/getting-started/windows-calico/quickstart](url)

Recommend adding more to this page to reflect the additional steps needed. If some of these steps are moved to the install-cal

[2021-01-14 19:28] frozenprocess commented on #4308
@hickersonj I did an airgap installation [using](https://rancher.com/docs/k3s/latest/en/installation/airgap/) and fedora 30.

Installer arguments
[code]
Using this [tutorial](https://docs.docker.com/registry/deploying/) created my private registry and pushed necessary images into it.

[code]

everything works as expected

[code]

[2021-01-14 19:36] hickersonj commented on #4308
Hi @frozenprocess, I spent quite sometime last night figuring it out and got it to work. It turns out the setup I was using was not working because it is in an **initramfs**.  Initially when setting up k3s, I've been using a chroot to combat the pivot_root's inability to switch root when on an initramfs. In fact I've been doing it this way for some time and thought pods were working fine such as A

[2021-01-15 08:54] W-BC0001 commented on #4296
Thank you for your reply @lwr20

## Does k8s-test04 have a route back to the office subnet?

Yes.
`192.168.8.0` and `192.169.33.0` are connected directly via routers on which routing rules are configured.

[code]

[code]

## I want to know
If kubernetes uses calico network and only adds routing rules, will external networks have direct access to pod?
Or do I need to add extra configuration?

[2021-01-15 09:33] TheKangaroo commented on #3940
I used the same command from above to get all ipamhandles referenced in ipamblocks and ran a diff against the actual ipamblocks:
[code]
This does not look too bad ;)
Note that I excluded the references with \r\neth0 from the IPAMBlocks list. These are still present there without corresponding IPAMHandles.

Here are the yaml outputs of the IPAMHandles above:
[code]
Both are on the same IPAMBlock 10

[2021-01-15 09:38] lwr20 commented on #4296
If kubernetes uses calico network and only adds routing rules, will external networks have direct access to podhttps://docs.projectcalico.org/networking/determine-best-networking#pod-ip-routability-outside-of-the-cluster

[2021-01-15 09:42] lwr20 commented on #4296
One of the points in that doc is that if you're using an overlay network, the pods will not be routable.  I see that you have `vxlanMode=CrossSubnet` - that's an overlay network and may stop the pods from being routable.  If you're peering Calico into the infrastructure network, you shouldn't need CrossSubnet mode anyway.  Try setting `vxlanMode=Never`.

If you wanted to discuss debugging your con

[2021-01-15 16:03] song-jiang commented on #4078
Awesome. Thanks @dave-meier for the update and sharing your solution!

[2021-01-15 16:05] song-jiang commented on #4078
We should enable `WinDsr` on EKS by Calico Installation script.

[2021-01-15 18:34] seh opened #4314 ""Component logs" documentation doesn't mention "node." prefix for FelixConfiguration objects"
[The "Component logs" documentation](https://docs.projectcalico.org/maintenance/troubleshoot/component-logs)'s section on [configuring Felix's logging level](https://docs.projectcalico.org/maintenance/troubleshoot/component-logs#felix) addresses configuring both all the Felix daemons in a cluster and configuring a single daemon.

However, when it says "set the name to the node name," it fails to m

[2021-01-15 18:37] seh commented on #4314
The pertinent line of code to change is [here](https://github.com/projectcalico/calico/blame/b0a89be27c4e3a19e328228d65769d663bb7e2ab/maintenance/troubleshoot/component-logs.md#L98).

[2021-01-15 22:33] ovesh opened #4316 "image build may fail if mod cache is not empty"
Running `make dev-image` fails due to multiple versions of github.com/golang/protobuf/proto in the same path.

## Expected Behavior
Following the instructions in DEVELOPER_GUIDE.md should complete without an error.

## Current Behavior

Following the instructions from https://github.com/projectcalico/calico/blob/master/DEVELOPER_GUIDE.md and running `make dev-image REGISTRY=my-registry` results in

[2021-01-15 22:56] ovesh commented on #4316
Looks like this is solved if I clear my mod cache (`go clean --modcache`) so this might have been already in my cache from before. Maybe solvable by consistently overriding the mod cache location using `GOMODCACHE`, but I think it's not supported in the version of go used in the build images (1.12.8).

[2021-01-16 13:06] pando85 commented on #4256
I tested these images in arm64 and binaries are non working:
[code]
Finally I got it working with `docker.io` based ones:
[code]
Hope this helps anybody.

[2021-01-19 08:44] razum2um commented on #2322
I wonder, why don't it behave like `FELIX_IPTABLESBACKEND=Auto` by default w/o configuration?
e.g why https://docs.projectcalico.org/reference/felix/configuration `Default: Legacy` well?)

[2021-01-19 10:27] 2ZZ opened #4323 "Pods intermittently start in the non Calico IP range"
## Expected Behavior
Pods should always get an IP from within CALICO_IPV4POOL_CIDR

## Current Behavior
In Calico 3.16.3 running in Amazon EKS pods are sometimes allocated an IP address directly from the VPC range rather than from CALICO_IPV4POOL_CIDR. This seems to happens when a scale event triggers a new node to be added to the cluster and the first pod scheduled on that node will get the incor

[2021-01-19 10:33] 85117921 commented on #3420
I encounter the same issue, as i checked the port 9099 was not existing , which process will listen to port 9099 ?

[2021-01-19 18:36] prgaly opened #4325 "Kube-dns port 53 unreachable from pods"
I am testing Calico 3.17.1 with upstream kubernetes 1.19.6 cluster built using kubeadm on RHEL 7.9. Calico is in VXLAN/Always mode. The problem is that the kube-dns service is not reachable from pods.

## Expected Behavior
Pods must be able to reach kube-dns service on port 53 in order to be able resolve DNS.

## Current Behavior
A test pod deployed with dnsutils image shows that kube-dns endpoint

[2021-01-19 19:45] #4084 closed

[2021-01-19 20:19] ayoubsmii19 commented on #4325
can you run #kubectl logs -n kube-system coredns  ?

[2021-01-19 21:17] prgaly commented on #4325
Right now only errors are logged in the config so nothing in logs other than below - I did enable log earlier and it logged the queries - however none of them were from the dnsutils pod I deployed or one of the app pods - those pods were not able to get to the CoreDNS 53 port at all.

[code]

[2021-01-19 21:33] caseydavenport commented on #4312
Neat! I didn't know KUBECONFIG supported multiple files. We should definitely do this.

[2021-01-20 10:32] pchlupacek commented on #4287
Thank you for follow up. Yes I would say it uses ipam. calico assigns addresses from the ippools configured and also I see the utilisation of the ipam pools in ipamblocks resource. All is working well. As said, the issue is only when borrowed static ip is on another node that the ipam block is assigned to (havong affinity).

Also, just to be clear here, we are using BGP with TOR BGP Peering calico

[2021-01-20 11:34] lwr20 commented on #4287
In the repro scenario you give, what nodes are the pods on?  IIUC, you have 2 nodes (let's call them node1 and node2), node1 has pod A, node2 has pods B and C?  Or are the pods all on different nodes?

Either way, can you post the output of `ip route` from each of the nodes please?

[2021-01-20 15:58] nagarahalli commented on #4306
@backjo In general, eBPF works fine on ARM64. However, we have not tested Calico with eBPF data plane yet. Have you tested this on other distros like Ubuntu?

[2021-01-20 16:55] pchlupacek commented on #4287
actually the problematic scenario is when the pods are on the two nodes:

node1: PodA(10.30.0.1/24)
node2: PodB(10.30.0.2/24), PodC(10.30.0.3/24)

Now, the startup order is PodA, then PodB, then PodC

What _does_ works is:
PodB -> PodC and PodC->PodB

What _does not_ work:
PodA -> PodB, PodA -> PodC (and vice versa)

External traffic to all pods works fine.

ip route output (please note I had to r

[2021-01-20 16:59] pchlupacek commented on #4287
Just to clarify, this (/31) scenario works. My guess would be that blackhole route entry on the "hosting" node is the reason why communication between pods is not working in case <31 mask. Could there be a way to remove blackhole? That will also enable /32 block sizes, which is in fact what we want ultimately.

[2021-01-20 17:06] lwr20 commented on #4287
I was indeed hoping to see the non-working case :)

Routing is supposed to work on a "most specific route wins" basis.  The blackhole would be a /<blocksize> while the static IP should be a /32, so the route to the static route should always win.

At this point I'd guess that we're not propagating a /32 to all nodes for the statically assigned IPs, but it would be good to see it.

[2021-01-20 17:13] pchlupacek commented on #4287
Yeah @lwr20 you a right with routing. Let me just do quick test with non-working case

[2021-01-20 17:41] pchlupacek commented on #4287
I have recreated the scenario on 10.30.1.0 network, please see below:

this is the pool config:
[code]

now I have created four pods (one [A] located on wc01, sencond [B] and third [C] on wc02, fourth [D] on wc03) with addresses 10.30.1.1,  10.30.1.2, 10.30.1.3, 10.30.1.4 assigned respectively.

the config of pods is pretty simple:

[code]

Now the routes on hosts :

wc01:
[code]
wc02:
[code]
wc03

[2021-01-20 18:28] cabrinha commented on #717
It would be great if the chart could get added to https://chartcenter.io/ -- makes it really easy to consume your chart without maintaining your own helm repo.

[2021-01-20 19:17] Bobonium opened #4326 "run eBPF + DSR on top of Wireguard ( Layer 3 VPN )"
I've got nodes in two differnet datacenters that are not directly connected, where not all nodes have a public IP. To run a single Cluster between the datacenters it is running on top of a wireguard connection. Not the Calico wireguard feature, but a standalone wireguard VPN connecting all the nodes
Calico itself is working without problems, but as soon as the eBPF layer is enabled all traffic is

[2021-01-20 20:46] #3989 closed

[2021-01-21 02:09] prgaly commented on #4325
After debugging this turned out to be a misconfigured firewall issue - for anyone that comes across this, make sure UDP 4789 is reachable to and from master<->worker nodes.

[2021-01-21 02:09] #4325 closed

[2021-01-21 05:01] 85117921 commented on #2941
@nia1048596  agree with you!

[2021-01-21 18:57] pchlupacek commented on #4287
Thank @lwr20 for guidance to resolve the issue. The issue was misconfiguration of the BGP on the TOR router where the eBGP routes were not propagated back to eBGP peers (calico nodes in same AS) with replaced AS Path of the TOR router thus they were dropped by BIRD process.

[2021-01-21 18:57] #4287 closed

[2021-01-22 11:33] telekomancer opened #4333 "BGP not configured but running"
I installed calico according to the documentation but i guess that BGP shouldn't be running.

## Expected Behavior

If i see the logs, i see some bgp activity and try to peer with other devices

Review bgp configuration during install

## Current Behavior

If i see the logs, i see this:

[code]

## Possible Solution

- No bgp activity

- First, don't start BGP and second, fix the log line.

**...

[2021-01-22 13:48] jnummelin opened #4334 "Calico with plain containerd on Windows does not work"
I'm trying to setup Calico on Windows with plain containerd CRI. (no Docker on top) Calico fails to configure networking on the pods.

## Expected Behavior
Calico should be able to create networks for plain containerd based pods

## Current Behavior
Calico and CNI seems to be ready:
[code]

But pod creation fails:
[code]

Containerd is configured to looks for CNI where Calico installer script puts

[2021-01-22 14:17] song-jiang commented on #4334
Thanks @jnummelin for the logs. I seems the log contains information for pod deletion (not pod creation). I am wondering if you can rerun your test and attach entire kubelet logs from very begining?

[2021-01-22 14:29] jnummelin commented on #4334
in the log third line it says: `Status Manager: adding pod: ...`, this is the point where I've submitted an IIS pod onto the node. There's lot of pod/sandbox deletions as kubelet retries to re-create the pod.

[2021-01-22 14:43] jnummelin commented on #4334
[k0s-calico.log](https://github.com/projectcalico/calico/files/5856538/k0s-calico.log)

this log is from the start of everything (containerd, kubelet etc.)

[2021-01-22 15:31] song-jiang commented on #4334
Not sure what is going on but from the log there is no process for sandbox creation. Calico IPAM cni is not being called and Calico CNI is called for pod deletion.

[2021-01-23 03:31] ThePieMonster opened #4336 "New Cluster Crashes After Adding Calico CNI"
**What happened**:

Created a fresh Kubernetes cluster using `kubeadm init --config /home/kube/kubeadmn-config.yaml --upload-certs` and then joining the 2nd control plane node by running the below.

    kubeadm join VIP:6443 --token <token> \
        --discovery-token-ca-cert-hash sha256:<hash> \
        --control-plane --certificate-key <key> \
    	--v=5

After both control plane nodes were adde

[2021-01-23 08:37] behnm opened #4337 "Change IPIP mode to BGP mode"
How can I change calico from IPIP mode to BGP mode ?

[2021-01-23 09:34] behnm opened #4338 "calico BGP mode in Rancher"
I need to rancher rancher with calico in bgp mode, however, the cluster runs just in IPIP mode.

[2021-01-23 16:00] JESWINKNINAN commented on #4336
@ThePieMonster I can see from the status which you have shared for kube-api server is in CrashLoopBackOff state, can you please share the API server logs..

[2021-01-23 19:17] ThePieMonster commented on #4336
How would you dump just the api server logs?

[2021-01-23 21:08] ThePieMonster commented on #4336
@JESWINKNINAN Any commands that use `kubectl` such as `kubectl get nodes` return the following.

[2021-01-23 21:50] ThePieMonster commented on #4336
@JESWINKNINAN I used the below to attempt to get logs from the api server but didn't get any logs back.

`docker ps -a | grep k8s_kube-apiserver`
`2294c7012018        75c7f7112080                "kube-apiserver --ad…"   4 minutes ago       Exited (1) 4 minutes ago                        k8s_kube-apiserver_kube-apiserver-k8s-master-0_kube-syst`

`docker logs 2294c7012018`
_No output_

[2021-01-24 06:48] JESWINKNINAN commented on #4336
Please increase the verbosity in the Master Node Kubelet to trace the error.

What does the Kubelet says regarding the same?

`journctl -u kubelet.server `

also, check whether anything is in `/var/log/kube-apiserver.log`

[2021-01-24 19:14] ThePieMonster commented on #4336
@JESWINKNINAN

journctl is not found
`root@k8s-master-0:~# journctl -u kubelet.server`
`journctl: command not found`

kube-apiserver.log does not exist.
`root@k8s-master-0:~# ls -l /var/log/`
[code]

Since the Control Plane Nodes have a issue with the API Server the VIP at IP .250 won't send traffic. So I changed the .kube\config IP to the direct IP of .4. Then ran `kubectl get nodes --v=10`.

[co

[2021-01-24 21:11] ctrahey opened #4340 "Kube Docs misstate x86-64 is required"
## Expected Behavior
[This requirements page](https://github.com/projectcalico/calico/blob/master/getting-started/kubernetes/requirements.md) should either accurately reflect supported architectures, or avoid discussing it at all if the project is fully multi-arch.

## Current Behavior
The page linked above currently includes "x86-64 processor" as the first item under "Node requirements"
I have ju

[2021-01-25 10:17] jnummelin commented on #4334
@song-jiang is there any more info I could dig out from the env? I can bump up the log levels if needed too.

This feels it could be related: https://github.com/containerd/containerd/issues/4851

[2021-01-25 15:50] song-jiang commented on #4334
@jnummelin I don't think I would need more information from your cluster. It looks like there is no quick fix for containerd support. Thanks!

[2021-01-25 20:14] jnummelin commented on #4334
@song-jiang so you confirm that this is the same containerd issue I linked?

[2021-01-26 07:15] artemry-nv commented on #4256
Any chances it will be fixed in the default quay.io registry?

[2021-01-26 08:57] lixwlixw opened #4344 "networkpolicy is configured with action: Log. but I can't see any rejected logs"
calico version 3.12.3
kubernetes version 1.12.3

I have configured policies and logs in calico networkpolicy.
The policy has taken effect, but I can’t see any logs about rejection.

[code]

[2021-01-26 11:47] fasaxc opened #4345 "calicoctl migrate docs page is empty"
## Expected Behavior

The migrate commands should be documented
## Current Behavior

https://docs.projectcalico.org/reference/calicoctl/datastore/migrate/ is empty, possible broken.

## Possible Solution

Write the docs :-)
## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version: v3.17
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operating System

[2021-01-26 13:48] Jc2k commented on #2279
Is there a workaround for this in calico? Its coming up to a year and nothing really happening upstream.

[2021-01-26 17:03] song-jiang commented on #4334
I would think so.

[2021-01-26 17:10] song-jiang commented on #4338
My understanding is Rancher using Calico with BGP mode and IPIP. BGP for routes propagation and IPIP for inter-subents connections.

[2021-01-26 17:12] caseydavenport commented on #4340
Yes, that's a docs bug. Strictly speaking, the Calico team only has the test infrastructure to support x86, which is likely why that is worded that way. However, we have community-provided builds for other architectures as well - ppc64le and arm64, s390x.

I'll submit a PR to update.

[2021-01-26 17:16] caseydavenport commented on #4340
This should do it: https://github.com/projectcalico/calico/pull/4347

[2021-01-26 17:17] lwr20 commented on #4333
Exactly how did you install Calico?  i.e. which URL did you follow?  Some installation methods need BGP to be working.

This error often occurs when the host that its running on has >1 network interface and calico has picked the wrong one to use.  That can be fixed by setting the IP_AUTODETECTION_METHOD - see https://docs.projectcalico.org/reference/node/configuration#ip-autodetection-methods

[2021-01-26 17:18] caseydavenport commented on #3996
Master manifests should have those characters removed now!

[2021-01-26 17:18] #3996 closed

[2021-01-26 17:18] #4296 closed

[2021-01-26 17:20] #4012 closed

[2021-01-26 17:21] #3908 closed

[2021-01-26 17:21] #3544 closed

[2021-01-26 17:23] #3424 closed

[2021-01-26 17:24] lwr20 commented on #4313
I'm not sure I understand what you're saying is a bug here?  Can you expand please?

[2021-01-26 17:26] #2941 closed

[2021-01-26 17:27] lwr20 commented on #4257
Yes, it would have logged this in the pod log.  @fasaxc is there any code in calico-node which might set the loopback interface down?

[2021-01-26 17:27] #4233 closed

[2021-01-26 17:28] #4093 closed

[2021-01-26 17:28] #4057 closed

[2021-01-26 17:29] #4017 closed

[2021-01-26 17:31] bcreane commented on #4344
Hi @lixwlixw. You can watch a live difference of iptable rule hits with something like `sudo watch -d iptables -v -L` (on the node). If you send traffic you expect to see denied and logged, confirm that you're seeing the relevant iptable rule "hit." If it's not being hit, suggest you confirm your test setup is sending traffic to a pod on the node, and then I'd probably simplify the policy - I don'

[2021-01-26 17:31] #4226 closed

[2021-01-26 17:31] #4218 closed

[2021-01-26 17:32] #4138 closed

[2021-01-26 17:32] #4102 closed

[2021-01-26 17:37] #4247 closed

[2021-01-26 17:40] bcreane commented on #4337
Hi @behnm - are you asking how to disable IPIP encapsulation and move from full mesh BGP peering to, for example, peering with a BGP top-of-rack router? If so, then checkout https://docs.projectcalico.org/networking/bgp for moving from full mesh to peer with a, for example, a single TOR. In terms of disabling IPIP, I think you just need to adjust your `ippool` resource, ie see https://docs.project

[2021-01-26 17:42] behnm commented on #4338
Thanks for the answer.
When we create a cluster in rancher, after choosing **"calico"** from the menu, calico run on all nodes of the cluster in IPIP mode. we can see this config on the nodes. All of them have **"tun0"** interface which means, calico works in IPIP mode not in BGP mode. If calico works in BGP mode, all the routes must be assigned to ETH0 not TUN0.
Please help me, How can I create a

[2021-01-26 17:46] telekomancer commented on #4333
Thanks for your reply @lwr20, i installed using kubectl:

[code]

![Following this documentation](https://docs.projectcalico.org/getting-started/kubernetes/flannel/migration-from-flannel)

[2021-01-26 17:47] caseydavenport commented on #4338
Closing as a duplicate of https://github.com/projectcalico/calico/issues/4337

[2021-01-26 17:47] #4338 closed

[2021-01-26 17:47] #4337 closed

[2021-01-26 17:54] behnm commented on #4338
please dont close it. another one was duplicate (#4337 )

[2021-01-26 17:55] mgleung commented on #4323
Hi @2ZZ can you validate what CNI plugin you are using on EKS and maybe provide the logs for the CNI plugin? My first thought is that the CNI plugin is borrowing from a separate range of IPs prior to the node being ready which is why you might see only the first pod being scheduled in a different IP range than the others.

[2021-01-26 17:58] caseydavenport commented on #4338
Please review the Calico documentation, and if you're still having trouble open another issue (just one). When you do, please make sure to follow the issue template that is provided, giving all of the steps you have taken, etc.

[2021-01-26 17:59] fasaxc commented on #4257
I can't think of anywhere in the product that we set an interface down (and I grepped the codebase for the relevant API call and got no hits); what makes you think that Calico set the interface down?

I recommend checking the system journal for the time that lo went down.  Maybe the app that is doing that will emit some sort of log about it.

[2021-01-26 18:00] fasaxc commented on #4257
Do you run any host-networked pods apart from Calico or any apps on the hosts themselves that might do this?

[2021-01-26 21:26] backjo commented on #4306
@nagarahalli for non-amd64 systems, the syscalls needed for eBPF data plane are stubbed - see https://github.com/projectcalico/felix/commit/3dafabe1213d838468cade0722a0dea3bc8e8f61 . This prevents eBPF data plane from being enabled.

[2021-01-26 22:54] #4345 closed

[2021-01-26 22:58] 2ZZ commented on #4323
Hi @mgleung, it is aws-cni with CNI-Genie also running on there. I asked on Calico Slack and it was suggested CNI-Genie is likely the problem. I can upload logs tomorrow.

I *think* what is happening is:
- node starts
- aws-cni starts and sets NetworkReady to true
- my app pod is scheduled on the node and gets the wrong IP
- calico + cni-genie pods are scheduled and networking gets fully configure

[2021-01-26 23:30] mgleung commented on #4345
This should be fixed by https://github.com/projectcalico/calico/pull/4348 and related PRs.

[2021-01-27 01:42] lixwlixw commented on #4344
The iptables rules have taken effect.
The networkpolicy matches my expected configuration.
I want to know where can I see the log of networkpolicy rejecting requests?

[2021-01-27 02:01] bcreane commented on #4344
As mentioned in https://docs.projectcalico.org/archive/v3.17/security/calico-network-policy#features, the log actions are recorded in the node's syslog output.

[2021-01-27 03:09] lixwlixw commented on #4344
i see see. thanks~

[2021-01-27 03:30] #4344 closed

[2021-01-27 04:09] ShawnBian opened #4352 "calico global networkpolicy does not work for egress policy ?"
we use calicoctl to apply below yaml file :

![image](https://user-images.githubusercontent.com/19188604/105942525-57d8fb00-609a-11eb-83be-c77d52e3bf20.png)

post the yaml file here as well (I dont know why the format is just disappeared once we copy them to here)

=========================================

[code]
=======================================

## Current Behavior
pod has label "color=bl

[2021-01-27 04:56] ShawnBian commented on #4352
meanwhile I also find other question , if we apply below yaml file :
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: deny-blue
spec:
  selector: color == 'red'
  types:
  - Ingress
  #- Egress
  Ingress:
  - action: Deny
    metadata:
      annotations:
        from: blue
        to: red
    protocol: TCP
    source:
      selector: color == 'blue'
    destination:

[2021-01-28 04:58] barttcarl commented on #2818
I had the same issue in v1.20 on fedora 33 and I found this post:
https://upcloud.com/community/tutorials/install-kubernetes-cluster-centos-8/

The command that makes my controller work was:
firewall-cmd --zone=public --permanent --add-rich-rule 'rule family=ipv4 source address=worker-IP-address/mask accept'

[2021-01-28 08:19] TheKangaroo commented on #4211
Quick question: What does a PDB for a deployment with replica count "1" and maxUnavailable "1" actually do?

[2021-01-28 09:34] zaldre commented on #4313
This error occurs when deploying using the instructions listed here : https://docs.projectcalico.org/getting-started/kubernetes/installation/config-options

If you configure ETCD options, the secret does not get mounted into the calico-kube-controllers pod with the correct permission causing a crashloopbackoff.

Error states: main.go 101: Failed to start error=failed to build Calico client: could

[2021-01-28 11:00] gdziwoki commented on #4211
It prevents [this](https://github.com/projectcalico/calico/pull/4089)

[2021-01-29 07:56] TheKangaroo commented on #4211
Ah I see, thank you 👍
We use our custom redeploy mechanism and no autoscaler so we never hit that case :)

[2021-01-30 18:16] dcodix opened #4356 "o eks 1.15"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operating System and version:
* Link to your project (optional):

[2021-01-30 18:17] #4356 closed

[2021-01-30 20:36] jdbranham opened #4357 "[Bandwidth plugin] networkPlugin cni failed to set up pod XXXX network: adding link: invalid argument"
A pod is unable to start after adding the K8S ingress/egress bandwidth annotations.
Same behavior on EKS and Minikube.

## Expected Behavior
The pod should start with the CNI bandwidth throttling

## Current Behavior
The pod errors while creating -

[code]

Calico node logs reveal this error just after Calico installation -
[code]

## Steps to Reproduce (for bugs)
Example repo here -
[https://gith

[2021-01-30 21:23] mercanon commented on #3979
I have a variation on the original post that I don't understand.  I have essentially the same config; 3 node cluster the hard way.  My problem is not DNS; it works as expected in the cluster.  I'm trying to test the Typha Service and can't reach the service IP as documented in [Calico the hard way](https://docs.projectcalico.org/getting-started/kubernetes/hardway/install-typha).  However, it's rea

[2021-01-31 16:57] jdbranham commented on #4357
After more research,  I believe this may be caused by the default AMI Linux version.
As referenced in this guide -
https://docs.projectcalico.org/maintenance/ebpf/ebpf-and-eks

[2021-01-31 20:50] jdbranham commented on #4357
The problem was the Linux kernel version.

I switched to the Ubuntu 20LTS image for the nodes and the bandwidth annotations were applied.
More info [about the Ubuntu EKS images here](https://cloud-images.ubuntu.com/aws-eks/)

Although, the performance test results were a little different than I expected.

Example output -
[code]

If you're interested in the POC, see the examples here -
[https://gi

[2021-01-31 20:50] #4357 closed

[2021-02-01 20:07] juanfresia opened #5247 "Add configuration option to disable route programming from calico/node"
Hi everyone! This is not a bug, but more like a feature request of sorts.

## tl;dr

We want to propose adding a configuration to disable any interaction between `calico-node` (through `felix`) and the routing tables. This is to allow running Calico as a NetworkPolicy controller only.

## Longer version

We want to know how hard would it be to modify `felix` to allow running `calico-node` in a tru

[2021-02-02 11:28] ErkkaKorpi opened #4361 ""https://[100.64.0.1]:443/apis/crd.projectcalico.org/v1/clusterinformations/default": dial tcp 100.64.0.1:443: i/o timeout when creating pods"
Since upgrading kOps managed cluster from version 1.16.14 to 1.17.17 we started seeing this error where pods hang on "ContainerCreating" up to 20minutes. If i describe the pod thats failing to start i can see events:

`Normal   Scheduled               5m46s                default-scheduler  Successfully assigned erkka-test/nginx-deployment-9496f96c-gs7zd to ip-10-168-48-156.eu-west-1.compute.inter

[2021-02-02 13:14] MridulS commented on #4257
Looking around the logs, this is pretty much the only thing that shows up
[code]

Just before this the log also shows
[code]

I am not sure if this has anything to do with this particular issue but all over the logs for this node in the cluster I also see these repeatedly, similar to https://github.com/projectcalico/calico/issues/3960
[code]

There is coredns running, not other app should be doing

[2021-02-02 13:36] punkprzemo opened #4362 "same IP on two different MAC (two different machines)"
## Current Behavior

We are using Calico VXLAN mode.
[code]

Example  issue from title:
[code]
I have a `Pod` which has IP from cluster VXLAN default pool 172.26.x.x/16 running on k8s worker `Node_B`
This `Pod` is doing a lot of frequent connection healthchecks to application which is running on **non-k8s** `Node_A`.
**If i kill the** `Pod` some packets captured  on eth0 of the `Node_B` appears to

[2021-02-02 13:47] fasaxc commented on #4257
This one looks a bit suspicious:
[code]

These messages are normal as pods come and go; they're logged by the kernel when we create/delete the workload's veth.
[code]
This one doesn't use Calico's naming scheme:
[code]
Do you also have another CNI running or other kinds of workloads (e.g. native docker containers running)?

[2021-02-02 15:01] yiyan-wish commented on #3818
Same problem EKS with calico cni plugin

[2021-02-03 09:20] MridulS commented on #4257
Thanks for the reply @fasaxc!

I guess I can upgrade the machines [currently running Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-126-generic x86_64)]

Calico is the only CNI we run and no docker container is running outside k8s. Looking a bit more at the logs it looks like the `veth` interface is attached with docker0. (These messages are emitted even when the cluster is working smoothly)
[code]

Also fo

[2021-02-03 09:27] fasaxc commented on #4257
Yes, I'd try updating kernel and docker; it's hard to see how Calico could set your `lo` interface down.  I think having `lo` down will break Calico, for sure but I don't see how we can cause it unless there's a kernel bug.

[2021-02-03 14:55] #4312 closed

[2021-02-03 23:00] BouweCeunen commented on #4361
I'm experiencing the same, sometimes pods start without an issue, sometimes they hang with that message for up to 10minutes.

I found some "solutions" online but haven't tried them yet. https://imlc.me/how-to-resolve-no-route-to-host-in-kubernetes

Most things point to the `iptables`.

[2021-02-04 01:31] aalaesar commented on #3583
Hi.
As mentioned [Here](https://github.com/projectcalico/cni-plugin/issues/869#issuecomment-742168053), I have also built calico for 32bits arm, late 2020, and I'm willing to contribute. (finally started refining my changes).
As this issue is stall since summer 2020, following the contributing code, do I need to open a new issue or can we continue on this tread ?

Regards
Aal.

[2021-02-04 09:42] fasaxc commented on #3795
Reported to k8s: https://github.com/kubernetes/kubernetes/issues/98758

[2021-02-05 05:28] bkannadassan opened #4370 "Unable to reach pod ip from the master."
## Expected Behavior
We created a K8s cluster with 1M/3W and we have Calico CNI. We see that the cluster is coming up fine without any issues. When a pod is created we see the routes are getting added but when a ping is done from Master to the POD we should see the packet sent inside the tunl0 which is an IPIP tunnel and response received.

## Current Behavior
We see that the packet is sent into t

[2021-02-05 23:22] cjac opened #4371 "Hardware offload to PowerConnect 6200 switch"
[code]

## Expected Behavior

It may be possible to implement this with SNMP, otherwise ssh + tftp might be a good solution

## Current Behavior

Is there any support for offload to other switches?  Not certain.

## Possible Solution

SNMP
ssh + tftp

## Context

I understand that a great deal of the network configuration happens with a software bridge.  I don't want this to be a bottleneck when I

[2021-02-06 00:20] lmm commented on #3583
So I think what you'll need to do is

Add a new Dockerfile to https://github.com/projectcalico/go-build for armhf. You can see from here https://github.com/projectcalico/go-build/blob/master/Makefile.common#L18 that the file extension for the Dockerfile is used as the GOARCH env var used when buidling a project for a specific arch. https://github.com/projectcalico/cni-plugin/blob/master/Makefile#L

[2021-02-06 01:10] aalaesar commented on #3583
Thank you @lmm.

Maybe the project should choose the canonical name for this architecture ?
It has many variants (arm, armv7, armhf, etc) but it can't only have one for all the project's components.
For now I use 'arm' (because I'm lazy 😄 )

Here a list of PR to follow the arm integration :

- [ ]  [bird](https://github.com/projectcalico/bird/pull/89)
- [ ]  [go-build](https://github.com/projectca

[2021-02-06 07:49] NadamHL opened #4372 "Liveness probe failed: Get http://127.0.0.1:9099/liveness: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"
[code]

When the server joins the cluster and runs the calico node node, it will affect the port communication of this host. The telnet 127.0.0.1 port is unavailable, and the telnet network port (the host's own network port ip address) port is connected. When this node is deleted, it returns to normal. For this reason, calico node is always no ready

[code]
![image](https://user-images.githubuserc

[2021-02-06 07:51] NadamHL commented on #4372
kubectl logs calico-node-fh8fr  -n kube-system

[code]

[2021-02-08 13:30] mattfenwick opened #4373 "Network policy blocks traffic that should be allowed"
On a kind cluster with calico install, using this network policy, I expect pod x/a to be able to reach pod y/b over any port on TCP.  x/a is able to reach y/b on port 80 over TCP. However, x/a is not able to reach y/b on ports over TCP (79, 81, 82, etc.).

[code]

I also see analogous behavior with the ingress analogue network policy.

Pods in my cluster:

[code]

## Expected Behavior

Expected co

[2021-02-08 13:38] fasaxc commented on #3795
@kfirfer we're missing part of the puzzle here:
* You have a global network policy but what are you applying that policy to?  Are you using host endpoints?
* What other policy do you have in place?  Do you have any egress policy?  One of the effects of notrack is that response packets will not be auto-allowed so you need to make your rules symmetric.  If you have a rule that "allows dest port 53"

[2021-02-08 13:48] jayunit100 commented on #4373
thanks @mattfenwick -- @fasaxc @caseydavenport   , any thoughts on this?.... been evolving our test suite to auto generate basically every possible scenario and evaluate it

[2021-02-08 14:10] fasaxc commented on #4373
Looks like a mismatch here: https://github.com/projectcalico/libcalico-go/blob/b29066676c7438a22f7185c00e644354f3c84576/lib/backend/k8s/conversion/conversion.go#L562

If the port struct has no port in it, we skip the whole port struct rather than treating as "all ports" for the given protocol.

[2021-02-08 14:18] mattfenwick commented on #4373
I'm happy to put together a PR to address this if that helps you @fasaxc , lmk!

[2021-02-08 14:23] fasaxc commented on #4373
@mattfenwick Be my guest; should be fairly straightforward and that code is easily unit tested by passing it a canned NetworkPolicy and verifying what you get out.  Now we know what the issue is, I'd probably start with a test to repro the scenario in UT; then fix it :-)

[2021-02-08 17:47] grandich opened #4374 "IPAM inconsistencies and unreachable pods after Etcd restore"
We are testing restore of Etcd data from backup for disaster recovery scenarios in our kubernetes on-premise cluster.

Kubernetes re-applied state correctly after restore, but Calico IPAM resulted in multiple inconsistencies and pods unreachable. In order to stabilize the cluster, we rebooted all workers to trigger reallocation of IPs and recover pod reachability.

Besides the correctness of this

[2021-02-08 17:50] ffilippopoulos commented on #4170
+1 for this idea. This will allow us to write a small operator that syncs calico nodes from another cluster an use wireguard encryption in transit. Tried to "hack" it by adding additional calico nodes but this is apparently not allowed:
[code]

[2021-02-08 22:54] caseydavenport commented on #4372
I'm a bit confused - the title of this issue suggests an issue with liveness probes, however the description doesn't claim any issues with liveness probes.

The provided logs look OK to me, with the exception that the calico/node seems to be running with a NODENAME that doesn't match the Kubernetes node.

This is also a _very_ old version of Calico. Could you please try using a modern version to s

[2021-02-08 23:05] caseydavenport commented on #4374
This doesn't surprise me if the backup was taken well in advance of when it was restored. IPAM state is completely intertwined with running pod state. For example, if a backup is taken, and then ANY pods in the cluster are launched, restarted, or removed, then restoring that IPAM backup will result in inconsistency.

Kubernetes itself doesn't act as a source-of-truth for IP addresses, it just repo

[2021-02-08 23:05] zatamine commented on #2405
Any solution for this issue please ?

[2021-02-08 23:15] caseydavenport commented on #4374
Some more thoughts / speculation about what is going on here:

- The "unmatched" allocations are probably the easiest to explain. They were backed up, the pods deleted, and upon restore were blindly restored even though there were no longer any pods running. Effectively, these are "leaked" resources.
- The "missing" allocations most likely are pods that were launched after the backup, but before t

[2021-02-08 23:17] caseydavenport commented on #4170
Calico uses the kubernetes node resource behind the scenes. For your hack, you could probably create dummy nodes in the k8s API and Calico would just treat those as if they were real.

[2021-02-08 23:28] caseydavenport commented on #4362
Interesting. It seems that this is triggered by the killing of the pod somehow?

One thing that might be relevant is that generally we perform SNAT for traffic originating within a pod that is destined to something outside of the pod network. So I'd expect traffic leaving Node_A to look like traffic from Node_A -> Node_B on the wire.

Perhaps when you kill the pod, the return traffic is arriving a

[2021-02-08 23:51] kawamoto-taku-13 opened #4380 "Kubernetes network policy is not enabled between different nodes."
We are currently creating multiple instances on Oracle Cloud Infrastructure to build a Kubernetes cluster.
We are building it from scratch using kubeadm instead of OKE, assuming that it can be built in any environment such as on-premise.

When I installed Calico as a CNI plugin and configured the network policy for Kubernetes, the network policy setting does not work.
When you install Calico as a

[2021-02-08 23:54] #4308 closed

[2021-02-09 00:02] #4314 closed

[2021-02-09 00:17] caseydavenport commented on #4333
Do you see that log line about BGP peers repeatedly? Or is it a transient thing?

Are your cross-host pod to pod connections actually working?

The manifests in the document that you linked already disable BGP by deafult, as evidenced by the readiness probe, which would have a `--bird-ready` if BGP was being checked:

[code]

As well as the networking backend, which would be "bird" if BGP was in u

[2021-02-09 00:19] caseydavenport commented on #4323
Yeah, that's exactly what's going on here, if I had to guess. The cluster will have AWS CNI by default, and Calico won't be available until CNI genie is installed.

This isn't a configuration that we test or support, so I can't provide much more information on it. What is it that you're trying to do?

[2021-02-09 00:19] #4323 closed

[2021-02-09 09:14] ffilippopoulos commented on #4170
@caseydavenport thanks! I thought of your suggestion as well, but for bigger clusters it's a lot of duplication and I am afraid that things might get messy. Is there any thoughts about creating a new crd for external wireguard nodes as part of this feature request? Something where we could probably specify addresses and wg public key in order to peer with external nodes we manage (something simila

[2021-02-09 09:48] masonb81 commented on #2561
IP_AUTODETECTION_METHOD was also the same problem for me. The calico-node-* pods in the kube-system namespace wer in 0/0 ready state.

Run:
kubectl set env daemonset/calico-node -n kube-system IP_AUTODETECTION_METHOD=can-reach=www.google.com

Then the pods became ready within a few seconds.

Reference:
https://docs.projectcalico.org/networking/ip-autodetection#change-the-autodetection-method

[2021-02-09 11:35] romulus-ai opened #4382 "Calico 3.16+ and FirewallD CentOS 7 not working well"
Since the 3.16 release, you guys moved to following rule:
ACCEPT     all  --  anywhere             anywhere             /* cali:S93hcgKJrXEqnTfs */ /* Policy explicitly accepted packet. */ mark match 0x10000/0x10000

from some Calico IPTables Chain to the FORWARD Chain and Calico ensures that this rule will be the last rule in this chain.

However this collides with FirewallD which introduces the

[2021-02-09 12:38] 2ZZ commented on #4323
Thanks @caseydavenport
I worked around it by putting a pre-init script in aws-cni to wait for genie to exist before starting itself.

[2021-02-09 13:17] telekomancer commented on #4333
Thanks for your reply @caseydavenport, nowadays i only see this:

[code]

Related to BIRD ... related to BGP (as BGP and not bgp) i don't have logs (TBH i don't use the cluster in this last 2 weeks) there are some things, related to BIRD that i cannot give you more information 'cause i don't know "when" the things happen, as you see from the previous output. BUT i can tell you that even i haven't

[2021-02-09 13:46] grandich commented on #4374
Is there any Etcd schema information to use and differentiate IPAM from non-IPAM data? Not sure if using etcd snapshot we can filter this.

Supposing we can restore Calico's etcd datastore without IPAM data, does this produce a consistent Calico state from which to operate?

[2021-02-09 15:50] champtar opened #4384 "IPIP broken in EL 8.3 with multiple drivers"
This is just a heads up to help triage bug report, nothing to fix in calico.
With EL (RHEL/CentOS/Oracle) 8.3, I've seen 2 cases where IPIP is broken

1) using Mellanox network card (mlx5_core driver), 8.3 ask the NIC firmware what offload is supported, but the firmware is buggy
[code]
[code]
Nothing public, internal RHEL case https://access.redhat.com/support/cases/#/case/02800279

2) using VMWar

[2021-02-09 19:31] caseydavenport commented on #4170
Yeah, I think that for this feature (and a couple of other similar features) we'd need to introduce the concept of a node that isn't part of the Kubernetes cluster, which currently doesn't exist when using the k8s API server as the backing store.

fwiw, this might be possible already in etcd mode, where we aren't limited by the k8s node resource.

[2021-02-09 19:43] caseydavenport commented on #4374
In etcd mode the IPAM data is all under the /calico/ipam/ subdirectory, if I recall correctly.

There are probably some other resource directories that you'll want to ignore, for example workload endpoints, which are also specific to a particular instance of a pod. You'll want IPAM and WorkloadEndpoint data to match the currently running pods on the cluster, rather than whatever pods happened to b

[2021-02-09 19:47] caseydavenport commented on #4333
I am afraid I still don't understand what the problem is here, if any.

The fact that BGP is running is only a problem if your DaemonSet is configured to disable BGP. If the DS has BGP enabled, then it is expected. Could you please share the DaemonSet that is running on your cluster so we can confirm that BGP is actually disabled?

[2021-02-09 19:49] caseydavenport commented on #4361
This generally means that Calico isn't able to access the Kubernetes API server, which is done via kube-proxy's Service implementation. If I had to guess, this isn't a problem with Calico per-se, rather it points to something wrong with either the host's networking or kube-proxy on the node.

[2021-02-09 20:18] telekomancer commented on #4333
The only DaemonSet that i have is "calico-node" which content is (on topic):

[code]
I guess that is necessary to say that i just migrate from flannel to calico with the ![manifest copied before](https://github.com/projectcalico/calico/issues/4333#issuecomment-767712717)

So i didn't "tuned in" the services or make something different from the comment that i pasted again.

[2021-02-09 23:07] kfirfer commented on #3795
@fasaxc

Yes Im using automatic host endpoints:
[code]

I dont have egress GlobalNetworkPolicy rules
This is my GlobalNetworkPolicy:
[code]

[2021-02-10 03:02] bkannadassan commented on #4370
Issue was my underlay had admin security enabled and hence tunl ip is blocked. On removing the admin security it started working.

[2021-02-10 03:02] #4370 closed

[2021-02-11 00:27] mgleung commented on #4092
Hi @imalandu , I just took a crack at replicating your issue with the policies you've provided in a clean cluster and was able to see connectivity between the pods with namespaces set up similar to yours. Wanted to quickly ask if there were any other policies (`GlobalNetworkPolicy` or `NetworkPolicy`) in your system that might be interfering with these workloads?

[2021-02-11 07:05] Bo0km4n commented on #4259
@caseydavenport I got resolved this problem.
The causes is I forgot deploy `calico-kube-controllers` .
But I'm not sured how calico-kube-controllers to garbage collect ipamhandles resource.
Do you know this logic ?

[2021-02-11 08:24] tommasopozzetti commented on #4235
@caseydavenport Created a PR with the change that should resolve the issue projectcalico/libcalico-go#1363

[2021-02-11 18:36] enginious-dev commented on #1709
@Davidrjx try execute
`sudo ufw allow 179/tcp comment "Calico networking (BGP)"`

[2021-02-12 01:00] diranged opened #4389 "Calico 3.17.2 on EKS with AWS VPC CNI drivers in "Custom Networking Mode" and eBPF problems"
We've got an EKS cluster running with EKS 1.18, the latest AWS CNI Networking drivers, Bottlerocket 1.0.5 hosts, and the "custom networking" mode where our Kubernetes Nodes live on normal routable subnets in our VPC (10.xx.xx.xx), and our Pods live on dedicated subnets (100.64.xx.xx). We flipped on eBPF networking mode following the process described [here](https://docs.projectcalico.org/maintenan

[2021-02-12 17:08] emptywee commented on #4290
Looks like we're having a similar issue or at least it has exactly the same symptoms. We're on Calico 3.16.5 with eBPF and DSR mode on in production yet, but 3.17.2 in dev/qa shows the same symptoms.

We're seeing odd connection resets, where TCP RST would be issued by a pod shortly after TCP connection is established to the pod (via service IP from outside the cluster). There's always a specific

[2021-02-12 17:25] fasaxc commented on #4290
@renan are you using DSR mode too (or @emptywee does it also happen with DSR disabled?)

[2021-02-12 17:31] emptywee commented on #4290
@fasaxc  I'll disable it in dev/qa and test (it's a bit harder to reproduce in dev/qa due to overall less busier cluster traffic-wise). I am actually thinking to add an iptables rule with slight chance of dropping incoming SYN/ACK from a chosen service IP to speed up the occurrence of this bug. I'll keep you posted!

[2021-02-12 17:34] fasaxc commented on #4290
Currently, each new incoming SYN gets load balanced independently; wonder if we should re-use the same backend to avoid any cross-talk.

[2021-02-12 18:41] emptywee commented on #4290
Technically, I don't see why we should, but it should not be the cause for connection resets that's for sure.

[2021-02-12 19:37] emptywee commented on #4290
Tried with DSR mode off, same results, same pattern.

[2021-02-12 19:39] emptywee commented on #4290
My calico configuration:
[code]

[2021-02-12 20:21] emptywee commented on #4290
Attaching a pcap file:

[pod_rst.pcap.zip](https://github.com/projectcalico/calico/files/5974129/pod_rst.pcap.zip)

 and here's relevant eBPF debug logs pertaining to one of the resets we are seeing:

[code]

[2021-02-13 00:27] tomastigera commented on #4290
After reviewing some of the pcaps I think @fasaxc hit the nail right on. I think we considered resolving this issue before, we were worried that reusing the faulty backend may result in the connection being stuck for a very long time. If the backend does not exist anymore, we will eventually (within 10s) clean up the conntrack, if the backend is just faulty, but still exists from k8s point of view

[2021-02-13 01:12] tomastigera commented on #4275
what is the distro? We had an issue with eks Bottlerocket because the bpffs is mounted in a wrong place.

[2021-02-15 08:26] dmitry-irtegov opened #5191 "install-cni.sh does not work with readOnlyRootFilesystem: true"
## Expected Behavior

I want to run cni-calico and cni-canal with read-only container root file system

## Current Behavior

when I set readOnlyRootFilesystem: true, install-cni.sh fails with the message that it cannot write /calico.conf.tmp

## Possible Solution

Provide a /tmp volume and use it to store temporary files

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

Using read-only r

[2021-02-15 09:04] renan commented on #4290
@fasaxc In my case, I have not enabled DSR mode. Using the default configuration for that.

[2021-02-15 17:51] rodrigogansobarbieri commented on #4216
After building the package manually (it was missing the dh-python dependency) I was able to test it on Focal. Turns out it doesn't work. When creating VMs, it triggers this error:

https://paste.ubuntu.com/p/jQnJ8CqRMf/

However, that error is due to Python 3.8, which enforces the Runtime error. See https://stackoverflow.com/questions/59216749/runtimeerror-dictionary-keys-changed-during-iteration-

[2021-02-15 22:15] kiemlicz opened #4400 "Initiate traffic with floating IP and receive a reply"
## Question
I would like to initiate the traffic to some application POD with `FLOATING_IP` set to be a SRC IP
I added to the POD with floating IP a following rule:
`iptables -t nat -A POSTROUTING -d APP_IP -j SNAT --to FLOATING_IP` which effectively spoofs the `FLOATING_IP`
The outgoing traffic has indeed spoofed the IP to be a `FLOATING_IP`, however the reply from the APP is not making it to the

[2021-02-16 04:32] pksrc commented on #4313
FYI, I ran into this as well while bootstrapping a cluster. I was able to solve it using the edit as suggested above.

[2021-02-16 09:23] fasaxc commented on #4290
@renan @emptywee I made a test build of `calico/node` with a potential fix if you want to try it out; the image name is `fasaxc/calico-node:ct-syns-2`.  Obviously, it's a test build so you probably don't want to drop it onto your production cluster!

[2021-02-16 11:04] renan commented on #4290
@fasaxc This is looking good!

I've tried your build on the two initial scenarios of this issue and it had no failures!

I am going to test a bit more but this might be it.

#### One pod, no failures

[code]

#### One pod on each node, no failures

[code]

[2021-02-16 11:06] fasaxc commented on #4290
That's great; I think I've missed the boat for v3.18.0 at this point but I'll try to get this into v3.19 and v3.18.1

[2021-02-17 01:05] mgleung commented on #4291
Hi @ducminhle, was taking a crack at trying to replicate your issue and am having a little bit of difficulty (though my testing is on a different version of Calico). I have 2 policies only, 1 to deny traffic from any other namespace and 1 to allow traffic from another namespace (based off of your policy above).
[code]
Thought that I should ask as a follow-up what your network policy looked like th

[2021-02-17 10:10] song-jiang opened #4404 "Calicoctl.exe ipam return error on Windows node"
Calling Calicoctl ipam on a Windows node return error.
[code]

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Calico version
* Orchestrator version (e.g. kubernetes, mesos, rkt):
* Operating System and version:
* Link to your project (optional):

[2021-02-17 16:14] fasaxc commented on #4389
[code]
Suggests you're using log actions in your policy; those aren't supported in BPF mode.  They're supposed to be silently ignored but looks like you've found a bug.

If we can't generate policy then we fail closed.

[2021-02-17 16:16] diranged commented on #4389
Whoa .. ok wait, so in eBPF mode we simply have to make sure that NetworkPolicies with a `Log` action do not exist? We can do that! :)

Is this documented anywhere?

[2021-02-17 16:19] fasaxc commented on #4389
Yes, but only in the master docs: https://docs.projectcalico.org/master/maintenance/ebpf/enabling-bpf  We have a v3.18 release any day now and then they'll go live.

To be clear, it's not supposed to explode as it did; it's supposed to ignore Log rules.  (Log rules are not implemented because BPF has no access to iptables `-j LOG`.)

[2021-02-17 16:28] diranged commented on #4389
![image](https://user-images.githubusercontent.com/768067/108234845-0f8d8580-70fa-11eb-9114-9031e1610e16.png)

Yup - its there.. I just didn't see it. I understand why its not supported, I think the failure scenario is just painful to debug. Thank you. I am going to try again!

[2021-02-17 16:44] diranged commented on #4389
I was able to make eBPF work after removing the Log action! Thank you for the help..

[2021-02-17 16:44] #4389 closed

[2021-02-17 18:04] emptywee commented on #4290
@fasaxc  I am installing your test image in our lab and dev/qa clusters. I am confident the issue is fixed since it has been fixed for @renan and we probably had same problem by nature.

[2021-02-18 13:39] r3pek opened #4408 "make autoHostEndpoint detect all IPs on the interfaces"
Right now, autoHostEndpoint feature just detects the EndPoints the cluster nodes use to communicate with eachother
In the case there's some more interfaces, they aren't detected and populated in the HostEndpoint object.

## Expected Behavior
HostEndpoint should have all IPs available

## Current Behavior
Only the interfaces with IP used for communication between nodes are identified

## Possible S

[2021-02-18 13:40] lwr20 commented on #4408
From a conversation in Calico Users slack:
https://calicousers.slack.com/archives/CPEPF833L/p1613639469490300

[2021-02-18 14:13] erhan- commented on #2695
I had the same issue and changed the CIDR as well without luck. I found the solution for me.

When I tried to do `modprobe ip_conntrack && modinfo ip_conntrack` it failed on the node but was working on the master. I checked and saw that the files were in `/lib/modules/4.18.0-240.15.1.el8_3.x86_64/` (in that version) . I did something strange and don't even know why I tried it. On the master the mo

[2021-02-18 17:45] caseydavenport commented on #4408
Yes, this would be a nice improvement. We need those IPs to show up in the data store, so I think:

- The first step here is to enhance the Calico "Node" API object to be capable of holding an arbitrary number of IPs (perhaps tagged with some metadata).
- Next step would be to get calico/node to maintain that set of addresses on the node object.
- Finally, get kube-controllers to write those addre

[2021-02-19 08:23] mlushpenko opened #4411 "Calico ebpf + wireguard packet drops"
## Current Behavior
Wireguard interface seems to be dropping packets:
[code]

And I couldn't find much in bpf debug logs, but after putting them back to `Info` level noticed these kind of messages:
[code]

And [calico-node.log](https://github.com/projectcalico/calico/files/6008524/calico-node.log) logs just in case.

## Possible Solution
Maybe disabling wireguard or disabling ebpf but that would r

[2021-02-19 16:42] patjlm commented on #1942
As far as I understood, BGP and IPIP encapsulation cannot be used on Microsoft Azure since their vnet is entirely controlling packet routing. We used vxlan for intra-cluster setup. Is calico cluster mesh working on azure ? If there are any doc on this, that'd be perfect !

[2021-02-20 02:14] lmm commented on #4216
Hi @rodrigogansobarbieri :wave: , thank you for following up on this. I've chatted with @neiljerram about this and we think your proposed changes (the bug fix and the new dependency) sound about right. If you go ahead and submit the PR as suggested, I can review it :)

We have automated tests that run internally. Once the PR is merged and the tests run, I can paste the screenshots here.

[2021-02-20 09:00] mlushpenko commented on #4411
Disabling wireguard improved situation a lot (errors are basically non-visible for our customer), but I still see the same errors in ElasticSearch every 2-3 hours about master node disconnected after failing 3 consecutive checks, so probably issue is partially related to ebpf data plane. (pods aren't getting restarted, just connection issues)

[2021-02-21 18:28] kiemlicz opened #5190 "Support floating IPs in VXLAN mode"
## Expected Behavior
When setting floating IP and sending traffic to floating IP I expect it to work like the service does

## Current Behavior
POD IP reachable from other nodes (not hosting the POD)
Floating IP not reachable from other nodes (not hosting the POD)

## Possible Solution
NA

## Steps to Reproduce (for bugs)
1. Setup Calico on AWS EKS: https://docs.projectcalico.org/getting-started/k

[2021-02-22 04:53] morteza1131 commented on #2720
Hi
I had same problem and this solved it

thanx

[2021-02-22 12:07] sriramec opened #4412 "ESP(Encapsulating Security payload - IPinIP) packets are dropped in the hosts where calico(over k8s) is installed."
There is ipsec tunnel established from a Server to Security Gateway . Initially Tunnel is up and running, we are able to access that Server. After calico is installed. all ESP packets are dropped and connectivity to the server is lost.
cali-INPUT custom chain is added before IPSEC Rules for ESP in INPUT chain. All the packets are referred  to that chain and they are dropped if found to be IP-in-IP

[2021-02-22 21:07] backjo opened #5246 "Support eBPF dataplane on ARM64"
## Expected Behavior

Calico currently provides images for multiple architectures, including ARM64. However, the eBPF dataplane today only works on the AMD64 architecture. It's unclear if this is intended, or just an oversight. See https://github.com/projectcalico/calico/issues/4306
## Current Behavior

eBPF Dataplane is not supported on non-AMD64. Binaries for all non-AMD64 platforms appear to be

[2021-02-23 08:49] mlushpenko commented on #4411
Changing daemonset to this [image](https://github.com/projectcalico/calico/issues/4290#issuecomment-779701612) finally resolved the problem, current setup without errors:

[code]

IPPool:
[code]

FelixConfiguration:
[code]

At one point during migration from IPIP encapsulation, VXLAN interface wasn't being created on nodes before until this option was addded to felixconfiguration: `vxlanEnabled: t

[2021-02-23 18:59] sushilkjaiswar opened #4420 "Calico ready state is 0/1 when installed in Kubernetes(Ubuntu 20.04)"
I am trying to build on premise k8s cluster using MacMini(Ubunut 20.04 installed) 2 machines with 1 Master + 1 Worker Node installed. Calico doesn't show ready state after completing installation of Kubertnetes  successfully. Exactly same infrastructure was build on VMWare 1 Master + 2 Nodes which worked absolutely fine after installation was done without any hiccups.

## Expected Behavior

## Cur

[2021-02-23 19:17] sushilkjaiswar commented on #4420
Calico Nodes  event logs
[calico-node-2vzkq.log](https://github.com/projectcalico/calico/files/6031349/calico-node-2vzkq.log)

[2021-02-24 08:51] zq-david-wang commented on #3270
It is really hard to debug this kind of issue.
Could calico-node  abort when  "169.254.1.1" could not be used?

[2021-02-24 10:22] lwr20 commented on #4420
Wow, that's potentially a long list.  Given that you're talking about Calico, the relevant ones might include: network environment, networking hardware present in the machine, DNS config, etc, etc

Looking at your logs, I see
[code]
That's often a sign that your machines have >1 network interface and Calico has picked the wrong one to use on at least one of them.  You'll need to give Calico a hint

[2021-02-24 17:19] sushilkjaiswar commented on #4420
Thanks @lwr20 for the prompt reply.

I have already tried the resolution mentioned by you. I verified calico detects correct interface without or with IP_AUTODETECTION_METHOD even in case of multiple interface. After debugging in detail it looks like calico is unsuccessfully in creating necessary rules or interface to make BGP working across my cluster machines. If you notice BGP status doesn't ch

[2021-02-24 17:37] lwr20 commented on #4420
BGP happens over TCP port 179 between nodes.  If its not coming up, then something is blocking it.  firewalld running on the nodes is one possibility?  Some clouds (both public and private) have firewalls in the virtual network itself (e.g. AWS Security Groups).

[2021-02-24 18:06] sushilkjaiswar commented on #4420
Yes, I did checked all settings regarding firewall which is first most step to debug networking issues. I have the ports enabled and also tried shutting down firewall completely since infrastructure is completely isolated and cannot be reached from outside world. Still no success. I have provided below details of both master and worker node. Do you see any issues?

**Master node settings**,
Interf

[2021-02-25 12:17] ojagodzinski commented on #2715
@caseydavenport
https://docs.projectcalico.org/release-notes/#v3180 - IPAM Prometheus Metrics

[2021-02-25 13:59] tunicashashi commented on #3420
I too got this issue. Has anybody found solution for it.

No process is running on port 9099

[2021-02-25 14:36] cann0nf0dder commented on #3420
are you guys still running CoreOS? When we migrated to FedoraCoreOS it has resolved without making any changes to the calico deployment.

[2021-02-25 15:08] tunicashashi commented on #3420
No, I am using Ubuntu node  with ACRN VM

Normal   Created    3h4m                    kubelet, acrn1-nuc7i7dnhe  Created container calico-node
  Warning  Unhealthy  3h3m (x7 over 3h4m)     kubelet, acrn1-nuc7i7dnhe  Readiness probe failed: calico/node is not ready: felix is not ready: Get http://localhost:9099/readiness: dial tcp 127.0.0.1:9099: connect: connection refused
  Normal   Killing    12

[2021-02-25 15:16] cann0nf0dder commented on #3420
if it helps here are my probes, rather standard i think
`
livenessProbe:
--
  | exec:
  | command:
  | - /bin/calico-node
  | - -felix-live
  | - -bird-live
  | periodSeconds: 10
  | initialDelaySeconds: 10
  | failureThreshold: 6
  | readinessProbe:
  | exec:
  | command:
  | - /bin/calico-node
  | - -felix-ready
  | - -bird-ready
  | periodSeconds: 10

`

[2021-02-25 17:07] song-jiang commented on #4411
@fasaxc could you follow up and label this issue?

[2021-02-25 17:08] caseydavenport commented on #4400
We don't officially support this sort of feature. I'd recommend trying to track down where the response packet is getting lost - does the remote node have a route to the floating IP? You'll need some way of the remote end routing the traffic back.

[2021-02-25 17:08] #4400 closed

[2021-02-25 17:13] song-jiang commented on #4371
Calico route packet to container directly. There is no software bridge involved. So I guess the answer is no? @neiljerram WDYT?

[2021-02-25 17:20] caseydavenport commented on #4380
@kawamoto-taku-13 could you please give a bit more detail about what you're trying to do and what exactly is not working?

Basically, a bit more detail about the policies you've created, and what you mean by "do not work effectively"

[2021-02-25 17:20] caseydavenport commented on #4310
@song-jiang I think you meant to ping @fasaxc.

[2021-02-25 17:20] lwr20 commented on #4382
Calico and firewalld both manipulate iptables rules, and there's high likelihood that they're going to clash or fight over rules.

Calico host protection can be used to implement the rules you currently implement in firewalld - perhaps the solution here is to use that and disable firewalld? https://docs.projectcalico.org/security/protect-hosts

Fundamentally Calico doesn't _support_ running with f

[2021-02-25 17:21] mgleung commented on #4259
@Bo0km4n I believe the logic you are looking for is found in the node controller. Or more specifically here: https://github.com/projectcalico/kube-controllers/blob/master/pkg/controllers/node/ipam.go#L181

[2021-02-25 17:21] #4259 closed

[2021-02-25 17:23] mgleung commented on #4374
Closing this since I think ignoring the etcd directories should solve the problem. If the problem still persists, feel free to reopen.

[2021-02-25 17:23] #4374 closed

[2021-02-25 17:24] song-jiang commented on #4336
@ThePieMonster Do you still see same issue?

[2021-02-25 17:25] lmm commented on #2878
Closing since this has gotten stale

[2021-02-25 17:25] #2878 closed

[2021-02-25 17:26] lwr20 commented on #4412
In your global network policy, try specifying ESP as "50" instead.  https://docs.projectcalico.org/reference/resources/globalnetworkpolicy#rule doesn't show ESP as a valid value for the Protocol field.

Also, please use `calicoctl` to apply calico resources - that will do validation of the resource and tell you if you've put an invalid value in a field.

[2021-02-25 17:31] lwr20 commented on #4352
Are you following:
https://docs.projectcalico.org/security/calico-network-policy#control-traffic-tofrom-endpoints-independent-of-namespace  ?

[2021-02-25 17:32] lwr20 commented on #4352
You should be able to post yaml with indentation if you enclose it in triple backtick quotes (```).

[2021-02-25 17:34] song-jiang commented on #4151
@Cellebyte Any logs for this issue?

[2021-02-25 17:35] caseydavenport commented on #3821
Any update on this one?

[2021-02-25 17:36] sagor999 commented on #3821
@caseydavenport we switched to using eBPF dataplane and that problem went away.

[2021-02-25 17:36] sagor999 commented on #3821
So I guess we can potentially close this issue then. Let me know.

[2021-02-25 17:43] song-jiang commented on #4310
ping @fasaxc to label this issue.

[2021-02-25 17:43] #4372 closed

[2021-02-25 17:46] caseydavenport commented on #4384
@champtar thanks for the heads up!

[2021-02-25 17:51] caseydavenport commented on #4234
@mgleung

[2021-02-25 17:52] lmm commented on #4333
@telekomancer from that snippet of your calico-node daemonset, bird is enabled since with `-bird-ready` flag indicates that calico-node won't get to a ready state unless bird is also running.

If you started with a Flannel cluster, and ran our Flannel migration tool, we bring up a VXLAN cluster I believe. I wonder if we disable BGP as part of the migration - @song-jiang would you happen to know?

[2021-02-25 17:56] lmm commented on #4223
Going to close this for now since it's stale, if you run into this again with details please reopen, thanks!

[2021-02-25 17:56] #4223 closed

[2021-02-25 18:31] cjac commented on #4371
I heard there's experimental VPP work.  Is this true?

On Thu, Feb 25, 2021 at 9:14 AM Song Jiang <notifications@github.com> wrote:

[2021-02-25 19:02] nicolaerosia opened #4425 "Single node Kubernetes IPv6-only, help needed"
I'm trying to setup a single-node IPv6-only Kubernetes using `kubeadm` on a CentOS 7 node, docker ce 20.10.3.
The node is a VM created on qemu, connected to a IPv6-only network `fdff:dead:dead:dead::/64`, virbr on host has IP `fdff:dead:dead:dead::1`, node: `fdff:dead:dead:dead::178`

sysctl:
[code]

I need to add a default gw, otherwise I get the following when `kubeadm init`:
[code]
Add default

[2021-02-25 19:12] pankajagarwal commented on #3551
I am running into the same issue although for me the calico node process and routes etc are populated fine (thanks to the instructions shared by @pshizhsysu ) but running a tracepath or curl to a running pod from this external host is still failing and timing out.

What am i missing here or this documented steps are missing to allow an external host talk to a pod(s).

[2021-02-25 22:22] mattfenwick commented on #4373
/assign

[2021-02-26 01:16] mattfenwick commented on #4373
Thanks for the pointer @fasaxc ! 😄   Finally got around to this and put up a PR, not sure I got it 100% right but it's progress at least!!

[2021-02-26 01:49] kawamoto-taku-13 commented on #4380
@caseydavenport
There are three different systems `a`,`b`,`c` and two worker nodes, with one of the three systems located in each worker node.

[code]

We want `a` and `b` to be able to communicate freely from each system, but `c` to be able to communicate only from `b`.

Before setting the network policy, all systems are able to communicate.

| Connection source<br>System:Worker node | Connection

[2021-02-26 09:30] neiljerram commented on #4371
@cjac Indeed there is: https://github.com/projectcalico/vpp-dataplane

In general our architecture allows user-space dataplane implementations to be plugged in, instead of the kernel / iptables / eBPF implementation, but someone needs to write them.

Well there is the "swdev" work in the Linux kernel, whose general purpose I believe is to allow kernel networking things to be offloaded to specific

[2021-02-26 10:19] r3pek opened #4426 "Missing upgrade instructions for installs using Tigera Operator"
Well, not much more I can say ;) They are missing from the upgrade page.

[2021-02-26 10:22] lwr20 commented on #4426
In the meantime, I believe the upgrade procedure is just:
[code]
(or similar, depending on what release you want to upgrade to)

[2021-02-26 10:35] fasaxc commented on #4310
@seh I've lost track of this one, are you still seeing it after the other fixes we made?

[2021-02-26 13:27] seh commented on #4310
Fortunately, I haven't been able to reproduce this problem since this original investigation. Let's close this, and if the problem comes back, I'll reopen it with new detail.

[2021-02-26 14:02] sriramec commented on #4412
Thanks for your input. I did try with protocol "50" instead of ESP.  Rule got applied, still I was seeing ESP packets drop. I had to  apply this yaml.

kind: FelixConfiguration
metadata:
  name: default
spec:
  ipv6Support: false
  ipipMTU: 1400
  chainInsertMode: Append

After this I could see that packets are not dropped, but are delivered to tunl0 interface and application didn't receive the pa

[2021-02-26 14:03] fasaxc commented on #4310
FWIW, we have improved handling of pre-existing connections in v3.18.  They shouldn't be broken by turning on BPF mode.

[2021-02-26 14:22] lwr20 commented on #4412
I don't understand why packets are being delivered to the tunl0 interface.

The tunl0 interface is the IP in IP tunnel interface.  It can be turned off permanently by disabling IP in IP support in both your IPPool object (set `IPIPMode=Never`) and FelixConfiguration (set `IpInIpEnabled=false`) BUT you should know that by doing this, you're configuring non-overlay mode (see https://docs.projectcali

[2021-02-26 19:48] cjac commented on #4371
Thank you!  Perhaps I could and should open this issue with that project instead.

I don't, but I'm curious to find out.

[2021-02-28 08:36] sagarvelankar commented on #4382
Hi,

I solved this problem in CentOS 8 by creating a new firewalld zone for kubernetes pods and setting its target to ACCEPT.
So, firewalld will accept packets going into POD SUBNET CIDR (ingress zone) and also packets coming out of POD SUBNET CIDR
(egress zone)

Commands :

[code]

firewall-cmd man :

[code]

Versions :

[code]

To see what is getting rejected by firewalld, use the below commands

[2021-03-01 08:18] Cytrian opened #4427 "fatal error: concurrent map read and map write, probably in ExcludeServiceAdvertisement"
After upgrading a node from Calico 3.11 to 3.18.0 I found a stacktrace in the log, right after startup.
The node behaved quite normal after that.

[code]

A log file is attached, limited on confd-related events.
[error-calico-3.18-confd.txt](https://github.com/projectcalico/calico/files/6059964/error-calico-3.18-confd.txt)

## Expected Behavior
No stack traces.

## Context
Node's behaviour seems t

[2021-03-01 08:29] Cytrian opened #4428 "Repeated log spam: felix/felixnodeprocessor.go 214: Current CIDRS, Old CIDRS"
With Calico 3.18 I now receive like 30 log-lines per minute from felix/felixnodeprocessor.go:

2021-03-01 08:22:21.751 [INFO][48] felix/felixnodeprocessor.go 214: Current CIDRS: [10.248.15.0/24]
2021-03-01 08:22:21.751 [INFO][48] felix/felixnodeprocessor.go 215: Old CIDRS: []
2021-03-01 08:22:37.193 [INFO][48] felix/felixnodeprocessor.go 208: Using pod cidr
2021-03-01 08:22:37.193 [INFO][48] felix

[2021-03-01 13:31] istvanballok opened #5215 "calico/typha is reconnecting without any back-off mechanism"
We observed that when the kubernetes api server is not available,
`calico/typha` is trying to reconnect to the kubernetes server
without any back-off mechanism and it can easily reach 1k connection attempts/s.

Would it be possible to throttle the retries to about 100/s or 10/s?

We are concerned about a possible overload issue on our reverse proxy
in the network path, which is shared by several k

[2021-03-01 20:52] salanki opened #4431 "eBPF 1% of inbound connections stall on create"
When running Calico in eBPF mode, 0.1% to 1% of connections stall when created towards a ServiceIP / LoadBalancer IP of certain applications. Accessing the Pod IPs directly leads to no stalls, neither does switching back service proxy to `kube-proxy`. The connection is successfully opened (SYN-ACK) but no further data is received.

This behavior has been proven with the following applications:
- t

[2021-03-02 20:18] wanlerong opened #4434 "calico randomly dns error. when I use gitlab runner helm in k8s with docker:19.03-dind svc container"
I try to implement gitlab runner through k8s, but sometimes there are dns errors, and it feels like there is no response from the kube-dns service.

I have checked the /etc/resolv.conf, the nameserver ip is equal to kube-dns svc' ip.
And there's no error log with core-dns pod

In any other pod, it works fine.
And after I removed the docker:19.03-dind container from runner executor pod, it works fi